[2017-03-29 03:14] mitzirubi opened #22 "Add pre-reqs to all topic outlines"
https://github.com/Techtonica/curriculum/pull/21

[2017-04-11 22:57] k4y3ff opened #30 "Write "What is tech?" topic outline."
The lesson plan should live at [`what-is-tech/what-is-tech.md`](https://github.com/Techtonica/curriculum/blob/master/what-is-tech/what-is-tech.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [

[2017-04-11 22:59] k4y3ff opened #31 "Write "Welcome, tips, and rules" topic outline."
The lesson plan should live at [`welcome-tips-rules/welcome-tips-rules.md`](https://github.com/Techtonica/curriculum/blob/master/welcome-tips-rules/welcome-tips-rules.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatshe

[2017-04-11 23:00] k4y3ff opened #32 "Write "How to Learn" topic outline."
The lesson plan should live at [`how-to-learn/how-to-learn.md`](https://github.com/Techtonica/curriculum/blob/master/how-to-learn/how-to-learn.md) and discuss different learning styles and strategies.

For reference material, see

- https://medium.freecodecamp.com/learning-how-to-learn-the-most-important-developer-skill-7bf62dfaf67d#.20bwpsdcr
- http://fellowship.hackbrightacademy.com/materials/le

[2017-04-11 23:01] k4y3ff opened #33 "Write "Growth Mindset" topic outline."
The lesson plan should live at [`growth-mindset/growth-mindset.md`](https://github.com/Techtonica/curriculum/tree/master/growth-mindset).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [ ] There is

[2017-04-11 23:02] k4y3ff opened #34 "Write "How to Pair Program" topic outline."
The lesson plan should live at [`pair-programming/pair-programming.md`](https://github.com/Techtonica/curriculum/blob/master/pair-programming/pair-programming.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or ot

[2017-04-11 23:03] k4y3ff opened #35 "Write "Dev Tools Setup" topic outline."
The lesson plan should live at [`dev-tools-setup/dev-tools-setup.md`](https://github.com/Techtonica/curriculum/blob/master/dev-tools-setup/dev-tools-setup.md) and teach students how to set up Sublime Text to write Python and JavaScript.

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g.

[2017-04-11 23:05] k4y3ff opened #36 "Write "Command Line Interface" topic outline."
The lesson plan should live at [`command-line/command-line-interface.md`](https://github.com/Techtonica/curriculum/blob/master/command-line/command-line-interface.md) and teach students how to

- make directories,
- move around,
- copy files,
- rename files, and
- use `man`.

Acceptance Criteria:
- [ ] The lesson can be covered in 2 hours
- [ ] There are clear objectives
- [ ] The activity helps d

[2017-04-11 23:06] k4y3ff opened #37 "Write "Advanced Command Line" topic outline."
The lesson plan should live at [`command-line/command-line-advanced.md`](https://github.com/Techtonica/curriculum/blob/master/command-line/command-line-advanced.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or

[2017-04-11 23:09] k4y3ff opened #38 "Write HTML and CSS "Basic Attributes" topic outline."
The lesson plan should live at [`html-and-css/basic-attributes.md`](https://github.com/Techtonica/curriculum/blob/master/html-and-css/basic-attributes.md).

Students should look at a sample page to figure out what different tags do, tinker, and eventually try their own (C9 or CodePen or W3Schools, JSLint to avoid needing setup. The lesson should cover block vs. inline, specific tags, and things no

[2017-04-11 23:11] k4y3ff opened #39 "Write HTML and CSS "IDs and Classes" topic outline."
The lesson plan should live at [`html-and-css/ids-and-classes.md`](https://github.com/Techtonica/curriculum/blob/master/html-and-css/ids-and-classes.md) and have a similar workflow to the intro to HTML.

Students should understand

- floating and positioning,
- the box model,
- how to style text, and
- how to quickly build a simple layout.

One idea for an "assessment" would be to have the student

[2017-04-11 23:12] k4y3ff opened #40 "Write HTML and CSS "Intro to CSS" lesson plan"
The lesson plan should live at [`html-and-css/intro-to-css.md`](https://github.com/Techtonica/curriculum/blob/master/html-and-css/intro-to-css.md).

Acceptance Criteria:
- [ ] The lesson has a defined time scope (45 minutes? 2 hours? etc.)
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet

[2017-04-11 23:13] k4y3ff opened #41 "Write HTML and CSS "Tags You Can't See" lesson plan"
The lesson plan should live at [`html-and-css/tags-you-cant-see.md`](https://github.com/Techtonica/curriculum/blob/master/html-and-css/tags-you-cant-see.md).

Acceptance Criteria:
- [ ] The lesson has a defined time scope (45 minutes? 2 hours? etc.)
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a c

[2017-04-11 23:17] k4y3ff opened #42 "Write HTML and CSS "Your First Tags" lesson plan"
The lesson plan should live at [`html-and-css/your-first-tags.md`](https://github.com/Techtonica/curriculum/blob/master/html-and-css/your-first-tags.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handou

[2017-04-11 23:21] k4y3ff opened #43 "Write "What is Version Control?" lesson plan"
The lesson plan should live at [`git-version-control/git-version-control.md`](https://github.com/Techtonica/curriculum/blob/master/version-control/git-version-control/git-version-control.md).

By the end of the lesson, students should understand
- add, commit, status, log
- rm, stash [pop], reset [soft/hard]
- remote [-v/add]
- push [-f], fetch, clone
- checkout [-b], merge, push -u

The following

[2017-04-11 23:21] k4y3ff opened #44 "Write "GitHub" lesson plan"
The lesson plan should live at [`version-control/github/github.md`](https://github.com/Techtonica/curriculum/blob/master/version-control/github/github.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other hand

[2017-04-11 23:22] k4y3ff opened #45 "Write "Collaborating with GitHub" lesson plan"
The lesson plan should live at [`version-control/git-collaboration/git-collaboration.md`](https://github.com/Techtonica/curriculum/blob/master/version-control/git-collaboration/git-collaboration.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinestheti

[2017-04-11 23:26] k4y3ff opened #46 "Write "Giving Presentations" topic outline."
The lesson plan should live at [`giving-presentations/giving-presentations.md`](https://github.com/Techtonica/curriculum/blob/master/giving-presentations/giving-presentations.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a

[2017-04-11 23:28] k4y3ff opened #47 "Complete "Bootstrap" topic outline."
The lesson plan should live at [`bootstrap/bootstrap.md`](https://github.com/Techtonica/curriculum/blob/master/bootstrap/bootstrap.md). By the end of the lesson, students should understand what responsive design is and how Bootstrap enables it.

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learner

[2017-04-11 23:29] k4y3ff opened #48 "Write "UI/UX Design" lesson plan"
The lesson plan should live at [`ui-ux-design/ui-ux-design.md`](https://github.com/Techtonica/curriculum/blob/master/ui-ux-design/ui-ux-design.md). See http://jgthms.com/web-design-in-4-minutes/#content as a reference.

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory,

[2017-04-11 23:30] k4y3ff opened #49 "Write "Sass" lesson plan"
The lesson plan should live at [`sass/sass.md`](https://github.com/Techtonica/curriculum/blob/master/sass/sass.md). The lesson should discuss mix-ins and variables.

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or o

[2017-04-11 23:34] k4y3ff opened #50 "Scope out JavaScript curriculum needs"
Currently, as of April 11, 2017, there's an [initial template for what the JavaScript curriculum should look like](https://github.com/Techtonica/curriculum/blob/master/javascript/javascript.md), but that template should be updated to include an accurate time scope. It should also be broken up into four more manageable pieces, with assessments for each.

Initial ideas for what this should include:

[2017-04-11 23:36] k4y3ff opened #51 "Write "JQuery" lesson plan"
The lesson plan should live at [`jquery/jquery-programming-fundamentals.md`](https://github.com/Techtonica/curriculum/blob/master/jquery/jquery-programming-fundamentals.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatshee

[2017-04-11 23:38] k4y3ff opened #52 "Write Request/Response "Intro to DNS" lesson plan"
The lesson plan should live at [`intro-to-request-response/intro-to-dns-ip.md`](https://github.com/Techtonica/curriculum/blob/master/intro-to-request-response/intro-to-dns-ip.md) and discuss what happens when you type a URL in a browser and hit enter.

You may want to draw on https://medium.freecodecamp.com/how-the-web-works-a-primer-for-newcomers-to-web-development-or-anyone-really-b4584e63585c#.

[2017-04-11 23:40] k4y3ff opened #53 "Write Request/Response "Intro to TCP/IP" lesson plan"
The lesson plan should live at [`intro-to-request-response/intro-to-tcp-tls.md`](https://github.com/Techtonica/curriculum/blob/master/intro-to-request-response/intro-to-tcp-tls.md).

Acceptance Criteria:
- [ ] The doc is linked to from the main table of contents
- [ ] The lesson can be covered in 45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g.

[2017-04-11 23:42] k4y3ff opened #54 "Write Request/Response "Intro to HTTP" lesson plan"
The lesson plan should live at [`intro-to-request-response/intro-to-http.md`](https://github.com/Techtonica/curriculum/blob/master/intro-to-request-response/intro-to-http.md).

Acceptance Criteria:
- [ ] The doc is linked to from the main table of contents
- [ ] The lesson can be covered in 45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spati

[2017-04-11 23:43] k4y3ff opened #55 "Write Request/Response "Servers" lesson plan"
The lesson plan should live at [`intro-to-request-response/servers.md`](https://github.com/Techtonica/curriculum/blob/master/intro-to-request-response/servers.md).

Acceptance Criteria:
- [ ] The doc is linked to from the main table of contents
- [ ] The lesson can be covered in 45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory

[2017-04-11 23:43] k4y3ff opened #56 "Write Request/Response "Clients and Browsers" lesson plan"
The lesson plan should live at [`intro-to-request-response/clients-and-browsers.md`](https://github.com/Techtonica/curriculum/blob/master/intro-to-request-response/clients-and-browsers.md).

Acceptance Criteria:
- [ ] The doc is linked to from the main table of contents
- [ ] The lesson can be covered in 45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learne

[2017-04-11 23:44] k4y3ff opened #57 "Write Request/Response "Load Balancing" lesson plan"
The lesson plan should live at [`intro-to-request-response/load-balancing.md`](https://github.com/Techtonica/curriculum/blob/master/intro-to-request-response/load-balancing.md).

Acceptance Criteria:
- [ ] The doc is linked to from the main table of contents
- [ ] The lesson can be covered in 45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spa

[2017-04-11 23:47] k4y3ff opened #58 "Update location of "Request/Response" related docs"
It appears the location of the curriculum materials related to requests and responses has changed between [what was originally in the repo](https://github.com/Techtonica/curriculum/tree/master/request-response) and where contributors actually put things.

Acceptance Criteria:
- [ ] Location of Request/Response lesson plans has been consolidated into one directory
- [ ] That directory is properly l

[2017-04-11 23:48] k4y3ff opened #59 "Write "Inclusion" lesson plan"
The lesson plan should live at [`inclusion/inclusion.md`](https://github.com/Techtonica/curriculum/blob/master/inclusion/inclusion.md).

It should discuss

- unconscious bias,
- privilege,
- allyship,
- common issues,
- microaggressions,
- empathy, and
- strategies to combat issues in tech.

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [

[2017-04-11 23:57] k4y3ff opened #60 "Write "Databases" topic outline."
The lesson plan should live at [`databases/databases.md`](https://github.com/Techtonica/curriculum/blob/master/databases/databases.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 1-2 days
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [ ] There is an ass

[2017-04-12 00:00] k4y3ff opened #61 "Write "AJAX" lesson plan"
The lesson plan should live at [`ajax/ajax.md`](https://github.com/Techtonica/curriculum/blob/master/ajax/ajax.md).

It should discuss

- async,
- threads of execution,
- APIs (Google Maps), and
- promises.

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kin

[2017-04-12 00:01] k4y3ff opened #62 "Write "API Basics" topic outline."
The lesson plan should live at [`APIs/api-basics.md`](https://github.com/Techtonica/curriculum/blob/master/APIs/api-basics.md).

By the end of the lesson, students should be able to read API documentation.

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kine

[2017-04-12 00:03] k4y3ff opened #63 "Write "Intro to React" lesson plan"
The lesson plan should live at [`react/react.md`](https://github.com/Techtonica/curriculum/blob/master/react/react.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [ ] There is an assessment

No

[2017-04-12 00:04] k4y3ff opened #64 "Write "React with Python" lesson plan"
The lesson plan should live at [`react/react-with-python.md`](https://github.com/Techtonica/curriculum/blob/master/react/react-with-python.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [ ] Th

[2017-04-12 00:05] k4y3ff opened #65 "Write React "Redux" topic outline."
- [ ] The lesson plan should be saved into [this file](https://github.com/Techtonica/curriculum/blob/master/redux/redux.md).  The template is a copy of the React lesson that will be learned the day before.

- [ ] Save the accompanying slideshow [in this file](https://docs.google.com/presentation/d/1NfpXuU8rUXpPjboH6teMGHPT_hjMumHrGguCGOZX6Oo/edit?usp=sharing).

- [ ] Find or make an intro to redux

[2017-04-12 00:05] k4y3ff opened #66 "Write "Web Patterns" topic outline."
The lesson plan should live at [`web-patterns/web-patterns.md`](https://github.com/Techtonica/curriculum/blob/master/web-patterns/web-patterns.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [

[2017-04-12 00:08] k4y3ff opened #67 "Write Python "Intro to Python" lesson plan"
The lesson plan should live at [`python/python.md`](https://github.com/Techtonica/curriculum/blob/master/python/python.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [ ] There is an assessment

[2017-04-12 00:08] k4y3ff opened #68 "Write Python "Lists" lesson plan"
The lesson plan should live at [`python/lists.md`](https://github.com/Techtonica/curriculum/blob/master/python/lists.md).

Acceptance Criteria:
- [ ] The lesson is linked to from the Python table of contents
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There

[2017-04-12 00:09] k4y3ff opened #69 "Write Python "Dictionaries" lesson plan"
The lesson plan should live at [`python/dictionaries.md`](https://github.com/Techtonica/curriculum/blob/master/python/dictionaries.md).

Acceptance Criteria:
- [ ] The lesson is linked to from the Python table of contents
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinestheti

[2017-04-12 00:10] k4y3ff opened #70 "Write Python "Functions" lesson plan"
The lesson plan should live at [`python/functions.md`](https://github.com/Techtonica/curriculum/blob/master/python/functions.md).

Acceptance Criteria:
- [ ] The lesson is linked to from the Python table of contents
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [

[2017-04-12 00:11] k4y3ff opened #71 "Write Interviewing "Intro to Whiteboarding" lesson plan"
The lesson plan should live at [`interviewing/interviewing.md`](https://github.com/Techtonica/curriculum/blob/master/interviewing/interviewing.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [

[2017-04-12 00:11] k4y3ff opened #72 "Write Python "Debugging" lesson plan"
The lesson plan should live at [`python/debugging.md`](https://github.com/Techtonica/curriculum/blob/master/python/debugging.md).

Acceptance Criteria:
- [ ] The lesson is linked to from the Python table of contents
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [

[2017-04-12 00:12] k4y3ff opened #73 "Write Python "Runtime" lesson plan"
The lesson plan should live at [`python/runtime.md`](https://github.com/Techtonica/curriculum/blob/master/python/runtime.md).

Acceptance Criteria:
- [ ] The lesson is linked to from the Python table of contents
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] T

[2017-04-12 00:12] k4y3ff opened #74 "Write Python "Datetime" lesson plan"
The lesson plan should live at [`python/datetime.md`](https://github.com/Techtonica/curriculum/blob/master/python/datetime.md).

Acceptance Criteria:
- [ ] The lesson is linked to from the Python table of contents
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ]

[2017-04-12 00:13] k4y3ff opened #75 "Write Python "Classes" lesson plan"
The lesson plan should live at [`python/classes.md`](https://github.com/Techtonica/curriculum/blob/master/python/classes.md).

Acceptance Criteria:
- [ ] The lesson is linked to from the Python table of contents
- [ ] The lesson can be covered in 3-4 hours
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There

[2017-04-12 00:14] k4y3ff opened #76 "Write Python "Recursion" lesson plan"
The lesson plan should live at [`python/recursion.md`](https://github.com/Techtonica/curriculum/blob/master/python/recursion.md).

Acceptance Criteria:
- [ ] The lesson is linked to from the Python table of contents
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [

[2017-04-12 00:15] k4y3ff opened #77 "Write Python "Package Management" lesson plan"
The lesson plan should live at [`python/package-management.md`](https://github.com/Techtonica/curriculum/blob/master/python/package-management.md).

It should cover

- bundler vs. virtualenv
- NPM
- organizing Python projects

Acceptance Criteria:
- [ ] The lesson is linked to from the Python table of contents
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ]

[2017-04-12 00:18] k4y3ff opened #78 "Write "Django" lesson plan"
The lesson plan should live at [`django/django.md`](https://github.com/Techtonica/curriculum/blob/master/django/django.md).

As references, you may want to consider
- _Hello Web App_ by Tracy Osborn
- http://fellowship.hackbrightacademy.com/materials/lectures/flask/

Acceptance Criteria:
- [ ] There is an explicit time scope for the lesson (30 minutes? 2 hours? etc.)
- [ ] There are clear objectiv

[2017-04-12 00:25] k4y3ff opened #79 "Write "Databases" topic outline."
The lesson plan should live at [`databases/databases.md`](https://github.com/Techtonica/curriculum/blob/master/databases/databases.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 1-2 days
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [ ] There is an ass

[2017-04-12 00:27] k4y3ff opened #80 "Write Project Management "Intro to Agile" topic outline."
The lesson plan should live at [`project-management/intro-to-agile.md`](https://github.com/Techtonica/curriculum/blob/master/project-management/intro-to-agile.md). By the end of the lesson, students should understand the fundamentals of agile and scrum.

Acceptance Criteria:
- [ ] The lesson has a defined time scope (45 minutes? 2 hours? etc.)
- [ ] There are clear objectives
- [ ] The activity he

[2017-04-12 00:30] k4y3ff opened #81 "Scope out Django PostgreSQL ORM curriculum needs"
Currently, as of April 11, 2017, it's been determined that students should know how to use Django's ORM with PostgreSQL, but it's unclear what aspects of that they should know about--or how much time they should spend learning about it.

Acceptance Criteria:
- [ ] There are two docs in the `django` folder with progressive lesson plans on using JavaScript
- [ ] Each of the docs are explicitly time-

[2017-04-12 00:31] k4y3ff opened #82 "Write "Documentation" lesson plan"
The lesson plan should live at [`documentation/documentation.md`](https://github.com/Techtonica/curriculum/blob/master/documentation/documentation.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout

[2017-04-12 00:31] k4y3ff opened #83 "Write "Deploying" topic outline."
The lesson plan should live at [`deploying/deploying.md`](https://github.com/Techtonica/curriculum/blob/master/deploying/deploying.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [ ] There is a

[2017-04-12 00:34] k4y3ff opened #84 "Brainstorm practical optimization advice for a React/Node project"
It's been determined that students should know how to optimize their services for production--for example, compressing images, preloads, etc. However, it's unclear what, exactly, apprentices should learn, but we hope to have a 1 hour lesson on what specific steps to take to optimize a project before deploying.

[This is the high-level lesson on optimization](https://github.com/Techtonica/curriculu

[2017-04-12 00:36] k4y3ff opened #85 "Move SEO info to presentation, make topic outline out of presentation."
The lesson plan should live at [`optimization/optimization.md`](https://github.com/Techtonica/curriculum/blob/master/optimization/optimization.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [

[2017-04-12 00:39] k4y3ff opened #86 "Write "Testing" lesson plan"
The lesson plan should live at [`testing/testing.md`](https://github.com/Techtonica/curriculum/blob/master/testing/testing.md).

Acceptance Criteria:
- [ ] The lesson has a defined time scope (45 minutes? 2 hours? etc.)
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [

[2017-04-12 00:40] k4y3ff opened #87 "Write "Object-Oriented Programming" topic outline."
The lesson plan should live at [`OOP/OOP.md`](https://github.com/Techtonica/curriculum/blob/master/OOP/OOP.md) and discuss SOLID.

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [ ] There is an asse

[2017-04-12 00:42] k4y3ff opened #88 "Write "Data Structures" topic outline."
The lesson plan should live in the [`data-structures` directory](https://github.com/Techtonica/curriculum/tree/master/data-structures).

It should cover

- hash tables
- linked lists
- stacks
- queues
- trees
- tries
- graphs
- vectors
- heaps

Acceptance Criteria:
- [ ] The lesson can be covered in 2 days
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g.

[2017-04-12 00:44] k4y3ff opened #89 "Scope out algorithms curriculum needs"
Currently, as of April 11, 2017, it's been determined that students should know the algorithms described in the directory referenced in https://github.com/Techtonica/curriculum/issues/88. However, it's unclear what algorithms, exactly, they should learn or how much time they should spend learning them.

Some initial algorithms to consider:
- quick sort
- merge sort
- binary search
- breadth-first

[2017-04-12 00:54] k4y3ff opened #90 "Write "Twilio API" topic outline."
The lesson plan should live at [`APIs/twilio.md`](https://github.com/Techtonica/curriculum/blob/master/APIs/twilio.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [ ] There is an assessment

No

[2017-04-12 00:57] k4y3ff opened #91 "Write "Refactoring" topic outline."
The lesson plan should live at [`refactoring/refactoring.md`](https://github.com/Techtonica/curriculum/blob/master/refactoring/refactoring.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [ ] Th

[2017-04-12 01:02] k4y3ff opened #92 "Finish "Mobile Development" lesson outline."
- [x] A Intro to Mobile Development slideshow should be made in [this partially completed file](https://docs.google.com/presentation/d/1aaTRvbQf3jouzDCLCPFEazB3zAnNjtnw_Hgc-M6bB_I/edit?usp=sharing). Ask Alina for the edit link.

- [x] The accompanying  lesson plan should live at [`mobile-development/mobile-development.md`](https://github.com/Techtonica/curriculum/blob/master/mobile-development/mob

[2017-04-12 01:04] k4y3ff opened #93 "Write "DevOps" topic outline."
We need a topic outline that describes the work of a devOps engineer, and what steps an apprentice should take to pursue a devOps career. It should take 45-60 minutes to cover the topic. The lesson plan should live at https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/dev-ops.md

[2017-04-12 01:08] k4y3ff opened #94 "Proofread "Security" roles topic outline, and edit if necessary."
- [x] Someone with security knowledge needs to proofread [this lesson plan](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/security.md) for accuracy & relevancy. The intention is to give apprentices a better idea of the security roles during career week.  It should take 45-60 minutes to cover the topic. Thank you!

- [Here is the accompanying slideshow.](https://docs.google.com

[2017-04-12 01:12] k4y3ff opened #95 "Write "Data Visualization" topic outline."
The lesson plan should live at [`data-viz/data-viz.md`](https://github.com/Techtonica/curriculum/blob/master/data-viz/data-viz.md).

It should cover basic charts and data visualizations using D3.

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
-

[2017-04-12 01:21] k4y3ff opened #96 "Write "Machine Learning" topic outline."
The lesson plan should live at [`machine-learning.md`](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/machine-learning.md). You may want to use https://medium.com/@ageitgey/machine-learning-is-fun-80ea3ec3c471#.ycej28f2t as a resource.

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds

[2017-04-12 01:22] k4y3ff opened #97 "Write "Operating Systems" topic outline based on a completed slideshow."
Use [this completed Operating Systems slideshow](https://docs.google.com/presentation/d/1lHxgrmb1M58f7ww51_xJT8ZeB0izVfMEeZnSLsH2YmU/edit#slide=id.p) as a guide.

- [x] The lesson plan topic outline should live at [`operating-systems/operating-systems.md`](https://github.com/Techtonica/curriculum/blob/master/operating-systems/operating-systems.md).

- [x] Find or make a video that covers the same

[2017-04-12 01:24] k4y3ff opened #98 "Write "Data Science" topic outline based on completed slides"
Please write a topic outline based on this completed slideshow: https://docs.google.com/presentation/d/1eK4zQsleLwe0pG0Ze_QJ00G-0KR59tJp5pTV36lDZZY/edit?usp=sharing

The intention is to present Data Science roles, and steps to take if one is interested in a career in Data Science/Engineering.  The topic outline should live at [`roles-in-tech/data-science.md`](https://github.com/Techtonica/curricul

[2017-04-12 01:26] k4y3ff opened #99 "Scope out data model needs for curriculum"
Currently, as of April 11, 2017, it's been determined that students should spend time learning about data models, but it's unclear what about data models they should learn--or how much time they should learning those things.

Acceptance Criteria:
- [ ] There is a lesson plan template linked to from the main table of contents
- [ ] The lesson plan is explicitly time-scoped (45 minutes? 2 hours? etc

[2017-04-12 01:32] k4y3ff opened #100 "Write "Open Source" topic outline."
The lesson plan should live at [`open-source/open-source.md`](https://github.com/Techtonica/curriculum/blob/master/open-source/open-source.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [ ] Th

[2017-04-12 01:33] k4y3ff opened #101 "Write Interviewing "Code Challenges" topic outline."
The lesson plan should live at [`interviewing/interviewing.md`](https://github.com/Techtonica/curriculum/blob/master/interviewing/interviewing.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [

[2017-04-12 01:34] k4y3ff opened #102 "Write "Entrepreneurship" topic outline."
The lesson plan should live at https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/entrepreneurship.md. You can base it on [this completed slideshow](https://docs.google.com/presentation/d/1fRYImBTR0ZWGSQfDJ7ctz57OdvmU6kFewoMfTt3lL3I/edit?usp=sharing).  If your idea for the slideshow is totally different than this, please copy it and create your own.

Acceptance Criteria:
- [ ] The

[2017-04-12 01:34] k4y3ff opened #103 "Write "Roles in Tech" lesson plan"
The lesson plan should live at [`roles-in-tech/roles-in-tech.md`](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/roles-in-tech.md). It should at least discuss sales engineers, technical support, and customer success engineers.

Acceptance Criteria:
- [x] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learn

[2017-04-12 01:35] k4y3ff opened #104 "Write "Popular Tools" topic outline."
The lesson plan should live at [`popular-tools/popular-tools.md`](https://github.com/Techtonica/curriculum/tree/master/popular-tools/popular-tools.md).

Acceptance Criteria:
- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout

[2017-04-13 01:58] k4y3ff commented on #60
I'll work on this one!

[2017-04-18 01:46] MichelleGlauser opened #105 "Write "SEO" topic outline."
The topic outline lives at [SEO/SEO.md](https://github.com/Techtonica/curriculum/blob/master/SEO/SEO.md).

Acceptance Criteria:

- [ ] The lesson can be covered in 30-45 minutes
- [ ] There are clear objectives
- [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
- [ ] There is a cheatsheet or other handout
- [ ] There is an assessment

[2017-07-26 01:40] at4260 commented on #79
Closing this- looks like it's a duplicate of https://github.com/Techtonica/curriculum/issues/60.

[2017-07-26 02:15] at4260 commented on #91
i'll work on this one.

[2017-07-26 03:45] rhythmsection commented on #63
I am not going to do this in the formatting you ultimately want, but hopefully this will be helpful anyway. (Feel free to format as necessary).

[2017-07-28 13:35] MichelleGlauser commented on #63
Thank you! Starting with content is great.

[2017-08-10 01:41] vegetabill commented on #86
still working on this as of tonight

[2018-01-03 19:22] MichelleGlauser opened #129 "Delete extra blank topic outline."
Like this one: https://github.com/Techtonica/curriculum/blob/master/entrepreneurship/lesson-plan.md

[2018-01-08 20:41] Karla-Isabel-Sandoval opened #145 "Our lesson plan template link is broken"
broken link -> https://github.com/Techtonica/curriculum/blob/master/README.md

[2018-01-08 21:25] MichelleGlauser commented on #145
Fixed.

[2018-01-08 21:25] #145 closed

[2018-01-20 00:13] Karla-Isabel-Sandoval opened #148 "404 - Broken Link"
404 - Points to a broken link https://github.com/Techtonica/curriculum/blob/master/html-and-css/css-selector-specificity.md

[2018-01-22 20:53] MichelleGlauser commented on #148
Fixed with [commit d90a302](https://github.com/Techtonica/curriculum/commit/d90a3028bdeb1e5d83a0b26e5be113a12b7d31f5).

[2018-01-22 20:53] #148 closed

[2018-02-02 18:34] zzyou opened #152 "Missing screenshot of Terminal Git codings in slides of GitHub"
In "Using GitHub for Code Storage", steps of Git codings in Terminal (creating new local repo and push) are not included in the slides. They are only showed in the slides video (mini lesson, slides walkthrough).
Maybe it's better to include screenshots of these Git codings in Terminal in the original slides too.

[2018-02-08 21:56] chulinguy opened #155 "Double-check that projected times are accurate in topic outlines. (Multiple assignees encouraged!)"
Choose an available set of **Topic Outlines** found in [this Curriculum Program](https://docs.google.com/spreadsheets/d/1vIr3fiKa_jxzy7qtFsiE5hEJbiTXwc1LYxbfsHOYD6U/edit#gid=0) .
1.  Ensure time range in Topic Outline markdown file is accurate when all materials and all lesson sections are included (unless labelled "supplemental" or "additional").
2. Ensure the "Estimated time (hours)" cell in the

[2018-02-12 22:32] Karla-Isabel-Sandoval commented on #155
@chulinguy which lesson plan are you referring to?

[2018-02-12 22:36] MichelleGlauser commented on #103
Complete with https://github.com/Techtonica/curriculum/commit/5abdda02c0f3e776a85e4de0e0df658cddea16d4

[2018-02-12 22:36] #103 closed

[2018-02-12 22:48] #99 closed

[2018-02-12 22:57] MichelleGlauser commented on #90
Put here: https://github.com/Techtonica/curriculum/tree/master/api-application-programming-interface

[2018-02-12 23:02] MichelleGlauser commented on #88
Here's the start: https://github.com/Techtonica/curriculum/blob/master/data-structures/what-is-a-data-structure.md

[2018-02-12 23:04] MichelleGlauser commented on #87
Moved to here: https://github.com/Techtonica/curriculum/blob/master/object-oriented-programming/object-oriented-programming.md

[2018-02-12 23:05] MichelleGlauser commented on #86
It is now here: https://github.com/Techtonica/curriculum/blob/master/testing-and-tdd/testing-and-tdd.md

[2018-02-12 23:24] #82 closed

[2018-02-12 23:25] MichelleGlauser commented on #79
It's here: https://github.com/Techtonica/curriculum/blob/master/relational-databases/relational-databases.md

[2018-02-12 23:28] #76 closed

[2018-02-12 23:28] #75 closed

[2018-02-12 23:28] #74 closed

[2018-02-12 23:28] #73 closed

[2018-02-12 23:28] #72 closed

[2018-02-12 23:28] #70 closed

[2018-02-12 23:28] #69 closed

[2018-02-12 23:29] #68 closed

[2018-02-12 23:29] #67 closed

[2018-02-12 23:29] #78 closed

[2018-02-12 23:30] #77 closed

[2018-02-12 23:30] #64 closed

[2018-02-12 23:34] MichelleGlauser commented on #58
Should be called "How the Internet Works."

[2018-02-12 23:34] #59 closed

[2018-02-12 23:37] #51 closed

[2018-02-12 23:37] #50 closed

[2018-02-12 23:41] MichelleGlauser commented on #49
Completed with this commit: https://github.com/Techtonica/curriculum/commit/aedac988590c95c221659418fa051e32997ed9a8#diff-07ecdbd6564d58f76217920741deef83

[2018-02-12 23:42] #49 closed

[2018-02-12 23:42] #48 closed

[2018-02-12 23:42] MichelleGlauser commented on #47
Just needs better projected time.

[2018-02-12 23:43] MichelleGlauser commented on #45
It's here now: https://github.com/Techtonica/curriculum/blob/master/github-code-storage/lesson-plan.md

[2018-02-12 23:44] MichelleGlauser commented on #44
Taken care of with https://github.com/Techtonica/curriculum/blob/master/github-code-storage/lesson-plan.md

[2018-02-12 23:44] #44 closed

[2018-02-12 23:45] MichelleGlauser commented on #45
https://github.com/Techtonica/curriculum/blob/master/git-version-control/lesson-plan.md

[2018-02-12 23:45] #45 closed

[2018-02-12 23:45] MichelleGlauser commented on #43
In here: https://github.com/Techtonica/curriculum/blob/master/git-version-control/lesson-plan.md

[2018-02-12 23:45] #43 closed

[2018-02-12 23:45] #42 closed

[2018-02-12 23:45] #41 closed

[2018-02-12 23:45] #40 closed

[2018-02-12 23:49] MichelleGlauser opened #157 "Re-name instances of lesson-plan.md to be named after topic."

[2018-02-12 23:50] MichelleGlauser opened #158 "Come up with projected time for RegEx (JavaScript 7) topic outline."
It's located here: https://github.com/Techtonica/curriculum/blob/master/javascript-7/lesson-plan.md

[2018-02-12 23:51] #61 closed

[2018-02-12 23:53] MichelleGlauser commented on #63
Still needs slides.

[2018-02-12 23:53] #63 closed

[2018-02-12 23:54] MichelleGlauser opened #159 "Finish React slides."
https://docs.google.com/presentation/d/1GOalyRi9UFy5er2Qul0jI70m24dP1ZgyVMHmyIc3GIo/edit?usp=sharing

[2018-02-12 23:58] MichelleGlauser opened #160 "Proofread OOP outline, make sure it matches slideshow"
Please start with this slideshow that was recently edited.
https://docs.google.com/presentation/d/1XKxBZIJ2gLknsyCBFm0jcq5Gk06d9uAyYTSW0QmQA10/edit?usp=sharing

- [x] Proofread [this topic outline](https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-7-oop.md), and make sure it includes any additional info that's in the above slideshow.

* For more detailed directions, see: h

[2018-02-13 00:00] MichelleGlauser opened #161 "Create topic outline for "How the Internet Works.""
Re-name needed first: https://github.com/Techtonica/curriculum/issues/58

[2018-02-13 00:07] MichelleGlauser opened #162 "Finish SQL topic outline."
https://github.com/Techtonica/curriculum/blob/master/SQL/sql.md

[2018-02-13 00:08] MichelleGlauser commented on #162
Made an issue for this, @rw.

[2018-02-13 00:09] MichelleGlauser opened #163 "Complete MongoDB topic outline."
https://github.com/Techtonica/curriculum/blob/master/mongo-db/lesson-plan.md

[2018-02-13 00:12] MichelleGlauser opened #164 "Complete recursion topic outline."
https://github.com/Techtonica/curriculum/blob/3f1f9fb2acc64d62fa93693f7ad9d815d4b57a5d/recursion/lesson_plan.md

[2018-02-13 00:23] MichelleGlauser opened #165 "Complete Linked Lists topic outline."
https://github.com/Techtonica/curriculum/blob/master/data-structures/linked-list.md

[2018-02-13 00:23] MichelleGlauser opened #166 "Complete Stack topic outline."
https://github.com/Techtonica/curriculum/blob/master/data-structures/stack.md

[2018-02-13 00:24] MichelleGlauser opened #167 "Complete Queue topic outline."
https://github.com/Techtonica/curriculum/blob/master/data-structures/queue.md

[2018-02-13 00:25] MichelleGlauser opened #168 "Create Deque topic outline in data structures folder."

[2018-02-13 00:26] MichelleGlauser opened #169 "Complete Hash Table topic outline."
https://github.com/Techtonica/curriculum/blob/master/data-structures/hash-table.md

[2018-02-13 00:27] MichelleGlauser opened #170 "Complete Trees topic outline."
https://github.com/Techtonica/curriculum/blob/master/data-structures/tree.md

[2018-02-13 00:27] MichelleGlauser opened #171 "Create Trees slides."

[2018-02-13 00:27] MichelleGlauser opened #172 "Create Deque slides."

[2018-02-13 00:28] MichelleGlauser opened #173 "Create Searching Algorithms slides."

[2018-02-13 00:29] Karla-Isabel-Sandoval opened #174 "Create hash-table topic outline"
https://github.com/Techtonica/curriculum/blob/master/data-structures/hash-table.md

[2018-02-13 00:30] #174 closed

[2018-02-13 00:30] MichelleGlauser opened #175 "Complete Searching Algorithms topic outline."

[2018-02-13 00:31] MichelleGlauser opened #176 "Complete Sorting Algorithms slides."
https://docs.google.com/presentation/d/1lIc2l6RdKNAVOknJDIFNPskCf61mmytJnhrCt447hao/edit?usp=sharing

[2018-02-13 00:31] MichelleGlauser opened #177 "Complete Sorting Algorithms topic outline."
https://github.com/Techtonica/curriculum/blob/master/sorting-algorithms/lesson-plan.md

[2018-02-13 00:32] MichelleGlauser opened #178 "Complete Roles in Tech topic outline."
https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/roles-in-tech.md

[2018-02-13 00:36] MichelleGlauser opened #179 "Move link from title to materials on personal branding topic outline."
https://github.com/Techtonica/curriculum/blob/master/personal-brand/lesson-plan.md

[2018-02-13 00:37] MichelleGlauser opened #180 "Complete Financial Literacy topic outline"
- [x] Make your outline in this file: https://github.com/Techtonica/curriculum/blob/8a8d56c4c6b214ea87b1bb262a06f7dcd9095066/financial-literacy/financial-literacy.md

- [x] Find a video that covers the important points in this lesson for audio learners, and leave the link in the comments or send it to Alina.

Follow these slides: https://drive.google.com/open?id=150KD2ORxehyoOHHzF_RWj_G6wHOMqgQlTa

[2018-02-13 00:38] MichelleGlauser opened #181 "Finish partial Socioeconomic Differences topic outline."
- [ ] Write a topic outline for Socioeconomic Differences Lesson here:  https://github.com/Techtonica/curriculum/blob/master/socioeconomic-differences/socioeconomic-differences.md
The goal is to guide apprentices through discussion and possibly research on issues about moving from a blue-collar to a white-collar culture.

- Base the outline on these slides: https://docs.google.com/presentation/d/1

[2018-02-13 00:39] MichelleGlauser opened #182 "Complete Conflict Resolution topic outline."
https://github.com/Techtonica/curriculum/blob/master/interpersonal-conflict-resolution/lesson-plan.md

[2018-02-13 00:39] MichelleGlauser opened #183 "Create Women in Tech Resources topic outline."
- [ ] Complete [this topic outline about Resources for Women in Tech](https://github.com/Techtonica/curriculum/blob/master/women-in-tech-resources/resources-list.md).  See the issue comments for lots of suggestions.
- [ ] [Create the accompanying slideshow here] (https://docs.google.com/presentation/d/1ZdnhhGbwyJcmgPnTn6eeHjdhekUvo0ht70MwC7Ll5zw/edit?usp=sharing) for visual learners.

[2018-02-13 07:58] chulinguy commented on #155
@Karla-Isabel-Sandoval it looks like @MichelleGlauser created individual issues for each lesson.
I do think it's difficult to estimate the projected time for the lessons without a video walkthrough now.

[2018-02-13 16:59] Karla-Isabel-Sandoval commented on #155
@chulinguy we created them together :) so that volunteers know which issues topic outlines need to be either created or completed. Once the Topic Outline is completed, then it will be easier to add a projected time to complete to each one.

[2018-02-13 22:07] #81 closed

[2018-02-16 02:06] lianthompson commented on #30
test

[2018-02-16 18:05] rcoh opened #186 "Issue for AJAX demonstration"

[2018-02-16 18:06] #186 closed

[2018-02-16 18:34] rcoh opened #187 "Issue to demonstrate ajax"

[2018-02-16 19:04] #187 closed

[2018-02-16 19:13] rcoh opened #188 "AJAX test issue"

[2018-02-16 19:24] rcoh opened #189 "AJAX test issue"

[2018-02-17 01:15] MichelleGlauser opened #190 "Put the readme.md list in order of appearance, make extras list."
Here's the order of appearance of topics: https://docs.google.com/spreadsheets/d/1V2XwxcJZl94xegLmM7YM4Vk6kBKLnBROKS_Hgb1qZ28/edit?usp=sharing

[2018-02-21 14:45] debrayc commented on #177
Do you want examples in Python or JavaScript?

[2018-02-23 18:08] Karla-Isabel-Sandoval opened #200 "Express.js link 404"
Independent Practice Link is broken - fix.
Could mean that the lab exercise doesn't exist yet, and, or that the link is just broken.

[2018-02-23 18:16] #200 closed

[2018-02-23 19:07] #188 closed

[2018-02-23 19:07] #189 closed

[2018-02-23 19:11] #159 closed

[2018-02-23 19:13] rcoh opened #204 "Create Datetime slides and video"

[2018-02-23 19:14] rcoh opened #205 "Create video + topic outline for "How the internet works""
@lalpert

[2018-02-23 19:15] rcoh opened #206 "NodeJS Video"

[2018-02-23 19:17] rcoh opened #207 "Create week 5 assessment"

[2018-02-23 19:20] rcoh opened #208 "Create week 6 assessment"

[2018-02-23 19:24] Karla-Isabel-Sandoval opened #209 "Create Project: Store API data in database & render on webpage"
Create Topic Outline + Slide + Video Slides if necessary
This project should take at least 3 days to complete

[2018-02-23 19:27] rcoh commented on #161
Dup of #205

[2018-02-23 19:27] #161 closed

[2018-02-23 19:51] Karla-Isabel-Sandoval opened #211 "Create Data Visualization Project Topic Outline / Guideline"
Create a topic outline for the data visualization topic.
Ideally, it would take about 2 hours to complete.

[2018-02-23 19:59] Karla-Isabel-Sandoval commented on #86
@vegetabill Thanks for working on the TDD Topic Outline back in August 2017! Would you be interested in creating a video, meaning, using your voice to create a walkthrough of the slides, https://drive.google.com/open?id=1viDJyLHXVs-VioUEatvWHDZeOCCmPxZNPHzH0C393rg, using something like QuickTime?

[2018-02-23 20:05] Karla-Isabel-Sandoval opened #212 "Create Testing TDD Video"
Create TDD Audio, meaning record your self, and read the slides ->https://drive.google.com/open?id=1viDJyLHXVs-VioUEatvWHDZeOCCmPxZNPHzH0C393rg, in addition to reading the slides, add provide more instruction on TDD, and record yourself going through slides using QuickTime.

[2018-02-23 22:10] Karla-Isabel-Sandoval opened #214 "Create video for Security Slides"
Create voice walkthrough for [Security Slides](https://drive.google.com/open?id=1mNyxzYGW-6M5yxBfJsxiwb9lcko5sa91thlBPKTodMg ).

- [ ] Use QuickTime and record your voice, you can walk through each slide, and (optionally) provide more details about security while you read the slides.

[2018-02-23 22:38] Karla-Isabel-Sandoval opened #215 "Fixes #215 Create Recursion audio for video using QuickTime"
[x ] Use recursion slides above and add your voice to walk through the slides.
[ ] Edit topic outline so that it is ready to use
 (https://github.com/Techtonica/curriculum/blob/3f1f9fb2acc64d62fa93693f7ad9d815d4b57a5d/recursion/lesson_plan.md)
[x][Recursion Slides](https://drive.google.com/open?id=1mNyxzYGW-6M5yxBfJsxiwb9lcko5sa91thlBPKTodMg)

[2018-02-23 23:19] MichelleGlauser commented on #177
@debrayc: JavaScript, please.

[2018-02-23 23:28] Karla-Isabel-Sandoval opened #218 "Create Coding Challenges + Video"
Use the [Coding Challenge Template](https://github.com/Techtonica/curriculum/blob/master/coding-challenges/coding-challenges.md)

[2018-02-24 00:38] Karla-Isabel-Sandoval opened #219 "Create Video for Run Time Complexity Mini Slides"
Create a video/audio for [Run Time Complexity Slides](https://docs.google.com/presentation/d/1ZcOdekB_aP59huZdp4X0u6EfUJKgxzK7y8LqCmzSLC8/edit)

[2018-03-05 02:58] vegetabill commented on #86
I can give it a shot. When would you need it by?

[2018-03-05 03:30] Karla-Isabel-Sandoval commented on #86
@vegetabill Thank You for giving it a shot! We would need it by March 17, 2018. Would that be a do-able time frame for you?

[2018-03-06 17:38] vegetabill commented on #86
Yes I think I can do that. I'll let you know if I have questions or have a draft that I can get some feedback on.

[2018-03-06 22:09] Karla-Isabel-Sandoval commented on #215
Fixes #215 Create Recursion audio for video using QuickTime

[2018-03-06 22:15] Karla-Isabel-Sandoval opened #246 "create project for week 10 - Integrating with API’s"
This should be an API’s and JSON based project based on the
[Topic Outline](https://github.com/Techtonica/curriculum/blob/master/api-application-programming-interface/apis-and-json.md)

[2018-03-07 02:28] #206 closed

[2018-03-07 02:28] #207 closed

[2018-03-07 02:29] #215 closed

[2018-03-07 02:29] #208 closed

[2018-03-07 02:30] #205 closed

[2018-03-07 02:31] rcoh opened #247 "Video for Github Collaboration"

[2018-03-07 02:32] rcoh opened #248 "Video for APIs & JSON"

[2018-03-07 02:33] rcoh commented on #247
@suchandan

[2018-03-07 02:33] Karla-Isabel-Sandoval commented on #62
@rcoh

[2018-03-07 02:33] Karla-Isabel-Sandoval commented on #248
@rcoh

[2018-03-07 02:50] rcoh commented on #248
hello test!

[2018-03-07 04:25] rcoh commented on #248
done:  https://drive.google.com/open?id=1sQCNXK9u8VD4xqlxmPVBEzB6mE2OqNFH

[2018-03-07 04:25] #248 closed

[2018-03-07 04:33] rcoh commented on #62
The current lesson plan is pretty good: https://github.com/Techtonica/curriculum/blob/master/api-application-programming-interface/apis-and-json.md

[2018-03-09 01:28] #247 closed

[2018-03-09 01:29] #62 closed

[2018-03-09 01:29] rcoh commented on #218
@Karla-Isabel-Sandoval what topic is this issue for?

[2018-03-09 22:21] Karla-Isabel-Sandoval commented on #218
@rcoh it's from the Topic Outline Coding Challenges 127, f in [](https://docs.google.com/spreadsheets/d/1vIr3fiKa_jxzy7qtFsiE5hEJbiTXwc1LYxbfsHOYD6U/edit#gid=0)

[2018-03-10 08:19] rcoh commented on #218
Just to clarify, this is a lesson _about_ coding challenges in interviews (how to prepare for them, how to do them, etc.)?

[2018-03-11 20:58] vegetabill commented on #86
I was planning on working on it this weekend but unfortunately I've been sick so actually I don't think I'll be able to get this done. Probably it would be better for someone else to work on it. Sorry!

[2018-03-12 18:07] Karla-Isabel-Sandoval commented on #86
@vegetabill hope you feel better soon. Thanks for the update. Will look for another volunteer to work on it.

[2018-03-12 20:52] Karla-Isabel-Sandoval opened #262 "Edit Giving Presentations"
@kristalane you could use https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet
to fix the hyphens, dashes, bullet points, and the links, if you'd like :)

[2018-03-14 16:29] MichelleGlauser opened #275 "Update MongoDB topic outline."
Change "Erin" and "Allard" to example names and change "teacher"/"teachers" to "volunteer"/"volunteers."

[2018-03-15 19:18] #162 closed

[2018-03-15 19:23] #163 closed

[2018-03-15 19:24] #164 closed

[2018-03-15 19:25] #60 closed

[2018-03-15 19:26] #54 closed

[2018-03-22 15:57] MichelleGlauser opened #288 "Strengthen "Motivation" sections: multiple assignees encouraged!"
Edit any unchecked Topic Outline below that has an absent or incomplete Motivation section, and check it off once completed. If you notice it already fulfills the requirements, please check it off as well. One edited topic outline per PR, please, and once it’s merged you will receive ‘beginner’ points for gssoc.

 Ensure that they have:
- Useful "Motivation" sections, and
- 2 companies that use th

[2018-03-28 06:56] gitsteph opened #293 "[Proposed] Creating a `CONTRIBUTING.md` document, or adding that section to `README.md`"
Since there's a specific workflow (and since that workflow/gitflow's changed a couple times), I think it'd be awesome to have a guide to help onboard new volunteers/contributors.  This document hosted on GitHub would ideally do the following:
- direct people to external Techtonica documents as relevant (e.g. publicly available Google Drive spreadsheets/documents/etc.)
- provide guidance around how

[2018-03-28 07:26] gitsteph commented on #275
☝️ Sorry about all the links there; didn't realize it did it automatically... (I rebased a couple times, since my auto-replace thing had a couple minor issues... all fixed now though)

[2018-03-28 07:31] gitsteph commented on #209
Just for clarity, is this to create a sample demo project scoped to roughly 3 days worth of work (to show what can be done in that amount of time), or to create guidelines for a project that folks would go through and do themselves individually/in pairs?

[2018-03-28 07:32] gitsteph commented on #190
Is "extras list" the category in the Google spreadsheet under "Some time..."?

[2018-03-28 15:05] gitsteph opened #295 "[Proposed] Re: Deployment Lesson Plan Modules & Timing"
@MichelleGlauser @Karla-Isabel-Sandoval

I think `Deployment` could be very well served broken up into multiple parts -- some types of deployment are much easier than others, and there's value (and added excitement) in deploying something simple early (even as early as Week 1) and iteratively updating/seeing/sharing changes live as people learn new concepts and practices.

How I'd design this --
I

[2018-03-28 17:43] MichelleGlauser opened #296 "Add a tidbit about favicons somewhere."

[2018-03-29 00:40] rcoh commented on #275
Awesome! Thanks!

[2018-03-29 00:40] #275 closed

[2018-04-12 13:25] MichelleGlauser commented on #172
These need to be filled in: https://docs.google.com/presentation/d/1fX7IZpbmjhF2rakFST6PbdYm-C812d0QkdI-J5HkEhQ/edit?usp=sharing

[2018-04-12 13:37] MichelleGlauser commented on #175
https://github.com/Techtonica/curriculum/blob/master/searching-algorithms/lesson-plan.md

[2018-04-12 13:37] MichelleGlauser commented on #173
https://docs.google.com/presentation/d/1x8xO_URwZVoB4JxTNN90z0sHSxoYEq0INOH_IIi8SLE/edit?usp=sharing

[2018-04-12 13:38] MichelleGlauser commented on #171
https://docs.google.com/presentation/d/1x8xO_URwZVoB4JxTNN90z0sHSxoYEq0INOH_IIi8SLE/edit?usp=sharing

[2018-04-12 13:39] MichelleGlauser commented on #168
Just needs review: https://github.com/Techtonica/curriculum/blob/master/data-structures/deque.md

[2018-04-24 13:07] #175 closed

[2018-04-24 13:08] #177 closed

[2018-04-24 13:11] #166 closed

[2018-04-24 13:12] #173 closed

[2018-04-24 13:13] MichelleGlauser commented on #170
https://github.com/Techtonica/curriculum/blob/master/data-structures/trees.md

[2018-04-24 13:13] #170 closed

[2018-04-24 13:15] MichelleGlauser commented on #169
https://github.com/Techtonica/curriculum/blob/master/data-structures/hash-tables.md

[2018-04-24 13:15] #169 closed

[2018-04-24 13:17] #168 closed

[2018-04-24 13:18] MichelleGlauser commented on #167
https://github.com/Techtonica/curriculum/blob/master/data-structures/queues.md

[2018-04-24 13:18] #167 closed

[2018-04-24 13:25] #218 closed

[2018-04-24 13:25] MichelleGlauser commented on #211
https://github.com/Techtonica/curriculum/blob/master/data-visualization/data-visualization.md

[2018-04-24 13:25] #211 closed

[2018-04-24 13:33] MichelleGlauser commented on #158
https://github.com/Techtonica/curriculum/blob/master/javascript-7/javascript-7-regex.md

[2018-04-24 13:33] #158 closed

[2018-04-24 13:34] MichelleGlauser commented on #129
https://github.com/Techtonica/curriculum/blob/master/entrepreneurship/entrepreneurship.md

[2018-04-24 13:34] #129 closed

[2018-04-24 13:39] #89 closed

[2018-04-24 13:40] MichelleGlauser commented on #88
https://github.com/Techtonica/curriculum/blob/master/data-structures/intro-to-data-structures.md

[2018-04-24 13:40] #88 closed

[2018-04-24 13:42] MichelleGlauser commented on #87
https://github.com/Techtonica/curriculum/blob/89b8de9c8b28b6c64973ac5348d298a0775ddae8/javascript-8/javascript-8.md

[2018-04-24 13:42] #87 closed

[2018-04-24 13:43] #47 closed

[2018-04-24 13:43] #34 closed

[2018-04-24 13:46] #32 closed

[2018-04-24 13:49] MichelleGlauser commented on #39
https://github.com/Techtonica/curriculum/blob/master/css/lesson-plan.md

[2018-04-24 13:49] #39 closed

[2018-04-24 13:52] #80 closed

[2018-04-24 13:57] MichelleGlauser commented on #79
Relational and SQL: https://github.com/Techtonica/curriculum/blob/master/databases/

[2018-04-24 13:57] #79 closed

[2018-04-24 13:58] MichelleGlauser commented on #66
https://github.com/Techtonica/curriculum/blob/master/web-patterns/web-patterns.md

[2018-04-24 13:58] #66 closed

[2018-05-07 23:35] MichelleGlauser opened #383 "Fix Project 4.5 - node & mySQL"
https://github.com/Techtonica/curriculum/blob/master/projects/project-four-point-five.md
Replace Inquirer link with http://enzolutions.com/articles/2014/09/08/how-to-create-an-interactive-command-in-node-js/.
Put starter code into the Techtonica curriculum repo's projects directory and change link.
Etc.

Probably the best way to start this is to just go through the steps and make notes with what w

[2018-05-09 23:16] #171 closed

[2018-05-09 23:18] #157 closed

[2018-05-09 23:27] #209 closed

[2018-05-09 23:28] #176 closed

[2018-05-09 23:33] #172 closed

[2018-05-09 23:34] Karla-Isabel-Sandoval commented on #160
The structure is available and needs to be filled in.
Great item for a first-time contributor.

[2018-05-09 23:35] Karla-Isabel-Sandoval commented on #100
Closes with https://github.com/Techtonica/curriculum/blob/master/open-source/open-source.md

[2018-05-09 23:35] #100 closed

[2018-05-09 23:36] Karla-Isabel-Sandoval commented on #95
Closes with https://github.com/Techtonica/curriculum/blob/master/data-visualization/data-visualization.md

[2018-05-09 23:36] #95 closed

[2018-05-10 00:05] Karla-Isabel-Sandoval commented on #101
I think we’ll eventually make a big list of [coding challenges], but not a topic outline because they’re more of exercises than topics. - Michelle G.

[2018-05-10 00:05] #101 closed

[2018-05-10 00:05] #90 closed

[2018-05-19 18:37] MichelleGlauser opened #386 "Make specs for project plan doc."
For final projects, make "example-plan.md" for participants to submit as a Google Doc at the end of the first week and include someone's example with everything required during the planning phase and all the things people missed, like putting their names and titles and GitHub links in it, having a separate MVP and pitch with HOW the project does what it does, including the visual design plans, etc

[2018-07-26 00:46] MichelleGlauser opened #389 "Incorporate a project that uses the Twilio API."

[2018-08-14 18:44] MichelleGlauser opened #392 "Remove extra "Prerequisite" from topic outlines"
These have "Prerequisites" and "Prerequisite": https://github.com/Techtonica/curriculum/search?q=Prerequisites+Prerequisite&unscoped_q=Prerequisites+Prerequisite

[2018-08-14 18:58] MichelleGlauser commented on #183
We first need to get the slides from Anna Neyzberg (she's putting them into the linked-to slides above).

[2018-08-14 18:59] #190 closed

[2018-08-14 19:05] kristalane opened #393 "create Negotiation lesson outline based on completed slideshow"
- Check out [this completed Negotiating slideshow](https://drive.google.com/file/d/1Wfs7So04uwRLC042pX7OlUvzp92OJ8va/view?usp=sharing).

- [x] Save your Negotiating outline [to this file](https://github.com/Techtonica/curriculum/blob/master/interviewing/negotiating.md).
- [x] Make or find a video for the topic, and leave the link in the issue comments.

For FAQ on contributing, see: https://github

[2018-08-14 19:10] MichelleGlauser opened #394 "Complete negotiating slides and topic outline"
Taylor Hesselgrave and Gaby Andrade are working on this.

[2018-08-14 19:30] #179 closed

[2018-08-14 20:01] kristalane opened #395 "create a slideshow for "Intro to Algorithms" Lesson"
- Check out [this completed outline](https://github.com/Techtonica/curriculum/blob/master/algorithms/intro-to-algorithms.md) and [this introduction to algorithm concepts video](https://youtu.be/CvSOaYi89B4).

- [x] Create a slideshow to present the lesson to visual learners [in this file.](https://docs.google.com/presentation/d/1WlG5OgF0gf9fQYEEgIysNSfNaMiCASBi8RJa25SwMC4/edit?usp=sharing) Ask Ali

[2018-08-14 20:04] kristalane commented on #105
Duplicate to issue #85

[2018-08-14 20:04] #105 closed

[2018-08-14 20:06] kristalane commented on #46
This topic outline seems complete (I may be biased... I wrote it ;) ): https://github.com/Techtonica/curriculum/blob/master/giving-presentations/giving-presentations.md

[2018-08-14 20:06] #46 closed

[2018-08-14 20:08] kristalane commented on #22
Still needs prerequisites: https://github.com/Techtonica/curriculum/blob/master/popular-tools/popular-tools.md

[2018-08-14 20:14] kristalane opened #396 "Create "ethics in SE" slideshow, proofread nearly complete outline."
Writing this lesson will be less about engineering knowledge, and more about researching the principles of software engineering ethics.

- [ ] Base your slideshow on [this mostly completed Ethics outline](https://github.com/Techtonica/curriculum/blob/master/ethics/ethics.md).  It has the substance, but the lesson section needs some organizing and a second opinion.
- [ ] Save the accompanying slide

[2018-08-14 20:15] kristalane opened #397 "complete "functional programming" topic outline"
https://github.com/Techtonica/curriculum/blob/master/functional-programming/FP.md

[2018-08-14 20:18] kristalane commented on #396
Related video and slides found in road map: https://youtu.be/Z45LI-NyLP0

[2018-08-14 20:22] kristalane opened #398 "complete "object-oriented-programming" topic outline or combine with JS 6 lesson"
https://github.com/Techtonica/curriculum/blob/master/object-oriented-programming/object-oriented-programming.md

Needs review to determine if the above md file is a duplicate of another JS lesson or requires more complete information.

looks like road map contains these slides/video:
- https://drive.google.com/open?id=1N2eDw84BqmcqvNDjtQfNEF_7PO91z-IHTR44QXt3-oI
- https://drive.google.com/file/d/1

[2018-08-14 20:25] kristalane commented on #36
appears complete: https://github.com/Techtonica/curriculum/blob/master/command-line/command-line-interface.md

[2018-08-14 20:25] #36 closed

[2018-08-14 20:26] kristalane commented on #37
appears complete: https://github.com/Techtonica/curriculum/blob/master/command-line/command-line-advanced.md

[2018-08-14 20:26] #37 closed

[2018-08-15 18:47] antislice commented on #288
If a non-technical person is working on this and doesn't feel like they can do justice to the example company/screenshot request, just make a note that that step was skipped and it can be a separate task.

[2018-08-15 18:52] antislice commented on #214
Optionally, if you don't want to record your voice but you want to add more detail to the slides _for_ the video, add it as speaker notes and leave a comment here about it.

[2018-08-15 18:58] antislice commented on #178
Might be done?

[2018-08-15 19:02] antislice commented on #389
If this is something a volunteer is going to work on, should have more details about the expected size of the project, level of mastery assumed, etc.

[2018-08-15 19:04] antislice commented on #386
I'm sure a volunteer could make a start, but will need to coordinate with Michelle about all the pieces required.

[2018-08-15 19:08] antislice commented on #296
Either ask where it should go or spelunk for a good place!

[2018-08-15 19:09] antislice commented on #295
I really like this idea! Also can help with confidence and a "I'm getting something out of this" feeling if there's something to show off early.

[2018-08-15 19:13] antislice commented on #152
Needs a link to the slides in question

[2018-08-17 00:22] MichelleGlauser opened #399 "Make more clear the difference between var, let, const in curriculum"

[2018-08-17 00:22] MichelleGlauser opened #400 "Learn more about how React fits within other frameworks, how it works with the back-end/database. Know how to fetch data from the database."

[2018-08-17 00:23] MichelleGlauser opened #401 "Make sure the OAuth lesson is done the same way OAuth will be implemented in the projects—with Auth0."

[2018-08-17 00:24] MichelleGlauser opened #402 "Better differentiation between callbacks and promises."

[2018-08-17 00:24] MichelleGlauser opened #403 "Make sure to stress not to commit API keys, giant files, individual config files, etc. into your repo during the git workflow topic (with .gitignore). Show how to handle environment variables/keys."
@lindes, would you mind reading through our lesson plan to check for correctness?  Also, if you can think of clearer examples for beginners than I did, please add or change, then move it to Done. Thanks =)

[2018-08-17 00:25] MichelleGlauser opened #404 "Add info about minification of JS files."

[2018-08-17 00:25] MichelleGlauser opened #405 "Make an entire bash profile topic with a clear definition, how to edit/save/source, what should be in there, etc."

[2018-08-17 00:26] MichelleGlauser opened #406 "Make topic on software development lifecycle."

[2018-08-17 00:27] MichelleGlauser opened #407 "Navigating New Codebases: Make lesson outline and video based on completed slideshow."
- [x] Make a lesson outline in [this file](https://github.com/Techtonica/curriculum/blob/master/navigating-new-codebases/navigating-new-codebases.md) that is based on the advice in [this slide presentation](https://docs.google.com/presentation/d/1NGM4ofmskYbDB8-b-bxzXupKG-y9ogFwIIO9BM1zSIk/edit#slide=id.g3fc24775f5_0_54).
- [x] Choose or make a video that explains the points in the slide presentat

[2018-08-17 03:11] MichelleGlauser opened #408 "Complete Vim topic outline"
For more detailed directions, see: https://github.com/Techtonica/curriculum#volunteering

- [x] The partially complete Lesson Outline(needs work):
https://github.com/Techtonica/curriculum/blob/master/command-line/vim.md

- [x] Slides Template(needs work):
https://docs.google.com/presentation/d/1739vUp2HuAh-f2JUIBkMvkozrlXI_HQBXpLEZg8y9as/edit#slide=id.p

- [x] Video Link:
Still needed

[2018-08-17 03:12] MichelleGlauser commented on #408
Put it here: https://github.com/Techtonica/curriculum/tree/master/command-line

[2018-08-17 03:27] MichelleGlauser opened #409 "Make sure there are explicit explanations of `this` and `new` in the JavaScript OOP outline."
* For more detailed directions, see:
https://github.com/Techtonica/curriculum#volunteering

- [x] "This" and "new" are mentioned in this outline, but please make sure apprentices are clear on their keyword status, use, and scope before using them.
JavaScript OOP outline:
https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-7-oop.md

- [ ] Once outline is complete, update the

[2018-08-21 05:59] gitsteph commented on #295
Yeah!!  My sentiments exactly (re: confidence-building).

BTW, still totally down to write this up if it's the right time for it/no one else has taken it on yet!

[2018-08-21 18:19] kristalane commented on #85
Finished!

[2018-08-21 18:19] #85 closed

[2018-08-21 18:37] MichelleGlauser opened #410 "Combine two Express topic outlines into express.md, delete express-topic-outline.md."
https://github.com/Techtonica/curriculum/blob/master/express-js/express-topic-outline.md
https://github.com/Techtonica/curriculum/blob/master/express-js/express.md

[2018-08-21 20:23] MichelleGlauser opened #411 "Make links in README relative so they'll point to the right file no matter what fork it is."

[2018-08-21 20:42] #410 closed

[2018-08-21 20:44] kristalane commented on #399
appears done - issue was moved to done folder but not closed.

[2018-08-21 20:44] #399 closed

[2018-08-21 20:56] MichelleGlauser opened #412 "Complete (social) networking topic outline."
https://github.com/Techtonica/curriculum/blob/master/networking/networking.md
Include info about asking good questions following talks (and not lecturing).

[2018-08-21 21:12] kristalane commented on #392
complete (can see when you open master branch of each file), but as of 8/21/18 Github doesn't seem to have indexed all the changes in search results.

[2018-08-21 21:12] #392 closed

[2018-08-21 22:23] #411 closed, assigned to nobody

[2018-08-21 22:31] kristalane commented on #296
tidbit / links added to Supplemental Materials section of HTML lesson

[2018-08-21 22:31] #296 closed

[2018-08-21 23:51] rcoh commented on #295
I might start with Netlify to deploy static sites. It's extremely easy to get started with (easier than GH pages IMO) and is a bit better for when you want to move outside of Github.

For deploying their client/server apps https://medium.freecodecamp.org/how-to-make-create-react-app-work-with-a-node-backend-api-7c5c48acb1b0 covers it pretty clearly

[2018-08-22 17:47] MichelleGlauser opened #413 "Make a topic outline based on completed slides on Memoization."
For more detailed directions, see: https://github.com/Techtonica/curriculum#volunteering

- [x] Lesson Outline (needs work!):
https://github.com/Techtonica/curriculum/blob/master/runtime-complexity/memoization.md

- Completed Slides:
https://docs.google.com/presentation/d/1BipDMgjZd3u-QsrPNCljH-Wv2l3tYRAUz8LWnxzt4s8/edit#slide=id.p

* Video Link:
https://www.youtube.com/watch?v=P8Xa2BitN3I

[2018-08-22 17:56] MichelleGlauser commented on #413
https://github.com/Techtonica/curriculum/blob/master/runtime-complexity/memoization.md

[2018-08-22 17:58] MichelleGlauser commented on #413
Removed memoization.

[2018-08-23 23:01] MichelleGlauser opened #414 "Decide which code challenges should come when based on where we're at in the curriculum, just include numbers in road map."
Michelle will add you to the code challenge doc.

[2018-08-23 23:04] MichelleGlauser commented on #408
https://github.com/Techtonica/curriculum/blob/master/command-line/vim.md

[2018-08-23 23:37] MichelleGlauser commented on #58
https://github.com/Techtonica/curriculum/blob/master/requests-and-responses/

[2018-08-23 23:37] #58 closed

[2018-08-23 23:39] MichelleGlauser opened #415 "Find or create video and slides for Request and Responses topic, link in road map."
https://github.com/Techtonica/curriculum/blob/master/requests-and-responses/requests-and-responses.md

[2018-08-23 23:41] MichelleGlauser commented on #403
https://github.com/Techtonica/curriculum/blob/master/git-version-control/gitignore.md This looks fantastic! Thank you.

[2018-08-23 23:41] #403 closed

[2018-08-23 23:42] MichelleGlauser opened #416 "Find or create slides and video for gitignore topic, link to in road map."
https://github.com/Techtonica/curriculum/blob/master/git-version-control/gitignore.md

[2018-08-23 23:45] MichelleGlauser opened #417 "Complete resume/portfolio project directions to incorporate HTML, CSS, and Bootstrap."
Write a lesson plan that incorporates basic
- [x] HTML,
- [x] CSS,
- [x] Bootstrap
skills from the first two weeks of lessons into a real portfolio/resume for themselves.

Complete the "project directions", "questions to consider", and "extensions" this file:
https://github.com/Techtonica/curriculum/blob/master/projects/portfolio/portfolio-webpage-1.md

[2018-08-23 23:46] MichelleGlauser commented on #204
https://github.com/Techtonica/curriculum/blob/master/datetime/datetime.md

[2018-08-23 23:49] MichelleGlauser opened #418 "Select or create slides and video for JS 7 - RegEx, link to in road map."
https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-8-regex.md

https://drive.google.com/file/d/1upD9R_qe7YvZjRd6l_wM0s1UpvHdo1C8/view

[2018-08-23 23:50] MichelleGlauser opened #419 "Create topic outline, slides, and video for data models."
https://github.com/Techtonica/curriculum/blob/master/databases/data-models.md

[2018-08-23 23:51] MichelleGlauser commented on #419
Remove data model stuff from here? https://github.com/Techtonica/curriculum/blob/master/databases/relational-databases.md

[2018-08-24 01:14] tedyoung commented on #415
Need help creating a video/slides?

[2018-08-24 02:51] MichelleGlauser opened #420 "Put code challenges in Techtonica Repl.it classroom, make automatic tests."

[2018-08-24 02:57] MichelleGlauser commented on #420
(The numbers should be the same as those in the road map and in the interview prep doc.)

[2018-08-24 03:43] amychan331 commented on #416
Slide created and video added

[2018-08-24 03:43] #416 closed

[2018-08-24 03:49] amychan331 commented on #204
Slide was already create. Added the slide link to road map and added a video.

[2018-08-24 03:49] #204 closed

[2018-08-24 05:42] MichelleGlauser commented on #71
https://github.com/Techtonica/curriculum/blob/master/interviewing/whiteboarding.md

[2018-08-24 22:18] MichelleGlauser commented on #413
Slides here: https://docs.google.com/presentation/d/1BipDMgjZd3u-QsrPNCljH-Wv2l3tYRAUz8LWnxzt4s8/edit?usp=sharing

[2018-08-24 22:19] MichelleGlauser commented on #406
Decided that the agile topics are enough.

[2018-08-24 22:19] #406 closed

[2018-08-24 22:43] MichelleGlauser commented on #415
@tedyoung: yes, want to review [these slides](https://docs.google.com/presentation/d/1Ny1BZiNO5heJ2Ad-PaakGL4S861W8CfL7LHYFeun7Io/edit?usp=sharing)? Also, we found these videos: https://www.youtube.com/watch?v=AEaKrq3SpW8 , https://www.youtube.com/watch?v=guvsH5OFizE Do you think those are good?

[2018-08-24 22:59] MichelleGlauser opened #423 "Finish optimization slides, topic outline, and video."
https://docs.google.com/presentation/d/1Q1FZHrChooVHydr9Rg05T0rUFGFnzqcPmwtgMUYc6P0/edit?usp=sharing | https://github.com/Techtonica/curriculum/blob/master/optimization/optimization.md

[2018-08-29 22:37] #405 closed

[2018-08-29 22:37] MichelleGlauser commented on #405
https://github.com/Techtonica/curriculum/blob/master/command-line/dot-profile.md

[2018-08-29 22:38] MichelleGlauser opened #425 "Create bash profile slides and video based on completed lesson outline."
Use [this completed lesson plan as a guide](https://github.com/Techtonica/curriculum/blob/master/command-line/dot-profile.md).

- [x] The slideshow should be saved over the example in [this google slides file](https://docs.google.com/presentation/d/1FeHmZRNz4ZgpGAfDAIHXNitofon3Uy-h13uCcyy2FuE/edit#slide=id.p).
- [x] Make or find a video that meets the outline objectives, and place the link in the

[2018-08-31 02:48] MichelleGlauser opened #426 "Change Atom topic materials to VS Code."
Slides: https://docs.google.com/presentation/d/1QAMxrS1ZOvtSn7MuYxTmeanrMQi_O8Z5UVq-4LzLqso/edit?usp=sharing
Topic: https://github.com/Techtonica/curriculum/blob/master/atom/atom.md
Video: https://drive.google.com/open?id=1jC28sx3FkocnT-81pE-6sDfGvzIg5HLW

[2018-08-31 21:33] lindes commented on #408
Some work was done last night on the sections up to and including Materials.  Probably more to add to and/or edit in the sections done, and definitely Lesson onward still needs doing.

[2018-09-06 05:05] MichelleGlauser opened #427 "Find or make video for difficult workplace conversations/situations key objectives."
- [x] Save the lesson outline [in this file](https://github.com/Techtonica/curriculum/blob/master/professionalism/difficult-workplace-situations.md).

- [x] Find or make a slideshow that explains the learning objectives well for visual learners, and add a link to the "materials" section of the outline. If you are making it, please save the slides to [this file](https://docs.google.com/presentation

[2018-09-07 02:31] sherzader commented on #404
This could go under a performance lecture on speeding up web sites.
- minification, compression, concatenation (If Webpack is mentioned here, could add tree shaking of dependencies)
- CDN
- spritesheets
- svgs

[2018-09-09 02:42] #400 closed

[2018-09-11 00:16] #402 closed

[2018-09-20 01:39] alodahl commented on #412
Kayla Gesek picked up this issue (but has no github account)

[2018-09-20 03:24] alodahl opened #433 "Create a slideshow & find or create video to accompany existing Recipe Page lesson plan"
Go ahead and save your slideshow on top of this example:
https://docs.google.com/presentation/d/1m300Szsrmb60CxFlZq0ODqL96tmZcU9s7FDeoYKbc9U/edit#slide=id.p

The Recipe Page assignment lesson plans can be found here:
https://github.com/Techtonica/curriculum/blob/master/projects/recipe-page

The video can be a screen-capture video of someone explaining the slideshow, or a video or two found online

[2018-09-20 19:28] alodahl commented on #433
Kayla Gesek picked up this issue.

[2018-09-21 20:36] alodahl opened #434 "Use JS skills to build a fun Keyboard Shortcuts Practice App!"

[2018-09-22 05:51] spyapali opened #435 "Yelp Recommender OOP project"
--> Build Prototype for Yelp Recommender OOP project
--> Components include:
       --> User Class
       --> Yelp Class
       --> Restaurant Class
       --> Tag Class (tag ratings(?))
       --> Ratings Class

[2018-09-22 11:41] alodahl opened #436 "Confidence in the Workplace: Make topic outline & find or make video based on completed slideshow"
For more detailed directions, see: https://github.com/Techtonica/curriculum#volunteering

Base your outline and video choice on [this completed slideshow](https://docs.google.com/presentation/d/18XXIRn2AVWje-8sWErKzQyI_XPV_2aexmwTvkaO_ZPw/edit#slide=id.g22d1a3369e_0_101).

- [x] Write a topic outline in this file, replacing the template: https://github.com/Techtonica/curriculum/blob/master/profess

[2018-09-25 20:42] alodahl commented on #398
I was able to organize the object-oriented lessons.  The only task left is addressed in issue #160 .

[2018-09-25 20:43] #398 closed

[2018-09-25 23:52] #426 closed

[2018-09-25 23:54] alodahl opened #438 "Write "media queries" topic outline"
outline media query basics, and incorporate into recipe or portfolio project for assessment.

[2018-09-25 23:56] #414 closed

[2018-09-26 00:19] alodahl opened #439 "Finish up Github-Collaboration outline"
The task is to complete the end of this lesson outline on Github collaboration:
https://github.com/Techtonica/curriculum/blob/master/github-collaboration/github-collaboration.md
Please make sure these have been added:
  - [x] Independent Practice
  - [x] Short Challenge
  - [x] Check for understanding
  - [x] Enter a time estimate for independent practice on line 7

Other Resources:
- Completed Sl

[2018-09-26 00:33] alodahl opened #440 "Fix "Approaching whiteboarding" outline"
- [ ] [Rewrite this outline](https://github.com/Techtonica/curriculum/blob/master/interviewing/whiteboarding.md) based on [this completed slideshow](https://docs.google.com/presentation/d/1Bs6kGlzVK6chplOHFH9OiCBQj1kQTzrmCL0cHcaZD8U/edit?usp=sharing).

We are going to be covering data structures, algorithms, and optimization in other lessons.  Please remove this info and add more advice so that th

[2018-09-26 19:29] alodahl commented on #433
no need for video or slideshow with projects

[2018-09-26 19:29] #433 closed

[2018-09-26 19:39] alodahl opened #441 "Create Networking Slideshow and Video based on completed outline."
- [x] Create Networking slideshow [in this file](https://docs.google.com/presentation/u/2/d/1m300Szsrmb60CxFlZq0ODqL96tmZcU9s7FDeoYKbc9U/edit#slide=id.p) based on [this completed lesson outline](https://github.com/Techtonica/curriculum/blob/master/networking/networking.md).
- [x] Create video narration or find an explanatory video and place link in the "materials" section in the completed outline

[2018-09-26 20:14] alodahl commented on #441
Issue picked up by Kayla Gesek.

[2018-09-27 17:27] MichelleGlauser opened #442 "Check projected times in all topic outlines, update in roadmap."

[2018-09-28 01:32] alodahl commented on #436
Issue Picked up by Natalie Kim

[2018-09-28 03:07] natalie-kim commented on #436
Videos:
- Sheryl Sandberg impostor syndrome: https://www.youtube.com/watch?v=DNikR2GQwVg&t=39s
- Positive, Rational Thinking: https://www.youtube.com/watch?v=KjDfnUaFKCE

[2018-09-28 17:16] alodahl commented on #182
Issue picked up by Natalie Kim

[2018-10-01 22:06] alodahl opened #447 "Create a lesson outline for data models"
Part of issue #419
Follows Express.js lesson

[2018-10-02 04:55] bnak commented on #420
This is finished! FYI some of the challenges don't have tests + code frameworks if they're `Write a class that...` or something similar.

Repl.it classroom: https://repl.it/teacher/classrooms/89804

[2018-10-02 15:48] #436 closed

[2018-10-02 23:03] alodahl commented on #65
Redux doesnt fit into the curriculum right now.

[2018-10-02 23:03] #65 closed

[2018-10-05 03:07] sharonw commented on #178
Closing because I agree with antislice; this issue seems like it's already done. It's well-written, especially the Common Mistakes / Misconceptions section!

[2018-10-05 03:07] #178 closed

[2018-10-05 16:45] alodahl commented on #160
Issue picked up by George Brassey

[2018-10-05 19:31] alodahl opened #453 "ATTN NEW CONTRIBUTORS: The priority issues can be found in the "Projects" tab above. Not all issues on this board are available."
Find our to-do list of issues here: https://github.com/Techtonica/curriculum/projects/2

For more on how to contribute: https://github.com/Techtonica/curriculum#volunteering

[2018-10-05 21:09] alodahl opened #454 "Add info to 2 slides in the Data Models slideshow, find a video"
- you can find the lesson slides [in this file](https://docs.google.com/presentation/d/19XTnwuzk11SaE0Kgn0R0t_nvQ_1L0j_Tk-AdwfcsiTg/edit?usp=sharing).

- [ ] Add more information on the Types of Data Models slide
- [ ] Review the slide deck (Agenda slide may also need some more editing)
- [ ] Find or record an explanatory video, and add the link to the "materials" section in the[Data Models topic

[2018-10-08 18:38] #447 closed

[2018-10-08 21:46] alodahl opened #455 "Make slideshow and add video for "approaching whiteboarding" lesson"
- [x] Start with this outline:
https://github.com/Techtonica/curriculum/blob/master/interviewing/whiteboarding.md
We are going to be covering data structures, algorithms, and optimization in other lessons.  Please remove this info and add more advice so that the spin on this lesson is more about "Approaching Whiteboarding" and preparing for a successful experience, rather than the content.

Once t

[2018-10-09 01:45] hnarasaki commented on #389
I found a great existing interactive Twilio tutorial (Twilio Quest) that takes users through creating automated text messages (there are also additional projects available through Twilio Quest). I could write an outline explaining what Twilio Quest is and what users can learn/work on through it.

[2018-10-09 03:00] hnarasaki commented on #389
Created an outline of various Twilio exercises users can perform through the interactive website Twilio Quest. (Such as sending an automated text message and sending automated text message responses.)

[2018-10-09 06:45] #455 closed

[2018-10-09 19:46] #83 closed

[2018-10-09 19:55] #420 closed

[2018-10-09 20:35] #408 closed

[2018-10-09 20:35] alodahl commented on #408
no slideshow necessary

[2018-10-09 22:18] #389 closed

[2018-10-14 17:41] alodahl opened #460 "Update table of contents to reflect roadmap curriculum order"
[Here is the Techtonica Program Roadmap.](https://docs.google.com/spreadsheets/d/1vIr3fiKa_jxzy7qtFsiE5hEJbiTXwc1LYxbfsHOYD6U/edit#gid=0)

- [x] Make sure the['table of contents' in the project ReadMe.md](https://github.com/Techtonica/curriculum#table-of-contents) reflects the order of lesson outlines in the Roadmap.
- [x] Make sure the 'table of contents' topics are linked to the proper lesson ou

[2018-10-15 06:16] klyap commented on #404
I have created a PR! https://github.com/Techtonica/curriculum/pull/461

[2018-10-15 08:37] alodahl commented on #404
Thank you @klyap! Happy Hacktober🍂

[2018-10-15 14:33] alodahl opened #463 "Make slideshow to accompany completed Scrum lesson outline"
- [ ] Save Scrum slideshow [into this file](https://docs.google.com/presentation/d/15PgPWy7qKllWVpmoAuN6J7uwegCAuiHAapf6Bnd9h8o/edit#slide=id.p). (it was copied from the Agile slideshow; please replace it with real examples of scrum methods ie: point system, sprint planning, etc)

- [Here is the completed lesson outline](https://github.com/Techtonica/curriculum/blob/master/agile-development/scrum.

[2018-10-15 20:17] #415 closed

[2018-10-15 20:45] #293 closed

[2018-10-15 20:50] alodahl commented on #288
This is a potentially big task.  I'm going to break it up into a few people fixing 10 motivations sections until we are out...I'm guessing there are about 50 lessopn outlines total.

[2018-10-15 21:07] alodahl commented on #30
Michelle said this is no longer relevant.

[2018-10-15 21:07] #30 closed

[2018-10-18 03:48] alyssawhitwell commented on #454
@MichelleGlauser -- @cwbane and I were able to make the majority of the Data Models deck (see https://docs.google.com/presentation/d/19XTnwuzk11SaE0Kgn0R0t_nvQ_1L0j_Tk-AdwfcsiTg/edit?usp=sharing)

However, we would still want someone to do the following:
- [ ] Add more information on the Types of Data Models slide
- [ ] Review the slide deck (Agenda slide may also need some more editing)

before t

[2018-10-20 18:39] alodahl opened #465 "Finish partial outline based on completed "Diversity, Inclusion and Implicit Bias" slideshow"
Base the outline and video on [this completed slideshow.](https://docs.google.com/presentation/d/1_QyXF5TGja-PhSgJUiuFKqLafbyQ_q3gvzEbDMkdBIg/edit#slide=id.p)

- [ ] Finish [this partial outline](https://github.com/Techtonica/curriculum/blob/master/diversity-inclusion-bias/inclusion.md) using the above slideshow as your guide.

- [ ] Find or make a video that highlights the points in the lesson.

[2018-10-22 22:11] alodahl commented on #439
#468

[2018-10-22 22:11] #439 closed

[2018-10-22 22:21] alodahl commented on #417
#467

[2018-10-22 22:21] #417 closed

[2018-10-23 03:15] alodahl commented on #440
#469

[2018-10-23 03:15] #440 closed

[2018-10-24 02:41] #460 closed

[2018-10-25 17:45] alodahl commented on #33
Outline and slideshow requirements met here:

https://github.com/Techtonica/curriculum/blob/master/growth-mindset/YCLA_LessonPlan_v10.pdf

[2018-10-25 17:45] #33 closed

[2018-10-25 17:46] alodahl commented on #35
satisfied by VS Code outline here:
https://github.com/Techtonica/curriculum/blob/master/vs-code/vscode.md

[2018-10-25 17:46] #35 closed

[2018-10-25 17:51] alodahl commented on #38
satisfied by html & css outlines and accompanying projects

[2018-10-25 17:51] #38 closed

[2018-10-25 17:54] alodahl commented on #91
satisfied here:
https://github.com/Techtonica/curriculum/blob/master/refactoring/refactoring.md

[2018-10-25 17:54] #91 closed

[2018-10-26 00:27] alodahl opened #474 "Add requirements for incorporating SEO into a simple portfolio site"
The apprentices will have only built one project before this using HTML, CSS, and Bootstrap.  This is their assessment project, so please outline very specific requirements for some essential SEO without directly explaining how - providing a resource link is ok.

- [x] Save project outline [in this file](https://github.com/Techtonica/curriculum/blob/master/projects/portfolio/portfolio-webpage-2.md

[2018-10-26 00:48] alodahl opened #476 "Include specific SEO examples in existing outline and slideshow"
We have a completed slideshow and outline, but need more specific examples.  The apprentices will use this new info for their very first HTML/CSS project later that day.

- [x] Add some essential SEO examples to [this outline](https://github.com/Techtonica/curriculum/blob/master/seo/seo.md) with step-by-step how-tos
- [x] Add the same SEO examples to [this slideshow](https://docs.google.com/presen

[2018-10-26 02:11] philihp commented on #463
This looks like the slideshow is already in line with the lesson outline

[2018-10-26 03:47] alodahl opened #478 "Create a slideshow on how to use media queries"
- [x] Save your slideshow [in this file](https://docs.google.com/presentation/d/1_BG4oR-ptpds_OEGF4qnejGatI_iTg0DddVWI_kT7Ag/edit?usp=sharing). (Template copied from a css slideshow - please save media queries lesson over it.  Use lots of visuals, please!)
- [x] We will also need an outline of the same lesson in [this markdown file](https://github.com/Techtonica/curriculum/blob/master/css/media-qu

[2018-10-26 14:58] #407 closed

[2018-10-26 23:45] alodahl commented on #152
Added video screenshots of terminal commands in to the slideshow

[2018-10-26 23:45] #152 closed

[2018-10-28 23:48] #425 closed

[2018-10-28 23:49] alodahl commented on #425
video: https://youtu.be/vDOVEDl2z84

[2018-11-01 19:53] #478 closed

[2018-11-02 02:00] alodahl commented on #465
Issue picked up by Ying Li

[2018-11-02 02:15] jdq22 commented on #454
I reviewed the slide deck, and I think it's fantastic! I also added links to articles about each data model on the "Types of data models" slide.

What I'd do next is:
- [ ] Add slides on why someone would want to use each type of data model.

[2018-11-02 02:40] alodahl opened #483 "Add use case for each data model type"
- you can find the lesson slides [in this file](https://docs.google.com/presentation/d/19XTnwuzk11SaE0Kgn0R0t_nvQ_1L0j_Tk-AdwfcsiTg/edit?usp=sharing).

- [ ] Make sure each data type in the slideshow includes a common use case.  If there are 'legacy' data types that are no longer useful, please group them and point this out in the slide show.
- [ ] Update [this lesson plan outline](https://github.

[2018-11-02 21:04] #465 closed

[2018-11-03 17:45] #438 closed

[2018-11-06 02:58] alodahl commented on #104
no need to overwhelm them - tools they need for job placement can be addressed during "prep week"

[2018-11-06 02:58] #104 closed

[2018-11-06 03:01] alodahl commented on #442
duplicate of issue #155

[2018-11-06 03:01] #442 closed

[2018-11-11 03:37] alodahl opened #485 "Create an overview of data structures slideshow to go with existing outline."
Create a slideshow with a quick overview of common data structures mentioned in existing outline to target visual learners.

- Save your slideshow [to this file](https://docs.google.com/presentation/d/1Vxx4hTzi8JFO8TFWS4dU4q2tyIEq7iBex59m6-k68XA/edit?usp=sharing). Ask for edit permissions early so we can grant them before you get started. The slideshow should help apprentices understand the techni

[2018-11-13 03:24] #483 closed

[2018-11-15 02:54] #454 closed

[2018-11-21 21:32] alodahl commented on #485
completed slideshow: https://docs.google.com/presentation/d/1Vxx4hTzi8JFO8TFWS4dU4q2tyIEq7iBex59m6-k68XA/edit?usp=sharing

[2018-11-21 21:32] #485 closed

[2018-11-22 00:33] #476 closed

[2018-11-25 01:55] #474 closed

[2018-11-30 20:31] alodahl commented on #160
Lots of editing to slideshow and outline by me and George Brassey

[2018-11-30 20:31] #160 closed

[2018-12-01 00:57] alodahl commented on #395
found linkedin slideshow

[2018-12-01 00:59] alodahl commented on #463
found linkedin slideshow

[2018-12-01 00:59] #463 closed

[2018-12-04 02:01] #419 closed

[2018-12-04 02:02] #418 closed

[2018-12-04 02:03] #412 closed

[2018-12-04 02:09] #394 closed

[2018-12-04 19:49] #397 closed

[2018-12-04 19:50] alodahl opened #488 "Create slideshow and video based on completed Functional Programming outline"
- Check out this lesson outline on Functional Programming: https://github.com/Techtonica/curriculum/blob/master/functional-programming/FP.md

 - [x] Create Functional Programming slideshow in [this file](https://docs.google.com/presentation/d/1n55Xbh7cHNmXuyIag5FL3RfzNjsJ3U0IIFEPGLrYahU/edit?usp=sharing) based on the completed lesson outline above. Request permissions or ask Alina for the edit lin

[2018-12-04 21:27] #401 closed, assigned to claremarie, mmedina3

[2018-12-04 21:35] alodahl opened #490 "Create a video to accompany completed Auth0 lesson"
[This lesson outline](https://github.com/Techtonica/curriculum/blob/master/oauth/o-auth.md) and [this slideshow](https://docs.google.com/presentation/d/18f-1EbjxLXyxuRoXNekpJ_o-pI1uiBzJxFw9ZoaNuVM/edit?usp=sharing) explain how to set up gmail authentication with Auth0 in a project. We just need a current video made or found that explains the process for audio & visual learners.

- [ ] Create or fi

[2018-12-04 21:36] alodahl opened #491 "Create a video to accompany completed Auth0 lesson."
[This lesson outline](https://github.com/Techtonica/curriculum/blob/master/oauth/o-auth.md) and [this slideshow](https://docs.google.com/presentation/d/18f-1EbjxLXyxuRoXNekpJ_o-pI1uiBzJxFw9ZoaNuVM/edit?usp=sharing) explain how to set up gmail authentication with Auth0 in a project. We just need a current video made or found that explains the process for audio & visual learners.

- [x] Create or fi

[2018-12-04 21:39] #490 closed

[2018-12-06 01:38] alodahl commented on #31
can be found at https://github.com/Techtonica/curriculum/blob/master/welcome-tips-rules/tech-industry-tips.md

[2018-12-06 01:40] #31 closed

[2018-12-06 02:36] alodahl commented on #393
completed at https://github.com/Techtonica/curriculum/blob/master/interviewing/negotiating.md

[2018-12-06 02:36] #393 closed

[2018-12-06 02:57] alodahl commented on #441
found a slideshow: https://www.slideshare.net/ucfaramos/the5-secretsofnetworking

[2018-12-06 02:57] #441 closed

[2018-12-07 02:29] alodahl commented on #92
picked up by Josh Guffey

[2018-12-07 02:31] alodahl commented on #488
picked up by Josh Guffey

[2018-12-07 02:32] jguffey commented on #488
👋

[2018-12-07 04:36] tonyd256 commented on #92
Added a bunch of informational slides. I think it should be pretty good to go.

[2018-12-07 05:47] alodahl commented on #488
🏅 @jguffey

[2018-12-07 05:47] #488 closed

[2018-12-07 22:17] alodahl commented on #52
covered in https://github.com/Techtonica/curriculum/edit/master/requests-and-responses/intro-to-dns-ip.md

[2018-12-07 22:17] #52 closed

[2018-12-07 23:51] alodahl commented on #57
covered in https://github.com/Techtonica/curriculum/edit/master/requests-and-responses/requests-and-responses.md

[2018-12-07 23:51] #57 closed

[2018-12-07 23:53] #409 closed

[2018-12-09 20:02] #395 closed

[2018-12-11 19:33] julie-norris commented on #413
completed as a draft.

[2018-12-11 20:02] alodahl commented on #413
Fantastic, @julie-norris !  Where is it?  I'm not seeing it at https://github.com/Techtonica/curriculum/blob/master/runtime-complexity/memoization.md

[2018-12-11 20:57] julie-norris commented on #413
Sorry -

Can you see it here..
https://github.com/julie-norris/curriculum/commit/9651c4ba4403490893fda945f52ab48b4a6c704f

GitHub challenges me :-/

On Tue, Dec 11, 2018 at 12:02 PM Alina L. <notifications@github.com> wrote:

[2018-12-14 00:12] alodahl commented on #413
Hi Julie,

This looks great!  Just be sure to complete the Specific Things to teach
section, and you're ready to make a pull request to the
Techtonica/curriculum master branch!  Let me know if you need anything else.

Alina

On Tue, Dec 11, 2018 at 12:57 PM Julie Norris <notifications@github.com>
wrote:

[2018-12-14 18:56] #97 closed

[2018-12-15 23:42] alodahl commented on #413
Hi Julie, I am organizing the WWC Holiday Party with another director, and will be helping her set up before 6, but the Techtonica volunteer event is still happening!

[2018-12-15 23:51] #453 closed

[2018-12-15 23:53] alodahl commented on #295
deployment 1 and 2 finished by @rcoh 👍

[2018-12-15 23:53] #295 closed

[2018-12-16 00:37] alodahl commented on #155
Picked up by Georgina

[2018-12-16 02:17] alodahl commented on #383
They will be studying sql and mongo.

[2018-12-16 02:17] #383 closed

[2018-12-18 11:12] #92 closed

[2018-12-18 11:25] alodahl opened #498 "Create or find a video about Resume Writing, finish last few sections of topic outline."
- [x] Proofread and finish remaining sections of [the topic outline](https://github.com/Techtonica/curriculum/blob/master/resume-writing/resume-writing.md)

- [x] Create a slideshow [in this file](https://drive.google.com/open?id=1MiFfl2G_lKHAo6TIiH9YtTPeahkRFD43ixRPolchy7Q), or find a good one online.

- [ ] Create or find a video that goes over your key points about resume writing.

- [ ] Add li

[2018-12-18 22:20] alodahl opened #499 "Create slideshow that follows finished Jasmine testing lesson"
The "testing" lesson has examples and an overview of how to test applications, but no specifics about including it in a project.

- [x] Write a chai/mocha topic outline here: https://github.com/Techtonica/curriculum/blob/master/testing-and-tdd/jasmine-testing.md
- [x] Create a chai/mocha slideshow here: https://docs.google.com/presentation/d/1V9WEprK9j61V0S1lYtcJOXNTDMpziVMyUKHuMhpP1W0/edit?usp=sh

[2018-12-18 22:30] alodahl opened #500 "How to add node backend unit tests: finish slideshow"
Prerequisites: #961 Done

- [x] ~Finish the backend testing topic outline here:~
https://github.com/Techtonica/curriculum/blob/master/testing-and-tdd/integration-testing.md
- [ ] Test steps in the the above outline to proofread for bugs
- [ ] Finish the backend testing slideshow here: https://docs.google.com/presentation/d/1no4BY2e74QoHJlkO7LIOV-qlcqQ2viQbyJlEDyptmeY/edit?usp=sharing.  We need som

[2018-12-18 22:32] alodahl opened #501 "Create a topic on adding enzyme tests to a react project"
The ["testing" lesson](https://github.com/aTechtonica/curriculum/blob/master/testing-and-tdd/testing-and-tdd.md) has an overview of how to test applications, but no specifics about including enzyme tests in a node project.

- [x] Write a enzyme test topic outline here: https://github.com/Techtonica/curriculum/blob/master/testing-and-tdd/enzyme-testing.md
- [x] Create an enzyme test slideshow here:

[2018-12-20 02:47] falun commented on #94
Can we get a read-only copy of the slides? It seems to have gotten dropped from the above comment

[2018-12-21 01:15] alodahl commented on #94
Thanks for noticing, @falun.  I included the link 👍🏼

[2018-12-21 22:16] #413 closed

[2018-12-21 23:13] alodahl commented on #180
picked up by julie norris

[2018-12-28 01:09] alodahl commented on #435
https://github.com/Techtonica/curriculum/blob/master/object-oriented-programming/restaurant%20recommender/RestaurantRecommender.md

[2018-12-28 01:09] #435 closed

[2018-12-29 22:35] alodahl commented on #499
picked up by @Trewaters

[2018-12-29 23:08] alodahl opened #509 "Create a slideshow to accompany completed "Trees" topic outline."
We still need a slideshow for visual learners based on [this 'Trees' Data Structure Topic Outline](https://github.com/Techtonica/curriculum/blob/master/data-structures/trees.md).  The slideshow can include the same videos linked in the outline, plus some things to remember, additional comparisons, or diagrams wherever you think it would help a beginner. Feel free to make a PR if you'd like to make

[2019-01-09 02:40] judytuna opened #512 "Schedule "informational interview reportback roundtable" in February and let apprentices know"
From [roles-in-tech](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/roles-in-tech.md):

Let's get this in the roadmap!

[2019-01-09 18:41] alodahl opened #513 "Find or make a video for Advanced Command Line topics"
The [Advanced Command Line topic outline](https://github.com/Techtonica/curriculum/blob/master/command-line/command-line-advanced.md) is not quite finished.  Please help us complete:

- [x] Outline Section: Guided Practice
- [x] Outline Section: Challenge
- [x] Outline Section: Check for Understanding
- [x] Proofread topic outline
- [ ] Find or make video, add link to "materials" section in outlin

[2019-01-10 19:45] #491 closed

[2019-01-11 02:52] judytuna opened #515 "Clarify when code blocks are commands vs. file contents in the .profile lesson"
https://github.com/Techtonica/curriculum/blob/master/command-line/dot-profile.md

Apprentices were attempting to run what was meant to be put into a file on the command line

[2019-01-11 15:49] alodahl commented on #515
Hi Judy, is this urgent, or just a fix for the future?

[2019-01-11 20:29] alodahl commented on #515
If it's urgent, you can put it in the "open-source curriculum to-do" project and I will try to address it asap with volunteers; otherwise just making an issue for it to get done someday is fine.  If it's super urgent, like "today", then let me know in a comment and I'll get on it =)

[2019-01-12 19:34] jonah-williams commented on #288
Is there an example of a motivation section you're currently happy with we can use as a guide for how much content to include?

[2019-01-12 20:37] jonah-williams commented on #84
Some options:

Introduce tools for measuring site performance like Google's PageSpeed Insights (https://developers.google.com/speed/pagespeed/insights/?url=techtonica.org) and act on some of the recommended improvements.

Introduce performance timing apis. They're available in both browsers and in node (https://nodejs.org/api/perf_hooks.html) and could be a good tool for measuring performance with

[2019-01-14 18:52] isabelleyiu opened #518 "Recipe-page: Initialize recipe-page folder instead of techtonica-projects folder as git repo"
As @judytuna  and I discussed earlier, under the Setup Instructions for the recipe-page project, we were asked to initialize "techtonica-projects" folder as a single git repo. Instead, we should create a git repo for each of the project folder that we are going to create under "techtonica-projects", such as the "recipe-page".

[2019-01-14 18:58] alodahl commented on #288
Hi Jonah, I'll send one over if I find it, but the idea is just to add a sentence or two about a tech company that uses what they are learning, how they use it, and a visual example if it seems relevant.

[2019-01-14 20:39] judytuna commented on #518
Lessons that build on this also use the `techtonica-projects` folder, so we
should rename it in all the lessons to something else such as `git-lesson`
maybe! This is not urgent, and we shouldn't change it today because several
apprentices are already partway through the git lessons; this is a note to
fix it before the next cohort // note-to-self to explain to current cohort
that making a projectS

[2019-01-14 21:09] alodahl commented on #518
I agree, there's no need to initialize "techtonica-projects"... I think the intention was to initialize recipe-page. I've addressed Isabelle's issue, and I will make sure other files are consistent next.

[2019-01-14 21:31] alodahl commented on #518
I changed the recipe page parts 1 and 2 so that recipe-page is the git repo, not techtonica-projects.

[2019-01-14 21:31] #518 closed

[2019-01-14 21:48] alodahl commented on #512
![image](https://user-images.githubusercontent.com/29131689/51143276-01762800-1803-11e9-9b43-1f898bbc53bc.png)

[2019-01-14 21:48] #512 closed

[2019-01-15 01:03] alodahl opened #519 "Write "Developer Advocate/ Evangelist" topic outline"
The intention is to present Developer Advocate/ Evangelist roles, and steps to take if one is interested in a career in That field.

- [x] Create a topic outline [here](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/developer-advocate.md).

- [ ] make a slideshow version of the topic. You can make a copy of this old Dev Evangelist slideshow and customize: https://docs.google.co

[2019-01-15 03:42] ch-alicehyun commented on #181
Looks like the links above are linked to a duplicate that has been removed.

I believe this is the link: https://github.com/Techtonica/curriculum/blob/master/socioeconomic-differences/socioeconomic-differences.md

[2019-01-15 18:56] judytuna opened #534 "Additions to Command Line lesson"
Here is information I found myself giving to apprentices / repeating while learning command line.  Please add the following to https://github.com/Techtonica/curriculum/blob/master/command-line/command-line-interface.md:

- use tab for autocomplete. hit tab twice to see the list of autocomplete possibilities. if there are multiple matches, it'll autocomplete the string as far as it can before you h

[2019-01-15 19:30] alodahl commented on #214
found a security video

[2019-01-15 19:30] #214 closed

[2019-01-15 19:34] alodahl opened #535 "Finish up "Intro to Security" (1 hour of work or less)"
Here is a very short task, but the catch is it needs to be done before March 6!

Someone with security knowledge needs to finish up [this topic outline](https://github.com/Techtonica/curriculum/blob/master/security/web-security.md). The intention is to give apprentices an intro and ways to implement some basic security in their JS/NodeJS projects. Thank you!

- [x] Please define/explain CSRF & XSS

[2019-01-15 22:16] alodahl opened #536 "Create or find a Queues slideshow"
- Base your slideshow on this topic outline: https://github.com/Techtonica/curriculum/blob/master/data-structures/queues.md

- [x] Make or find a slideshow about queues.  If you're making one, save it in this file:
https://docs.google.com/presentation/d/1q_sa93_LGQTZhNHyBnQHJmaO_2wgVD_7Mz7-gAjFZ8U/edit?usp=sharing

For FAQs on contributing, see https://github.com/Techtonica/curriculum

[2019-01-15 22:17] alodahl opened #537 "Create or find a Dequeue slideshow"
- Base your slideshow on this topic outline: https://github.com/Techtonica/curriculum/blob/master/data-structures/deque.md

- [x] Make or find a slideshow about dequeues.  If you're making one, save it in this file:
https://docs.google.com/presentation/d/10zp71xtt0j0a7CaSFXru6abTFKIPiBxwhlbrlKfyH9A/edit?usp=sharing

For FAQs on contributing, see https://github.com/Techtonica/curriculum

[2019-01-15 22:51] alodahl commented on #98
Picked up by Jyotsna Jayaraman

[2019-01-15 23:32] alodahl commented on #288
@jonah-williams
![image](https://user-images.githubusercontent.com/29131689/51216881-c0e9dd80-18da-11e9-89fe-6c6c01692e37.png)

[2019-01-16 00:47] alodahl opened #538 "Finish 'Hash Tables' slides."
Base the slideshow on [this topic outline](https://github.com/Techtonica/curriculum/blob/master/data-structures/hash-tables.md). We're also including [this video](https://www.youtube.com/watch?v=shs0KM3wKv8).

- [x] Proofread and Finish [this partially complete slideshow](https://docs.google.com/presentation/d/1V9liCnncXJDXZ0CK_MbXfFrWz6cwGucTYdIkHdkJ9_8/edit?usp=sharing) Introducing Hash Tables.

[2019-01-16 00:49] judytuna opened #539 "Change mentions of Atom to VS Code throughout curriculum."
Throughout the curriculum, we mention Atom. We're using VS Code now (https://github.com/Techtonica/curriculum/issues/426).

To fix:
- [x] https://github.com/Techtonica/curriculum/blob/master/projects/recipe-page/phase-1-html-prompt.md
- [ ] bootstrap
- [ ] .gitignore
- [ ] jquery
- [ ] final project
- [ ] sass

[2019-01-16 04:57] judytuna opened #542 "[VS Code] Editor setup: tabs vs. spaces"
Please create a sub-topic within https://github.com/Techtonica/curriculum/blob/master/vs-code/vscode.md about the following:

In the lesson covering VS Code(https://github.com/Techtonica/curriculum/blob/master/vs-code/vscode.md), I'd like to cover the age-old programmer debate, tabs vs. spaces. I'd like to let apprentices know that this is a heated and hilarious topic (for example, it's in a scene

[2019-01-16 05:03] #539 closed

[2019-01-16 05:03] judytuna commented on #539
thank you @alodahl ! https://github.com/Techtonica/curriculum/commit/b9b12c334c7bad2268d3e99e228196ef542007c3

[2019-01-16 06:11] bobbylcraig commented on #538
👋 Interested in helping! Two questions:
1. Was the second "mostly complete slideshow" finished or is it just missing a link?
2. Should we edit the slideshow directly or create a duplicate and then submit a link to the duplicate?

[2019-01-16 20:33] alodahl commented on #538
Hi Bobby, I forgot to link the second one!  Neither of them are done.  You are welcome to directly edit; let me know if you don't have access. Thanks for offering to help 😁

[2019-01-17 03:48] judytuna opened #544 "judy's grab bag (split and sort later)"
I find myself saying things to apprentices over and over again. I'm trying to write them down and maybe later I'll find a place for them to go in the curriculum.

- [ ] IC vs manager track. IC in this case means individual contributor (not independent contractor). explain engineering ladder for career progression vs manager ladder. link to sarah mei's tweet about "have someone get really good at s

[2019-01-17 04:38] judytuna commented on #183
from volunteer yv:

WeAllJS (Really friendly community for technical questions. Pretty active group)
https://wealljs.org/

Girl Develop It SF (I couldn't find the Oakland slack channel. Really friendly community)
https://gdisf-slack.herokuapp.com/
https://www.meetup.com/Girl-Develop-It-San-Francisco/
https://www.meetup.com/Girl-Develop-It-oakland/

Other Groups
Group that gets together to help fol

[2019-01-17 04:41] judytuna commented on #183
Systers (though it's going through evolving pains right now)

Google's Women Techmakers for conference discounts and community

Codechix (rupa)

Women 2.0 (angie)

Devchix

[2019-01-17 07:10] bobbylcraig commented on #538
👋 Hello again! I read through and updated the presentations. There might be a bit of information overlap, but I figured that's not horrible for review. Second presentation looked mostly complete so minor additions and proofreading 😄

I double checked and the "Objectives" and "Specific things to teach" from the topic outline should all be covered by those presentations. Let me know if there are any

[2019-01-17 18:42] alodahl commented on #538
Thank you so much @bobbylcraig ! This is exactly what we needed.🏆

Would you be willing to look at our Queue and Deque issues in the near future?

[2019-01-17 18:42] #538 closed

[2019-01-17 18:59] judytuna opened #545 "set up git"
We need a git lesson between the basics of git ( https://github.com/Techtonica/curriculum/blob/master/git-version-control/git-version-control.md ) and GitHub for Collaboration ( https://github.com/Techtonica/curriculum/blob/master/github-collaboration/github-collaboration.md ) that covers:

GIT ONLY

- understanding how to peek into your git project root's hidden `.git` directory
- understand the

[2019-01-17 19:39] alodahl commented on #545
checklist now in https://github.com/Techtonica/curriculum/blob/master/git-version-control/git-version-control-part2.md and assigned for the end of week 2.

[2019-01-17 19:39] #545 closed

[2019-01-17 22:44] alodahl commented on #155
finished!

[2019-01-17 22:44] #155 closed

[2019-01-18 22:07] #498 closed

[2019-01-18 22:44] mhess commented on #84
I don't have a whole lot to add what Jonah has already put up.  Caching seems like it merits the most discussion, as it's a complex topic that's relevant in all computing, and probably the optimization technique that I've used most throughout my career.  Here are the only other things that come to mind:

- Code splitting and server-side rendering for improved initial load time and also SEO in the

[2019-01-20 23:03] judytuna commented on #544
explain CamelCase, kebab-case, and snake_case

[2019-01-22 18:19] #509 closed

[2019-01-22 19:01] alodahl commented on #499
Picked up by Josh Guffey, due Jan 31

[2019-01-22 23:54] #499 closed

[2019-01-22 23:54] alodahl commented on #499
found lost slideshow

[2019-01-23 02:57] judytuna commented on #544
explain a11y and i18n

[2019-01-23 04:47] bobbylcraig commented on #537
👋 Hello again! Looking into this one now.

[2019-01-23 06:40] bobbylcraig commented on #537
@alodahl I think I've got a good basis in the current form. I can add more implementation details (although I feel a video/code might be more helpful) or add more about the A-Steal algorithm (although that might be a bit of overkill 🤷‍♂️). Otherwise, it should be ready for proofreading.

FWIW, I notice that priority queues aren't in the data structures list and I'd imagine they'd be much more valu

[2019-01-23 17:35] judytuna commented on #544
quantified self (maybe first week during ergonomics)

[2019-01-23 19:44] alodahl commented on #537
@bobbylcraig This looks great!! If you have time and the interest to add a video and the A-Steal algorithm, that would be fantastic. We like gifs!

Queues are the topic apprentices are learning right before, but are you saying priority queues are more specific?  Someone is working on the queues slides, but would you like to take a look after she's done?

[2019-01-23 22:42] bobbylcraig commented on #537
Yeah, I think a PQ and/or MPQ addendum would be kind of fun :)

Also, I opened a PR (https://github.com/Techtonica/curriculum/pull/552) for the A-Steal Algorithm info. Searched and couldn't find a great video––scheduling algorithms aren't always extremely intuitive. I included an academic paper that could be additional reading if someone felt so inclined.

With that, I think this issue should be g

[2019-01-24 02:49] alodahl commented on #396
Picked up by Jennifer Dixon

[2019-01-24 03:31] alodahl commented on #537
🎆 Thank you @bobbylcraig !!

[2019-01-24 03:31] #537 closed

[2019-01-24 05:00] bobbylcraig commented on #535
Hey @alodahl 👋 Just started looking through these slides and I've got a few suggestions (mostly in providing some further explanations and breaking up massive slides into more approachable bits).

I can also work on the second and third checks––this'll just end up being a really long lesson/deck. Let me know what your thoughts are :)

[2019-01-24 18:52] judytuna commented on #501
@alodahl and @amychan331, i wanted to let yoy know that @flyrightsister has donated access to her video on testing in react with Jest and Enzyme!

public video link to include in curriculum: https://www.udemy.com/react-testing-with-jest-and-enzyme/

private link will be shared with apprentices directly.

thank you!!!

[2019-01-24 23:12] amychan331 commented on #501
@judytuna Thanks! I will make sure to include this in. Since the video is about 6 hours, would this be in the material section, not the lesson? I always thought lesson section is activity done in class, and that would make 6 hours too long. @alodahl ?

[2019-01-25 00:56] alodahl commented on #535
@bobbylcraig thank you so much!🤩We definitely need that for the slides.  I've changed the permissions for you...let me know if  you need anything else.

[2019-01-25 05:59] judytuna commented on #501
thank you so much for pointing that out--@alodahl would you agree about putting it i. "supplemental materials" ?

[2019-01-25 17:35] alodahl commented on #501
@judytuna @amychan331 In the past, I've had them spend whatever may be left of the hour on the tutorial as the lesson/guided/independent practice, and as the ### Extensions, tell them to finish the rest of they have time. Does that sounds good?  Amy, would you mind adding that to the outline somehow?

[2019-01-29 17:43] alodahl commented on #183
Picked up for the morning by Tiffany Stuart

[2019-01-29 17:54] alodahl commented on #544
'do women in tech resources way earlier. also see associated issue #183'

Should we just move what we have to the next week or two so apprentices are aware, @judytuna ?

[2019-01-29 18:58] alodahl commented on #535
Outline picked up by Matt Torbin

[2019-01-29 19:36] #501 closed

[2019-01-29 19:52] bobbylcraig commented on #535
FWIW I looked through the outline last night and started to wade through the slideshow last night. The outline looks pretty good AFAIAC. It _is_ an enormous lesson.

Will continue to look through slideshow (hopefully finish) tonight.

[2019-01-29 23:23] alodahl commented on #535
@bobbylcraig Do you have a sense for how long it might take for a beginner to work through?

[2019-01-30 02:49] bobbylcraig commented on #535
It's hard to tell. It's 15 slides now and still needs broken into more and to have extra content added. Could end at 30 slides. A minute or two spent on a slide?...I guess it adds up?

What's the general range we shoot for in terms of lesson duration?

[2019-01-30 21:33] judytuna commented on #544
add to computer shortcuts: beginnings of opsec.
- have a password on your machine
- set screensaver (or monitor off) with locking if you're idle for a minute
- never walk away from your computer without having it locked / never leave your computer unattended and open with your work, browsers logged in with email and social media, pictures, private docs
- maybe mention full-disk encryption but don'

[2019-01-31 00:14] bobbylcraig commented on #535
The Mickey Mouse gif in the presentation gives me life.

[2019-01-31 01:32] judytuna commented on #544
fix repl.it 1/30 - Code Challenge # 24
- question wording is ambituous: `sequence` is required???
- my suggested fix: remove the word sequence and make it not required
- then make a second challenge that includes the sequence, so the problem is you need to see a 1, 2, 3 together in order

[2019-01-31 02:42] judytuna opened #558 "fix repl.it 1/30 - Code Challenge # 24"
fix repl.it 1/30 - Code Challenge # 24
- question wording is ambituous: `sequence` is required???
- my suggested fix: remove the word sequence and make it not required
- then make a second challenge that includes the sequence, so the problem is you need to see a 1, 2, 3 together in order

_Originally posted by @judytuna in https://github.com/Techtonica/curriculum/issues/544#issuecomment-459179557_

[2019-01-31 17:04] #183 closed

[2019-01-31 17:23] alodahl opened #560 "Ongoing: Add a suggestion to our Women in Tech Resource List!"
- Help our apprentices find support and resources by adding a suggestion to [this topic outline about Resources for Women in Tech](https://github.com/Techtonica/curriculum/blob/master/women-in-tech-resources/resources-list.md).

For FAQs on contributing, see https://github.com/Techtonica/curriculum#volunteering

[2019-01-31 20:07] #536 closed

[2019-01-31 20:15] alodahl opened #562 "Add "logging out" directions for auth0 lesson"
- [ ] [This lesson outline](https://github.com/Techtonica/curriculum/blob/master/oauth/o-auth.md) and [this slideshow](https://docs.google.com/presentation/d/18f-1EbjxLXyxuRoXNekpJ_o-pI1uiBzJxFw9ZoaNuVM/edit?usp=sharing) explain how to set up gmail authentication with Auth0 in a project. We just need to add a quick section to the outline and the slideshow about how to add a button/link that will r

[2019-01-31 21:04] alodahl opened #563 "Find or make a TDD/Testing Topic Video"
- [ ] Please make or find a TDD/Testing video that covers the main objectives of [this lesson outline](https://github.com/Techtonica/curriculum/blob/master/testing-and-tdd/testing-and-tdd.md) and [this slideshow](https://drive.google.com/open?id=1viDJyLHXVs-VioUEatvWHDZeOCCmPxZNPHzH0C393rg).

For examples and FAQ on contributing, see: https://github.com/Techtonica/curriculum#volunteering

[2019-01-31 23:17] alodahl commented on #427
picked up by julie norris

[2019-02-01 00:51] judytuna commented on #544
ideas for future code challenges

annie's team's funny notes about triple-double-letter-words
- first write a function that tells you if a string has two letters repeated, like `book`
- then write a function that tells you how many consecutive repetitions there are. `bookkeeper` has three. so does `tattooee`, the person getting the tattoo. `noonmoon` (which is not a word) has two sets of double le

[2019-02-01 02:43] alodahl commented on #513
Anule is working on the slideshow

[2019-02-01 04:17] alodahl commented on #563
found one https://youtu.be/4QFYTQy47yA

[2019-02-02 01:40] alodahl opened #568 "Add supplemental materials to Jasmine Test outline"
We found a list of great resources for [this Jasmine/Chai Testing outline](https://github.com/Techtonica/curriculum/blob/master/testing-and-tdd/jasmine-testing.md).  If the link isn't already in the outline somewhere, please add it to a "Supplemental Resources" section in the outline. Note: the "Materials" section is NOT the "Supplemental Resources" section.

Thanks for untangling these links:
Res

[2019-02-02 01:45] alodahl opened #569 "Fix a JS "if/else" exercise to be more clear."
we got feedback from basically everyone that the Moviegoers problem from the Javascript-3 lesson was confusing. link: https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-3.md

a lot of the confusion lay in understanding the function you're writing is supposed to be able to take any combination of three names out of the five (so that in itself is a 5-choose-3 problem; there a

[2019-02-02 02:13] alodahl opened #570 "separate supplemental resources from required materials. (multiple assignees encouraged)"
On one side, some apprentices think that they need to throughly look through every material, and are getting way behind because of it.  On the other, many well-meaning volunteers have thrown the kitchen sink into the "materials" section, when many or even all of them should be considered "supplemental resources" (supplemental meaning additional, extra, not required).

Look through topic outlines,

[2019-02-02 02:16] alodahl opened #571 "Change a line about a legacy bootstrap class"
From an apprentice: "I read col-xs-* have been dropped in Bootstrap 4; make a note in our curriculum about it or change the instructions for it." https://github.com/Techtonica/curriculum/blob/master/projects/recipe-page/phase-3-bootstrap-prompt.md

[2019-02-04 23:20] alodahl opened #572 "Review Intro to Git slideshow directions, edit & clarify where necessary."
We got some feedback that the git slideshow was confusing. Please review the Intro to Git slideshow directions; edit & clarify where necessary so it's straight-forward for absolute beginners. Ask Techtonica staff for an edit link.

https://docs.google.com/presentation/d/1znMOomkIkAkFKIz2e6t5tLpyzObKqOwfd90fsixSiec/edit?usp=sharing

[2019-02-04 23:26] alodahl opened #573 "Review bash profile topic"
We got some feedback that the directions for creating shortcuts and aliases in a bash profile was confusing.  Please work through the outline and slideshow pretending to be an apprentice, and clarify/edit as necessary so they are straight-forward for absolute beginners.  Ask Techtonica staff for an edit link if you'd like to change the slides.

- [ ] Clarify/edit outline and slideshow
- [ ] Add ex

[2019-02-05 22:32] judytuna opened #575 "(general) Handout to fill out for "Check for understanding" group questions"
(no action // placeholder issue)

Today in the jQuery lesson, there was a *Check For Understanding* section that said to write down answers to questions without notes in a group. I asked people to break into pods of four people each and gave each person a printout that had the questions on them so they could write down answers. Printout (just copy/pasted the questions and spaced them out, thinking

[2019-02-06 23:18] judytuna opened #576 "(consider for the future) One Project that we add to throughout the curriculum"
Getting feedback.

What if we started with 1 project and kept adding to it for the rest of the lifetime of the program?

Example: keep building on the Recipe page, which we've worked on for a while already.
1. Original recipe page project had us use bootstrap and create a responsive site.
2. We added a11y and SEO best practices.
3. For OOP, add js code to the project folder that isn't linked to an

[2019-02-07 01:38] judytuna commented on #544
pass by value vs pass by reference, with examples

[2019-02-07 20:11] alodahl opened #577 "Assign a 2-4 hour take-home challenge for Apprentices."
We want the apprentices to practice ‘Take-home challenges’ in April as part of their interviewing skills. We will give them 6 hours total to finish 2. Their stack is JS, jQuery, React, Jasmine, Chai, Enzyme, Jest, SQL, MongoDB. Existing online resources are an option - run them by Techtonica staff.

- [ ] Create a doc containing a code challenge like one they might be given in the interview proces

[2019-02-07 20:15] alodahl opened #578 "Remove or refactor w3schools reference links in curriculum"
We've gotten feedback that w3schools docs are pretty outdated, and should be replaced with an equivalent reference from MDN. Please replace these links in the Techtonica/curriculum repo.
Gotcha: Use your judgement about non-reference materials from w3schools, like tutorials.

[2019-02-07 21:22] alodahl opened #579 "Write automated tests for one or more of the daily code challenges. (multiple assignees encouraged)"
These daily code challenges still need automated tests so apprentices can check their own JS solutions.  They are listed in order of priority - the first is the most urgent.  the '#' is part of the title, not an issue link. Please send the working test code along with the code challenge title to Techtonica staff, or add them in the comments below.

I've posted everything we have about the problem

[2019-02-07 21:46] alodahl commented on #535
@bobbylcraig How's the slideshow coming?

[2019-02-08 00:18] alodahl opened #580 "Change assessment 8 to have a simple backend requirement for a future project."
This is the assessment we want to change: https://github.com/Techtonica/curriculum/blob/master/projects/minimal-api-project.md

The goal is to keep it just as simple, but be productive by having them build & test the first user API endpoint for a large project they will build later. There's no need to mention the impending project; it just needs to be a user endpoint they can use later. Please ref

[2019-02-08 03:54] alodahl commented on #580
Picked up by Jill Berardini

[2019-02-08 06:10] judytuna commented on #544
Check for Understanding worksheets in pods, people are loving it

[2019-02-09 01:32] bobbylcraig commented on #535
Will finish it up tonight! Sorry! Got stuck in the middle of a move

[2019-02-11 18:41] bobbylcraig commented on #535
Hey! It should be updated and ready for re-review? I added a little bit and trimmed some slides––tried to keep it as short as possible though.

[2019-02-11 19:25] alodahl commented on #535
@bobbylcraig The slideshow is so much better, thank you!! 🏆

[2019-02-12 21:59] #577 closed

[2019-02-12 23:39] dpenny commented on #579
multiplication:
[code]

[2019-02-12 23:41] #386 closed

[2019-02-13 00:28] alodahl opened #583 "Show apprentices how to authorize a user with Auth0 with existing example."
We need a short outline, slideshow, and video to show apprentices how to authorize a user with Auth0. We have a project, but your task is to guide apprentices through the key parts of the concepts and implementation.

They already learned how to add Auth0 for *authentication* [in this lesson](https://github.com/Techtonica/curriculum/blob/master/oauth/o-auth.md) and [this slideshow](https://docs.go

[2019-02-13 18:38] judytuna commented on #84
Do we need both files in https://github.com/Techtonica/curriculum/blob/master/optimization/ ?
1. https://github.com/Techtonica/curriculum/blob/master/optimization/optimization.md
2. This topic outline contains only the topic outline template: https://github.com/Techtonica/curriculum/blob/master/optimization/optimizing-your-react-node-project.md

I think it makes sense to have these as two separate

[2019-02-13 18:51] judytuna opened #584 "Consider additions to React topic outline: Redux, async/await"
React
* Redux: https://redux.js.org/introduction/getting-started

Other current js:
* ES6 new features: https://github.com/lukehoban/es6features
* async/await: https://javascript.info/async-await

Other js tools:
* I don't think we need to throw Flow at them in March, but we could make it an available option for their final projects. Just making a note here that a volunteer suggested it since it g

[2019-02-13 18:52] judytuna commented on #584
Oh shoot, just saw https://github.com/Techtonica/curriculum/issues/65 , especially https://github.com/Techtonica/curriculum/issues/65#issuecomment-426458992 -- sorry, thanks!

[2019-02-13 20:37] mhess commented on #84
I've been assigned to make 2 :)  Alina and I have been discussing what makes the most sense in terms of things they can actually do to their own project.  @alodahl should we move that discussion to this thread?

For **caching**, one obvious and achievable task seems like giving them a new requirement that the results of old searches need to appear immediately.  Making requests to the eventful API

[2019-02-14 05:25] dpenny commented on #579
Queue with Stacks:
[code]

[2019-02-14 16:03] alodahl commented on #584
No prob! I can  make sure that async and await are emphasized... I thought it was already in the promises lesson.

[2019-02-14 23:59] alodahl commented on #84
Hi @mhess, Your caching idea seems perfect, especially if you show them how to time the request.

I'm not sure what you mean by :"and is something they should have already done when they deploy their app".  Is minification automatic in create-react-app, or are you referring to something else?

I think that giving them a practice optimization problem would be awesome - it doesn't have to actually b

[2019-02-15 00:03] alodahl commented on #84
I don't know how I unassigned you or how to reassign you, sorry!

[2019-02-15 00:44] alodahl commented on #584
@judytuna  - async/await video and reference added to https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-9.md 👍🏼

[2019-02-15 00:51] alodahl commented on #584
@judy you think the es6 reference should be in the react outline?

[2019-02-15 16:45] NirmalKumarJoshi commented on #583
@alodahl I would like to take on this issue under GSSoC'19. Please guide me for the same.

[2019-02-15 16:50] NirmalKumarJoshi commented on #572
@alodahl I would like to work on this issue.

[2019-02-15 20:58] alodahl commented on #583
Thank you, @NirmalKumarJoshi !  First, have you had a chance to fill out this volunteer form?:
https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1

After that, please follow the follow the template to add directions for adding user authorization to a node/js or node/react project to [this topic outline file](https://github.com/Techtonica/curr

[2019-02-15 21:04] alodahl commented on #572
@NirmalKumarJoshi , that would be awesome!  Like I mentioned in the other issue, please fill out [this form](https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1) just once before you start picking up Techtonica issues.  I changed the slideshow, and you should have edit access now.  Let me know if you need anything, and feel free to slack me o

[2019-02-16 00:14] judytuna opened #585 "Change Data Structures & Algo Week from 7 days to 4 days"
The topic outline for the Data Structures and Algorithms Sprint calls for a seven-day schedule. We need to compress it into four days.

Topic outline: https://github.com/Techtonica/curriculum/blob/master/projects/data-structures-algorithms-sprint.md

Our roadmap for this cohort, 2019h1: https://bit.ly/19h1roadmap -- see week 11 starting 3/18/2019

Thoughts on how this week was meant to go, @Michel

[2019-02-16 05:13] judytuna commented on #584
Yeah, as supplemental material!

[2019-02-16 13:48] rudri182 commented on #560
@alodahl I would like to work on this issue under GSSOC'19

[2019-02-17 04:18] alodahl commented on #560
Thank you!  Submit it on March 1 and i will count your PR for GSSoC!

[2019-02-17 17:44] thetaniyagupta commented on #560
I would also like to contribute to this issue under GSSOC'19

[2019-02-17 18:54] Lakshita7 commented on #560
I would like to work on this issue under GGSOC'19

[2019-02-17 22:14] NirmalKumarJoshi commented on #580
@alodahl  Please assign me this issue.

[2019-02-17 22:27] NirmalKumarJoshi commented on #571
I'll work on this.

[2019-02-17 23:12] zspencer commented on #500
I took ~15m to read through and poke at the steps. I changed Step 2 slightly to spell out the names more explicitly, use keyword arguments instead of positional arguments (To make names of things more traceable) and add jsdoc-esque syntax for the mocking functions - https://repl.it/repls/WhirlwindTrimHandwritingrecognition.

I don't know how to run the specs tho with repl.it :(. I am unlikely to g

[2019-02-17 23:41] alodahl commented on #560
@thetaniyagupta @Lakshita7 👍. Go ahead and make a PR on March 1 😊

[2019-02-18 18:36] NirmalKumarJoshi commented on #500
Assign me this, I would like to fix it,

[2019-02-18 18:50] alodahl commented on #571
Please pick up just one issue at a time @nirmalkumarjoshi 😉

[2019-02-18 19:37] yati1998 commented on #585
hello, Can I solve this issue?

[2019-02-18 19:41] yati1998 commented on #558
Hello, I wpuld like to work on this. can I?

[2019-02-18 19:41] yati1998 commented on #519
Hello I would like to work in this, Can I?

[2019-02-19 07:40] ANURADHAJHA99 commented on #181
I would like to work on this issue.KIndly assign the issue to me.

[2019-02-19 18:44] alodahl commented on #181
No problem! I’ll set it aside for you @ANURADHAJHA99

[2019-02-19 20:08] alodahl commented on #580
@NirmalKumarJoshi thanks for offering, but like I said in another issue, please only pick up one gssoc issue at a time. Once you finish #583 , remind me and you can grab a new issue.

[2019-02-19 20:14] alodahl commented on #181
@ANURADHAJHA99, since we are a US Non-profit, please be sure to fill out this form before you start this project: https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1

[2019-02-19 20:18] alodahl commented on #558
@yati1998, that would be great!  Are you part of gssoc?

Since we are a US Non-profit, please be sure to fill out this form before you start this project: https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1

[2019-02-19 20:20] alodahl commented on #558
@yati1998, here is the problem and the existing code.  Pleased return it in a comment here when it is complete.

Given an array of ints, return True if the sequence of numbers 1, 2, 3 appears in the array somewhere.

array123([1, 1, 2, 3, 1]) → True
array123([1, 1, 2, 4, 1]) → False
array123([1, 1, 2, 1, 2, 3]) → True

[2019-02-19 20:50] alodahl commented on #500
@zspencer I would love that!  I will be around tomorrow afternoon.  Would you tell me which repl.it the above link is an update for? BackendTesting-I, II, or III?

[2019-02-19 21:21] #580 closed

[2019-02-19 21:22] alodahl commented on #560
@thetaniyagupta @Lakshita7, since we are a US Non-profit, please be sure to fill out this form before you start this project: https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1

[2019-02-19 21:38] #180 closed

[2019-02-20 00:22] alodahl commented on #584
added es6 link to https://github.com/Techtonica/curriculum/blob/master/react-js/react.md

[2019-02-20 00:22] #584 closed

[2019-02-20 10:37] judytuna commented on #544
gravatar API

[2019-02-20 13:32] ANURADHAJHA99 commented on #181
I have already filled the form.Thank you.

[2019-02-20 15:35] zspencer commented on #500
@alodahl Yay! Looking forward to it! The repl.it is from the second one, the one where tests are being added to the existing app.

[2019-02-20 16:36] mhess commented on #84
@alodahl no worries! :) Sorry I wasn't more clear.  So, minification is not automatic, but is kinda required since the webpack dev server that runs when they're doing development will not be available in the production environment when it gets deployed to Heroku.  Fortunately, the build process itself is trivial; however, there are at least a couple of different strategies for building/deploying.

[2019-02-20 17:23] judytuna opened #589 "[repl.it] After 10am today, remove extra parameter in today's code challenge"
There's an extra third parameter.

I'm waiting to 10am (after the apprentices are done with today's code challenge), so editing it while they have it open doesn't make repl.it crash and give us a bunch of heroku errors =)

(Note to self, here's the link: https://repl.it/teacher/assignments/1773836 . Only the Techtonica Teacher account on repl.it can see it.)

[2019-02-20 19:10] judytuna opened #590 "Is it easy for us to substitute PostgreSQL for MySQL in this dev.to tutorial?"
The [roadmap](http://bit.ly/19h1roadmap) for tomorrow, Thurs Feb 21, contains a line item `Practice building an API with ExpressJS/SQL` with the lesson as: https://dev.to/achowba/build-a-simple-app-using-node-js-and-mysql-19me

However, today we're having everyone install and play around with PostgreSQL, not MySQL. Rather than have everyone also install MySQL tomorrow, I'd like to have everyone us

[2019-02-20 19:26] judytuna opened #591 "PostgreSQL installation details and debugging"
Need to flesh out PostgreSQL installation instructions and help.

https://github.com/Techtonica/curriculum/blob/master/databases/relational-databases.md

The comments refer to creating a separate outline for installing postgresql. Please make your outline here:
https://github.com/Techtonica/curriculum/blob/master/databases/installing-postgresql.md

Please use all the issue comments as a guide. The

[2019-02-20 19:38] judytuna commented on #591
We are now trying Postgres.app https://postgresapp.com/downloads.html

It has optional command-line tools. This may be easier and faster. Currently evaluating.

[2019-02-20 19:42] falun commented on #590
Items that should be different:

1. when installing node modules replace `mysql` with `pg` (https://www.npmjs.com/package/pg)
2. Table creation should be mostly the same:
[code]
3. When importing the database library into your app: `const mysql = require('mysql')` becomes `const pg = require('pg')`
4. `mysql.createConnection` becomes .
[code]

I think pretty much everything else remains the same

[2019-02-20 19:48] falun commented on #590
Also worth noting that the tutorial doesn't cover installation of postgres or interacting with it via the command line. It pushes that into `XAMPP` or similar which includes a bundled database and phpmyadmin installation.

PostgreSQL should either be already done or tutorials to cover it should be added as well as using the CLI instead of the UI provided by phpmyadmin.

[2019-02-20 19:52] rbatta commented on #591
+1 to the postgresapp. You can even run different versions of it at the same time if ever you needed to.

[2019-02-20 21:10] alodahl commented on #84
@mhess That sounds great!  How long do you think it would take you to add a caching exercise and a build-script exercise to the outline?  The apprentices will get to the Optimizing your "React/Node Project" topic on March 13.  Also, if it feels like a lot, would you be willing to work with Jonah?

[2019-02-20 21:14] alodahl commented on #181
Thanks @ANURADHAJHA99 !  You can start working on it, and make your PR on or after March 1 to get your GSSoC19 points!

[2019-02-20 22:24] Rita-Okonkwo commented on #572
Hi @alodahl can I work on this issue as well?

[2019-02-20 22:30] alodahl commented on #572
@Rita-Okonkwo Thanks Rita, but someone is already working on this one (in-progress).  Choose an issue from the TO-DO column here: https://github.com/Techtonica/curriculum/projects/2

[2019-02-20 22:30] Rita-Okonkwo commented on #572
Alright thanks alot

[2019-02-20 22:40] alodahl commented on #585
@yati1998 Sure, that would be great!  Please change the Topic Outline linked above so that the directions for Day 1 - Day 7 actually fit into just Day 1, 2, 3,  & 4.  Here is the 4 day schedule:
![image](https://user-images.githubusercontent.com/29131689/53129552-b4c9ef00-351c-11e9-96f7-59d6856b274e.png)

Let me know if you have questions!

[2019-02-20 22:44] Rita-Okonkwo commented on #288
Hi @alodahl can I work on the Git and version control motivation?

[2019-02-20 22:49] alodahl commented on #585
@yati1998 are you working on this through GSSoC19?

[2019-02-20 22:51] alodahl commented on #288
@Rita-Okonkwo Yes!  I've set it aside for you.

[2019-02-20 22:52] Rita-Okonkwo commented on #288
Thank you! Can I submit a PR before March 1st or should I wait till then?

[2019-02-20 22:55] alodahl commented on #591
Recommended links:

Put under materials & in the install steps: https://www.postgresql.org/docs/current/tutorial-install.html

Put under Supplemental Resources:  https://gist.github.com/Kartones/dd3ff5ec5ea238d4c546 - list of Postgres commands.

[2019-02-20 22:58] alodahl commented on #288
@Rita-Okonkwo You should wait until March 1 to get GSSoc19 points.

[2019-02-20 22:59] Rita-Okonkwo commented on #288
Okay thanks Alina

[2019-02-20 23:09] alodahl commented on #591
please move on to this "Querying Relational Databases" course on Treehouse, but only do the first three sections. (Do more if you have time). Link: https://teamtreehouse.com/library/querying-relational-databases   <--if you have a San Francisco Public Library account, then you can get a free treehouse account; we all signed up for treehouse accounts before the apprenticeship began!

[2019-02-20 23:11] alodahl commented on #590
picked up by risa

[2019-02-20 23:13] alodahl commented on #591
Judy Tuan (she/her) [3:06 PM]
and for today, the most important video in the "Table Relationships" section is the "Many to Many Relationships" section.

- The "One to Many Relationships" video is good review for what we did on our worksheets yesterday with our microblog concept. "user authors a post" is a one-to-many relationship.
- The "Many to Many" video will help you understand the "user can s

[2019-02-20 23:28] alodahl commented on #591
hi all, I’ve been using this tutorial to familiarize myself with SQL commands https://www.hackerrank.com/domains/sql

[2019-02-20 23:34] judytuna commented on #575
We've continued to do this. View all worksheets so far in this folder: https://drive.google.com/drive/u/0/folders/1yakhcwTO0VKNnrDrD66RF7cZdLBnL6Lk

[2019-02-20 23:54] judytuna commented on #590
Consider: use an *entirely different* tutorial, such as Treehouse's "Using SQL and Node.js with Sequelize" https://teamtreehouse.com/library/using-sql-and-nodejs-with-sequelize

Why?
- teaches using an ORM
- has videos
- uses sqlite3, which everyone already has on their macs <--for next cohort, let's move this line item in the roadmap between "Relational Databases" and "Install Postgres"

Why not

[2019-02-21 00:11] zspencer commented on #500
Unfortunately I am ... bad at planning and didn’t realize I would need my laptop to run through this. I _did_ run through the first example in repl.it; and it looks good!

Updates -

• I went through backend-i and added comments - https://repl.it/repls/DearLavishPhysics
* I have migrated backend-ii to glitch. You can run the tests by running `npx mocha` From the glitch console. I have also updated

[2019-02-21 00:48] alodahl commented on #500
Hey @zspencer, I love this idea! But since the apprentices are going to read this tomorrow, we really just need to smooth out what's there.  After tomorrow, we can totally re-think the lesson if we want, or add a more basic exercise preceeding the replit examples.

Also, did you change the lesson to include you glitch link?

[2019-02-21 00:59] judytuna commented on #590
Yet another comment: strike either of those tutorials completely, and instead use the "simple TODO app" in the Integration Testing topic outline beginning here: https://github.com/Techtonica/curriculum/blob/master/testing-and-tdd/integration-testing.md#guided-practice

Why would we do this?
- create one new project instead of two new projects
- more time to go deeper into one project (instead of s

[2019-02-21 01:14] zspencer commented on #500
Sadly I cannot edit GitHub. My notes are more for “in the future maybe” but the repl it and glitch links are safe to drop in

Sent from my iPhone

[2019-02-21 02:21] alodahl commented on #500
@zspencer Sweet, thank you!

[2019-02-21 02:37] alodahl commented on #500
@zspencer how do you run the glitch app?

[2019-02-21 03:54] yati1998 commented on #585
@alodahl yes I am working through GSSoC19

[2019-02-21 17:10] zspencer commented on #500
Ahh I should add that to the README! You click the "Show" button with the sunglasses.

[2019-02-21 17:41] alodahl commented on #500
@zspencer Sure, look at the note I added next to the glitch link in the outline, and add more detail if you think it will help.

[2019-02-21 17:54] alodahl commented on #98
Shubham Kumar, who's started contributing from India, created a list of resources for Data Science that you can draw from: https://github.com/frontbench-open-source/Data-Science-Free

[2019-02-21 18:15] srishtiBajpai commented on #578
would like to work on this.

[2019-02-21 20:23] alodahl commented on #578
sounds good, @srishtiBajpai !  Are you part of GSSoc19?

[2019-02-21 20:25] Kundan28 commented on #578
Yes @alodahl , she is a part of GSSoC19.

[2019-02-22 06:56] ShraddhaAg commented on #569
Hi @alodahl! I would like to work on this issue.Please assign it to me :)

[2019-02-22 08:03] yati1998 commented on #585
@alodahl  would you mind assigning me this issue?

[2019-02-22 19:32] oubawaleh opened #593 "Add explanation for npm init command with and without the -y flag (read all comments for direction)"
To pre-populate the  package.JSON with some basic information.

[2019-02-22 19:38] saberprashant commented on #569
Hi @ShraddhaAg , I think that you might have already started working on this issue and that's really great. If you need any help or want to discuss it, then feel free to reach me over slack's DM or even here.

[2019-02-22 21:53] judytuna commented on #593
Context: `npm init` without the `-y` flag makes you enter a tiny command-line program that asks you for details for your package.json. We can skip those steps by using `-y`. (Users were getting confused and trying to type `npm install --save express` into the `npm init` prompt!)

Also add some info about what `npm init` is doing (which is just writing up a `package.json` for you)

[2019-02-22 22:52] alodahl commented on #593
Which topic outline do you think this would best fit into? @judytuna   @oubawaleh

[2019-02-22 22:57] alodahl commented on #569
@ShraddhaAg , after you accept the emailed invitation to collaborate, i can add you to the issue.

[2019-02-23 01:22] jyotsnaj06 commented on #96
@alodahl is there someone taking this on?

[2019-02-23 04:52] judytuna commented on #593
Perhaps as a note after the "use npm to create a package.json file" section of the node.js lab exercise part 2

https://github.com/Techtonica/curriculum/blob/master/node-js/node-lab-exercise-part-2.md#part-2---use-npm-to-create-a-packagejson-file

[2019-02-23 04:53] #589 closed

[2019-02-23 04:59] judytuna commented on #579
Consider: moving to another service with a community generating problems and test cases, such a hackerrank. https://www.hackerrank.com/interview/interview-preparation-kit seems promising. I've completed seven so far (you can see my progress under "submissions" at https://www.hackerrank.com/judytuna )

Cons to moving:
- everyone's already done so much work on this!
- and people have put thought int

[2019-02-23 05:08] #590 closed

[2019-02-23 05:09] judytuna commented on #591
May be a good place to practice SQL https://www.sqlteaching.com/

check this website to generate some mock data https://www.generatedata.com/.

[2019-02-23 05:09] judytuna commented on #591
my mentor sent this to me, could be helpful for today too..
http://www.postgresqltutorial.com/psql-commands/

[2019-02-23 07:08] yati1998 commented on #585
@alodahl do we need to make changes in the data-structure-algorithms.md ?

[2019-02-23 09:31] alodahl commented on #585
@yati1998 Please change this file: https://github.com/Techtonica/curriculum/blob/master/projects/data-structures-algorithms-sprint.md

[2019-02-23 09:58] alodahl commented on #96
@jyotsnaj06 No, would you like to work on it? 😊

[2019-02-23 12:22] imskr commented on #571
I would like to work on this!

[2019-02-23 17:39] alodahl commented on #571
@imskr great, just accept the emailed invite to collaborate, and you can assign yourself.

[2019-02-23 20:23] judytuna opened #594 "Augment OOP outline"
Make the following changes in this outline:
https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-7-oop.md

## Write down a list of terms.

People can find resources on their own.

## Generate "Check for Understanding" questions for worksheet.

For discussion in small groups

## Add to Supplemental Resources

Polymorphism

https://dev.to/jvanbruegge/what-the-heck-is-polymorphi

[2019-02-23 20:27] judytuna opened #595 "Change MySQL to PostgreSQL"
Throughout the curriculum, we use different databases.

This cohort, we're standardizing on using PostgreSQL.

We need to swap out the mysql connection node module with `pg` in the Eventonica project in these places:

- [ ] Techtonica curriculum: https://github.com/Techtonica/curriculum/blob/master/projects/eventonica-project.md  (most likely finished; just proofread please)
- [ ] Move the Starter

[2019-02-23 20:31] alodahl commented on #595
@judytuna do any commands need to be changed, or just references and links?

[2019-02-23 20:51] judytuna opened #596 "Create/link style guide and attach to the "New & Updated Lessons" instructions"
For example, https://twitter.com/trewaters/status/1099188644332490752

[2019-02-23 22:55] judytuna opened #597 "Augment Promises outline"
https://beta.observablehq.com/@mbostock/introduction-to-promises

In appropriate section in /JavaScript/javascript-9.md:  Introduce and insert link above

[2019-02-23 22:57] judytuna commented on #595
Both commands and instructions, and the use of the node module in @chulinguy's Eventful-API-test-page starter project

We have to do it by Monday when people begin Eventonica. I'm working on swapping out `connection` with `pg`.

[2019-02-23 22:58] judytuna commented on #595
I made this broader issue though because we should search through the curriculum and standardize. Several other topic outlines and project directions also use MySQL.

[2019-02-24 15:22] alodahl opened #598 "Format Techtonica Slideshows Part 1/3"
This single-contributor task is to ensure all Techtonica-owned slideshows have the same styles and formatting.  This a simple task, but may take a while! Some of these are already formatted, but your job is to double-check or make changes.
- uncheck all boxes before you start. Let Alina know if you can’t.
- Check the box next to the slideshow once it is ready.
- Message me (Alina) the numbers of a

[2019-02-24 15:22] alodahl opened #599 "Format Techtonica Slideshows Part 2/3"
This single-contributor task is to ensure all Techtonica-owned slideshows have the same styles and formatting. This a simple task, but may take a while! Some of these are already formatted, but your job is to double-check or make changes.

uncheck all boxes before you start. Let Alina know if you can’t.
Check the box next to the slideshow once it is ready.
Message me (Alina) the numbers of any sli

[2019-02-24 15:22] alodahl opened #600 "Format Techtonica Slideshows Part 3/3"
This single-contributor task is to ensure all Techtonica-owned slideshows have the same styles and formatting.  This a simple task, but may take a while! Some of these are already formatted, but your job is to double-check or make changes.
- Check the box next to the slideshow once it is ready.
- Message me (Alina) the numbers of any slideshows that are locked to editing, and I will unlock them fo

[2019-02-24 17:48] Lakshita7 commented on #585
Hello, can I also contribute to this issue?
I am working through GGSOC'19

[2019-02-24 18:25] srishtiBajpai commented on #534
hey @alodahl, i would like to do handle this issue

[2019-02-24 18:26] ronika-das commented on #560
would like to contribute to this issue. Do the resources/meetups etc have to be strictly for women/girls only? there are a couple of them open for all

[2019-02-24 18:54] saberprashant commented on #585
Hey @Lakshita7 , we can assign one issue to one person at a time, if the assigned person won't be able to complete the issue within the deadline, then we will assign the same issue to other participants who want to work on it.
And, we will start the evaluations from 1st March, so if the currently assigned participant won't be able to complete this, we will assign this issue to you. Till then, you

[2019-02-24 19:02] saberprashant commented on #534
Hey @srishtiBajpai , have you completed the issue #578 ? Because we can only assign you another issue if you'll complete that one.
And, the evaluation will start from 1st March, so, do merge or release a PR of your code on or after 1st March, so that we can count that in your favor.
Thanks! :)

[2019-02-24 19:12] srishtiBajpai commented on #534
hey @saberprashant I have completed the issue #578 and also I sent a PR for the same but I am afraid its too early for 1st march, will it still be counted?

[2019-02-24 19:35] saberprashant commented on #534
Hi @srishtiBajpai , well yes it is too early to send a PR :) , but I am very happy to see your motivation. Keep it up like that. And, we will try our best to figure out what we can do in this situation. I think @alodahl can help you with that.

[2019-02-25 00:03] Rita-Okonkwo commented on #573
Hi Alina, Please can I work on this?

[2019-02-25 08:13] saberprashant commented on #534
Hi @srishtiBajpai , we assigned you this issue because you are doing really great. But, please send a PR for this on 1st March, as we need to evaluate you according to the rules So, please send a PR accordingly.
Thanks :)

[2019-02-25 09:18] tyagipr commented on #571
I want to work on this issue @alodahl

[2019-02-25 13:57] Jayashree-panda commented on #288
Hello @alodahl can I work on improving the motivation section?

[2019-02-25 14:38] imskr commented on #571
@tyagipr It's already solved by me. Please look other issues.

[2019-02-25 15:00] tyagipr commented on #571
okay @imskr

[2019-02-25 16:24] alodahl commented on #560
@ronika-das , if you think it's a resource that would help women and non-binary people network, you can add it.

I emailed you an invitation to contribute; once you accept that, you can assign yourself to this issue.

[2019-02-25 16:37] alodahl commented on #288
@Jayashree-panda Sure, which one(s) would you like to start with?

[2019-02-26 01:03] alodahl commented on #519
@yati1998 would you like to take this one once you finish #585 ?

[2019-02-26 01:16] #423 closed

[2019-02-26 01:21] alodahl commented on #544
@judytuna , I know you're swamped, but if you want to break off some of your easy tasks, they're getting snatched up quickly by GirlScript(GSSoc19) folks!

[2019-02-26 02:07] judytuna commented on #544
awesome!
On Mon, Feb 25, 2019 at 17:21 Alina L. <notifications@github.com> wrote:

[2019-02-26 02:18] yati1998 commented on #519
@alodahl yes sure. I have already completed #585 would make PR on 1st March. And would also like to take this.

[2019-02-26 07:51] jyotsnaj06 commented on #96
Yes!

[2019-02-26 14:40] Jayashree-panda commented on #288
@alodahl Thank you! I would like to improve the motivation section of html.

[2019-02-26 15:17] bharati-s commented on #578
Has the issue been assigned to someone?

[2019-02-26 15:42] alodahl commented on #578
@bharati-s yes, someone has taken this one. You can find open issues in the to-do column here: https://github.com/Techtonica/curriculum/projects/2

[2019-02-27 05:07] Jayashree-panda commented on #599
@alodahl #32. The last 2 slides don't have the bar and Techtonica logo at bottom. Can I solve this issue for gssoc 2019?

[2019-02-27 05:19] Kundan28 commented on #599
Yes, you can solve that issue for GSSoC19. But recheck if there anything else missing in other slides too.

[2019-02-27 08:49] tyagipr commented on #570
I would like to work on this issue under GGSoC2019

[2019-02-27 09:05] tyagipr commented on #570
I would like to work on this issue under GSSoC 2019

[2019-02-27 16:58] alodahl commented on #599
@Jayashree-panda please be aware that for this issue, you must take responsibility for the entire list of slide links to get the "HARD" level points for your PR.

[2019-02-27 17:05] alodahl commented on #570
Thank you, @tyagipr, which file will you work on?

[2019-02-27 17:20] tyagipr commented on #570
https://github.com/Techtonica/curriculum/blob/master/professionalism/professionalism.md
I started with this one @alodahl

[2019-02-28 04:22] Jayashree-panda commented on #599
@alodahl yes sure. I will check all the slides and edit it.

[2019-02-28 09:54] yati1998 commented on #519
@alodahl do I in need to makes changes  in developer-advocate.md or in the Slides?
And what changes exactly I need to do?

[2019-02-28 10:11] yati1998 commented on #598
@alodahl I would also like to work on this, It would be great if you assign me this too?

[2019-02-28 10:18] yati1998 commented on #593
@oubawaleh  I would like to work on this? Can I?

[2019-02-28 16:24] alodahl commented on #519
@yati1998  Both the md file and the slides need to be created from scratch! I have just provided templates.

[2019-02-28 16:33] alodahl commented on #598
@yati1998 Thanks for offering, but you can only work on one issue at a time.

[2019-02-28 16:34] alodahl commented on #593
@yati1998 Thanks for offering, but you can only work on one issue at a time.

[2019-02-28 16:38] daaimah123 opened #607 "Eventonica API project: Manually Persist Data in-memory"
## Task:
https://github.com/judytuna/eventonica-api/tree/judy/steps were being worked on. The task is to finish them in your own branch and make them as clear as possible for the [Eventonica project](https://github.com/Techtonica/curriculum/blob/master/projects/eventonica-project.md).

"i changed the name to indicate that when you're saving the data in memory, it's not a database =) and we weren't

[2019-02-28 16:42] alodahl commented on #607
@judytuna is this part of the separate REST API topic idea?

[2019-02-28 16:57] daaimah123 commented on #607
@alodahl  I am reading the comment she left me and i think this was supposed to be a PR, let me know if I should close this and move it to PR

[2019-02-28 17:26] daaimah123 commented on #607
Nothing to PR this to, keeping here for now 😃

[2019-02-28 18:04] ANURADHAJHA99 commented on #181
@alodahl Can you please provide me an example which I can follow?

[2019-02-28 18:12] alodahl commented on #181
@ANURADHAJHA99 Here is a good example of an outline that leads research and discussions on a topic: https://github.com/Techtonica/curriculum/blob/master/ethics/ethics.md

The outline template I provided in the issue description should help you, too.

[2019-02-28 18:41] alodahl commented on #84
@mhess ,  how is this going?  Do you think the exercises could be ready for apprentices to follow by March 12?

[2019-02-28 19:27] ANURADHAJHA99 commented on #181
@alodahl  am I suppose to fill the space for examples in the given outline?

[2019-02-28 19:52] judytuna commented on #607
@daaimah123 here is the PR i'll add this information to! https://github.com/Techtonica/curriculum/pull/605

[2019-02-28 20:00] judytuna commented on #607
i changed the name to indicate that when you're saving the data in memory, it's not a database =) and we weren't really saving it as JSON, we were saving it as a JavaScript object (and then converting it to JSON)

I've also started working on a reference implementation: https://github.com/Techtonica/eventonica-api

my work in progress branch is: https://github.com/judytuna/eventonica-api/tree/judy

[2019-03-01 00:56] alodahl opened #610 "Create Assessment #10"
Create one or more assessments to be completed March 14 that meet these objectives:
https://github.com/Techtonica/curriculum/blob/master/assessment-objectives/10.md

It can be broken up into multiple challenges, #10.0, #10.1, etc.  Understanding can be assessed by adding to an existing project or creating a branch, a relatively quick quiz, or by asking questions to be answered in text form. Interv

[2019-03-01 01:06] alodahl opened #611 "Create overall assessment"
Create one or more assessments to be completed on Friday, 4/12/2019 that assesses overall learning.

To consider all of the program's topics, you can refer to:
- All Assessment Objectives 0-11: https://github.com/Techtonica/curriculum/tree/master/assessment-objectives
- The Roadmap (recently divided into 2 pages): https://docs.google.com/spreadsheets/d/1vIr3fiKa_jxzy7qtFsiE5hEJbiTXwc1LYxbfsHOYD6U/

[2019-03-01 01:56] InfiniteVerma commented on #598
Hi. I would like to work on this issue. I am a gssoc participant.

[2019-03-01 02:28] yati1998 commented on #598
@alodahl Ohk sure. I will try to complete the previous one so that could start working on this too. Hope that will do.

[2019-03-01 03:30] NirmalKumarJoshi commented on #600
@alodahl Please assign me this issue.
Thanks

[2019-03-01 04:17] alodahl commented on #598
@InfiniteVerma sounds good! Make sure you’ve signed up on the volunteer form I posted in the #techtonica channel, then accept the github email invite, and I can assign you 😁

[2019-03-01 04:44] InfiniteVerma commented on #598
I think I have accepted the invite.

[2019-03-01 05:50] yati1998 commented on #519
@alodahl from where will I get the links to the courses required in the description.

[2019-03-01 05:54] yati1998 commented on #519
And do I need to describe the steps to learn data science from scratch? and the same slideshow will be made?

[2019-03-01 11:43] Rita-Okonkwo commented on #573
Hi Alina, I just submitted two(2) PRs. One for the git and version control motivation section while the other is for this issue. But I'm unable to edit the slides I dont know why

[2019-03-01 12:13] ANURADHAJHA99 commented on #181
I have created a pull request, kindly check it out https://github.com/Techtonica/curriculum/pull/614

[2019-03-01 12:14] ANURADHAJHA99 commented on #181
@alodahl I have created a pull request, kindly check it out. https://github.com/Techtonica/curriculum/pull/614

[2019-03-01 12:36] ANURADHAJHA99 commented on #595
I would like to take this issue. Kindly assign this issue to me and guide me to solve the problem.

[2019-03-01 16:45] alodahl commented on #519
That is up to you, @yati1998!  Yup, all from scratch with a slideshow version of the lesson.

[2019-03-01 16:54] InfiniteVerma commented on #598
There are instructions given for presentations. What about the documents that are in the list? For example:
No. 1

[2019-03-01 17:07] alodahl commented on #598
Ah, good question, @infiniteverma. If they are not slides you don’t have to worry about it - you can mark it complete.

[2019-03-01 17:15] InfiniteVerma commented on #598
Hi. I cannot mark it complete. Basically, I cannot click on any checkbox.

[2019-03-01 17:17] alodahl commented on #573
Please send me the slide links you need to edit and I will unlock them for you

[2019-03-01 17:26] InfiniteVerma commented on #598
Also, except from No. 9 and No. 20 the rest of the ppts are either 'View only' or 'Comment only' for me. Requesting access to edit.

[2019-03-01 17:33] tyagipr commented on #595
Can i work on this issue @alodahl  under GSSoC 2019

[2019-03-01 17:41] Rita-Okonkwo commented on #573
Hi Alina,
This is the link:  https://docs.google.com/presentation/d/1FeHmZRNz4ZgpGAfDAIHXNitofon3Uy-h13uCcyy2FuE/edit?usp=sharing

[2019-03-01 19:03] ANURADHAJHA99 commented on #562
kindly assign this issue to me.

[2019-03-02 00:46] judytuna opened #616 "Write up instructions for "HTTP request field day" exercise based on existing notes"
Write a topic outline [here](
https://github.com/Techtonica/curriculum/blob/master/api/http-request-practice.md) based on the following notes:

Do the same two requests over and over again six different ways! Why? Compare and contrast: how are they different? How are they similar?

1. Postman (a Mac app that’s a GUI for curl) (this should be trivial as they've been using it all week. start with so

[2019-03-02 09:21] yati1998 commented on #519
@alodahl Earlier it was mentioned that we need to make in the field of data science.  Now the statement is changed. What exactly is the field For which we have to make the lessons and slideshow?

[2019-03-02 09:40] yati1998 commented on #585
@alodahl  does any further changes required? or its ohk.

[2019-03-02 10:33] ANURADHAJHA99 commented on #181
@alodahl is there some sort of issue?

[2019-03-02 14:14] Lakshita7 commented on #568
Hey @alodahl I would like to contribute to this.
I am generating a pull request for the same

[2019-03-02 14:38] Jayashree-panda commented on #288
@alodahl Hey! Can I work on to improve the motivation section of expressjs.

[2019-03-02 15:53] #572 closed

[2019-03-02 16:00] #585 closed

[2019-03-02 16:01] #578 closed

[2019-03-02 16:03] #571 closed

[2019-03-02 18:34] imskr commented on #102
I want to work on this!

[2019-03-02 20:42] alodahl commented on #616
Will this be it’s own topic outline, @judytuna? Want me to make this issue volunteer-ready?

[2019-03-02 20:58] alodahl commented on #519
Sorry, @yati1998, I realized I had made mistakes in the issue description. It should only be about developer advocacy/evangelism.

[2019-03-02 22:44] alodahl commented on #595
@tyagipr thanks anyway! Please find another issue 😊

[2019-03-03 00:23] alodahl commented on #558
hi @yati1998 , how is this issue going?

[2019-03-03 00:38] yati1998 commented on #558
@alodahl working on this.  Will try to make pr asa soon as possible.

[2019-03-03 00:49] alodahl commented on #181
@ANURADHAJHA99 please see our comments in PR #614

[2019-03-03 06:22] pydevsg commented on #593
@alodahl I would like to work on this issue, can I?

[2019-03-03 06:37] pydevsg commented on #599
@Jayashree-panda are you working on this?
Else I would like to take this issue ?

[2019-03-03 06:48] pydevsg commented on #93
I would like to work on this issue.

[2019-03-03 14:45] yati1998 commented on #558
@alodahl  In which file is this code? and where to make the changes. Can you please highliht the file?

[2019-03-03 15:42] devakisj1 commented on #288
@alodahl ma'am i would like to work on the motivation section for ergonomics. Thank you

[2019-03-03 16:14] devakisj1 commented on #560
hello ma'am , i would like to work on this issue too.

[2019-03-03 18:46] Soumya0803 commented on #593
@alodahl  Can I work on this issue?

[2019-03-03 20:38] alodahl commented on #593
Thanks anyway @Soumya0803 , please choose another issue 🙂

[2019-03-03 20:41] alodahl commented on #558
It is not in a file, it is just the problem above that we’re using for our code practice challenges. Once you finish fixing the listed problems, I’ll find a way for you to submit a symbolic PR. @yati1998

[2019-03-03 20:54] alodahl commented on #599
@pydevsg: @Jayashree-panda already took this issue, but I was able to set aside #593 for you.

[2019-03-03 20:56] alodahl commented on #93
@pydevsg once you finish #593 , remind me and you can have this one next.

[2019-03-03 22:51] #98 closed

[2019-03-03 22:55] alodahl commented on #560
@devakisj1 I emailed you an invitation to contribute; once you accept that, you can start working on the issue and I will assign you.

[2019-03-04 05:13] pydevsg commented on #93
I shall complete my task and would love to work on this issue. Thanks for assigning #593 to me ,Mam.

[2019-03-04 05:14] pydevsg commented on #599
Okay, thanks for the response,Mam.

[2019-03-04 08:11] yati1998 commented on #558
Q: Given an array of ints, return true if 1, 2, 3 occurs in sequence in the array.
Ans:
tests = {"1":[1,1,2,3,1],"2":[1,1,2,4,1],"3":[1,1,2,1,2,3]}
def array123(array):
    state1=False
    state2=False
    state3=False
    if len(array) < 3:
        return False

    for (index, item) in enumerate(array):
        if item == 1:
            state1 = True
        elif (item == 2) and state1:

[2019-03-04 08:15] yati1998 commented on #558
Q: Given an array of ints, return true if 1,2,3 is present in any sequence in the array.
Ans:
tests = {"1":[1,1,2,3,1],"2":[1,1,2,4,1],"3":[1,1,2,1,2,3]}

def array123(array):
    if len(array)<3:
        return False

    for i in range(len(array)-2):
        z = array[i:i+3]
        if (1 in z) and (2 in z) and 3 in z:
            return True

    return False

for i in range(1,len(tests)+1):

[2019-03-04 08:15] yati1998 commented on #558
Above are the solution I hope that works. I got the desired output.

[2019-03-04 12:53] Soumya0803 commented on #560
@alodahl  Ma'am,I would like to contribute to this issue

[2019-03-04 16:55] alodahl commented on #558
@judytuna is this what you were hoping for?

[2019-03-04 17:28] imskr commented on #93
If nobody is assigned. Can I work on this?

[2019-03-04 17:33] pydevsg commented on #93
I am working on this @imskr . You can check for solving other issues.

[2019-03-04 17:44] imskr commented on #93
OK @pydevsg

[2019-03-05 01:30] lalpert opened #630 "Update MongoDB tutorial/instructions"
The MongoDB tutorial recommended (https://www.youtube.com/watch?v=4yqu8YF29cU&feature=youtu.be) in the [MongoDB lesson ](https://github.com/Techtonica/curriculum/blob/master/databases/mongo-db.md) suggests making multiple web accounts, including to a site that was since acquired and can't be used anymore (mLab). I think the accounts are only needed to deploy the software at the end of the tutorial

[2019-03-05 01:56] alodahl commented on #630
@lalpert will you work on this, or should I hand it to volunteers?

[2019-03-05 02:20] lalpert commented on #630
If a volunteer is up for it that would be great.

[2019-03-05 08:13] tyagipr commented on #630
Can i take this issue? @alodahl

[2019-03-05 08:17] tyagipr commented on #600
Can you assign me this task? @alodahl

[2019-03-05 09:21] Rita-Okonkwo commented on #598
Hi@alodahl @InfiniteVerma  is it possible to work on this?

[2019-03-05 09:27] Rita-Okonkwo commented on #542
Hi @alodahl  I would have taken up this issue but the requirement is unclear. Am I meant to state the relevance of tabs and spaces in indentation or to state their differences?

[2019-03-05 09:33] Rita-Okonkwo commented on #570
Hi @alodahl can I work on this slide:  https://github.com/Techtonica/curriculum/blob/master/algorithms/sorting.md

[2019-03-05 12:22] imskr commented on #515
I would like to work on this.

[2019-03-05 13:27] Soumya0803 commented on #513
@alodahl I would like to work on this issue.

[2019-03-05 14:55] rudri182 commented on #181
I would like to contribute to this issue

[2019-03-05 14:59] ANURADHAJHA99 commented on #181
I have completed the whole document outline myself and it's just there are few issues to resolve,and since I was busy due to exams I failed to do so...but I would do it by tomorrow.

[2019-03-05 15:08] rudri182 commented on #396
Is this issue still open? Then I would like to contribute

[2019-03-05 15:19] alodahl commented on #600
sorry, @NirmalKumarJoshi has already taken it.

[2019-03-05 15:25] tyagipr commented on #600
okay @alodahl

[2019-03-05 15:26] alodahl commented on #598
@Rita-Okonkwo this is actually a single-contributor issue.   I will change the description to avoid confusion.

[2019-03-05 15:30] alodahl commented on #542
@Rita-Okonkwo state their differences, and a little bit about the debate. Try to use judytuna's ideas =)

[2019-03-05 16:17] yati1998 commented on #519
@alodahl what kind of lesson will I have to create. Can it be link to different articles. I can't get a complete idea on this issue. It would be great if you can help me briefing this issue.

[2019-03-05 16:41] alodahl commented on #519
@yati1998, articles sound good! Have you looked at the topic outline template? It’s pretty descriptive about what is needed.https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/developer-advocate.md

[2019-03-05 16:45] yati1998 commented on #519
yes I am working on that template. Will soon make a coomit.

[2019-03-05 16:46] alodahl commented on #396
I’ll send you an invitation to collaborate, and then I’ll assign you @rudri182 . You are welcome to start.

[2019-03-05 16:47] MichelleGlauser commented on #519
Here are some more resources recommended by Twilio DevRel folks:
https://medium.com/@codepo8/what-does-a-developer-evangelist-advocate-do-3ad936dff3e4
http://blog.rickyrobinett.com/2015/01/should-i-become-a-developer-evangelist/
http://developer-evangelism.com/
https://talkpython.fm/episodes/show/189/war-stories-of-the-developer-evangelists
http://www.devangel.io/
https://devrelweekly.com/issues

[2019-03-05 16:57] Yugandhartripathi commented on #535
I am on it. :+1:

[2019-03-05 17:01] yati1998 commented on #519
How can I make the slide show version of the lesson. I have seen the one mentioned in the link. Does that contains exactly the same topics and I need to change the  contents? Can you help me out with the sildeshow detail?

[2019-03-05 17:01] alodahl commented on #562
Hi @ANURADHAJHA99 how is this task going?

[2019-03-05 17:04] alodahl commented on #519
You are going to need to make a copy and make your own slideshow based on your topic outline, @yati1998 . Once you’re done, you can transfer the ownership to techtonicaorg@gmail.com.

[2019-03-05 17:06] alodahl commented on #181
I understand, @ANURADHAJHA99 ! Did I see you had another issue with an earlier due date? Can you work on that one first, please?

[2019-03-05 17:07] ANURADHAJHA99 commented on #181
kindly review the following commit https://github.com/Techtonica/curriculum/pull/614/commits/cf89658b36dfe8ee8d695f26c0d41434a0193eee.
sure I am working on that one too.

[2019-03-05 17:26] ANURADHAJHA99 commented on #562
I am working on it. I am very sorry but I was busy due to my exams. I will be punctual from now on.

[2019-03-05 18:17] yati1998 commented on #519
I have made a PR. Please do mention if any changes are required.

[2019-03-05 18:28] tiffanyjstuart commented on #579
@alodahl
* I think the Code Calculator problem already has automated tests written for it in repl
* I wrote a test for 2/5 challenge. The test gives away the answer so it would be better to include it as an automated test in repl
[code]

[2019-03-05 18:51] yati1998 commented on #558
Issue #558 solved.

[2019-03-05 18:53] yati1998 commented on #519
Issue #519  Solved.

[2019-03-05 22:38] Rita-Okonkwo commented on #598
@alodahl Alright, thanks alot for the clarification

[2019-03-05 22:40] Rita-Okonkwo commented on #542
@alodahl Okay, thank you very much

[2019-03-05 23:35] judytuna commented on #542
Thank you @Rita-Okonkwo ! It would also be ideal if you included

- instructions to set up VS Code to use "spaces for tabs, 2 spaces per tabs" as your default for new files
- awareness that VS Code attempts to detect the settings in a file by default

The answer at https://stackoverflow.com/a/29972553 has some helpful info.

[2019-03-05 23:42] Yugandhartripathi commented on #535
@alodahl @manaswinidas please review and let me know if any changes are required.

[2019-03-06 04:52] Kundan28 commented on #583
Hi  @NirmalKumarJoshi , I wanted to check in to see how the task is going. Do you have any questions?

[2019-03-06 05:48] alodahl commented on #562
That’s alright, but please consider exams, etc along with the due date on the issue.

[2019-03-06 06:58] ANURADHAJHA99 commented on #562
should I continue with the work?

[2019-03-06 07:32] Jayashree-panda commented on #599
@alodahl I don't have any access to edit these presentations.

[2019-03-06 12:27] ANURADHAJHA99 commented on #562
The reference react app that is supposed to be downloaded in order to work, is not working and is showing certain error,I am trying to fix the error and accordingly work on the auth0 authentication.

[2019-03-06 15:52] #535 closed

[2019-03-06 16:02] Yugandhartripathi commented on #630
I would like to work on this.

[2019-03-06 16:51] alodahl commented on #599
just tell me which presentations you need to edit but don’t have access to, and I will add you. Send me your gmail address in slack and remind me!

[2019-03-06 18:17] yati1998 commented on #593
Hey, Can I work on this issue?

[2019-03-06 18:19] yati1998 commented on #579
Hey can I work on this issue?

[2019-03-06 18:34] ANURADHAJHA99 commented on #562
I have added code snippet related to the logging-out direction in the https://github.com/mmedina3/Auth0-Lesson/pulls.I have also made the PR.
I am working on the document.

[2019-03-06 21:00] ANURADHAJHA99 commented on #562
Please kindly review my PR https://github.com/Techtonica/curriculum/pull/640. Also kindly give me the write Access to make the addition in the presentation. I am very sorry for being late, however, I will try my best not to repeat the mistakes.

[2019-03-07 02:58] rudri182 commented on #396
What is the timeline for this work ? Because I am little bit busy with my
college workshop for a few days. So if it is urgent then I can schedule my
work schedule accordingly.

On Tue, Mar 5, 2019, 10:16 PM Alina L. <notifications@github.com wrote:

[2019-03-07 11:53] ANURADHAJHA99 commented on #562
I have added code snippet related to the logging-out direction in the https://github.com/mmedina3/Auth0-Lesson/pulls I have also made the PR.
I am working on the document.

[2019-03-07 12:58] Rita-Okonkwo commented on #542
You're welcome!!! @judytuna . Just to be clear on something, do you mean that I should create instructions on how to set up VS code so that once the tab button is clicked on, It is synonymous to 2 spaces?

[2019-03-07 16:08] alodahl commented on #558
Thank you, @yati1998 ! My solution for the PR is, fix one typo in the following file, but be sure to include "closes issue #558" in the description, and that this was my idea =)

https://github.com/Techtonica/curriculum/blob/master/learning-to-learn/learning-to-learn.md

[2019-03-07 16:15] judytuna opened #642 "Add "Learning to Learn" by sarah drasner to curriculum"
https://css-tricks.com/learning-to-learn/

Consider: exercise to identify (with a grain of salt) your own affinities to certain learning styles, so we are aware of the cognitive load we're placing on ourselves

Would go in https://github.com/Techtonica/curriculum/blob/master/learning-to-learn/learning-to-learn.md topic outline

Also consider: break these into two topic outlines. One on learning to

[2019-03-07 16:21] yati1998 commented on #558
@alodahl  I am Sorry I am not able to get which typo you are refeering to. and where should I make the change?

[2019-03-07 16:21] judytuna commented on #558
The solution seems to be written in python. We use javascript =)

I was hoping for more test coverage, like the "not in order" or "not in sequence"

[5, 1, 3, 2, 4] -> false
[1, 5, 2, 3] -> false

or "1, 2, and 3 not present at all" and "empty array"

to catch tricky edge edge cases and eliminate false positives. Since it's done though, I can just add them later, or shouldnit be another PR?

Sorry

[2019-03-07 16:23] judytuna commented on #542
Yes, I do. Thank you!

[2019-03-07 16:24] yati1998 commented on #558
@judytuna how can I make this better?

[2019-03-07 16:26] alodahl commented on #558
@judytuna, I was able to adjust the old tests pretty easily actually.  Tell me if this is ok: https://repl.it/teacher/assignments/1773573/edit (admin link only)

@yati1998, I was told that document has a lot of typos.  Pick any one.

[2019-03-07 16:33] judytuna commented on #558
Thanks! @yati1998, no further revisions are required =)

The last step (fixing a typo in that unrelated file, but mentioning this PR
as @alodahl instructs) is just to get you credit for it in this repo, since
the code you provided is going into a different service we use with
apprentices to do code challenges.
On Thu, Mar 7, 2019 at 08:26 Alina L. <notifications@github.com> wrote:

[2019-03-07 16:36] #558 closed

[2019-03-07 16:44] judytuna commented on #642
solved by https://github.com/Techtonica/curriculum/commit/94af1e845f7548e2f12ed9c16c2759dd315b164e

[2019-03-07 16:44] #642 closed

[2019-03-07 17:15] alodahl commented on #579
@yati1998 sure, tell me which unchecked problem you'd like to solve and you can start. Please reply with your solution here.

[2019-03-07 18:36] yati1998 commented on #579
code challenge #3

[2019-03-07 19:01] yati1998 commented on #579
var grades = {
            gradesList: [],
            add: function(newGrade) {
                this.gradesList.push(newGrade);
                return this;
            },

            average: function() {
                var numberOfGrades = this.gradesList.length;
                var sum = this.gradesList.reduce(function(acc, val) {
                    return acc + val;
                });

[2019-03-07 19:15] yati1998 commented on #579
<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["% of Fats", "% of Proteins", "% of Carbohydrates"],
        datasets: [{
            label: '# of Votes',
            data: [32,36,24],
            backgroundColor: [
                'rgba(255,

[2019-03-07 19:24] yati1998 commented on #579
<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
 type: 'poarArea',
 data:{
     labels:["% of fat", "% of protein", "% of carbohydrate"],
     datasets:[{
              backgroundColor: [
                        "#2ecc71",
                        "#3498db",
                          "#95a

[2019-03-07 23:34] alodahl commented on #579
https://github.com/Techtonica/curriculum/issues/579#issuecomment-470651966

@yati1998, was your grades comment the code I need to test student’s solutions?

[2019-03-08 00:57] #593 closed

[2019-03-08 01:18] alodahl commented on #396
@rudri182 thanks for reminding me about the due dates.  I've updated this to be due in a week.

[2019-03-08 01:23] alodahl commented on #519
@yati1998 Your outline looks great!  How is the slideshow coming?

[2019-03-08 01:37] #515 closed

[2019-03-08 06:46] yati1998 commented on #519
@alodahl I have sent the link of slideshow in the mail and it is also in the topic outline.

[2019-03-08 07:55] rudri182 commented on #396
It's my pleasure to work with. I will complete it by Sunday.

On Fri, Mar 8, 2019, 6:48 AM Alina L. <notifications@github.com wrote:

[2019-03-08 09:25] yati1998 commented on #579
@alodahl #579 contains the code which returns the avg and sum of the student grades.  as mention in code challenge #3 . I havent added multiple test case rather it contain one to test wether the code give correct output or not.

[2019-03-08 09:31] yati1998 commented on #569
@alodahl  can I also contribute to this issue?

[2019-03-08 15:25] alodahl commented on #569
@yati1998 , @ShraddhaAg has picked up this issue.

[2019-03-08 15:26] imskr commented on #94
Can i work on this?

[2019-03-08 16:14] ANURADHAJHA99 commented on #583
@Kundan28 If someone is not working on the following issue, I would like to take it.

[2019-03-08 16:56] Rita-Okonkwo commented on #542
Hi @alodahl @judytuna I just submitted a PR for this issue

[2019-03-08 17:21] alodahl commented on #583
Hi @ANURADHAJHA99 , please check “assignees” to see if someone has taken an issue. If it is in progress, it is definitely not available. @NirmalKumarJoshi has this one.

[2019-03-08 17:22] alodahl commented on #583
I’ll keep you in mind, though, @ANURADHAJHA99

[2019-03-08 17:24] ANURADHAJHA99 commented on #583
Okay sure! Thank you.

[2019-03-08 17:26] ANURADHAJHA99 commented on #583
Actually, I saw the due date and I thought maybe the issue is stray.

[2019-03-08 17:53] Rita-Okonkwo commented on #568
Hi please has this been worked on?

[2019-03-09 02:48] #568 closed

[2019-03-09 07:35] mhess commented on #84
@alodahl my sincere apologies for the delay--I got a little buried this week.

I've got a rough draft of the outline up in #646.

Not exactly sure where the apprentices are with their React Eventonica projects.  I was assuming that the project would following the [original structure](https://github.com/Techtonica/curriculum/blob/master/projects/eventonica-project.md), but now I see that in the les

[2019-03-09 09:06] alodahl commented on #84
@judytuna , is keyword search not a feature of eventonica-react?

@mhess , thank you so much for working on this!  I'm estimating that what you have would take them 30 minutes, so if the rest of your ideas would take 45 minutes or less, I say go for it.

[2019-03-09 09:11] #542 closed

[2019-03-09 09:14] #102 closed

[2019-03-09 09:16] #573 closed

[2019-03-09 09:18] alodahl commented on #569
Hi @ShraddhaAg , how is this issue going for you?

[2019-03-09 10:40] alodahl commented on #579
Hi @yati1998 , we need code coverage that tests the student's function and returns
"Test Passed!"
or
"Test failed.
actual output: something
expected output: other thing
"

See contributor's previous solutions for more info.

[2019-03-09 10:58] ShraddhaAg commented on #569
@alodahl Hi! I believe it's taking me too long to get this done. If someone wants to work on it, they are welcome :)

[2019-03-09 16:12] yati1998 commented on #579
@alodahl  ohk sure.

[2019-03-09 16:43] yati1998 commented on #579
@alodahl  Wrote this code for 2/6 code challenge. Hope you wanted this. If there is something wrong Please Notifiy, I will Try to correct it.

function sum(input){
return}
function avg(input)
{
return
}

function run_test_sum(input, expected_output){
if(sum(input)==expected_output){
console.log('Test sum passed');
}
else{
console.log('Test sum Failed');
console.log('Input:${input} ');
console.log(

[2019-03-09 20:13] alodahl commented on #579
@yati1998 , this is more what I was looking for, thank you!  However, 2/6 still needs test cases.  Right now when I run it, the tests pass because everything is undefined.

[2019-03-09 20:26] #94 closed

[2019-03-09 20:59] Rita-Okonkwo commented on #288
Hi @alodahl  can I work on improving the motivation section for linked list?

[2019-03-09 23:22] alodahl opened #648 "Build new "Security Roles in Tech" outline and slideshow."
The intention is to present different Software Security roles, and steps to take if one is interested in a career in that field.  Apprentices should walk away knowing more about whether they're a good fit for work in Security, and how to move forward.

- [ ] Finish building this topic outline [here](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/security.md).

- [ ] make a slid

[2019-03-09 23:31] alodahl opened #649 "Create "Roles In Tech: Technical Program Manager" topic outline & slides"
The intention is to present Technical Program Manager roles, and steps to take if one is interested in a career in that field.  Apprentices should walk away knowing more about whether they're a good fit for a future in that work, and how to move forward.

- [ ] Create a topic outline [here](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/technical-program-manager.md).

- [ ] mak

[2019-03-09 23:41] alodahl opened #650 "Create "Roles In Tech: Sales Engineer" outline"
The intention is to present Sales Engineer roles, and steps to take if one is interested in a career in that field.  Apprentices should walk away knowing more about whether they're a good fit for a future in that work, and how to move forward.

- [ ] Create a topic outline [here](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/sales-engineering.md).

- You can base the outline o

[2019-03-09 23:47] alodahl opened #651 "Create outline for "Roles in Tech: QA Engineer""
The intention is to present Quality Assurance roles, and steps to take if one is interested in a career in that field.  Apprentices should walk away knowing more about whether they're a good fit for a future in that work, and how to move forward.

- [ ] Create a topic outline [here](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/qa.md).

- You can base the outline on this slide

[2019-03-10 00:16] alodahl opened #653 "Create a topic outline & slides on "REST APIs""
We need a clear lesson on REST API's, with examples in NodeJS. Apprentices should leave with a strong understanding of what REST, CRUD, and what elements a REST API should have.  Proficiency in building one is not strictly necessary, but practice would be excellent if there's time.  The topic should take 1-2 hours to complete.

- [ ] [Create the topic outline here.](https://github.com/Techtonica/c

[2019-03-10 00:20] alodahl opened #654 "update our Techtonica/curriculum Readme Table of Contents"
We have added a lot of content, and need help updating our Techtonica/curriculum Readme Table of Contents. https://github.com/Techtonica/curriculum#table-of-contents

Keep the currant format, but add any missing or outdated links in the "outline" column in the Techtonica Roadmap. This includes assessments and tutorial links, and any link in the "outline" column that isn't private access only.
http

[2019-03-10 00:26] alodahl opened #655 "Add details about git remote to GitHub Collaboration topic"
## Here is our topic trio on GitHub Collaboration:
- topic outline: https://github.com/Techtonica/curriculum/blob/master/github-collaboration/github-collaboration.md
- slides:  https://drive.google.com/open?id=1dGsFDog3uUq0XwVMCbYRJucPuzBWTFCawdas2r6fBdA
- video:  https://drive.google.com/open?id=1nfCGVlLT3so0G8fBX8cvRUZzE4Wt29ZZ

## What We Need:
how to add a new remote, how to check remote optio

[2019-03-10 00:34] alodahl commented on #569
Thanks for letting us know, @ShraddhaAg  😎

[2019-03-10 06:18] imskr commented on #649
I would like to take this!

[2019-03-10 06:54] yati1998 commented on #579
@alodahl  Hope this works. Code Challenge 2/6.

var test_cases=[{
"input":"70,70,40",
"expected_output_sum": "180",
"expected_output_avg":"60", },
{
"input":"90,60,70",
"expected_output_sum": "220",
"expected_output_avg":"73.33", },
{
"input":"60,30,50",
"expected_output_sum": "140",
"expected_output_avg":"46.66", },
{
"input":"30,50,70",
"expected_output_sum": "150",
"expected_output_avg":"50", }

[2019-03-10 06:57] yati1998 commented on #569
@alodahl  Can I work on this issue now?

[2019-03-10 07:11] rudri182 commented on #396
I have made some changes but it is showing 'edited by anonymous' in google slides.
This is the link for that: (https://docs.google.com/presentation/d/1nPC_2vFCjBgStTJP_Edpfu_37LAIhJEVARfob56wLp4/edit#slide=id.g22b045fc2c_0_8)
I am waiting for suggestions

[2019-03-10 08:35] yati1998 commented on #654
@alodahl  Hey, I want to work on this issue can I?

[2019-03-10 13:10] manaswinidas commented on #654
Assigning you this issue @yati1998

[2019-03-10 14:43] Manvityagi commented on #560
@alodahl I want to work on it as my first issue? Please guide.

[2019-03-10 15:13] Manvityagi commented on #570
Hey @alodahl I would like to work on the slides : https://github.com/Techtonica/curriculum/blob/master/deploying/deploying-1-personal-site.md
&
https://github.com/Techtonica/curriculum/blob/master/command-line/vim.md

This outline looks fine to me with supplement material separated : https://github.com/Techtonica/curriculum/blob/master/node-js/node-js.md

[2019-03-10 15:34] ANURADHAJHA99 commented on #653
Please assign the following issue to me.

[2019-03-10 15:35] ANURADHAJHA99 commented on #651
Please assign the following issue to me.

[2019-03-10 15:39] ANURADHAJHA99 commented on #655
I would like to work on the following issue.Kindly assign it to me.

[2019-03-10 16:43] #519 closed

[2019-03-10 17:05] alodahl commented on #653
Please address the requested changes in your PRs first @ANURADHAJHA99

[2019-03-10 17:07] alodahl commented on #651
Please address the requested changes in your PRs first @ANURADHAJHA99

[2019-03-10 17:07] alodahl commented on #655
Please address the requested changes in your PRs first @ANURADHAJHA99

[2019-03-10 18:32] yati1998 commented on #579
@alodahl  am I done with both the codes? or any changes are required?

[2019-03-10 20:41] pydevsg commented on #653
I would like to work on this issue after my PR gets merged @alodahl . Can, I?

[2019-03-10 22:51] alodahl commented on #579
Thanks, @yati1998 , the 2/6 tests work great. Go ahead fix just one typo in /learning-to-learn/learning-to-learn.md, and make a PR saying you're solving of problem 2/6 in issue #579.

could you please finish the tests for 3/14 before Wednesday so I can use it for the apprentices on 3/14?

[2019-03-11 03:58] alodahl commented on #396
@rudri182 if you think the slides you have cover the outline content well, then you don't have to fill out that "Move fast, reinforce inequalities" slide - you can delete it.  Then all you would have left is to add some images to illustrate and lighten things up, and also please follow the slide formatting guidelines found here: #600 .  Don't worry about the anonymous part (I know it's you!), but

[2019-03-11 06:02] yati1998 commented on #579
@alodahl  I hope this is what you want.
var test_cases=[{
"input":"70",
"expected_output_avg":"57.5", },
{
"input":"90",
"expected_output_avg":"62.5", },
{
"input":"60",
"expected_output_avg":"55", },
{
"input":"30",
"expected_output_avg":"47.5", },]

var array=[ ];

function insert(input){
 array=[40, 50, 70];
array.push(input);
return array;
}

function avg(array){
return}

function run_test_avg

[2019-03-11 06:17] yati1998 commented on #579
Can you please reference the learning-to-learn.md. I am unable to get that.
And what changes do i need to make in 3/14 code.? it was about to show the graph. and I guess my code commented above is doing that?

[2019-03-11 12:01] rudri182 commented on #396
I have completed slideshow from my side. Waiting for your suggestions !

[2019-03-11 12:09] rudri182 commented on #649
I would like to work on this issue

[2019-03-11 12:53] imskr commented on #649
@rudri182 It is already assigned to me.

[2019-03-11 15:08] alodahl commented on #654
@yati1998, focus on your current issues and PRs.  Once those are all approved, remind me and you might be able to pick up this issue.

[2019-03-11 15:14] alodahl commented on #579
-https://github.com/Techtonica/curriculum/issues/579#issuecomment-471414405
This ^ looks better.  Please add a test for adding a new grade to the "grades" array.

- This is a good opportunity to learn how to search for files in your code editor! Look up ways to search for learning-to-learn.md in the curriculum project.

- for 3/14, we dont need to show anything; we need tests that prove that they

[2019-03-11 15:20] alodahl commented on #653
Please address the requested changes in your PRs first @pydevsg. Once that is approved by 2 mentors, remind me and I'll assign this to you.

[2019-03-11 15:29] pydevsg commented on #653
Okay, I will take this issue after solving the PR.

[2019-03-12 06:57] yati1998 commented on #579
@alodahl Added test for grades
var grades=[40, 50, 70];

var test_cases=[{
"input":"70",
"expected_grades":"40,50,70,70",
"expected_output_avg":"57.5", },
{
"input":"90",
"expected_grades":"40,50,70,90",
"expected_output_avg":"62.5", },
{
"input":"60",
"expected_grades":"40,50,70,60",
"expected_output_avg":"55", },
{
"input":"30",
"expected_grades":"40,50,70,30",
"expected_output_avg":"47.5", },]

[2019-03-12 10:51] rudri182 commented on #648
I would like to contribute to this issue

[2019-03-12 12:03] himadrinayak commented on #560
@alodahl I would like to work on this issue under GSSOC'19

[2019-03-12 15:15] alodahl commented on #84
@mhess, do you think this outline will be ready for tomorrow? We were hoping to have the apprentices work on React/Node Optimization then.

[2019-03-12 16:43] devakisj1 commented on #650
@alodahl are we supposed to make slides or just create the outline in markdown for this isue

[2019-03-12 16:47] tiffanyjstuart opened #664 "Add more lessons/ examples of Dynamic Programming"
The lesson on memoization (https://github.com/Techtonica/curriculum/blob/master/runtime-complexity/memoization.md) very briefly mentions Dynamic Programming, a potentially confusing topic that is a popular interview interview topic. There don't seem to be any other lessons that cover Dynamic Programming in the curriculum.

Lesson needs review and additional resources that specifically go into Dyna