[2019-03-12 17:14] mhess commented on #84
@alodahl Met with my apprentice mentee on Friday, and it looks like the keyword search is no longer a feature.  However, I've written a component and a little mini-API node app that provides search functionality in this [gist](https://gist.github.com/mhess/2a9213d209c4ea464ab305f7bec56300).  We could have them just pop the component into their apps and do the cache optimization on that...

When yo

[2019-03-12 17:36] yati1998 commented on #579
@alodahl code challenge for 3/14
var test_cases=[{
input:"<script> var ctx = document.getElementById("myChart").getContext('2d'); var myChart = new Chart(ctx, { type: 'poarArea', data:{ labels:["% of fat", "% of protein", "% of carbohydrate"], datasets:[{ backgroundColor: [ "#2ecc71", "#3498db", "#95a5a6", ], data: [32, 36, 24] }] } });</script>",
expected_output:" <script> var ctx = document.getE

[2019-03-12 23:54] alodahl commented on #84
@mhess yes, lecture can be 30-45 min and practice can be 30-45 min.

[2019-03-13 00:54] alodahl commented on #650
just create the outline, and fix the styling in the slideshow.  @devakisj1

[2019-03-13 03:13] #579 closed

[2019-03-13 06:23] mhess commented on #84
@alodahl Just finished the lesson outline!  Please feel free to make edits!

[2019-03-13 09:13] devakisj1 commented on #650
please assign this issue to me.

[2019-03-13 14:53] yati1998 commented on #654
@alodahl can you assign me this issue now.. I have completed my previous issues.

[2019-03-13 15:29] #84 closed

[2019-03-13 15:33] #562 closed

[2019-03-13 15:45] alodahl opened #671 "Create "Roles In Tech: Technical Writer" topic outline & slides"
The intention is to present Technical Writing roles, and steps to take if one is interested in a career in that field.  Apprentices should walk away knowing more about whether they're a good fit for a future in that work, and how to move forward.

- [ ] Create a topic outline [here](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/technical-writing.md).

- [ ] make a slideshow ve

[2019-03-14 13:55] yati1998 commented on #569
@alodahl I am confused about which function is referred to in this problem. And where the changes need to do. Can you please help me with this?

[2019-03-14 14:34] yati1998 commented on #569
@alodahl there is a confusion in test cases. For example, as mentioned above in the case of  MBP the answer is complicated because If M alone is going Priya will join and then again there will be 2 so B will also join, in that case, P will deny. So the answer will either none or confusing.
What to do in that case?

[2019-03-14 14:38] yati1998 commented on #653
@alodahl  can I work on this issue?

[2019-03-14 14:59] pydevsg commented on #653
@alodahl , I am interested and have started working in this issue , could you please assig n me this issue .

[2019-03-14 15:50] alodahl commented on #569
@yati1998, exactly! We need to change the problem so it is not confusing like this.

[2019-03-14 15:52] alodahl commented on #653
@yati1998, will you take this one or the if/then question? If you dont choose this issue I will give it to @pydevsg.

[2019-03-14 15:54] yati1998 commented on #569
So can we change the problem completely and place similar problem... Or need to modify the same problem?

[2019-03-14 15:55] yati1998 commented on #653
Yes I would like to take this

[2019-03-14 15:58] pydevsg commented on #671
I would like to take this issue @alodahl.
Please atleast assign me this one.

[2019-03-14 16:00] alodahl commented on #569
Modify the same problem please

[2019-03-14 16:05] yati1998 commented on #569
ok sure. I am looking into this.

[2019-03-14 17:49] ANURADHAJHA99 commented on #664
@tiffanyjstuart please assign this issue to me.

[2019-03-14 17:57] Kundan28 commented on #664
@ANURADHAJHA99 You can only work on one issue at a time. And I think you have not completed #645 . So I would suggest you to please complete one issue before then you could work with the other one.

[2019-03-14 18:01] ANURADHAJHA99 commented on #664
@Kundan28 I have completed a clean PR on the following issue and submitted it. I have edited all the issues as recommended to me.

[2019-03-14 18:03] Kundan28 commented on #664
Oh, okay.
But as I know if your PR is alright then it should be merged instead of closed.
Correct if I'm wrong.

[2019-03-14 18:06] ANURADHAJHA99 commented on #664
@Kundan28 You are absolutely right. It's just I am waiting for the PR to be reviewed. I have made the PR one hour ago. Also, there is another PR where I was suggested certain changes and I have submitted the changes.

[2019-03-14 18:07] ANURADHAJHA99 commented on #664
@Kundan28 sorry for the confusion. I myself have closed the wrong PR.

[2019-03-14 18:07] Kundan28 commented on #664
Okay

[2019-03-14 18:09] Kundan28 commented on #664
No problem.
You can fix that.

[2019-03-16 01:18] alodahl commented on #671
@pydevsg, please address your PR review first.

[2019-03-16 16:59] yati1998 commented on #653
@alodahl  can you please assign me this issue?

[2019-03-16 17:01] yati1998 commented on #655
@alodahl  please can I work on this issue if no one is assigned this yet?

[2019-03-16 20:49] ANURADHAJHA99 commented on #671
@alodahl I have addressed the problems to my PR. Kindly assign this issue to me.

[2019-03-16 23:02] #569 closed

[2019-03-17 03:00] alodahl commented on #598
@InfiniteVerma how is this going? If you think it’s ready for PR, you can fix a typo from learning-to-learn.md and reference this issue to get your PR points.

[2019-03-17 03:28] #595 closed

[2019-03-17 05:10] pydevsg commented on #671
Thanks, @alodahl for aasigning me this issue.

[2019-03-17 08:17] imskr commented on #96
Is this going on ? @jyotsnaj06 Do you need any help ?

[2019-03-17 15:33] yati1998 commented on #651
Can you assign me this issue if no one is assigned yet?

[2019-03-17 15:58] alodahl commented on #610
Done

[2019-03-17 15:58] #610 closed

[2019-03-17 16:28] ANURADHAJHA99 commented on #651
@alodahl assign this issue to me.

[2019-03-17 16:51] alodahl commented on #594
@judytuna, can you explain your nodeschool comment in the description?

[2019-03-18 03:45] alodahl opened #678 "Update roadmap.md to match objectives in roadmap outlines"
Update
https://github.com/Techtonica/curriculum/blob/master/roadmap.md

[2019-03-18 03:45] alodahl commented on #678
@MichelleGlauser do you think this file is still useful?

[2019-03-18 03:53] imskr commented on #594
I would like to work on it!  And tell me about nodeschool?

[2019-03-18 03:56] #181 closed

[2019-03-18 13:12] ANURADHAJHA99 commented on #664
@alodahl kindly assign this issue to me,now that I have fixed all my PR.

[2019-03-18 14:03] #649 closed

[2019-03-18 14:05] alodahl commented on #594
sure, @imskr .  Hopefully Judy will tell us more about NodeSchool before you finish.

[2019-03-18 14:35] alodahl commented on #583
Hi @NirmalKumarJoshi , are you still working on this issue?

[2019-03-18 18:44] vsharma20v commented on #597
@judytuna can I work on this issue?

[2019-03-19 15:16] #654 closed

[2019-03-19 15:22] alodahl commented on #597
@vsharma20v you can start 😁

[2019-03-19 15:27] vsharma20v commented on #597
ok

[2019-03-19 19:49] vaishali614 commented on #594
@alodahl i would like to work on it! can you assign me this issue?

[2019-03-19 19:53] vaishali614 commented on #560
@alodahl i would like to work on this issue under gssoc'19

[2019-03-20 05:43] rudri182 commented on #648
Sorry for the delay. I was a little bit busy with my internal exams. I have almost completed and will upload it as soon as possible.

[2019-03-20 06:09] vsharma20v opened #681 "issue #680"
@vsharma20v Please add the issue number to the tittle that this PR fixes.

_Originally posted by @Kundan28 in https://github.com/Techtonica/curriculum/pull/680#issuecomment-474677145_

[2019-03-20 06:11] #681 closed

[2019-03-20 06:51] Kundan28 commented on #648
No problem @rudri182

[2019-03-21 15:57] imskr commented on #427
I will work on this.

[2019-03-21 16:28] devakisj1 commented on #651
please assign me this issue @alodahl

[2019-03-22 01:09] alodahl commented on #583
Hi @nirmalkumarjoshi, if we don’t hear from you by the end of the week, we will make this issue available to other gssoc contributors.

[2019-03-22 01:11] alodahl commented on #599
Hi @Jayashree-panda How is this issue going?

[2019-03-22 01:13] alodahl commented on #600
How is this issue going, @NirmalKumarJoshi ? Do you need anything?

[2019-03-22 01:14] #655 closed

[2019-03-22 01:20] #650 closed

[2019-03-22 04:28] vsharma20v commented on #560
@alodahl I would like to add more groups to this.

[2019-03-22 18:42] pydevsg commented on #96
I would like to work on this issue if no one is actively working on the same.

[2019-03-23 04:26] Jayashree-panda commented on #599
Hey! Sorry for the delay.
These are the slides I would like to edit. Please unlock it.
32,36,37,45,49,50,54,61

[2019-03-23 05:44] yati1998 commented on #630
@alodahl  if this issue isn't solved yet, can I work on this?

[2019-03-23 08:34] Yugandhartripathi commented on #630
@alodahl Please reassign this to @yati1998 I am sorry but I couldn't find time got busy with some college and personal assignments

[2019-03-23 16:54] devRD commented on #570
Hey, I would like to work on this slides :
https://github.com/Techtonica/curriculum/blob/master/data-structures/stack.md
https://github.com/Techtonica/curriculum/blob/master/html/html.md
https://github.com/Techtonica/curriculum/blob/master/css/css.md

[2019-03-23 17:36] vsharma20v commented on #288
@alodahl ma'am I would like to work on the motivation section of CSS

[2019-03-23 20:57] alodahl opened #697 "Research whether kramdown notation will open a new tab when link is clicked"
Your task is to see if the following or another solution will open a new tab when a .md link is clicked, rather than the default behavior of loading the linked page in the current window.

If you come up with a different solution, or if you conclude there is no way, please document that with notes here and that will fulfill the issue.  Make a PR as well if you are successful.

If you do succeed, m

[2019-03-24 00:15] alodahl opened #698 "Add section in removing styles from a website to CSS lesson"
Please add a step-by step section showing learners how to go to a site and remove link or style tags from the elements section in the inspector to demonstrate what a big difference css makes, while also reinforcing that styles are included via these tags. This activity should take the learner 5 minutes or less.

- [x] choose a site that has the styles included simply, so removing just a few style

[2019-03-24 00:43] alodahl opened #699 "Test out a tutorial for building a node/express/mongo api"
@yati1998 found us a great-looking tutorial for building a quick node/express/mongo api:
https://medium.freecodecamp.org/building-a-simple-node-js-api-in-under-30-minutes-a07ea9e390d2

Your task is to work through it and ensure that the tutorial actually results in a working API!

This is a great learning opportunity for someone who wants to learn one of these technologies.

Once you have worked t

[2019-03-24 01:07] alodahl commented on #96
@pydevsg , Jyotsna is working on it here in California. Please focus on your Technical Writer issue 😊

[2019-03-24 01:15] alodahl commented on #570
@devRD I reserved them for you 👍🏻

[2019-03-24 02:10] alodahl commented on #600
Hi @NirmalKumarJoshi , if I don’t hear from you in a few days, I will unassigned you. @tyagipr , are you still interested?

[2019-03-24 02:16] alodahl commented on #598
@InfiniteVerma are you still working on this issue? Can you update us on how far you have gotten?

[2019-03-24 02:17] #93 closed

[2019-03-24 02:38] alodahl opened #700 "convert check for understandings into questions (multiple assignees encouraged)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

Look through topic outlines, and change **any 2** so that your PR ensures:
- It’s Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whe

[2019-03-24 05:25] vsharma20v commented on #697
I would like to work on this.

[2019-03-24 08:00] devRD commented on #570
@alodahl Ma'am, I will make sure to address them properly next time onwards.

[2019-03-24 17:35] alodahl commented on #599
Hi @Jayashree-panda, slideshows 32 & 49 are locked for me as well, so you'll have to click "view only" > "request edit access" and say Alina told you to edit these in the message.  My boss should grant you access.  The others you asked about should be editable for you now.

[2019-03-24 18:09] alodahl opened #702 "Add subtitles to Advanced Command Line video"
We want to make sure learners have access to subtitles/captioning for the YouTube tutorials they watch.  Please go into the settings of this video and add subtitles:
https://youtu.be/NodKFuUocQY

![image](https://user-images.githubusercontent.com/29131689/54883633-e2100280-4e24-11e9-8fa4-9aac1d023fbe.png)

![image](https://user-images.githubusercontent.com/29131689/54883651-2a2f2500-4e25-11e9-8652

[2019-03-24 18:14] #597 closed

[2019-03-24 18:15] Kundan28 commented on #702
@alodahl Automatic captioning could be used too.

[2019-03-24 18:29] alodahl commented on #534
@srishtiBajpai , we cannot merge your PR for this until you address the review changes.

[2019-03-24 20:44] alodahl commented on #702
@Kundan28 sounds good to me, as long as the contributor proof-reads it.

[2019-03-25 04:20] rudri182 commented on #698
I would like to contribute

[2019-03-25 04:33] alodahl commented on #698
Thanks @rudri182  - once the Security Roles PR is ready, remind me and you can have this if it's still free.

[2019-03-25 07:44] yati1998 commented on #699
@alodahl  can I work on this?

[2019-03-25 08:04] pydevsg commented on #698
Can you please assign me this issue @alodahl , I have completed my PR its waiting to be merged from you.

[2019-03-25 08:08] pydevsg commented on #664
Can I work on this issue @alodahl and could you please assign me this.

[2019-03-25 08:29] ANURADHAJHA99 commented on #702
@alodahl kindly assign this issue to me.

[2019-03-25 08:55] rudri182 commented on #698
I have pushed changes in the PR . Can you review it and assign me this
issue ?

On Mon, Mar 25, 2019, 10:03 AM Alina L. <notifications@github.com> wrote:

[2019-03-25 14:46] vsharma20v commented on #697
@alodahl ma'am if I completed my research then what I need to do as you said: "please document that with notes here".
Do I need to provide the link of resources from where I come to the conclusion?

[2019-03-25 15:38] alodahl commented on #699
@yati1998, you already have 2 issues in progress.

[2019-03-25 15:46] alodahl commented on #664
@pydevsg this issue is taken.

[2019-03-25 16:01] alodahl commented on #702
Please address your PR reviews first, @anuradhajha99

[2019-03-25 17:09] vsharma20v opened #706 "Modify path and markdown of link"
The link in the Motivation section of "Women in Tech: Resources List" is not working. Add the correct path to it and also correct its markdown.
@alodahl @Kundan28 @manaswinidas

[2019-03-25 18:59] Lakshita7 commented on #702
@alodahl  I would like to work on this

[2019-03-26 00:58] alodahl commented on #697
@vsharma20v can you just tell me what you learned?

[2019-03-26 05:47] pydevsg commented on #698
Thanks @alodahl for assigning me this issue.

[2019-03-26 07:05] rudri182 commented on #706
I would like to work on this issue

[2019-03-26 08:33] vsharma20v commented on #706
@rudri182 you can work on this issue once this issue is accepted, labelled and reviewed by @alodahl ma'am.

[2019-03-26 09:04] vsharma20v commented on #697
@alodahl ma'am
There is no way in Github markdown to open a new tab when a link is clicked and the kramdown notation doesn't work even the HTML anchor tag with the target attribute doesn't work in Github markdown. One suggestion from my side is that we can tell the audience to open the link by pressing `Ctrl` + `mouse left click` which will result in the desired behaviour.

Reference: https://stac

[2019-03-26 09:08] ANURADHAJHA99 commented on #583
@alodahl can i work on this issue?

[2019-03-26 15:54] imskr commented on #600
I'm interested. Can I work on this?

[2019-03-27 14:23] ronika-das commented on #600
can i work on this?

[2019-03-27 14:59] Jayashree-panda commented on #599
@alodahl Yes, I have requested your boss to provide me the access. Meanwhile I am editing the rest.

[2019-03-27 22:12] alodahl commented on #697
<a href="http://alinalodahl.com/" target="_blank">example</a>

[2019-03-27 22:16] alodahl commented on #697
Bummer.  Thanks for trying for us! You can fix a typo in /learning-to-learn/learning-to-learn.md, and make a PR referencing this issue to get your points.

[2019-03-27 22:17] #697 closed

[2019-03-27 22:36] #594 closed

[2019-03-27 22:39] #427 closed

[2019-03-27 22:55] alodahl commented on #96
Hi @jyotsnaj06 , will you be able to finish this by next week? Could you use some help?

[2019-03-27 22:58] alodahl commented on #651
Hi @devakisj1 , are you almost done with this issue?

[2019-03-28 01:44] devakisj1 commented on #651
Yes ma'am atmost by tomorrow i will submit it. @alodahl

[2019-03-28 15:33] Jayashree-panda commented on #599
@alodahl I also don't have access to edit slide 50,51,64

[2019-03-28 19:02] alodahl commented on #599
@Jayashree-panda You should get an invitation to 50, 51, and 54.  64 is not part of this issue 😉

[2019-03-29 04:37] Jayashree-panda commented on #599
@alodahl I have edited the slides. Please have a look.

[2019-03-29 14:56] ronika-das commented on #570
Hi,I would like to work on these topic outlines:
https://github.com/Techtonica/curriculum/blob/master/ui-ux-design/ui-ux-design.md
https://github.com/Techtonica/curriculum/blob/master/bootstrap/bootstrap.md
https://github.com/Techtonica/curriculum/blob/master/reading-and-writing-documentation/documentation.md

[2019-03-30 04:23] yati1998 commented on #699
@alodahl  I think I am almost done with the other issues. so once that is reviewed can I work on this?

[2019-03-31 00:24] alodahl commented on #570
@ronika-das I reserved them for you

[2019-03-31 01:01] #513 closed

[2019-03-31 01:07] alodahl opened #712 "Find or make video with specific bash commands"
Please find or make a video demonstrating the following commands, and add it to the “materials” section of https://github.com/Techtonica/curriculum/blob/master/command-line/command-line-advanced.md :

wc , sort, cut, xargs, apropos, awk, sed, wc, pushd, popd

Finding 2 or 3 short videos instead of one is alright, too.

[2019-03-31 02:59] rudri182 commented on #706
I have modified the link in the 'motivation' section and now it is working. So please review it. And suggest if there are any changes required.

[2019-03-31 03:17] rudri182 opened #713 "Complete outline for Pair Programming/Lab Experience part."
@alodahl In the pair programming section, the outline for lab experience is incomplete. Please review it here
https://github.com/Techtonica/curriculum/blob/master/pair-programming/lab-exercise.md

[2019-03-31 06:39] vsharma20v commented on #712
Can I take this issue?

[2019-03-31 17:32] imskr commented on #600
Give me access to Slides. @alodahl

[2019-03-31 23:03] alodahl commented on #599
@Kundan28  @manaswinidas @hoduchieu01 @saberprashant, if someone is making a PR for something not in the repo, like the formatting slides assignments or a research task -
- Please review their work on the issue - clearly the single typo that is the PR does not matter.  Tell them if they have not fullfilled what is requested in the issue. If they have, you may approve it and mark the PR # in the sc

[2019-04-01 00:46] alodahl commented on #600
Hi @imskr , please tell me which slides you do not have access to and I will change the access settings.

[2019-04-01 12:09] pydevsg commented on #698
@alodahl, I have a doubt before doing a PR whether I need to show two different websites or I can just show one website that how CSS can dramatically change the website,
Secondly, can I add screenshot and images in css outline file , which will help the learners easily to understand or this task is to be done in the slideshow only?

[2019-04-01 12:35] imskr commented on #600
Hello @alodahl , I need access to slides No: 63, 64, 103, 102, 100, 96, 92, 91, 90, 88, 86, 84, 83, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72.

[2019-04-01 16:13] alodahl commented on #698
@pydevsg, one site is fine. Unless the image is very small, or you can change it into text, please only put images in the slideshow. Then you can refer them to the slideshow in the outline if you think it would be fitting.

[2019-04-01 16:23] pydevsg commented on #698
Okay, thanks for the valuable response , @alodahl.

[2019-04-01 16:27] alodahl commented on #713
@rudri thanks for finding this!

[2019-04-01 16:39] alodahl commented on #706
This is ready for PR 👍

[2019-04-01 16:43] rudri182 commented on #706
👍

On Mon, Apr 1, 2019, 10:09 PM Alina L. <notifications@github.com> wrote:

[2019-04-02 10:36] #671 closed

[2019-04-02 20:36] vsharma20v commented on #96
@alodahl ma'am can I try this issue?

[2019-04-02 20:42] vsharma20v commented on #288
@alodahl ma'am I would like to work on
https://github.com/Techtonica/curriculum/blob/master/debugging/debugging.md

[2019-04-03 03:21] alodahl commented on #96
@vsharma20v could you do me a favor and work on this before your other issue?  The deadline is real for this one!

[2019-04-03 03:47] alodahl commented on #96
oh nevermind, you already made a PR!

[2019-04-03 04:29] alodahl commented on #288
@vsharma20v can you remind me after you finish the roles in tech outline?

[2019-04-03 05:28] vsharma20v commented on #712
@alodahl ma'am I created the PR #717  plz review that

[2019-04-03 14:42] pydevsg commented on #698
@alodahl I am unable to add slides to [CSS Slide](https://docs.google.com/presentation/d/1p-IXWxo0NEbZbHQ_Mdoo-A9dlFXqfSPOfW6navfyeTI/edit#slide=id.g2f8dad5731_0_107) as it is in View only mode. I have requested admin to make it available for me to edit, a few days ago but they haven't responded. Please do have a look at it, so that I can resolve this issue asap.

[2019-04-03 16:49] alodahl commented on #698
@pydevsg Try it now; it should be editable.

[2019-04-03 19:18] vsharma20v commented on #96
@alodahl ma'am I submitted the PR #718  plz review that

[2019-04-03 19:23] vsharma20v commented on #288
@alodahl ma'am now can I work on this. I already submitted a PR for roles in tech outline

[2019-04-04 00:47] alodahl opened #719 "Add mention of certification in Security Roles outline & make a slide."
- [ ] Add a line or 2 of about this certification in our [Security Roles Outline](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/security.md) based on the following advice. Include a link and a few words about the certification.
- [ ] Add the same advice in a slide [here](https://docs.google.com/presentation/d/1DjbfFt-rgQzBBPwVSXL1nGww1ziycJIxiSRmWbS-v40/edit#slide=id.p), and b

[2019-04-04 00:50] #651 closed

[2019-04-04 01:01] #96 closed

[2019-04-04 01:20] alodahl opened #720 "Modify Machine Learning outline, make slideshow based on existing outline"
### Task:
Create a slideshow [here](https://docs.google.com/presentation/d/1bjU2En4KHo1gx085-NQISuyHuPSSnYhVYBOMz9pr050/edit#slide=id.p) based in [this outline](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/machine-learning.md), and make specific edits to the outline.

- [x] Create accompanying slideshow:
[Machine Learning Lesson Slideshow](https://docs.google.com/presentation

[2019-04-04 09:28] yati1998 commented on #699
@alodahl I have gone through the tutorial. And it is exactly resulting in the working API.  the tutorial results in performing the CRUD operation. In addition to this tutorial, we can add the steps to install the POSTMAN app and direction to create a mlab account.

[2019-04-04 15:42] alodahl commented on #699
Awesome, thanks @yati1998 ! Can you please look at the server-side topics in the readme that come before mongo to double-check that we’re already introducing postman? I think it should already be there.

[2019-04-04 15:49] alodahl opened #721 "Replace MongoDB tutorial link"
Task:
- [ ] In the independent practice section of our [MongoDB outline](https://github.com/Techtonica/curriculum/blob/master/databases/mongo-db.md), replace the step about a 2-hour video tutorial with a line about working through this tutorial article instead: https://medium.freecodecamp.org/building-a-simple-node-js-api-in-under-30-minutes-a07ea9e390d2

- [ ] The new tutorial calls for using the

[2019-04-04 15:57] alodahl commented on #721
@yati1998 would you like this one?

[2019-04-04 16:00] alodahl commented on #699
After you check for postman, fix 1 real typo in learning-to-learn , make a PR, but tag this issue and title your PR about this issue.

[2019-04-04 18:23] yati1998 commented on #699
Yes,  postman exists. I am simply making a PR than.

[2019-04-04 18:40] yati1998 commented on #721
Yes sure. Do assign me this issue.

[2019-04-04 18:48] yati1998 commented on #720
@alodah can you assign me this issue?

[2019-04-04 22:09] #648 closed

[2019-04-05 01:17] alodahl commented on #720
Remind me once you’ve finished the mongo issue, @yati1998

[2019-04-05 02:55] rudri182 commented on #720
I would like to work on this issue

[2019-04-05 03:02] rudri182 commented on #720
The above link of _Machine Learning_ is redirecting on this page. It is not opening machine learning. Is it this link?
[Machine Learning Engineer](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/machine-learning.md)

[2019-04-05 03:55] alodahl commented on #706
Have you made a PR? I’m not seeing it.

[2019-04-05 03:57] alodahl commented on #720
@rudri182 https://github.com/Techtonica/curriculum/issues/706#issuecomment-480140295

[2019-04-05 06:22] rudri182 commented on #706
No, I have only requested it for working on it. I would like to work on it.

[2019-04-05 06:33] rudri182 commented on #720
I am talking about the link given in the issue #720 description.

[2019-04-05 07:01] rudri182 commented on #720
May I start working on this issue?

[2019-04-05 07:11] yati1998 commented on #720
@alodahl I have done the mongo issue..  Can you assign me this?

[2019-04-05 09:27] alodahl commented on #720
Can you give me the PR for your mongo issue? I can’t find it.

[2019-04-05 09:36] alodahl commented on #706
You are assigned to this issue... I’m confused.

[2019-04-05 09:39] rudri182 commented on #706
ok, I will regenerate it if it is not generated

[2019-04-05 09:52] rudri182 commented on #706
I have generated PR for #706. I have previously worked in this file for _women in tech_. So I pushed the changes in it. Are they visible?

[2019-04-05 09:53] rudri182 commented on #720
Is this assigned to me ?

[2019-04-05 09:54] alodahl commented on #706
No, you need to make a new PR for each issue.

[2019-04-05 09:56] rudri182 commented on #706
Ok. But how can I do it? Do I make a new branch? Because in my branch it is showing _Everything up-to-date_

[2019-04-05 09:57] Kundan28 commented on #706
Yeah, for every different issue you should create a new branch. That would be a good idea to handle different issues.

[2019-04-05 09:59] rudri182 commented on #706
ok. I will make it. And generate a pull request as soon as possible. Thank you

[2019-04-05 10:04] alodahl commented on #720
No, @rudri182 , please fix all your PRs first.

[2019-04-05 10:06] rudri182 commented on #720
Ok.

[2019-04-05 19:13] yati1998 commented on #720
I have modified all my previous requests. so If you allow can I work on this now?

[2019-04-06 00:08] #699 closed

[2019-04-06 00:09] #721 closed

[2019-04-06 00:10] #653 closed

[2019-04-06 14:59] ANURADHAJHA99 commented on #583
@alodahl  I have edited the presentation.Please kindly check on it.
https://docs.google.com/presentation/d/1UtEz_IvRzcN8Jj2qj-8Kl4Q6yCYMKHM9sj607Awmx_c/edit#slide=id.g22b045fc2c_0_8

[2019-04-06 18:05] pydevsg commented on #698
@alodahl I have added few slides in the [CSS Slide](https://docs.google.com/presentation/d/1p-IXWxo0NEbZbHQ_Mdoo-A9dlFXqfSPOfW6navfyeTI/edit#slide=id.g2f8dad5731_0_107) earlier.
What else do I need to add in the content or is it fine.
I would like to complete this isssue as early as possible,to grab other issues.

[2019-04-06 18:45] alodahl commented on #600
Sorry I missed those! I will work on getting these to you today.

[2019-04-06 18:54] alodahl commented on #600
Ready to go: 102

Please request edit permission on the slides, since I don’t have access either: 103

 Not yet: 63, 64, 100, 96, 92, 91, 90, 88, 86, 84, 83, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72.

Question: Do all of these have problems that you have to fix, or are some of them already formatted?

[2019-04-06 21:22] alodahl commented on #698
I love what youve done so far. Questions/ requests:
1. Have you put any directions for this in the outline?
1. Can you please use Lato fonts and sizes that match the rest of the slideshow?
1. Please include a change caused by removing a style or link tag from the head in devtools.

[2019-04-06 21:40] alodahl commented on #600
Ready to go: 102, 100, 96, 92, 90, 88, 84, 83, 79, 78, 77, 76, 75, 74, 73, 72, 64, 63

Please request edit permission on the slides, since I don’t have access either: 103, 86, 81, 80

91 is an outside resource, so no need to edit.

[2019-04-06 23:06] imskr commented on #600
Thank You. I will edit it those slides latest by today.

[2019-04-07 00:33] alodahl opened #725 "Create 'Roles in Tech: Product Manager' outline based on existing slideshow"
## Task

- [ ] Create [Roles in Tech: Product Manager outline here](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/product-manager.md) based on [this completed slideshow](https://docs.google.com/presentation/d/1BxTU4nugas3Z30kIawpJtLhSBL6b5tF1P-d03Hm_JOI/edit?usp=sharing).

- [x] Be sure the slides follow the formatting guidelines described here: #600

[2019-04-07 02:47] pydevsg commented on #698
Okay, I shall add these features . Thanks for the guidance, @alodahl .

[2019-04-07 02:59] raibove commented on #725
Can I work on this issue

[2019-04-07 02:59] rudri182 commented on #725
I would like to work on this issue

[2019-04-07 03:17] alodahl commented on #583
Looking good so far ... my first comment would be, please look at #600 for slide formatting guidelines, and also please check out PR #602 for the changes we requested from Nirmal before he disappeared!

[2019-04-07 03:24] alodahl commented on #583
Also, I’d hate to make your work in vain, but have you looked at the lesson that this is supposed to be continuing? It’s linked in the description. The learner has already started an app an learned how to set up authentication... the purpose of this lesson is to understand authentication and fetching user profile data, which you seem to address 8n the second half here.

[2019-04-07 04:48] alodahl commented on #725
@raibove have you filled out the volunteer form I sent you?

[2019-04-07 05:48] raibove commented on #725
Yes

[2019-04-07 21:55] #534 closed

[2019-04-07 22:03] alodahl opened #727 "Proofread Command Line outline with correct markdown"
## Task:
Proofread our [Command Line Topic Outline](https://github.com/Techtonica/curriculum/blob/master/command-line/command-line-interface.md), and fix based on the review comments mentioned in #643 . Make sure to use the markdown formatting guidelines found [here](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet), so it is clear what is code or a command, what the sub-sections a

[2019-04-07 22:18] alodahl opened #728 "Add Mac Utilities resource & describe in outline"
## Task:

- [x] Find or make an appropriate section in [our keyboard shortcuts lesson](https://github.com/Techtonica/curriculum/blob/master/command-line/keyboard-shortcuts.md) to add this link:
popular Mac utilities: https://www.producthunt.com/ask/7567-what-are-your-must-have-mac-apps-utilities

- [x] Briefly describe the advantages of the first 2 or 3 choices, but emphasize that they are optiona

[2019-04-08 03:12] rudri182 commented on #727
I would like to work on this issue.

[2019-04-08 03:22] alodahl commented on #727
@rudri182 resolve the conflicts in your PR and fix the link first, please. If you can’t find it, press command + f to search for the word “conflict”.

[2019-04-08 03:43] rudri182 commented on #727
I fixed the link in the motivation section. What are other conflicts ? I am
not able to figure it out. I checked other links , they all are working for
which it is showing the conflicts other than motivation section. So I am
confused.

On Mon, Apr 8, 2019, 8:52 AM Alina L. <notifications@github.com> wrote:

[2019-04-08 03:45] #630 closed

[2019-04-08 03:46] alodahl commented on #702
@Lakshita7 how is this issue going? Will you be able to finish it?

[2019-04-08 06:33] alodahl commented on #727
Google “resolving merge conflicts in github”

[2019-04-08 06:57] alodahl commented on #396
@rudri182 Sorry this got overlooked... please solve 1 typo in learning-to-learn.md in a new branch from master, and make a PR with this issue number and a description of what you did here, and not about the typo. We need a PR number to make this official. @Kundan28

[2019-04-08 08:47] Kundan28 commented on #396
Yeah.

[2019-04-08 09:20] rudri182 commented on #727
May I now work on this issue? I have successfully completed my issue #724

[2019-04-08 09:33] rudri182 commented on #396
It seems nice. Can I add something new in it?

[2019-04-08 15:07] alodahl opened #730 "Make sure Prerequisite sections are correctly linked (1/2)"
## Task:

This is a single-contributor issue, and should all be in one PR.

Check the first half of the outlines in the [ReadMe Table of Contents](https://github.com/Techtonica/curriculum/blob/master/README.md#table-of-contents ) and ensure that the prerequisites are linked correctly.

 **For example, if you see this:**
### Prerequisites
- Command Line Lesson

**You should change it to this:**

##

[2019-04-08 15:25] #712 closed

[2019-04-08 18:37] vsharma20v commented on #719
@alodahl  ma'am about which certificate, OSCP?

[2019-04-08 18:42] vsharma20v commented on #719
I would like to work on this issue, ma'am.

[2019-04-08 18:58] Lakshita7 commented on #702
@alodahl I have the transcripts ready but I am not getting time to complete it. You may assign this task to someone else if urgent.

[2019-04-09 00:37] alodahl commented on #702
@Lakshita7 when do you think you can complete it?

[2019-04-09 01:17] alodahl opened #731 "Ensure Prerequisite sections are correctly linked (2/2)"
## Task:
Check the second half of the outlines in the [ReadMe Table of Contents](https://github.com/Techtonica/curriculum/blob/master/README.md#table-of-contents ) and ensure that the prerequisites are linked correctly.

**For example, if you see this:**
### Prerequisites
- Command Line Lesson

**You should change it to this:**
### Prerequisites
- [Command Line Lesson](/command-line/command-line-i

[2019-04-09 04:00] rudri182 commented on #727
I have created a PR #732 the file command-line-interface issue #643 .  Please review it.

[2019-04-09 04:02] rudri182 commented on #731
I would like to work on this issue

[2019-04-09 14:09] yati1998 commented on #720
@alodahl  I have modified the outline as well as the slideshow. Please review if any changes are required in the slideshow.

[2019-04-09 15:40] #706 closed

[2019-04-09 15:53] #664 closed

[2019-04-09 16:47] tiffanyjstuart commented on #730
@alodahl In https://github.com/Techtonica/curriculum/blob/master/learning-to-learn/learning-to-learn.md link should "Expectations While at Techtonica" lesson link to the google doc with the "Apprentices Expectations"?

[2019-04-09 17:09] tiffanyjstuart commented on #730
Completed all the Onboarding Prerequisite sections.

[2019-04-09 17:16] pydevsg commented on #698
Done @alodahl , please do have a review 😄

[2019-04-09 17:21] tiffanyjstuart commented on #730
@alodahl Some of the lessons in the Prerequisite sections are missing from the ReadMe Table of Contents (https://docs.google.com/document/d/1IWny-IXB-XDWW21l3JODwPuh1QOVBFQbii_DjvF0g00/edit?usp=sharing, https://github.com/Techtonica/curriculum/blob/master/conflict-resolution/conflict-resolution.md, https://github.com/Techtonica/curriculum/blob/master/diversity-inclusion-bias/inclusion.md)

[2019-04-09 17:21] pydevsg commented on #616
I would like to work on  this issue @alodahl , after my PR gets merged.
Please do assign it to me.

[2019-04-09 18:44] Lakshita7 commented on #702
@alodahl  Sorry I won't be able to. Please assign this to someone else.

[2019-04-09 19:20] imskr commented on #600
@alodahl please review it. I have edited all the slides which i had access leaving Slide no 81, 91 & 100.

[2019-04-09 19:28] imskr commented on #728
I will work on it.

[2019-04-10 03:21] rudri182 commented on #396
I have generated PR #738 for this issue. Please review it. 😄

[2019-04-10 03:49] rudri182 commented on #731
While working on this issue, I found that [data models](https://github.com/Techtonica/curriculum/blob/master/databases/data-models.md) is linked twice in the content.
The link of the content is [here](https://github.com/Techtonica/curriculum/blob/master/README.md#server-side-development--agile-programming).

[2019-04-10 06:07] rudri182 commented on #731
Are JS and JavaScript different? Somewhere it is written as JS and somewhere it is JavaScript. As per my knowledge, they both are the same 😃  but I want to confirm it before I change it and the meaning is changed.

[2019-04-10 07:04] devRD commented on #570
can I work on more topic outlines?

[2019-04-10 07:12] rudri182 commented on #731
Generated PR #740 for this issue.

[2019-04-10 17:37] vsharma20v commented on #719
I have created the PR #741

[2019-04-10 17:39] vsharma20v commented on #702
@alodahl  ma'am can I work on this issue?

[2019-04-11 01:34] alodahl commented on #730
@tiffanyjstuart great catch! Would you have time to add them based on the order in the Roadmap, or should I make an issue for that?

[2019-04-11 01:58] antislice commented on #616
Hi,
I'm not actively contributing at this time, if there's something specific
someone would like me to contribute to, please let me know via email and
not assigning github issues.

On Wed, Apr 10, 2019 at 6:29 PM Alina L. <notifications@github.com> wrote:

--

Women Who Code San Francisco <http://womenwhocode.com/sf> Network Mentor

[2019-04-11 05:20] yati1998 commented on #730
@alodahl  can I work on this?

[2019-04-11 05:21] tiffanyjstuart commented on #730
@alodahl No need to make an issue, I made a new PR (https://github.com/Techtonica/curriculum/pull/742) adding them to the Roadmap and consolidating my other PRs

[2019-04-11 15:48] alodahl commented on #731
@rudri182 You're correct, the'yre the same =)  . JS is just the abbreviation.

[2019-04-11 16:25] rudri182 commented on #731
Okay☺️

On Thu, Apr 11, 2019, 9:18 PM Alina L. <notifications@github.com> wrote:

[2019-04-11 16:39] alodahl commented on #570
@devrd of course, please do! Just tell us which ones.

[2019-04-11 19:26] Rita-Okonkwo commented on #560
Finally resumed contributing after so long!!! please can I work on this issue @alodahl

[2019-04-12 01:57] alodahl commented on #600
Why couldn't you do slides # 100, @imskr ?

[2019-04-12 03:08] rudri182 commented on #731
@alodahl the file called [Assessment #10: Advanced Methods](https://github.com/Techtonica/curriculum/blob/master/projects/advanced-methods-assessment-10.md) is not completed in the curriculum under the **project** folder. It is only drafted. So may I generate the issue for it? Or is it okay for now?

[2019-04-12 04:52] imskr commented on #600
@alodahl I get access later on. I will do it today.

[2019-04-13 00:58] alodahl opened #744 "Clean up ‘Intro to Git’ slideshow"
## Task:

Edit and clarify this Git & Github slideshow based on the slide comments. Also use your judgement to clarify or elaborate on parts you think beginners could find confusing.

Be sure to stick to the existing sizes and styling.

Link to slideshow:
https://docs.google.com/presentation/d/1znMOomkIkAkFKIz2e6t5tLpyzObKqOwfd90fsixSiec/edit?usp=sharing

[2019-04-13 08:03] rudri182 commented on #744
May I work on this issue ?

[2019-04-13 17:28] #719 closed

[2019-04-13 17:42] alodahl commented on #713
@rudri182 is there a link that leads here from a lesson, or did you just notice it was an empty file in /pair-programming?

[2019-04-13 17:49] alodahl commented on #731
@rudri182 thanks for noticing, but it is complete. It’s intended to be a checklist of what the learner should include in their assessment file.

[2019-04-14 01:42] imskr commented on #560
Would like to add some resources to the list.

[2019-04-14 03:36] rudri182 commented on #713
I just noticed this while I was reading the interesting topic of pair programming and I found it. Up to now, I have not seen any link that leads to this part of any lesson. It is only to let you know that it is incomplete.😊

[2019-04-14 10:58] yati1998 commented on #730
@alodahl do I need to add prerequisites to the links in which none is already mentioned?

[2019-04-14 18:32] alodahl commented on #730
Only if they seem necessary. Having “none” for prerequisites can be fine.

[2019-04-14 19:44] vsharma20v commented on #702
@alodahl  ma'am I have submitted the subtitles/captioning for this video and waiting for it to get a review by the youtube till then can I create a PR?

[2019-04-15 04:26] Kundan28 commented on #702
Yeah, go for it.

[2019-04-15 06:20] vsharma20v commented on #702
@Kundan28 @alodahl what work I need to do in PR?

[2019-04-15 09:57] Rita-Okonkwo commented on #500
Hi @alodahl is anyone working on this?
cc @manaswinidas @Kundan28

[2019-04-15 15:42] viditkumar commented on #744
If no one is working, I would like to get this task assigned to me.

[2019-04-15 15:46] rudri182 commented on #744
It is assigned to me

On Mon, Apr 15, 2019, 9:12 PM bug_finder <notifications@github.com> wrote:

[2019-04-15 16:08] alodahl commented on #713
If nothing is counting on this file, I’m just going to delete it.

[2019-04-15 16:25] alodahl commented on #730
Hi @yati1998 , thanks for working on this. Since all of the prerequisites you’re fixing are under the same issue, *please* put them all in the same pull request at once and close all the others that you’ve made for this issue.  @Kundan28 @manaswinidas @Shwetha-Acharya @hoduchieu01

[2019-04-15 16:33] alodahl commented on #500
Hi @Rita-Okonkwo remind me after you finish fixing your PR. No one is working on this now.

[2019-04-15 18:19] vsharma20v commented on #570
@alodahl ma'am I want to work on this
https://github.com/Techtonica/curriculum/blob/master/algorithms/searching.md

This outline looks fine to me with supplement material separated :
https://github.com/Techtonica/curriculum/blob/master/open-source/open-source.md

cc @Kundan28  @hoduchieu01

[2019-04-15 18:20] vsharma20v commented on #702
I have created the PR #772

[2019-04-16 05:05] Kundan28 commented on #730
@alodahl How to figure out which one to keep or @yati1998 will close all the PR and start a new one ?

[2019-04-16 18:31] vsharma20v commented on #570
@alodahl ma'am
This outline looks fine to me with supplement material separated :

https://github.com/Techtonica/curriculum/blob/master/data-structures/queues.md
https://github.com/Techtonica/curriculum/blob/master/algorithms/intro-to-algorithms.md
https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/machine-learning.md
https://github.com/Techtonica/curriculum/blob/master/git-version

[2019-04-16 19:04] vsharma20v opened #774 "Write SQL topic outline"
Acceptance Criteria:

 * [ ] The lesson can be covered in 30-45 minutes
 * [ ] There are clear objectives
 * [ ] The activity helps different kinds of learners (e.g. spatial, auditory, verbal, kinesthetic)
 * [ ] There is a cheatsheet or other handout
 * [ ] There is an assessment

Note that [self and peer assessments are preferable to grades](https://www.mindsetkit.org/topics/assessments-growth-m

[2019-04-16 19:07] vsharma20v commented on #774
@alodahl  ma'am plz review this issue and also labelled it.

cc: @Kundan28 @hoduchieu01 @Shwetha-Acharya

[2019-04-16 19:08] vsharma20v commented on #774
I want to work on this if this issue is accepted.

[2019-04-16 20:42] saberprashant commented on #744
Hi @rudri182 , I hope you are working on this, how is it going? If you need any help then let me know and I have added some comments for some changes, so please have a look at them as they will make the tutorial better. Cheers :)

[2019-04-17 04:50] Kundan28 commented on #744
@alodahl
Do this slide too have to follow the same  formatting as of other slideshows ?
- Each slide has the Techtonica logo & bar at the bottom
- The accepted text colors are black, gray, and custom turquoise
- All text is in Lato font
- Headers are at size 28 font, while regular text is either 18 or 24(preferred), with the exception of footnotes/side notes

[2019-04-17 05:02] alodahl commented on #730
@Kundan28 @manaswinidas @Shwetha-Acharya @hoduchieu01 No need to review any of yati’s PRs until she combines them into one... they are all for the same single-contributor issue.

[2019-04-17 05:05] rudri182 commented on #713
Yes, you can. Because right now there is no linking in this section.

[2019-04-17 05:23] alodahl commented on #774
Thanks @vsharma20v but it’s already covered: https://github.com/Techtonica/curriculum/blob/master/databases/sql.md

[2019-04-17 05:26] vsharma20v commented on #774
@alodahl  Oh I think I missed that outline to see

[2019-04-17 05:27] vsharma20v commented on #774
@alodahl then can I close this issue?

[2019-04-17 05:33] rudri182 commented on #744
@saberprashant your comments are very helpful and I will change it accordingly. Thanks for noticing these. 🙂

[2019-04-17 05:38] #713 closed

[2019-04-17 05:38] alodahl commented on #611
Thanks @lalpert !

[2019-04-17 05:38] #611 closed

[2019-04-17 05:44] #774 closed

[2019-04-17 20:30] DeepanshiD commented on #570
Hey! I wish to work on the outlines of the following:
https://github.com/Techtonica/curriculum/blob/master/data-structures/trees.md
https://github.com/Techtonica/curriculum/blob/master/data-structures/deque.md
https://github.com/Techtonica/curriculum/blob/master/databases/relational-databases.md

[2019-04-17 21:02] saberprashant commented on #570
hi @DeepanshiD , can you please layout in brief, what all you can add in the outlines?

[2019-04-18 01:05] alodahl commented on #22
addressed in #730 and #731

[2019-04-18 01:05] #22 closed

[2019-04-18 03:29] rudri182 commented on #744
I have made some changes in a slide show as per comments(still working on some slides). Is it necessary to keep all fonts in Lato or it is okay to keep different font for _commands_? Like for `git diff` I have used _consolas_ fonts. I saw that this is used in some starting slides. So I did it for every command. If it is not proper please let me know, I will remove it.

[2019-04-18 04:25] Kundan28 commented on #744
@rudri182 In most of the slides the font size of regular text is not 18 or 24. So please change them to either 18 or 24.

[2019-04-18 05:22] Kundan28 commented on #730
Okay.

[2019-04-18 16:26] alodahl commented on #570
@DeepanshiD go ahead and start.  I'll reserve those for you!

[2019-04-19 01:07] alodahl commented on #744
@rudri182, console font for code is fine. Please stick with sizes 18 and 24, though.

[2019-04-19 01:09] alodahl commented on #744
@viditkumar check out out to-do list here for available issues: https://github.com/Techtonica/curriculum/projects/2

[2019-04-19 03:36] rudri182 commented on #744
What about font size in a grey box?  Because it looks too big if I try to set it 18. May I change it to 18 or not? For everything else, I have made to 18 or 24.

[2019-04-19 05:45] Kundan28 commented on #744
I think no need to change that to 18...it's clear and visible in 14 also.

[2019-04-19 08:57] saberprashant commented on #744
Yeah

Yeah @rudri182 , no need to change that, it's fine.

[2019-04-19 09:07] Kumaranupam2020 commented on #744
https://docs.google.com/presentation/d/1znMOomkIkAkFKIz2e6t5tLpyzObKqOwfd90fsixSiec/edit?usp=sharing
changed some sequence in slide no. 3 for better understanding

[2019-04-19 11:14] Kundan28 commented on #744
I don't see any change.

[2019-04-19 11:21] rudri182 commented on #744
I changed this slide as the comment beside the slide that is made by @saberprashant.

[2019-04-19 11:23] Kundan28 commented on #744
Nice work @rudri182

[2019-04-19 11:26] rudri182 commented on #744
I am not so clear about `"git add ."` in slide no. **11**. I googled it out but I am confused. Can anyone please help me to add this in that slide?

[2019-04-19 11:35] Kundan28 commented on #744
I think no need to show `git add .` as the heading of the slides says Adding A File to Track, which means only adding single files but when we run `git add .` all the files will be added. So no need to add that command.

[2019-04-19 18:45] pydevsg commented on #616
I have a doubt  before making a PR , do I need  to make a table comparision of the HTTP request or write just the code for the 6 different methods mentioned above?

[2019-04-20 00:43] alodahl commented on #616
@pydev, a table would be awesome!  Have you ever made one with markdown?
https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#tables

[2019-04-20 03:48] alodahl opened #779 "Add important workflow tips for VSCode"
## Task:
The following VSCode skills need to be explained somewhere in our [VSCode Outline](https://github.com/Techtonica/curriculum/blob/master/vs-code/vscode.md). Decide the best place to put them, and explain the concepts for absolute beginners to coding. Be sure to update the projected time once you’ve added the new material.

 *VS Code and editor setup*
- [ ] - how to auto indent
- [ ] - how

[2019-04-20 04:00] alodahl opened #780 "Create an exercise about reset.css and browser differences"
## Task:
Create a file in the css folder and write a short guided exercise on reset.css basics.  It can be from a really good resource online, or even a video, as long as you site it and include the link.  You can also write it yourself. We want an exercise where you try a simple website with and without a reset.css and observe the differences. Be clear you do not expect everyone to begin using a

[2019-04-20 05:41] rudri182 commented on #744
May I need to add anything more to the slide-show? Or is it complete now?

[2019-04-20 05:45] Kundan28 commented on #744
@rudri182 Everything seems fine to me.

[2019-04-20 05:50] vsharma20v commented on #780
@alodahl ma'am can I take this issue?

[2019-04-20 13:14] pydevsg commented on #616
@alodahl I will write down the directions for different methods, make the table and come up with a PR, thanks for the guidance.

[2019-04-21 00:03] alodahl commented on #744
awesome work!  find a typo anywhere in the repo (even fixing whitespace), make a PR with it, but title and describe **this issue** and not the typo.

[2019-04-21 02:42] imskr commented on #779
I would like to work on this. Can I?

[2019-04-21 03:39] rudri182 commented on #744
Created PR #781

[2019-04-21 03:57] rudri182 commented on #700
@alodahl May I work on this issue?

[2019-04-21 10:45] vsharma20v commented on #780
@alodahl ma'am is there any difference between a topic outline and topic guided practice because in the _templates folder I found topic_outline.md file. And if there is any difference between the two mentions above then what are they.
can you elaborate what things I need to do in a guided practice of a topic?

[2019-04-21 16:47] saberprashant commented on #779
Hi @imskr , are you working on any other issue right now?

[2019-04-21 16:50] saberprashant commented on #731
Hi @alodahl , is this issue still open? I asked this because I can see that you closed #22 (4 days ago).

[2019-04-21 18:16] alodahl commented on #780
‘Guided practice’ is a section in the outline. A guided exercise is what I’m using to describe the intention of the whole new outline for reset.css.

[2019-04-21 18:23] vsharma20v commented on #780
Ok @alodahl ma'am thanks for the clarification

[2019-04-21 18:48] imskr commented on #779
@saberprashant nope.

[2019-04-21 21:47] alodahl commented on #731
It is open. The other issue was a duplicate.

[2019-04-21 22:06] #728 closed

[2019-04-21 22:08] #727 closed

[2019-04-21 22:10] #744 closed

[2019-04-21 22:12] alodahl commented on #700
@rudri182 just let us know which you’d like to work on so we can reserve them (check them off) fo you.

[2019-04-22 01:51] ramlaxman opened #784 "About position of Curriculum Developer [Volunteer]"
Hi,
This is Mayur Patil.  I am working as Assistant Professor at MITAOE from last 4+ years.
Kindly let me know guidelines of how to contribute.
Following are my areas of specialization:

- ### Linux
   - **Open Source**
   - **Linux Philosophy Types**
   - **In-Built and FOSS in Linux**
   - **Shell Scripting**
   - **Advanced Shell Scripting**
   - **Kernel Programming for Beginners**
   - **Over

[2019-04-22 02:59] rudri182 commented on #700
I would like to work on [stacks outline](https://github.com/Techtonica/curriculum/blob/master/data-structures/stack.md)

[2019-04-22 04:50] Kundan28 commented on #784
Welcome @ramlaxman
Please go through the Readme.md (https://github.com/Techtonica/curriculum) to know how to contribute to this project.

[2019-04-22 09:41] rudri182 commented on #700
In stack.md the link in supplemental resources for [Cloudboost: Data Structures in JavaScript: Stacks & Queues](https://blog.cloudboost.io/data-structures-in-javascript-stacks-queues-75d83cd9f7e1) is not working.

[2019-04-22 09:47] Kundan28 commented on #700
Yeah, because they have made two different pages for Stack and Queue.
Do you want the link ?

[2019-04-22 09:52] rudri182 commented on #700
Yes, it would be easy to find some more exercise and questions. And can also put a link in the outline 😊, if it is permitted.

[2019-04-22 09:53] Kundan28 commented on #700
Here are both of the links...
https://blog.cloudboost.io/playing-with-data-structures-in-javascript-stack-a55ebe50f29d
https://blog.cloudboost.io/playing-with-data-structures-in-javascript-queue-70e1ee7d9d57

[2019-04-22 09:53] rudri182 commented on #700
Thanks 😄

[2019-04-22 18:42] Kumaranupam2020 commented on #570
hi @alodahl i would like to work on this issue

[2019-04-23 02:29] alodahl commented on #570
Great, which ones?

[2019-04-23 02:34] Kumaranupam2020 commented on #570
I want to work on this.....

https://github.com/Techtonica/curriculum/blob/master/recursion/recursion.mdps://github.com/Techtonica/curriculum/blob/master/recursion/recursion.md

[2019-04-23 15:55] alodahl opened #788 "add links to roles-in-security outline"
I received a tip about a career in security. Your task is to find the links for the resources and events mentioned, and add them to our roles-in-security.md topic outline in appropriate section(s).

connect with other women security orgs like Women in Security and Privacy, Women Cyberjutsu and other orgs is very helpful. They tend to have free trainings and offer scholarships. Right now you can si

[2019-04-23 20:16] vsharma20v commented on #607
@alodahl ma'am If this Issue is under GSSoC19 can you elaborate what we have to do in this issue. :thought_balloon:
because its description is a bit confusing :thinking:  and also @daaimah123 @judytuna ma'am comment messages also makes me confused :confused:

[2019-04-23 20:43] vsharma20v commented on #570
@alodahl ma'am
This outline looks fine to me with supplement material separated :
https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-7-oop.md
https://github.com/Techtonica/curriculum/blob/master/jquery/jquery.md
https://github.com/Techtonica/curriculum/blob/master/express-js/express.md
https://github.com/Techtonica/curriculum/blob/master/mobile-development/mobile-developmen

[2019-04-24 03:45] rudri182 commented on #700
@alodahl please reserve stacks outline for me. I have made some questions according to the TDD section. I will soon generate PR for it.

[2019-04-24 04:16] alodahl commented on #607
This is all the info I have, but the last comment of Judy’s seems especially important.

@daaimah123 can you help? I also don’t understand why this is a PR if there’s no code to review.

[2019-04-24 04:29] alodahl commented on #570
Thank you @vsharma20v! Mentors, can you please check off all the files he mentioned?

[2019-04-24 04:35] Kundan28 commented on #570
Okay, will check it.

[2019-04-24 12:29] pydevsg commented on #698
Please do have a review @alodahl . I have made all the changes.

[2019-04-24 12:31] daaimah123 commented on #607
@alodahl going to close the issue

[2019-04-24 16:27] alodahl commented on #607
@daaimah123 that’s fine... is there a way we can still help with this?

[2019-04-24 17:19] daaimah123 commented on #607
I think the steps here: https://github.com/judytuna/eventonica-api/tree/judy/steps

were being worked on, making them as clear as possible for the assignment may be where the help is needed.

[2019-04-24 17:47] Kumaranupam2020 commented on #700
@alodahl i would like to work on this issue...

[2019-04-25 03:13] vsharma20v commented on #607
https://github.com/judytuna/eventonica-api/tree/judy/steps
@daaimah123 @alodahl ma'am Is this project is also under gssoc19?

[2019-04-25 04:31] Kundan28 commented on #570
@alodahl Do they have to open new PR for different materials or they can make changes in single PR only ?
As @vsharma20v has made #790 & #791 . So is it okay to have different PR for same issue ?

[2019-04-25 05:03] imskr commented on #591
I would like to work on it.

[2019-04-25 16:00] alodahl commented on #607
@vsharma20v if you’re willing to tackle it, then yes.

[2019-04-25 16:01] alodahl commented on #700
@Kumaranupam2020 just let us know which you’d like to work on so we can reserve them (check them off) fo you.

[2019-04-26 01:39] #600 closed

[2019-04-26 01:40] alodahl commented on #591
Sure @imskr , just please make any PR fixes before working on this issue.

[2019-04-26 06:15] imskr commented on #591
Sorry @alodahl I didn't get you, PR fixes ?

[2019-04-26 12:34] vsharma20v commented on #583
@ANURADHAJHA99 are you still working on this issue?

[2019-04-26 16:10] rudri182 commented on #700
I have generated PR for this issue. Please review it? The PR number is #793

[2019-04-26 16:29] #678 closed

[2019-04-26 16:48] hoserdude opened #794 "Add debugging strategies to interviewing guides"
Many companies are including a debugging exercise as part of their interview process. Since debugging is core to your day-to-day work as a developer (and fixing bugs a first set of tasks on the job). Interviewers want to see that the candidates can navigate an issue from the something the candidate has never seen, to identifying the problem, followed by applying a fix and verifying/testing the sol

[2019-04-26 16:51] raibove commented on #570
I would like to work on this issue.
Topic-  https://github.com/Techtonica/curriculum/blob/master/web-patterns/web-patterns.md
https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-1.md
https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-2.md

@alodahl  @Kundan28  please assign me these topics

[2019-04-26 21:32] hoserdude commented on #794
I'm volunteering for this one, having been through this myself.

[2019-04-27 01:24] Rita-Okonkwo commented on #500
Hi @alodahl , can I take this up?

[2019-04-27 01:24] Rita-Okonkwo commented on #500
cc @saberprashant

[2019-04-27 01:50] #702 closed

[2019-04-27 01:55] alodahl commented on #591
Nevermind

[2019-04-27 01:59] alodahl commented on #570
@kundan28 1 file for one PR in this issue. The only time 1 file would need 2 PRs is if the first one was merged and we realized it needed more fixes, but they don’t get more points for the same file.

[2019-04-27 04:12] Kundan28 commented on #570
As @vsharma20v has made #790 & #791. But now one of them is merged.

[2019-04-27 04:13] Kundan28 commented on #570
And the other one is too ready to be merged.

[2019-04-27 04:20] alodahl commented on #794
Hi @hoserdude, that's definitely true.  We already have some  intro lessons on debugging and navigating new codebases, but if you think there is something missing from these, or if you're interested in exploring a more advanced/interview based debugging challenge, a strategy guide and exercises would be very helpful!

https://github.com/Techtonica/curriculum/blob/master/debugging/debugging.md
http

[2019-04-27 17:05] yati1998 commented on #788
@alodahl can I contribute to this? and Is this a part of GSSoc

[2019-04-27 17:25] Kundan28 commented on #788
@yati1998 I think this issue is not ready yet...as GSSoC19 label and difficulty(Beginner, Easy, Medium or Hard) label is not there yet.

[2019-04-27 17:32] #780 closed

[2019-04-27 18:18] yati1998 commented on #500
Hey, Can I work on this issue @alodahl ?

[2019-04-27 19:31] alodahl commented on #570
It looks like 790 and 791 are each for a different file, so each should get issue points.

[2019-04-27 23:49] alodahl commented on #500
@yati1998 you still need to fix #778

[2019-04-27 23:51] #560 closed

[2019-04-28 00:51] Kundan28 commented on #570
Yeah, I have mentioned both of the PRs in the scoresheet.
I just want to confirm from you.

[2019-04-28 15:22] saberprashant commented on #720
Hi @alodahl , should we close this issue now as a PR already being merged for the same?
Thanks 😄

[2019-04-28 15:35] saberprashant commented on #616
Hi @pydevsg , how are you doing on this one? Are you facing any difficulty? Please ask any mentor if you have any doubt.

[2019-04-28 15:41] saberprashant commented on #583
Hi @ANURADHAJHA99 , please reply to this one, because if you are busy with some other issue, then we can assign this to @vsharma20v .
@alodahl

[2019-04-28 18:07] alodahl opened #795 "Create a lesson on JS object mapping in the context of an algorithm."
## Task:
In our projects JavaScript folder, make a topic outline that guides apprentices in creating an object map to solve a problem, like “what is the most common character in this paragraph?”.

This will come shortly after they first learn how to use objects in JavaScript,  to render lists in html, etc, so objects will still be a fairly new concept.

- [ ] The topic outline should follow the fo

[2019-04-28 18:13] alodahl opened #796 "Add guided lesson to JS hash tables topic outline"
We received feedback that our [Hash Tables](https://github.com/Techtonica/curriculum/blob/master/data-structures/hash-tables.md) lesson explains the concepts of hash tables, but does little to guide learners in building or using one.

## Task:
Add a guided practice section to the [Hash Tables topic outline](https://github.com/Techtonica/curriculum/blob/master/data-structures/hash-tables.md) that l

[2019-04-28 18:29] alodahl commented on #796
@tiffanyjstuart

[2019-04-28 19:28] alodahl commented on #795
@tiffanyjstuart

[2019-04-28 20:13] alodahl opened #797 "Convert first object-oriented project subject from restaurants to events"
Our apprentices' first JavaScript object-oriented project(oop project), Restaurant Recommender [Part 1](https://github.com/Techtonica/curriculum/blob/master/javascript/restaurant%20recommender/RestaurantRecommender%20-%20part1.md) and [Part 2](https://github.com/Techtonica/curriculum/blob/master/javascript/restaurant%20recommender/RestaurantRecommender-part2.md) are complete, but we are trying to

[2019-04-28 20:18] alodahl opened #798 "Create short mini project to prepare apprentices for their first JS OOP project"
## Task:
Create a short guided lesson that allows learners to use their new JS object-oriented programming skills to create a few *event* objects, push them to an array, then use jQuery to display the list of events to an html page.

Guide them step-by-step through making a javascript class for a social event, create new events and put them in the array, then iterate through the array and put the

[2019-04-28 21:04] alodahl commented on #798
@tiffanyjstuart

[2019-04-28 21:25] alodahl opened #799 "Change any references to old Restaurant Recommender project (blocked by #797)"
Note: Blocked until #797 is finished.
## Task:
- [ ] In #797 , we changed the Restaurant Recommender project into an Event search project. Your task is to search the Techtonica GitHub project for any reference to the Restaurant Recommender project or its 2 files and make sure that the Event search project is mentioned instead.

- [ ] Make sure the [Readme links](https://github.com/Techtonica/curri

[2019-04-28 21:49] alodahl opened #800 "Add treehouse resource to Relational Databases outline"
## Task:

 - [ ] Add this treehouse resource to [Relational Databases outline](https://github.com/Techtonica/curriculum/blob/master/databases/relational-databases.md) under lesson or guided practice - whichever makes the most sense: https://teamtreehouse.com/library/querying-relational-databases

- [ ] In addition to adding the link, introduce it by explaining the course, what they will learn and

[2019-04-28 22:05] alodahl opened #801 "Investigative task: find out if we already have directions for installing PostgresQL"
## Task:
Look through the [Server-side Programming topics] 3-10 to see if any of them contain directions for  installing PostgresQL.  If you find it, report back which file and where. If you don't, let us know if something comes close.

Report back via the comments in this issue.  Once your task is complete, fix a single typo or whitespace mistake in any file, make a pull request with it, but with

[2019-04-28 22:13] alodahl commented on #801
found it myself

[2019-04-28 22:13] #801 closed

[2019-04-28 22:14] alodahl commented on #801
databases/installing-postgresql.md

[2019-04-29 00:25] alodahl commented on #788
@yati1998 please look for ready issues here: https://github.com/Techtonica/curriculum/projects/2

[2019-04-29 00:43] alodahl commented on #720
Yes @saberprashant if you every notice an issue has been merged and taken care of, go ahead and close it.

[2019-04-29 00:46] #720 closed

[2019-04-29 01:03] alodahl opened #802 "Find original source of odd line in Queues file"
We got come feedback on our [Queues outline](https://github.com/Techtonica/curriculum/blob/master/data-structures/queues.md):
There's a line "Queue (high volume architecture - processing events sequentially)" but that parenthetical does not refer to the data structure. Was there another line item for the high volume architecture kind of Queue that got accidentally merged into this Queue?

## Task:

[2019-04-29 07:05] saberprashant commented on #583
Hi @vsharma20v , thanks for your patience, but @ANURADHAJHA99 confirmed me on Slack that she is working on this issue. So, we can't assign you this one right now.
Thanks :)

[2019-04-29 08:58] pydevsg commented on #616
@saberprashant , I will come up with the PR very soon. Thanks for the helping hands, if I face any issues I will surely tell you.

[2019-04-29 09:02] yati1998 commented on #798
@alodahl can I work on this project?

[2019-04-29 17:11] hoserdude commented on #794
Thanks @alodahl - from what I have seen there's some material to be added to help with server-side debugging. It's going to also be helpful to have some real-world scenarios. One company I interviewed with had me identify and fix a bug in an open-source framework. We can choose a few examples like that to demonstrate how you start to how you wrap it up.

I will take a crack at it.

[2019-04-29 17:55] judytuna opened #804 "Fix Restaurant Recommender OOP project description: jasmine vs. jQuery"
Pending #797. This issue is for @judytuna to add a step clarifying that jQuery code to manipulate the UI and the non-jQuery raw javascript OOP code for the Events should be in two separate files.

Context copied below:

### review Objects and your Classes in your OOP Project
Have at least one function on your RestaurantRecommender that adds another class. Example: addRestaurant runs a line of code

[2019-04-29 18:45] imskr commented on #795
Can i take this @alodahl ?

[2019-04-30 01:26] alodahl commented on #583
@ANURADHAJHA99 you have had this issue for a month,  how much longer do you think you’ll need? If it’s past the new due date of May 3, please make a PR of what you have so someone else can work on it.

[2019-04-30 03:46] Kundan28 commented on #795
Wait for getting your two pending PRs to be approved and merged and then we can assign you this issue.

[2019-04-30 03:52] Kundan28 commented on #583
And if you need some more time you can comment down here or in the slack channel instead of just silently working on it without giving any update.

[2019-04-30 13:56] raibove commented on #700
Can I work on this issue?
Topic: javascript-1  https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-1.md

[2019-04-30 15:15] yati1998 commented on #798
@alodahl can u please assign me this issue?

[2019-04-30 19:02] saberprashant commented on #798
Hi @yati1998 , are you working on anything else?

[2019-04-30 19:31] yati1998 commented on #798
Yes,  But I am done with that.  Just a final review is felt.  Meanwhile I can work on this,  if you assign it to me.

[2019-04-30 19:51] saberprashant commented on #798
Okay @yati1998, I am assigning this to you, but please note that you have to complete that PR changes first (if @alodahl suggest any more changes).
Till then, you can start working on this one :)

[2019-04-30 19:53] yati1998 commented on #798
Thank you so much.  Yes sure I will make changes as asked.

[2019-05-01 05:53] vsharma20v commented on #583
Actually, I'm also busy with my End Semester Exams
So I also can't work on this issue.
But I will come back after 7th May to claim new issue

[2019-05-01 05:55] vsharma20v commented on #607
@alodahl ma'am
Actually, my End semester exams are going on.
So I can work on this issue after the 7th of May

[2019-05-01 13:50] alodahl commented on #607
Good luck with exams! Let us know when you’re ready.

[2019-05-03 04:38] alodahl commented on #599
@Jayashree-panda, have you finished this issue?  If so, please make a PR by changing 1 typo in a single file, make a pull request with that, but make the title and description about issue 599.

[2019-05-03 04:38] #779 closed

[2019-05-03 04:39] #725 closed

[2019-05-03 04:40] #730 closed

[2019-05-03 12:25] imskr commented on #795
Should i place the outline in JavaScript folder with the name "JS Object Mapping" ? @alodahl

[2019-05-04 04:37] #591 closed

[2019-05-04 04:38] alodahl commented on #599
If we don't hear from you in a few days, we will put this issue back in to-do.

[2019-05-04 05:01] alodahl commented on #795
could you put it in javascript/ and name it javascript-maps.md?

[2019-05-04 06:05] imskr commented on #795
Yes @alodahl sure.

[2019-05-04 17:06] yati1998 commented on #797
@alodahl  can I work on this issue? I have made my previous PR.

[2019-05-04 17:36] imskr commented on #598
Would like to fix this.

[2019-05-04 22:53] alodahl commented on #598
Sure @imskr!  Please prioritize your maps PR fixes first.  Since I know you work fast, I'll assign this to you too.

[2019-05-04 22:56] alodahl commented on #797
@yati1998 your PR is changing something like 100 files - please fix that first.

[2019-05-05 01:22] imskr commented on #598
Thank You @alodahl . Noted, I will do it.

[2019-05-05 01:58] raibove commented on #800
Can I work on this issue @alodahl

[2019-05-05 07:31] yati1998 commented on #797
@alodahl  can I work on this issue? I have already made the required changes in the previous issue.

[2019-05-05 10:51] rudri182 commented on #796
May I work on this issue?

[2019-05-05 17:01] alodahl commented on #800
Sure @raibove, just make sure to address your PR fixes first.

[2019-05-06 06:09] rudri182 commented on #796
May I put a link that you have mentioned in the description?

[2019-05-06 12:03] imskr commented on #598
@alodahl Please give me access to initial slides.

[2019-05-07 01:23] alodahl commented on #598
I gave you access to: 2,5,6,7,8,13,14,15,16,17,18,19,21,22,24,25,27,28,& 29.

Please ask owner for 30, since I don’t have access either.

Don’t worry about: 12,26.

[2019-05-07 09:34] yati1998 commented on #797
@alodahl in the above issue, do you want me to replace both the restaurant project files with the event or shall I need to have new files in the javascript folder having the same contents as that of restaurants?
Do I need to have any change in the eventonica file? or just need to add a new events project file. What exactly the event should be? IT will be kind of you if you can help in this few dou

[2019-05-07 10:12] yati1998 commented on #797
@Kundan28  please can you help me clear my above doubts?

[2019-05-07 16:29] alodahl commented on #797
@yati1998 we can answer your questions, but I am going to keep this issue open until you address my PR comments - many changes are required in #811 .

[2019-05-07 16:45] tiffanyjstuart commented on #802
Is the line "Queue (high volume architecture - processing events sequentially)" supposed to appear somewhere in the current outline or slides? I'm not seeing it...

[2019-05-07 17:37] yati1998 commented on #797
@alodahl  sure.

[2019-05-08 06:23] alodahl commented on #797
@yati1998 I wont have a chance to look at the mini project PR until tomorrow, so I wanted to give you a chance to work on this if you like. I will try to answer your questions the best I can.

[2019-05-08 06:26] alodahl commented on #797
**"in the above issue, do you want me to replace both the restaurant project files with the event or shall I need to have new files in the javascript folder having the same contents as that of restaurants?"**

Either way is fine, just make sure they are about social events instead of restaurants.

**"Do I need to have any change in the eventonica file?"** No, you can leave Eventonica alone.

** Wh

[2019-05-08 06:56] #795 closed

[2019-05-08 06:59] yati1998 commented on #797
@alodahl  do we need to have 2 parts of the project for events as we have for the restaurants?

[2019-05-08 07:03] alodahl opened #813 "placeholder: divide and conquer repl.it automated tests"
duplicate of #851

[2019-05-08 07:08] alodahl opened #814 "Add tips to debugging lesson"
## Task:

Add the following tips to our debugging.md outline.  You should make a General Tips sub-section in Lesson, or add the tip in common misconceptions if it seems like a better spot.  You are welcome to re-word these, too:

  - the phrase "pattern matching" and why it's important: use other code snippets to remind yourself of correct syntax

  - when VS Code shows you a red squiggly underlin

[2019-05-08 07:09] alodahl opened #815 "add Lighthouse resource to a11y topic"
mention https://github.com/GoogleChrome/lighthouse to our [Accessibility Topic Outline](/accessibility/accessibility.md) in an appropriate section with a sentence or 2 about the resource. it now comes in chrome. find it under audit.

[2019-05-08 07:09] imskr commented on #599
Can I take this?

[2019-05-08 07:10] alodahl opened #816 "Add new concepts to Bootstrap lesson"
### Task:

Find our outline introducing Bootstrap for the first time, and add explanations of these 3 concepts in the Lesson section.  For any further explanation, ask @judytuna .

  - containers inside of containers. talk about rows and columns.

  - rows vs "masonry-style" a la pinterest

  - clarify order of overriding. large overrides small when screen is large. col-xs-12 col-lg-6 for example

[2019-05-08 07:11] alodahl opened #817 "Make some additions and fixes to our Agile topic."
## Task:
Make some important fixes to our Agile Topic.

- [Agile Topic Outline](https://github.com/Techtonica/curriculum/blob/master/agile-development/intro-to-agile.md)
- [Agile Topic Slideshow](https://docs.google.com/presentation/d/1SdCigo6K4aW8p-SZRA0vdI6w628pwhjzf-oX8UKIhS8/edit?usp=sharing) (DM Alina for edit permissions)

1.  Add bullet points for the basic topic covered in the lesson under

[2019-05-08 07:15] alodahl opened #818 "Add mac tips to keyboard shortcuts file"
Explain these mac tips in a relevant section of keyboard-shortcuts.md:

  - two fingers to scroll on touchpad

  - pairing a magic mouse: put it in discovery mode by 1. turn it off. 2. hold down the mouse "button" and keep holding while you 3. turn it on (using the tiny switch on the back). then the green light should blink twice repeatedly. https://apple.stackexchange.com/a/181549

  - rename you

[2019-05-08 07:21] alodahl opened #819 "Research task: find a good place to mention lorem ipsum text, images"
## Task:
1. Look through the Client-side curriculum in the project ReadMe.md for a good place to mention resources to get lorem ipsum text, images.
2. Comment in this issue, and let Alina know which file and which section you think this would work well in.
3. Add links for places to find lorem ipsum text/ images, as well as a short explanation of when you would need it during development.
4. Make

[2019-05-08 07:23] vsharma20v commented on #819
@alodahl ma'am can I work take this issue?

[2019-05-08 07:34] alodahl opened #820 "Add bash resource to first command line lesson"
## Task:

1. Look through this resource:  https://guide.bash.academy/inception/
2. Find the file command-line-interface.md.
3. Add the resource link to that file in the supplemental materials section, along with the fact that it is a recommended resource, and a short description of what they'll find there.
4. Make your PR!

[2019-05-08 07:39] alodahl commented on #797
yes please

[2019-05-08 07:43] yati1998 commented on #797
@alodahl  I have made the PR. Please do review it when you get time. I am not sure whether I was correct in those changes. Please do suggest the changes required or do mention if I go wrong anywhere.
Thank you.

[2019-05-08 07:46] yati1998 commented on #799
@alodahl  I would really like to work on this issue once you accept my changes on the previous PRs. It will be great of you if you assign me this issue when you feel, I am eligible for it.
Thank You.

[2019-05-08 15:06] alodahl commented on #802
@tiffanyjstuart thanks for pointing out my postgresql goof.

I have no clue about the reference... I was hoping it would be in the file history somewhere.  If theres not evidence at all, we should just delete that part.

[2019-05-08 15:23] alodahl commented on #799
I just assigned you another issue, @yati1998 .  Do you want to switch?

[2019-05-08 15:26] yati1998 commented on #799
No I have worked on that PR.  I just want to work on this issue once the other is approved.  It's ohk if you assign me this issue later.

[2019-05-08 16:49] alodahl commented on #799
Ok, just be aware that by finished, here it means merged.

[2019-05-09 08:15] imskr commented on #599
I need access to slide no: 31, 32, 33, 34, 38, 41, 42, 43, 44, 46, 47, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60 @alodahl

[2019-05-09 11:30] Kundan28 commented on #599
@imskr I have reviewed slideshow  no. 35, 36, 37, 40, 45 & 50 and commented all the changes to be made.

[2019-05-09 11:52] imskr commented on #599
Thanks @Kundan28!  I haven't started with this issue yet!  Just waiting to get access to all then I will start.

[2019-05-09 12:37] Kundan28 commented on #599
You can work on rest of them whose access you have right now...as it will save a lot of time.

[2019-05-09 15:57] alodahl commented on #819
To clarify:
Part of the issue’s task is to make the decision of where to put the link.  Once you find it, check with me.  Then you can put the link in, as well as a short description of why we’re adding it - to provide filler text and images for when you’re designing your site, but before you have your content ready.

[2019-05-09 19:25] vsharma20v commented on #819
@alodahl ma'am its a bit difficult because no topic outline does justice with the importance of it. I would like to present a new idea for this what about adding a new topic outline "best practices in Client-side Development " and then add about lorem text/images in that and also some more best practices like using small size image for the mobile view of the website.

[2019-05-10 00:55] alodahl commented on #819
That sounds like a good idea.  No pressure to add a lot of extra topics, but if you think it would be better on its own, go ahead and start your own file using a template from _templates/ .  😊

[2019-05-10 09:37] rudri182 commented on #796
Is this issue solving creating **hash maps** or **hash tables** ? First I added the tutorials describing hash tables but then I read _creating and using a hash map_. I have added both under the section of **guided practice** as the _link_ in the description is for _hash tables_.  So may I keep both or keep only for hash maps?

[2019-05-11 02:36] alodahl commented on #796
Oops, sorry, it should be about hash tables. It would be nice to tell them the difference under Common Misconceptions.

[2019-05-11 19:28] raibove commented on #700
@alodahl these topics look fine, please check:
https://github.com/Techtonica/curriculum/blob/master/women-in-tech-resources/resources-list.md
https://github.com/Techtonica/curriculum/blob/master/algorithms/intro-to-algorithms.md
https://github.com/Techtonica/curriculum/blob/master/data-structures/trees.md
https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-1.md

Can I work o

[2019-05-11 22:51] alodahl opened #824 "Take a hard look at our sql relational databases outline"
We need someone with a good knowledge of relational databases to fix and audit our https://github.com/Techtonica/curriculum/blob/master/databases/relational-databases.md outline.  Currently, it has good content, but lots of problems:

- [x] Scary Avalanche of materials. It should only have what we require learners to do as part of the lesson. Please look at these and decide what they really need,

[2019-05-11 22:56] alodahl commented on #700
@raibove yes please add them, thank you! 😁

[2019-05-11 23:02] alodahl commented on #700
@Kundan28 @manaswinidas @Shwetha-Acharya @saberprashant @praveenscience please remember that for the multiple assignees encouraged issues, EACH FILE that is fixed according to the issue description should get them the GSSoC points.  So if raibove does all three of those topics, she'll get easy points X 3.

[2019-05-12 04:02] Kundan28 commented on #700
Okay, will make sure that points are given X 3.

[2019-05-12 05:13] yati1998 commented on #824
@alodahl Can I work on this issue once I am done with the other issue. I have made changes in the previous one.

[2019-05-12 05:16] Kundan28 commented on #824
Yeah, you can definitely work on this issue once your all pending PR are merged...

[2019-05-12 06:32] alodahl commented on #794
How is this going, @hoserdude ?

[2019-05-12 06:34] alodahl commented on #784
Do you think this is something you can help with, @ramlaxman ?

[2019-05-12 13:22] rudri182 commented on #796
It's okay. I am adding it to the **misconceptions** section. 😄

[2019-05-14 02:30] raibove commented on #820
Can I work on this issue once my PR gets merged?

[2019-05-14 02:43] raibove commented on #820
The command line lesson is under Programmer tools  - Intro to Command Line Interface Tools [https://github.com/Techtonica/curriculum/blob/master/command-line/command-line-interface.md].
I did not found file with name first command line in Client-side section.

The file is also not mentioned in this folder :[https://github.com/Techtonica/curriculum/tree/master/command-line]

[2019-05-14 16:17] alodahl commented on #820
Sorry, that's the one - please use command-line-interface.md.

[2019-05-14 16:36] #798 closed

[2019-05-15 01:08] yati1998 commented on #824
@alodahl  can you please assign me this issue?

[2019-05-15 06:35] alodahl commented on #570
Please read the issue description and decide if you would like to work on this issue.  The issue is not about making additions to lessons. Other suggestions are fine, but you will not get issue points.

[2019-05-15 06:40] alodahl opened #829 "separate supplemental resources from required materials in 10 files (Part 1)"
On one side, some apprentices think that they need to throughly look through every material, and are getting way behind because of it.  On the other, many well-meaning volunteers have thrown the kitchen sink into the "materials" section, when many or even all of them should be considered "supplemental resources" (supplemental meaning additional, extra, not required).

Look through topic outlines,

[2019-05-15 06:42] alodahl opened #830 "separate supplemental resources from required materials in 10 files (Part 2)"
On one side, some apprentices think that they need to throughly look through every material, and are getting way behind because of it.  On the other, many well-meaning volunteers have thrown the kitchen sink into the "materials" section, when many or even all of them should be considered "supplemental resources" (supplemental meaning additional, extra, not required).

Look through topic outlines,

[2019-05-15 06:45] alodahl opened #831 "separate supplemental resources from required materials in 10 files (Part 3)"
On one side, some apprentices think that they need to throughly look through every material, and are getting way behind because of it.  On the other, many well-meaning volunteers have thrown the kitchen sink into the "materials" section, when many or even all of them should be considered "supplemental resources" (supplemental meaning additional, extra, not required).

Look through topic outlines,

[2019-05-15 06:46] alodahl opened #832 "separate supplemental resources from required materials in 10 files (Part 4)"
On one side, some apprentices think that they need to throughly look through every material, and are getting way behind because of it.  On the other, many well-meaning volunteers have thrown the kitchen sink into the "materials" section, when many or even all of them should be considered "supplemental resources" (supplemental meaning additional, extra, not required).

Look through topic outlines,

[2019-05-15 06:49] alodahl opened #833 "separate supplemental resources from required materials in 10 files (Part 5)"
On one side, some apprentices think that they need to throughly look through every material, and are getting way behind because of it.  On the other, many well-meaning volunteers have thrown the kitchen sink into the "materials" section, when many or even all of them should be considered "supplemental resources" (supplemental meaning additional, extra, not required).

Look through topic outlines,

[2019-05-15 06:52] alodahl opened #834 "separate supplemental resources from required materials in 10 files (Part 6)"
On one side, some apprentices think that they need to throughly look through every material, and are getting way behind because of it.  On the other, many well-meaning volunteers have thrown the kitchen sink into the "materials" section, when many or even all of them should be considered "supplemental resources" (supplemental meaning additional, extra, not required).

Look through topic outlines,

[2019-05-15 06:56] alodahl opened #835 "separate supplemental resources from required materials in 10 files (Part 7)"
On one side, some apprentices think that they need to throughly look through every material, and are getting way behind because of it.  On the other, many well-meaning volunteers have thrown the kitchen sink into the "materials" section, when many or even all of them should be considered "supplemental resources" (supplemental meaning additional, extra, not required).

Look through topic outlines,

[2019-05-15 06:58] alodahl opened #836 "separate supplemental resources from required materials in 10 files (Part 8)"
On one side, some apprentices think that they need to throughly look through every material, and are getting way behind because of it.  On the other, many well-meaning volunteers have thrown the kitchen sink into the "materials" section, when many or even all of them should be considered "supplemental resources" (supplemental meaning additional, extra, not required).

Look through topic outlines,

[2019-05-15 07:00] alodahl opened #837 "separate supplemental resources from required materials in 3 files (Part 9)"
On one side, some apprentices think that they need to throughly look through every material, and are getting way behind because of it.  On the other, many well-meaning volunteers have thrown the kitchen sink into the "materials" section, when many or even all of them should be considered "supplemental resources" (supplemental meaning additional, extra, not required).

Look through topic outlines,

[2019-05-15 07:00] #570 closed

[2019-05-15 07:05] alodahl commented on #500
@Rita-Okonkwo how is this issue going?  Will you be able to finish?

[2019-05-15 07:05] #598 closed

[2019-05-15 07:05] #731 closed

[2019-05-15 07:06] #800 closed

[2019-05-15 07:08] alodahl commented on #599
@imskr how is this issue going? Do you need anything?

[2019-05-15 07:11] alodahl commented on #824
@yati1998 after making changes to #821 you are welcome to work on this 😊

[2019-05-15 07:17] yati1998 commented on #824
@alodahl I have made the required changes.

[2019-05-15 07:42] pydevsg commented on #833
I would like to grab this issue @alodahl , please assign me , I will finish them up very soon.

[2019-05-15 11:27] raibove commented on #837
can I work on this issue @alodahl  @Kundan28

[2019-05-15 11:38] imskr commented on #599
Sorry for the delay @alodahl I will finish this today. 😁

[2019-05-15 16:04] alodahl commented on #837
Sure! Just prioritize your PRs first.

[2019-05-15 16:31] #698 closed

[2019-05-15 16:37] alodahl commented on #819
How is this issue going? Do you need anything?

[2019-05-15 16:48] yati1998 commented on #824
@alodahl  can you please tell me what I need to do with #790 ? and moreover it is not related to this outline, so do I need to make the change in the material section or will refer to some other?

[2019-05-15 17:24] yati1998 commented on #824
@alodahl  what do I need to check in #700 ?

[2019-05-15 18:56] alodahl commented on #824
Be sure that your file follows the guidelines set in #790 and #700 , since you will be working on all sections here.

[2019-05-16 03:02] vsharma20v commented on #819
I'm working on it but my speed gets slow because I have my last exam tomorrow.
After tomorrow I will be catchup my previous speed. :man_technologist:

[2019-05-16 15:22] #797 closed

[2019-05-16 15:23] alodahl commented on #819
Good luck!!!  📝🧠

[2019-05-16 16:22] raibove commented on #814
@alodahl can I work on these issue

[2019-05-16 16:29] raibove commented on #700
@alodahl  These topics look fine, Please check:
https://github.com/Techtonica/curriculum/blob/master/professionalism/professionalism.md
https://github.com/Techtonica/curriculum/blob/master/ergonomics/ergonomics.md
https://github.com/Techtonica/curriculum/blob/master/learning-to-learn/learning-to-learn.md

[2019-05-16 16:44] yati1998 commented on #824
@alodahl  please do check my new PR.

[2019-05-16 16:47] yati1998 commented on #829
@alodahl  Can I work on this until my previous pr is reviewed?

[2019-05-17 02:37] raibove commented on #700
@alodahl  Can I work on these topics once my PR gets merged https://github.com/Techtonica/curriculum/blob/master/css/css.md
https://github.com/Techtonica/curriculum/blob/master/html/html.md
https://github.com/Techtonica/curriculum/blob/master/command-line/command-line-interface.md
https://github.com/Techtonica/curriculum/blob/master/seo/seo.md

[2019-05-18 01:35] raibove commented on #700
@alodahl can I work on these topics till my PR gets merged.

[2019-05-18 01:53] alodahl commented on #700
@raibove you can start now 😊

[2019-05-18 05:16] yati1998 commented on #829
@alodahl ( https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/sales-engineering.md) outline looks fine. I don't think it requires any change.

[2019-05-18 05:38] yati1998 commented on #829
@alodahl  expect for the following outline all seemed correct to me:
1. https://github.com/Techtonica/curriculum/blob/master/ethics/ethics.md
2. /financial-literacy/financial-literacy.md
3. /roles-in-tech/developer-advocate.md
Please do review my changes and do mention if you feel some other changes are required.

[2019-05-18 14:02] raibove commented on #288
@alodahl these topics contains motivation section but company name is not mentioned:
https://github.com/Techtonica/curriculum/blob/master/open-source/open-source.md
https://github.com/Techtonica/curriculum/blob/master/algorithms/intro-to-algorithms.md
https://github.com/Techtonica/curriculum/blob/master/command-line/env.md
https://github.com/Techtonica/curriculum/blob/master/ui-ux-design/ui-ux-des

[2019-05-18 15:31] vsharma20v commented on #832
@alodahl ma'am can I take this issue?

[2019-05-18 15:36] #599 closed

[2019-05-18 15:37] alodahl commented on #616
@pydevsg are you still able to complete this issue?

[2019-05-18 15:39] alodahl commented on #288
Yes, they should all have example companies.

[2019-05-18 19:14] raibove commented on #799
@alodahl can I work on this issue.

[2019-05-18 21:01] pydevsg commented on #616
Yes,I am in the midst trying to wrap it up as early as possible.

[2019-05-19 02:39] raibove commented on #799
@alodahl please give me access to edit Roadmap

[2019-05-19 04:11] raibove commented on #799
I don't have write access to README file. It created conflicts to my PR. Please provide me access to README.md

[2019-05-19 08:04] vsharma20v commented on #832
@alodahl ma'am for this
https://github.com/Techtonica/curriculum/blob/master/databases/data-models.md
topic outline there is no link of slides.
can you give me it's slide link?

[2019-05-19 18:15] vsharma20v commented on #815
@alodahl ma'am can I take this issue?

[2019-05-19 18:56] raibove commented on #834
@alodahl  can I start working on this issue till I get edit access for sheets in issue #799.

[2019-05-19 19:00] alodahl commented on #500
Hi Rita, you have had this issue for the whole month. If I don’t hear from you in the next day or 2, I will make this issue available to other participants.

[2019-05-19 19:13] alodahl commented on #799
Your write access and your conflicts are not related. Resolve the conflicts per my PR comment and it should be fine.

[2019-05-19 19:33] alodahl commented on #832
https://docs.google.com/presentation/d/19XTnwuzk11SaE0Kgn0R0t_nvQ_1L0j_Tk-AdwfcsiTg

[2019-05-19 19:38] alodahl opened #851 "Create 15 automatic tests in our Repl.it classroom"
15/45

only Techtonica Admins are able to test these, so GSSoc Mentors please mark this in the scoresheet when a PR is made.

[2019-05-19 19:46] alodahl commented on #799
Slack me your email address so I can give you access to the Google Sheet Roadmap.

[2019-05-19 19:47] alodahl commented on #834
Sure, as long as you fulfill all 4 acceptance criteria for the issue.

[2019-05-19 23:49] alodahl opened #852 "Strengthen "Motivation" sections: Part 1"
This issue is intended for a single contributor.  Most or all of the Topic Outlines below have an absent or incomplete ### Motivation section.

Ensure that they all have:
- Useful "Motivation" sections, and
- 2 companies that use that technology, how they use it, and a  link to an example. Ideally, they are well-known companies.
- [Here's an example of a good motivation section.](https://github.co

[2019-05-19 23:52] alodahl opened #853 "Strengthen "Motivation" sections: Part 2"
This issue is intended for a single contributor.  Most or all of the Topic Outlines below have an absent or incomplete ### Motivation section.

### Ensure that they all have:
- Useful "Motivation" sections, and
- 2 companies that use that technology, how they use it, and a  link to an example. Ideally, they are well-known companies.
- [Here's an example of a good motivation section.](https://githu

[2019-05-19 23:56] alodahl opened #854 "Strengthen "Motivation" sections: Part 3c"
This issue is intended for a single contributor.  Most or all of the Topic Outlines below have an absent or incomplete ### Motivation section.

### Ensure that they all have:
- Useful "Motivation" sections, and
- 2 companies that use that technology, how they use it, and a  link to an example. Ideally, they are well-known companies.
- [Here's an example of a good motivation section.](https://githu

[2019-05-20 00:00] alodahl opened #855 "Strengthen "Motivation" sections: Part 4"
This issue is intended for a single contributor.  Most or all of the Topic Outlines below have an absent or incomplete ### Motivation section.

### Ensure that they all have:
- Useful "Motivation" sections, and
- 2 companies that use that technology, how they use it, and a  link to an example. Ideally, they are well-known companies.
- [Here's an example of a good motivation section.](https://githu

[2019-05-20 00:00] alodahl opened #856 "Strengthen "Motivation" sections: Part 5"
This issue is intended for a single contributor.  Most or all of the Topic Outlines below have an absent or incomplete ### Motivation section.

### Ensure that they all have:
- Useful "Motivation" sections, and
- 2 companies that use that technology, how they use it, and a  link to an example. Ideally, they are well-known companies.
- [Here's an example of a good motivation section.](https://githu

[2019-05-20 00:01] #288 closed

[2019-05-20 01:03] #820 closed

[2019-05-20 01:48] yati1998 commented on #852
@alodahl can I keep working on this issue until my previous ones are being reviewed?

[2019-05-20 02:05] raibove commented on #799
I have doubt regarding updating roadmap. Do I need to change the link from line 127,131 and 136.
Will there be any change in the order of week 5 & 6.

[2019-05-20 15:32] alodahl commented on #852
You have unaddressed comments in both of your PRs, fix those first.

[2019-05-20 15:39] alodahl commented on #799
You should only be replacing lines with restaurant recommender links. That is the only change.

[2019-05-20 15:42] raibove commented on #799
Ok. I made the changes in sheet

[2019-05-20 15:51] alodahl commented on #799
Thank you! 😄
We’re you  able to complete all the tasks in the description?

[2019-05-20 15:56] raibove commented on #799
Yes
I updated the readme and roadmap. I also looked for restaurant recommender project in the curriculum but it was not mentioned

[2019-05-20 18:27] saberprashant commented on #583
Hi @vsharma20v , would you like to work on this one now?

[2019-05-21 02:49] raibove commented on #700
This topic have questions in Check for Understanding but Projected Time is not updated
https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-2.md
Is separate PR required for this topic?

Is Check for Understanding required for this topic: https://github.com/Techtonica/curriculum/blob/master/interviewing/week-3-whiteboard-challenges.md

[2019-05-21 02:49] raibove commented on #700
Can I work on these topics:
https://github.com/Techtonica/curriculum/blob/master/diversity-inclusion-bias/inclusion.md
https://github.com/Techtonica/curriculum/blob/master/personal-brand/personal-branding.md
https://github.com/Techtonica/curriculum/blob/master/writing-readable-code/writing-readable-code.md
https://github.com/Techtonica/curriculum/blob/master/interviewing/whiteboarding.md
https://g

[2019-05-21 15:19] alodahl commented on #700
@raibove :
- week-3-whiteboard-challenges.md does not need a check for understanding. And Projected Time is not part of an issue, but thanks for noticing!
- You absolutely can work on those topics!

[2019-05-21 15:25] alodahl opened #859 "Create 15 automatic tests in our Repl.it classroom Part 2"
30/45

only Techtonica Admins are able to test these, so GSSoc Mentors please mark this in the scoresheet when a PR is made.

[2019-05-21 15:26] Kundan28 commented on #859
Okay @alodahl

[2019-05-21 15:33] alodahl opened #860 "Strengthen "Motivation" sections: Part 6"
This issue is intended for a single contributor.  Most or all of the Topic Outlines below have an absent or incomplete ### Motivation section.

### Ensure that they all have:
- Useful "Motivation" sections, and
- 2 companies that use that technology, how they use it, and a  link to an example. Ideally, they are well-known companies.
- [Here's an example of a good motivation section.](https://githu

[2019-05-21 15:37] alodahl opened #861 "Strengthen "Motivation" sections: Part 7"
This issue is intended for a single contributor.  Most or all of the Topic Outlines below have an absent or incomplete ### Motivation section.

### Ensure that they all have:
- Useful "Motivation" sections, and
- 2 companies that use that technology, how they use it, and a  link to an example. Ideally, they are well-known companies.
- [Here's an example of a good motivation section.](https://githu

[2019-05-21 16:00] alodahl commented on #852
@yati1998 I've assigned this issue to you; just address my comments in #842 before moving on.

[2019-05-21 16:05] #832 closed

[2019-05-21 16:20] yati1998 commented on #852
Thank you so much @alodahl . I am working on the previous ones.

[2019-05-21 16:26] #813 closed

[2019-05-21 16:33] alodahl commented on #544
Hi Judy, I've made issues out of all the points in your first main description that made sense to me. The rest require more explanation before I know what to ask of a volunteer.  Can you add more details or make them into issues yourself when you get the chance?

[2019-05-22 03:59] yati1998 commented on #852
@alodahl We don't require to add companies in the following:
https://github.com/Techtonica/curriculum/blob/master/interviewing/technical-interviewing.md
https://github.com/Techtonica/curriculum/blob/master/resume-writing/resume-writing.md
https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/entrepreneurship.md

[2019-05-22 04:27] #819 closed

[2019-05-22 04:31] yati1998 commented on #853
@alodhal can I work on this issue once you review the other ones. I have made the changes and PR to the other issues.

[2019-05-22 04:33] alodahl commented on #852
Please find companies that use technical interviewing. The other 2 are ok.

[2019-05-22 17:54] vsharma20v commented on #830
@alodahl ma'am can u assign this issue to me?

[2019-05-23 00:35] alodahl opened #866 "Create 15 automatic tests in our Repl.it classroom Part 3"
45/45

only Techtonica Admins are able to test these, so GSSoc Mentors please mark this in the scoresheet when a PR is made.

[2019-05-23 12:19] frostborne commented on #818
@alodahl Can I claim this issue? I'm a Gssoc participant. I'm thinking about creating a new section - **'General Tips'** or **'General Accessibility Tips'**  since there is no relevant section where the above tips can be placed.

[2019-05-23 16:31] alodahl commented on #818
sure @frostborne, just make sure the tips title specifies they are for Mac.  I dont know if you should say 'accessibility', since that implies screen readers, etc... features that allow people with specific needs to use an app.

[2019-05-23 16:33] alodahl commented on #818
reply to my github invitation, and I will add you as the assignee.

[2019-05-23 16:33] #815 closed

[2019-05-23 17:01] frostborne commented on #818
@alodahl Thanks, invitation accepted

[2019-05-23 17:47] raibove commented on #836
@alodahl  can I work on this issue after all my pending PR gets merged.

[2019-05-23 19:55] vsharma20v commented on #814
@alodahl ma'am can u assign this issue to me?

[2019-05-23 20:17] vsharma20v commented on #607
@alodahl @daaimah123 @judytuna ma'am I want to give this issue a try so can u tell me what I need to do in this plz describe it more.

[2019-05-24 00:27] Kundan28 commented on #836
Yeah, definitely.

[2019-05-24 04:32] alodahl commented on #607
@vsharma20v have you read the comments so far?

[2019-05-24 04:36] #834 closed

[2019-05-24 10:44] saberprashant commented on #500
Hi @alodahl , @Rita-Okonkwo confirmed that she won't be able to work on this issue now as she is busy with her school, so I think we should assign this issue to someone else now.

[2019-05-25 11:35] frostborne commented on #854
@alodahl  Can I work on this issue?

[2019-05-25 12:09] raibove commented on #816
Can I work on  this issue

[2019-05-26 01:32] ramlaxman commented on #784
@alodahl Definitely. I have worked as Subject Matter Expert for Linux, python, cloud computing for 2 years.
Kindly allocate me issue directly so I should get things start asap.

[2019-05-26 01:46] alodahl commented on #784
@ramlaxman   You are welcome to start working on anything in the "To-do" column on our project board: https://github.com/Techtonica/curriculum/projects/2

[2019-05-26 01:52] yati1998 commented on #853
@alodahl can I still work on this issue, if my previous commits are done?

[2019-05-26 01:59] ramlaxman commented on #784
Thanks. I will start asap.

[2019-05-26 01:59] #784 closed

[2019-05-26 02:11] yati1998 commented on #853
Thank you so much @alodahl

[2019-05-26 02:13] #830 closed

[2019-05-26 17:51] yati1998 commented on #855
@alodahl can you assign me this issue once I am done with the other commits? Only minor changes are left in that I guess.

[2019-05-27 04:14] yati1998 commented on #855
@alodahl Can I work on this?

[2019-05-27 05:12] raibove commented on #816
@judytuna  @alodahl  I am not able to understand the first point 'containers inside containers'. Shall I explain nested containers in it.

[2019-05-27 05:23] yati1998 commented on #855
@alodahl only one file doesn't have the motivation section I have added that to it. Remaining are either features, quality or framework. So, I dont think companies are needed to add. Still, if you want me to add in any do mention.

[2019-05-27 05:28] yati1998 commented on #856
@alodahl Can I work in this issue until the other one is reviewed?

[2019-05-27 16:00] alodahl commented on #816
I think that’s right. @judytuna ?

[2019-05-27 16:03] alodahl commented on #855
Thanks Yati. If you think companies don’t make sense in a motivation section, find something about why it’s essential for developers to learn. For example, for VS code, you something about how many developers prefer it because it helps them do ? really quickly or well.

[2019-05-27 16:12] #836 closed

[2019-05-27 16:20] #853 closed

[2019-05-27 16:21] #866 closed

[2019-05-27 16:22] #818 closed

[2019-05-27 16:22] #859 closed

[2019-05-27 16:23] #799 closed

[2019-05-27 16:23] #851 closed

[2019-05-27 16:23] #829 closed

[2019-05-27 16:24] alodahl commented on #833
How is this going @pydevsg ? I don’t see a PR attached to this issue.

[2019-05-27 16:24] #837 closed

[2019-05-27 16:25] alodahl commented on #616
Will you be able to finish this for gssoc?

[2019-05-27 16:28] alodahl opened #879 "Add example solutions to challenges in repl.it classroom"
Only admins can access our account to check this, so Mentors please approve once the PR is in the scoresheet.

[2019-05-27 17:44] yati1998 commented on #856
@alodahl you have unassigned this issue means can't I work on this. I have already started a bit of it.

[2019-05-27 17:46] alodahl commented on #856
Oh! Ok, I’ll reassign you Yati.

[2019-05-27 17:46] #824 closed

[2019-05-27 18:05] pydevsg commented on #833
I will finish this up within upcoming two days.

[2019-05-27 18:05] yati1998 commented on #855
@alodahl I have made the required changes . Please do review it. I hope you like it.

[2019-05-27 18:06] pydevsg commented on #616
Yes, I will due to semester exam I am unable to provide a PR, the content is ready.
Will grab up as early as possible.

[2019-05-27 18:14] yati1998 commented on #856
@alodahl thank you.

[2019-05-27 18:20] yati1998 commented on #855
@alodahl I have made the required changes . Please do review it. I hope you like it.

[2019-05-27 18:48] yati1998 commented on #860
@alodahl it will be grateful if you assign me this issue. I shall work on this once I am done with my previous commits.

[2019-05-27 20:25] alodahl commented on #860
Please make changes to your existing PRs first.

[2019-05-27 21:06] alodahl opened #881 "Add coding event sections, specify event locations and times"
We have some great resources in https://github.com/Techtonica/curriculum/blob/master/women-in-tech-resources/resources-list.md, but we need to clean up some hackathon info.

- [ ] in the India part of the outline, someone has made some great sections like Hackathons, Competitions, Open-Source, etc. Please look through the links in General/SF Bay Area and make sections like this too. One still need

[2019-05-27 23:52] alodahl opened #882 "Add any missing full lesson outlines from roadmap spreadsheet to root README"
We have added a lot of content, and need help updating our Techtonica/curriculum Readme Table of Contents. https://github.com/Techtonica/curriculum#table-of-contents

Keep the current format, but add any missing or outdated links in the "outline" column in the Techtonica Roadmap to our ReadMe. This includes assessments and tutorial links, and any link in the "outline" column that isn't private acc

[2019-05-28 01:12] #796 closed

[2019-05-28 02:58] yati1998 commented on #855
@alodahl  The above-referenced PR is of the motivation section Part 5. I have made another PR for this issue but couldn't find it now. Neither it is in the list of PRs. Can you help me figure it out.

[2019-05-28 04:06] yati1998 commented on #855
@alodahl  I have figured out the problem and made a new PR for this issue. Please do review that.

[2019-05-28 06:00] alodahl commented on #855
Are you saying #880 is no longer necessary? If so, close it.

[2019-05-28 06:04] yati1998 commented on #855
No.  That PR is for issue #856 motivation part5.

[2019-05-28 06:43] alodahl commented on #855
Then Remove the reference to this issue, it’s confusing.

[2019-05-28 16:35] raibove commented on #816
@alodahl  nested container are mostly not used, so I can't find its much reference from internet too.
Can I switch to another issue

[2019-05-28 16:56] tiffanyjstuart commented on #802
@alodahl I don't see that line is anywhere in the file, so it don't think it needs to be deleted. I think you can just close this Issue, unless you have a pointer to the specific line.

[2019-05-29 04:13] alodahl commented on #802
Thanks Tiffany

[2019-05-29 04:21] alodahl commented on #816
I think it just means show them how to position containers in other containers. But you may switch to another issue.

[2019-05-29 05:43] #852 closed

[2019-05-29 06:25] vsharma20v commented on #831
@alodahl can I take this issue?

[2019-05-29 12:21] yati1998 commented on #860
@alodahl I have made the changes.
Below are the outlines looks perfect to me:
https://github.com/Techtonica/curriculum/blob/master/data-structures/stack.md
https://github.com/Techtonica/curriculum/blob/master/data-structures/queues.md
https://github.com/Techtonica/curriculum/blob/master/data-structures/deque.md
https://github.com/Techtonica/curriculum/blob/master/data-structures/hash-tables.md
htt

[2019-05-29 16:17] alodahl commented on #860
Have you made a PR for the rest?

[2019-05-29 16:18] alodahl commented on #860
Nope! They all need companies, please.

[2019-05-29 16:26] yati1998 commented on #860
yes, I have just made the PR. It wasn't pushed as the network here is very poor. Please do review it. And I am  trying to add companies to the remaining.

[2019-05-29 19:10] yati1998 commented on #861
@alodahl can I work on this once you review my other PR's?

[2019-05-30 04:54] vsharma20v commented on #831
@alodahl ma'am can u give me the correct link of the first outline?

[2019-05-30 19:08] pydevsg commented on #833
@alodahl Starting from the 1st content I have made the change in PR [889](https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-8-regex.md), then PR [890](https://github.com/Techtonica/curriculum/pull/890).
Contents in the link 3 and link 4 needs no change to be done because I think they are absolutely fine.
Links 5,7 and 9 are not the correct link .
 Check PR [891](https://gi

[2019-05-30 19:13] pydevsg commented on #835
I am taking this issue @alodahl .

[2019-05-30 19:15] saberprashant commented on #833
Hi @pydevsg , please merge all of your pull requests into one. It helps us to keep a track based on an issue. I can see that you made 4 PR's with the same issue, which is wrong, so make a single PR.

[2019-05-30 20:14] yati1998 commented on #861
@alodhal
1. financial literacy
2. resource list
3.env
4. negotiating
seems good to me. Still if you think any changes are required than please do mention.

[2019-05-30 21:06] pydevsg commented on #833
FIxing the issues.
- [x]  https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-5.md
- [x]   https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-6-object-literals.md
- [x]   https://github.com/Techtonica/curriculum/blob/master/javascript/basic-js-practice.md
- [x]   https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-7-oop.md
- [ ]

[2019-05-30 21:09] pydevsg commented on #833
Okay @saberprashant , thanks for the help. But direct merge from my local branch  isn't happening as git is  showing blocked status when I am making new branch and solving all the issue.

[2019-05-31 01:40] alodahl commented on #833
Look up git cherry-pick; I think it will solve your problem.

[2019-05-31 03:39] alodahl commented on #861
I agree, those look fine. 👍🏻

Please slow down to spell things correctly and format your comments, titles, descriptions and documentation. Communication matters in an SE career.

[2019-05-31 03:41] yati1998 commented on #861
@alodahl which comments do you want me to format?

[2019-05-31 10:25] pydevsg commented on #833
@alodahl there is some privacy error with the outlines( I guess as I am not a part of the Techtonica community - I mean admin or so) my PR is sill showing the same error and cannot provide a PR .
Please help as early as possible or do merge my PRs(there's no other option left than that ;)

[2019-05-31 10:55] pydevsg commented on #881
I am taking this issue @alodahl .

[2019-05-31 11:37] pydevsg commented on #833
Finally its merged into one PR. 😄

[2019-05-31 13:28] alodahl commented on #861
Everything in the future, please ;)

[2019-05-31 13:33] yati1998 commented on #861
I am sorry for that. I will be careful about every comment of mines.

[2019-05-31 14:22] alodahl opened #899 "Add "Specific Things to Teach" list to Agile outline"
## Task:
Add a "Specific Things to Teach" list to our [Intro to Agile outline](/agile-development/intro-to-agile.md). It should just be a bulleted list summary of what they will learn in the lesson.  See other outlines for examples.

For FAQs on how to contribute, see: https://github.com/Techtonica/curriculum#volunteering

[2019-05-31 16:06] #814 closed

[2019-05-31 18:21] pydevsg commented on #899
Please do merge as the time is very less,

[2019-05-31 18:35] #833 closed

[2019-05-31 18:37] #831 closed

[2019-05-31 18:50] #861 closed

[2019-05-31 18:50] #860 closed

[2019-05-31 18:51] #856 closed

[2019-05-31 18:51] #855 closed

[2019-05-31 18:53] #835 closed

[2019-06-01 09:20] frostborne commented on #854
@alodahl I won't be able to work on this till 7th June, will that be okay?

[2019-06-01 17:49] alodahl commented on #854
That's fine!  Thank you for continuing to help, it makes a difference 💫

[2019-06-07 16:16] alodahl commented on #616
Hi Sudipto, is this something you would be willing to finish soon?

[2019-06-07 16:34] alodahl opened #904 "convert check for understandings into questions (Part 3)"
Related to #575 and #700

- [ ] https://github.com/Techtonica/curriculum/blob/master/command-line/command-line-advanced.md
- [ ] https://github.com/Techtonica/curriculum/blob/master/command-line/dot-profile.md

## Task:
Change the above topic outlines so that:
- Their Check for Understanding sections tell apprentices to form small groups and answer at least 2 long-answer or more shorter-answer que

[2019-06-07 16:35] alodahl opened #905 "convert check for understandings into questions (Part 2)"
Related to #575 and #700

- [ ] https://github.com/Techtonica/curriculum/blob/master/asking-good-questions/asking-good-questions.md
- [ ] https://github.com/Techtonica/curriculum/blob/master/vs-code/vscode.md

## Task:
Change the above topic outlines so that:
- Their Check for Understanding sections tell apprentices to form small groups and answer at least 2 long-answer or more shorter-answer ques

[2019-06-07 17:44] pydevsg commented on #616
Yes, I will surely complete this very soon.
Sorry for the delay , I couldn't make this my semester exam is still going.
Please wait for few more time.
I will resolve this issue.

[2019-06-07 19:09] alodahl commented on #616
That's fine!  When would you expect to be done?

[2019-06-11 05:28] pydevsg commented on #616
It would be expected by the next 2 days., sorry for the delay.

[2019-06-17 16:55] imskr commented on #881
Can i work on this ?

[2019-06-18 01:09] alodahl commented on #879
Sorry to keep you hanging on this one... I’m waiting to hear what the program manager wants for the assessments.

[2019-06-18 04:29] imskr commented on #879
Its ok no problem.

[2019-06-23 20:32] #804 closed

[2019-06-23 20:33] alodahl opened #910 "Fix Typos in Event Recommender guidelines"
Fix typos pointed out in these reviews:
https://github.com/Techtonica/curriculum/pull/906

[2019-06-23 20:34] #904 closed

[2019-06-23 20:36] alodahl opened #911 "Fix question typos in 2 outlines"
Fix the typos pointed out in this PR:
https://github.com/Techtonica/curriculum/pull/909

For FAQs on how to contribute, see: https://github.com/Techtonica/curriculum#volunteering

[2019-06-23 20:45] alodahl commented on #879
I have another task for when you have time though - could you add "example solutions" to the 2019h2 challenges instead?  You can just look at the submissions for them from 2019h1 and pick the best ones.

[2019-06-23 20:46] alodahl commented on #854
Hi @frostborne , how is this issue going?

[2019-06-23 20:47] alodahl commented on #616
Hi @pydevsg , how is the HTTP exercise coming?

[2019-06-23 20:48] alodahl commented on #794
@hoserdude , Is this still something you're interested in doing?

[2019-06-23 20:59] alodahl opened #912 "Restyle "Confidence" slideshow using proper format"
https://docs.google.com/presentation/d/18XXIRn2AVWje-8sWErKzQyI_XPV_2aexmwTvkaO_ZPw/edit?usp=sharing_eip&ts=5ca2ae72

- 'copy' above slideshow to techtonicaorg@gmail.com 's google drive
- format it to match the [2020 Slides Template](https://docs.google.com/presentation/d/1uFlV8eVrPtwjb4wPoUCd7Fk3PNqf1Eoo9mZ-_7D3_GQ/edit#slide=id.p)
- replace all Confidence topic slideshow links in Roadmap and Out

[2019-06-23 21:08] imskr commented on #879
Yeah I will do it.

[2019-07-05 16:09] alodahl opened #915 "Elaborate on Chrome Dev Tools Common Misconceptions"
Task: Elaborate on the [Chrome Dev Tools](https://github.com/Techtonica/curriculum/blob/master/chrome-developer-tools/chrome-developer-tools.md) Common Misconceptions section based on this linked review:

https://github.com/Techtonica/curriculum/pull/913#pullrequestreview-256351791

For FAQs on how to contribute, see: https://github.com/Techtonica/curriculum#volunteering

[2019-07-05 16:14] alodahl commented on #794
Hi @hoserdude, I'm going to make this available to other volunteers; let me know if you'd like to pick it back up.

[2019-07-05 16:22] alodahl opened #916 "Convert Check for Understanding into questions (Part 4)"
Related to #575
## Task:

- [ ] https://github.com/Techtonica/curriculum/blob/master/networking/networking.md
- [ ] https://github.com/Techtonica/curriculum/blob/master/conflict-resolution/conflict-resolution.md

Change the two files above and make sure:
- It’s Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions

[2019-07-05 16:25] alodahl opened #917 "Convert Check For Understanding into questions (Part 5)"
Related to #575
## Task:

- [ ] https://github.com/Techtonica/curriculum/blob/master/requests-and-responses/requests-and-responses.md
- [ ] https://github.com/Techtonica/curriculum/blob/master/requests-and-responses/intro-to-dns-ip.md

Change the two files above and make sure:
- It’s Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more sh

[2019-07-05 16:28] #910 closed

[2019-07-05 16:29] alodahl commented on #616
Hi @pydevsg , should I make this issue available to another volunteer?  I haven't heard from you in a while.

[2019-07-05 16:30] alodahl commented on #854
Hi @frostborne , should I make this issue available for other volunteers?  I haven't heard from you in a while.

[2019-07-05 16:33] alodahl commented on #879
Hi @imskr , how is this going?

[2019-07-05 18:24] pydevsg commented on #616
Extremely sorry for the delay Mam, I gave taken the issue and will solve it .
Will soon do the PR.

[2019-07-05 19:14] alodahl opened #918 "transfer mentor glitch proj to a techtonica glitch account"
Note: Blocked until we decide whether to deprecate the backend testing outline in favor of new outlines. If we deprecate that file, this issue will be moot.
---------------
transfer linked glitch to a techtonica glitch account:
https://glitch.com/edit/#!/zee-techtonica-backend-testing-ii?path=index.js:37:0

Ask Michelle or TaLea if a Techtonica account already exists.

If not, make a new one, and

[2019-07-05 19:22] alodahl opened #919 "copy whiteboarding gists from alodahl to techtonica owned location, replace raw gist links."
https://github.com/Techtonica/curriculum/blob/master/interviewing/week-3-whiteboard-challenges.md

Create a new google doc for each linked gist in this outline. Be sure to use an account ending in gmail.com so it is easy to transfer ownership later.

Replace links in outline with new google doc urls.

Ensure google docs are visible to those that have the link, but view only.

Transfer ownership of

[2019-07-06 12:36] vvscode commented on #919
@alodahl  is there any reasons to keep code in gists? Why just not place those examples in the repo, next to markdown file?

[2019-07-06 13:52] imskr commented on #879
Sorry for delay.. It will be done tomorrow!

[2019-07-06 19:04] alodahl commented on #919
It’s supposed to be a bit of a secret until the interview, but I suppose it would be fine to just keep it in the repo.

[2019-07-13 01:37] MichelleGlauser opened #924 "Fix Bash Profile slides."
Heard there was a misspelling and some slides out of order. https://docs.google.com/presentation/d/1FeHmZRNz4ZgpGAfDAIHXNitofon3Uy-h13uCcyy2FuE/edit?usp=sharing

[2019-07-14 22:15] alodahl commented on #924
Can you be more specific @michelleglauser? I can’t tell that there’s a problem.

[2019-07-23 23:13] MichelleGlauser opened #934 "Web design patterns lecture slides have video without permissions"
Either figure out who should adjust permissions and get them to do it or replace the video? https://docs.google.com/presentation/d/1nkaj3LCyy61AqHvp7yMd6-yg_0fos2NP8MrLwmX8G0U/edit?usp=sharing

[2019-07-25 16:43] sniemar commented on #700
Hello! Can I work on the Git Version Control outline? Here is the link https://github.com/Techtonica/curriculum/blob/master/git-version-control/git-version-control.md

[2019-07-25 18:33] alodahl commented on #700
That would be great!!  Thanks @sniemar.  How long do you think you need to complete it?

[2019-07-25 19:14] alodahl commented on #934
I replaced it.  Let me know if someone finds a cooler site we should use instead.

[2019-07-25 19:15] #934 closed

[2019-07-26 09:58] sniemar commented on #700
@alodahl I will try to do it today.

[2019-08-02 18:14] sniemar commented on #700
Can I work on this issue again? I would like to take these topics:
https://github.com/Techtonica/curriculum/blob/master/pair-programming/pair-programming.md
https://github.com/Techtonica/curriculum/blob/master/git-version-control/gitignore.md
https://github.com/Techtonica/curriculum/blob/master/reading-and-writing-documentation/documentation.md

[2019-08-05 00:10] Reginatam429 opened #945 "Updates Needed in Javascript 7 - Object-Oriented Programming"
The code here was misleading based on the information given above and below it. The audiobook class should extend the book class: "class AudioBook extends Book". The paragraph above the example should also clarify that the audiobook class is a subclass of book.

[code]

In addition, the tutorial link sends me to the H1 roadmap instead of a tutorial: "Go through this tutorial".

For FAQs on how to

[2019-08-06 02:38] bobbylcraig commented on #945
Hey @Reginatam429, I'll update this in two separate PRs. Looks like [here](https://docs.google.com/spreadsheets/d/1vIr3fiKa_jxzy7qtFsiE5hEJbiTXwc1LYxbfsHOYD6U/edit#gid=0&range=C124) they're probably referencing [this tutorial](https://www.google.com/url?q=https://www.learn-js.org/en/Object_Oriented_JavaScript&sa=D&ust=1565062459700000&usg=AFQjCNGC3NJJ4Ts86bdfpXn_nbUyjC5V7w).

I can adjust the word

[2019-08-06 02:59] bobbylcraig commented on #945
I've added two patches to the issues. I am concerned that the "Book" and "AudioBook" example isn't very clear (mostly because I'm not entirely sure this is an example that would play out in reality in this inheritance model...). If possible, I will try to remember to go back and update this with a more clear inheritance relationship. That's a big rewrite though.

[2019-08-06 14:53] alodahl commented on #945
Hi @bobbylcraig and @Reginatam429 , thanks for pointing this out and for the fixes.  Should we make another issue about a rewrite?

[2019-08-06 16:17] bobbylcraig commented on #945
@alodahl Depends how pressing of issues y'all make into issues? If you can add a low priority to it, that might be best :)

[2019-08-08 00:29] alodahl commented on #945
Yes, that’s fine @bobbylcraig, none of them are more pressing than this on the board. Would you mind making an issue since you know what’s missing?

[2019-08-09 00:10] bobbylcraig commented on #945
@alodahl Will do!

[2019-08-09 20:42] MichelleGlauser opened #948 "Come up with LinkedIn topic outline"
Make your outline here: https://github.com/Techtonica/curriculum/blob/master/professionalism/LinkedIn.md

Include https://www.photofeeler.com

I’m thinking this should be in the first week or so of the program, since having a LinkedIn page is in the welcome tips.  However, at the end of the program we have a resume writing outline, which also mentions LinkedIn. Please look at it too, at least to a

[2019-08-28 21:12] MichelleGlauser opened #951 "Add links to Test Automation University into Testing Lesson"
https://testautomationu.applitools.com/

@rbatta said this one might be most useful: https://testautomationu.applitools.com/web-element-locator-strategies/

[2019-08-29 00:18] alodahl commented on #616
Hi @pydevsg , should I put this back in todo?

[2019-09-11 06:50] shubha-rajan commented on #905
Hi @alodahl! I spoke with @MichelleGlauser earlier today and I'd love to start contributing to this repo! I've filled out the volunteer form already. Can I start by taking on the check for understanding questions? You can assign me one issue for now, and I'll take on more as I complete them.

[2019-09-14 01:09] alodahl commented on #905
Yes @shubha-rajan !   I'll assign this one to you.

[2019-09-14 22:35] alodahl opened #958 "Replace deprecated 'connect' function in API project with updated version"
Recent curriculum feedback: Connection function in [Eventonica](https://github.com/Techtonica/curriculum/blob/master/projects/eventonica-project.md) is deprecated.

Replace connection function found in the linked file above with a current working version. This may require a change to the [starter code](https://github.com/Techtonica/curriculum/tree/master/projects/Eventful-API-test-page), the [proj

[2019-09-14 22:50] alodahl opened #959 "Replace outdated treehouse tutorial"
Curriculum feedback:
- "The Treehouse tutorial that was part of the assessment due today is a bit outdated."
- "The 'CRUD workshop: connect Node and sqlite3 with Sequelize' was very outdated and didn’t help as being the foundation for our Assessment 8. It was supposed to be a starter code but I already spent half a day trying to fix its bugs and it’s not working yet."

**Task:**
- [ ] Checkout the

[2019-09-14 22:57] alodahl opened #960 "Replace outdated Express.js YouTube video"
Curriculum feedback: "The Express.js YouTube video is outdated."

There are youtube 3 videos at the end the [Express outline](https://github.com/Techtonica/curriculum/blob/master/express-js/express.md); find out which one they believe to be outdated by asking them on our slack #tech-help channel, or by looking through them yourself.

Replace with a video link that is more appropriate.

For FAQs on

[2019-09-14 23:18] alodahl opened #961 "Refactor our Node "Adding Backend Testing" topic outline"
Curriculum feedback:
- “It was hard to understand Adding Backend Testing to your projects. It was a long text and objectives were not clear.”
- “The lesson 'Adding Backend Testing to your projects' wasn’t really clear, it was a long text, objectives were not clear, there were a bunch of typos, too many links for reference that end up not helping, too difficult to follow.”

**Task:**
The first step

[2019-09-14 23:46] alodahl opened #962 "Audit our outline objectives v the end-of-week assessments"
https://github.com/Techtonica/curriculum/tree/master/assessment-objectives

Ensure each Roadmap week's objectives in all the outlines match the following assessment's objectives. The roadmap "assessment" column should say which assessment the outline's objectives should appear in.  The "grader guide"  should have a complete list of the objectives from all the outlines that we need to assess.

Rela

[2019-09-14 23:48] #879 closed

[2019-09-17 16:16] #905 closed

[2019-09-18 00:47] shubha-rajan commented on #958
@alodahl I'm going to start working on this one if that's ok, unless you want to save this issue for first-time Hacktoberfest contributors.

[2019-09-18 04:47] alodahl commented on #958
Please go ahead! 😁

[2019-09-21 17:35] alodahl opened #965 "Add React hooks / pure functions topic to our React lesson"
**Task:**
Add a short react hooks / pure functions topic to our react lesson. Feel free to cite a free outside resource.

Create your outline here: https://github.com/Techtonica/curriculum/blob/master/react-js/react-hooks.md

Best case scenario, you include some kind of quick sandbox example where they can test for themselves how it works.

Be sure to include:
- which React versions apply,
- compa

[2019-09-22 23:30] alodahl opened #966 "Create Mongoose exercises outline to follow MongoDB lesson"
Check out our [MongoDB outline](https://github.com/Techtonica/curriculum/blob/master/databases/mongo-db.md).  Create a new outline using our [template](https://raw.githubusercontent.com/Techtonica/curriculum/master/_templates/topic-outline.md).  Based on what they learned in the MongoDB lesson, explain how to use Mongoose as an ORM.
Create a lesson that:
- links or explains what an ORM is, and nam

[2019-09-22 23:34] alodahl opened #967 "Add new Mongoose lesson link to curriculum records"
Add new Mongoose lesson link (see  #966) to most current Roadmap, the [ReadMe](https://github.com/Techtonica/curriculum#table-of-contents), and that week's [assessment objectives](https://github.com/Techtonica/curriculum/tree/master/assessment-objectives) (aka grader guide). In every case, it should come right after the MongoDB lesson.

If you're not sure where to find these files, ask a Techtonic

[2019-09-24 16:34] #958 closed

[2019-09-24 16:35] alodahl commented on #881
Hi Shubham, are you still working on this or should I move it back to To-do?

[2019-09-24 16:37] alodahl commented on #948
Isabel Rasmussen is working on this.

[2019-09-24 16:43] alodahl opened #968 "Proofread 2 Event project outlines"
Reword two Event project outlines according to the comments found [here](https://github.com/Techtonica/curriculum/pull/949) , as well as any other typos you might find.

[2019-09-25 16:44] dougfabris commented on #960
Hello @alodahl this project has a great purpose. I would like to start helping with this first issue. Can I work on that?

[2019-09-25 19:24] imskr commented on #881
Sorry didn't manage to solve this!  Please move it to To-Do.

[2019-09-26 03:28] #802 closed

[2019-09-26 03:34] alodahl commented on #960
@dougfabris that would be awesome, thank you! Since we are a non-profit, could you fill the form out before you get started?
https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1

After that, go ahead and assign yourself to this issue and you can get started!

[2019-09-26 20:54] MichelleGlauser opened #969 "OAuth Guided Practice is incomplete"
From @ngriffin23: "Creating a log out button is incomplete and they also mention to add some code into an Auth.js file but that file is not provided when you download the sample folder."

Resolve this problem in our auth0 outline here:https://github.com/Techtonica/curriculum/blob/master/oauth/o-auth.md

[2019-09-27 07:00] Windrushfarer commented on #965
React hooks shouldn't be pure functions, because hooks can contain  things like `useEffect`, that cause side effects :)
May be it'll be better to split pure functions lesson and hooks lesson? I cab help you with both of them.

[2019-09-27 13:44] alodahl commented on #965
That would be awesome, @windrushfarer!! I was referring to the fact that you use hooks so you can write your components as pure functions.

[2019-09-27 13:54] alodahl commented on #965
How long do you think you would need?

[2019-09-28 10:19] Windrushfarer commented on #965
@alodahl I think writing short lesson could take may be one day, but I can't understand where I should put this material?

[2019-09-28 18:07] alodahl commented on #965
I’ll make a file for you in the React folder.

[2019-09-28 18:17] alodahl commented on #965
https://github.com/Techtonica/curriculum/blob/master/react-js/react-hooks.md
You can put it here 😊

[2019-09-29 15:21] imskr commented on #968
I would like to work on this.

[2019-09-29 16:54] alodahl commented on #968
Thanks @imskr!

[2019-09-29 17:05] Windrushfarer commented on #965
Thanks for creating file!

[2019-09-29 21:19] zhang1pr commented on #911
Has this been fixed already?

[2019-09-30 14:41] alodahl opened #970 "Add cheatsheet links to lesson materials"
HTML:
https://www.codecademy.com/learn/learn-html/modules/learn-html-elements/reference

[2019-09-30 15:06] anihm136 commented on #970
HI. I'd like to work on this. Can you elaborate on what exactly is required here?

[2019-09-30 15:09] anihm136 commented on #962
I'd like to take this up.

[2019-09-30 15:18] alodahl commented on #911
@zhang1pr it is fixed, thank you for pointing this out.  feel free to pick up another issue here: https://github.com/Techtonica/curriculum/projects/2

[2019-09-30 15:18] #911 closed

[2019-09-30 15:26] alodahl commented on #970
@anihm136 thank for offering to work on this!  Believe it or not, someone already submitted a PR for this one.  Please take a look at our [Readme contributing directions](https://github.com/Techtonica/curriculum#volunteering) and then feel free to pick up another issue [here](https://github.com/Techtonica/curriculum/projects/2)!

[2019-09-30 15:32] alodahl commented on #962
@anihm136 here is the roadmap mentioned in the description.  We will be basing the 2020 cohorts calendar on this one, so we want to make sure the end-of-week assessments contain the right material. Thank you!

[2019-09-30 16:14] anihm136 commented on #962
@alodahl There does not seem to be a section on writing documentation in the week 3 assessment. There is only a section on writing good comments, while both are mentioned in the grader's guide.

[2019-09-30 16:49] alodahl commented on #962
Thank you! This is exactly the info we need.

[2019-10-01 00:07] dougfabris commented on #960
@alodahl you're very welcome. I'll fill the form right now and start to see how can I help in the project.

[2019-10-01 01:32] dougfabris commented on #960
@alodahl I can't find the slack channel link. Can you send to me? Maybe it can be enhanced in documentation too.

[2019-10-01 01:35] alodahl commented on #960
Have you filled out the form?  Generally you will receive a link a few days after submitting it. In the mean time, you can wait or look into the videos yourself. I can also try to find out from the apprentices.

[2019-10-01 01:39] dougfabris commented on #960
@alodahl I already filled out the form! Ok, I'll wait for the link. If you check with the apprentices I'll be grateful.

[2019-10-01 01:39] alodahl commented on #960
Sure!  I just sent them a message - I'll let you know if I hear anything.

[2019-10-01 17:14] anihm136 commented on #962
@alodahl The links to the assignments in the week 6 grader's guide are broken

[2019-10-01 17:16] anihm136 commented on #962
The week 7 grader's guide has a small typo in the MarkDown syntax (first checkbox under "Data Visualization" section)

[2019-10-02 02:46] alodahl opened #976 "Add 'Roles in Agile' section to Agile Outline"
The topic 'Roles in Agile' does not appear in our Intro to Agile or our Agile Scrum outlines.

## Task:
Please look at both of our outlines, and add a section on 'Roles in Agile' to the one where you believe it fits best.

Be sure to update Projected Time, Objectives, and Things to Teach in the outline you've added to.

https://github.com/Techtonica/curriculum/blob/master/agile-development/intro-t

[2019-10-02 02:49] alodahl opened #977 "Add Minimum Viable Product (MVP) topic to Agile outline"
The topic 'Minimum Viable Product (MVP)' does not appear in our Intro to Agile or our Agile Scrum outlines.

## Task:
Please look at both of our outlines, and add a section on 'Minimum Viable Product (MVP)' to the one where you believe it fits best.

Linking to videos, images, or an interactive site that demonstrates your point is encouraged.

Be sure to update Projected Time, Objectives, and Thin

[2019-10-02 05:45] #970 closed

[2019-10-03 15:48] evlnyng commented on #916
Hey @alodahl, I would love to work on this as part of Hacktoberfest! I have already filled out a volunteer form.

[2019-10-03 17:20] dougfabris commented on #960
@alodahl Did you get some feedback about the videos? I'm not received the invite of slack :(

[2019-10-03 17:55] alodahl commented on #960
@dougfabris  I asked them and they don't remember 😣 Sorry Doug. Is one of them obviously older than the others? If not, you'll just have to judge for yourself.

[2019-10-03 18:05] dougfabris commented on #960
@alodahl Ok, I'll check by myself. I got it

[2019-10-05 17:16] imskr commented on #968
Should I proofread both event files in javascript directory ?

[2019-10-05 20:55] alodahl commented on #968
Yes please, the javascript/event-recommender.md & javascript/event-recommender-part2.md. General proofreading, plus the comments I made in the link provided in the “changes” tab.

[2019-10-05 22:12] Gustavomagalhaes commented on #788
Hi @alodahl, I would like to contribute on this one!

[2019-10-05 23:09] Gustavomagalhaes commented on #917
Hi @alodahl I would like to help on this issue

[2019-10-06 00:31] Gustavomagalhaes commented on #959
Hi @alodahl I would like to help with this one

[2019-10-06 15:10] imskr commented on #968
@alodahl Thank you, I will do it

[2019-10-06 20:50] #916 closed

[2019-10-06 21:08] alodahl opened #984 "Strengthen Motivation Sections: Part 3a"
This issue is intended for a single contributor.  Most or all of the Topic Outlines below have an absent or incomplete ### Motivation section.

### Ensure that they all have:
- Useful "Motivation" sections, and
- 2 companies that use that technology, how they use it, and a  link to an example. Ideally, they are well-known companies.
- [Here's an example of a good motivation section.](https://githu

[2019-10-06 22:23] alodahl opened #986 "Strengthen Motivation Sections - Part 3b"
This issue is intended for a single contributor.  Most or all of the Topic Outlines below have an absent or incomplete ### Motivation section.

### Ensure that they all have:
- Useful "Motivation" sections, and
- 2 companies that use that technology, how they use it, and a  link to an example. Ideally, they are well-known companies.
- [Here's an example of a good motivation section.](https://githu

[2019-10-06 22:37] alodahl opened #987 "Add agile v waterfall section to Agile outline"
## Task:
Make some important fixes to our Agile Topic.

- [Agile Topic Outline](https://github.com/Techtonica/curriculum/blob/master/agile-development/intro-to-agile.md)
- [Agile Topic Slideshow](https://docs.google.com/presentation/d/1SdCigo6K4aW8p-SZRA0vdI6w628pwhjzf-oX8UKIhS8/edit?usp=sharing) (DM Alina for edit permissions)

- [ ] Add and 'agile vs waterfall' description in our agile lesson. I

[2019-10-07 00:02] #788 closed

[2019-10-08 12:41] JeffOgah commented on #986
I'll work on this

[2019-10-08 12:48] JeffOgah commented on #986
@alodahl How do I specify a company using these particular Javascript lessons? It's a bit more difficult to measure than the media queries which is easily visible

[2019-10-08 12:51] JeffOgah commented on #984
I'll take this

[2019-10-10 01:51] alodahl commented on #986
Maybe look at what topics they’re learning, and think of a famous web app that uses it so they have a concrete example? I know, it’s hard to narrow down!

[2019-10-10 18:56] JeffOgah commented on #986
Okay, I'll try to get that done

[2019-10-11 02:02] alodahl opened #997 "Add table of contents to our Agile topic outline and slides"
## Task:
Make an important fix to our Agile Topic.

- [Agile Topic Outline](https://github.com/Techtonica/curriculum/blob/master/agile-development/intro-to-agile.md)
- [Agile Topic Slideshow](https://docs.google.com/presentation/d/1SdCigo6K4aW8p-SZRA0vdI6w628pwhjzf-oX8UKIhS8/edit?usp=sharing) (DM Alina for edit permissions)

- [ ]  Add bullet points for the basic topic covered in the lesson under

[2019-10-11 02:06] alodahl opened #998 "Gather and add descriptive titles to outline materials links"
## Task:
Make an important fix to our Agile Topic.

- [Agile Topic Outline](https://github.com/Techtonica/curriculum/blob/master/agile-development/intro-to-agile.md)
- [Agile Topic Slideshow](https://docs.google.com/presentation/d/1SdCigo6K4aW8p-SZRA0vdI6w628pwhjzf-oX8UKIhS8/edit?usp=sharing) (DM Alina for edit permissions)

- [ ] Create a header right before Lesson called ### Materials. Add bulle

[2019-10-11 13:45] JeffOgah commented on #984
First PR for Motivations on Github collaboration [here](https://github.com/Techtonica/curriculum/pull/999)
Motivations on Personal branding seem good enough
Second PR for Motivations on writing readable code  [here](https://github.com/Techtonica/curriculum/pull/1000)

[2019-10-12 01:37] monika commented on #997
Hi! Can I tackle this for ya?

[2019-10-12 17:46] #917 closed

[2019-10-12 20:53] #968 closed

[2019-10-12 21:11] alodahl opened #1003 "convert check for understandings into questions (Part A)"
Related to #575
## Task:
 Change the linked outlined below so that your PR ensures:
- It’s Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begin

[2019-10-12 21:14] alodahl opened #1004 "convert check for understandings into questions (Part B)"
Related to #575
## Task:
 Change the linked outlined below so that your PR ensures:
- It’s Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begin

[2019-10-12 21:15] alodahl opened #1005 "convert check for understandings into questions (Part C)"
Related to #575
## Task:

 Change the linked outlined below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-12 21:18] alodahl opened #1006 "convert check for understandings into questions (Part D)"
Related to #575
## Task:

 Change the linked outlined below so that your PR ensures:

- It’s Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the beg

[2019-10-12 21:19] alodahl opened #1007 "convert check for understandings into questions (Part E)"
Related to #575
## Task:

 Change the linked outlined below so that your PR ensures:

- It’s Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the beg

[2019-10-12 21:21] alodahl opened #1008 "convert check for understandings into questions (Part F)"
Related to #575
## Task:

 Change the linked outlined below so that your PR ensures:

Look through topic outlines, and change **any 2** so that your PR ensures:
- It’s Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whe

[2019-10-12 21:22] alodahl opened #1009 "convert check for understandings into questions (Part G)"
Related to #575
## Task:

 Change the linked outlined below so that your PR ensures:
- It’s Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-12 21:23] alodahl opened #1010 "convert check for understandings into questions (Part H)"
Related to #575
## Task:

 Change the linked outlined below so that your PR ensures:

- It’s Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the beg

[2019-10-12 23:22] manoel-freitas commented on #1003
Hello, can this issue be assigned to me?

[2019-10-12 23:43] monika commented on #997
It looks like the Specific Things to Teach heading exists twice in the Agile Topic Outline, and the first one has a table of contents set up: https://github.com/Techtonica/curriculum/blob/master/agile-development/intro-to-agile.md#specific-things-to-teach

Would you like that first instance of "Specific Things to Teach" moved below the "Materials" section?

[2019-10-12 23:50] manoel-freitas commented on #1004
Hello, can I also get this  Issue?

[2019-10-13 01:08] alodahl opened #1012 "convert check for understandings into questions (Part I)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:10] alodahl opened #1013 "convert check for understandings into questions (Part J)"
Related to #575
## Task:

 Change the linked outlined below so that your PR ensures:

Look through topic outlines, and change **any 2** so that your PR ensures:
- It’s Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whe

[2019-10-13 01:11] alodahl opened #1014 "convert check for understandings into questions (Part K)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- It’s Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the beg

[2019-10-13 01:12] alodahl opened #1015 "convert check for understandings into questions (Part L)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:13] alodahl opened #1016 "convert check for understandings into questions (Part M)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:14] alodahl opened #1017 "convert check for understandings into questions (Part N)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:15] alodahl opened #1018 "convert check for understandings into questions (Part O)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:16] alodahl opened #1019 "convert check for understandings into questions (Part P)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:17] alodahl opened #1020 "convert check for understandings into questions (Part Q)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:18] alodahl opened #1021 "convert check for understandings into questions (Part R)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:19] alodahl opened #1022 "convert check for understandings into questions (Part S)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:19] alodahl opened #1023 "convert check for understandings into questions (Part T)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:20] alodahl opened #1024 "convert check for understandings into questions (Part U)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:21] alodahl opened #1025 "convert check for understandings into questions (Part V)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:22] alodahl opened #1026 "convert check for understandings into questions (Part W)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:23] alodahl opened #1027 "convert check for understandings into questions (Part X)"
Related to #575
## Task:

 Change the linked outlines below so that your PR ensures:

- Its Check for Understanding section tells apprentices to form small groups and answer at least 2 long-answer or more shorter-answer questions so they can self-assess whether they understand the material.
- The questions should check whether they’ve achieved **every** part of the “objectives” section at the begi

[2019-10-13 01:23] #700 closed

[2019-10-13 01:53] alodahl commented on #997
Hi @monika,
Good catch ... could you just remove the heading that's on its own?

As for the section that does exist, but I'm not convinced it actually covers all the points in this long lesson.  Could you make sure that it covers all the topics?

[2019-10-13 15:39] anihm136 commented on #962
I have finished reading through the material. Everything else seems to be in order. However, I did not have access to some assignments.

[2019-10-13 20:27] alodahl commented on #962
Thank you @anihm136! For the contribution, would you mind fixing the little typo in the week 7 graders guide, and make sure that it’s not also wrong in the original data viz lesson?

[2019-10-13 20:29] alodahl commented on #962
When you say you don’t have access to things, do you just mean the Week 6 links?

[2019-10-13 20:31] alodahl opened #1028 "Fix week 6 grader guide links"
The links to the assignments in the week 6 grader's guide are broken, probably because they have been renamed. Please fix them!

https://github.com/Techtonica/curriculum/blob/master/assessment-objectives/6.md

[2019-10-13 20:45] harshanarisetty commented on #1028
I can work on this

[2019-10-14 00:11] Kamilahsantos commented on #1005
hi, can i do this issue?

[2019-10-14 01:33] alodahl opened #1031 "Fix markdown formatting in lesson outline"
We have a finished lesson at https://github.com/Techtonica/curriculum/blob/master/css/media-queries.md. Every number under the "Lesson / Guided Practice" is meant to be sequential to mark each step, but unfortunately, the markdown needs to be fixed, since every code-block example is making the numbers start over.

Please use correct markdown, rather than actually numbering it yourself. The subhead

[2019-10-14 07:55] sophi-li commented on #976
Sent a PR under the scrum section!

[2019-10-15 00:44] #959 closed

[2019-10-15 04:55] monika commented on #997
PR #1038 is up for review with these changes!

[2019-10-15 05:05] kirschstern commented on #1031
Hi,
please have a look an my pr #1039. It is not necessary to actually put the numbers in, but there are spaces needed to mark the codeblock belonging to the list item.

[2019-10-15 05:06] yagosansz commented on #1028
Hello,
Is this issue still up for grabs? I would like to work on it!

[2019-10-16 02:18] elaguerta commented on #1026
I am working on this!

[2019-10-16 02:53] tcgronk commented on #1024
I'll work on this one!

[2019-10-17 19:20] HenriqueFadoni commented on #1027
Hello Alodahl, I am participating in Hacktoberfest. Could I solve this Git Issue?

[2019-10-17 19:39] jay1723 commented on #1027
PR Open: #1044

[2019-10-17 20:03] HenriqueFadoni commented on #1025
Can I get this Issue?

[2019-10-17 20:56] IngridGdesigns commented on #1006
Hi Alina,

I would like to work on this issue!

[2019-10-18 10:51] Nikhil-Vats commented on #961
Hey, I want to work on this. Already signed up. Should I just fork, work on it and send a PR when it's done?

Also, I read that there's a slack group for communication but I couldn't find a link so that I can join it.

[2019-10-18 15:52] alodahl commented on #961
Hooray, thanks Nikhil!   If you filled out the volunteer form, you should get an invitation to the slack channel in a week or so.  In the meantime, feel free to ask questions here.

[2019-10-18 15:55] alodahl commented on #1028
Hi @yagosansz , @harshanarisetty has already taken it.  But please pick up another easy issue in the to-do list [here](https://github.com/Techtonica/curriculum/projects) if you have time!

[2019-10-18 18:18] IngridGdesigns commented on #1006
Hi Alina, I made two additional pull requests to add Check for understanding questions to the following docs:
 https://github.com/Techtonica/curriculum/blob/master/reading-and-writing-documentation/documentation.md
https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-2.md

Let me know if there is anything else I need to change / add!

[2019-10-18 19:27] Nikhil-Vats commented on #961
I have changed the objectives and the outline by dividing the lesson into distinct sections to make it more understandable. There's still a lot left to do.

1. I will improve the Guided Practice section a little bit to make it more understandable.
2. Remove unnecessary links.
3. Fix typos and make the language a bit easier wherever it goes too technical.
4. Any other improvements you suggest.

[2019-10-20 04:31] yagosansz commented on #945
Hi,
Is this issue still available? I would like to work on it!

[2019-10-21 01:53] jay1723 commented on #1023
I will start working on this.

[2019-10-21 15:25] alodahl commented on #961
Those links aren't used in the body of the lesson? If not, then you can move them to supplemental materials with a short description of why they're useful.

Thank you so much for tackling this one!

[2019-10-21 15:38] #997 closed

[2019-10-21 15:41] #1005 closed

[2019-10-21 18:15] IngridGdesigns commented on #1010
Hi Alina,

Can I work on this issue?

[2019-10-21 21:52] kristin-smith commented on #915
Can I work on this?

[2019-10-22 14:39] thisLinda commented on #1022
Hi Alina, I'd like to pick up this issue.

[2019-10-22 14:57] thisLinda commented on #1022
Never mind, I see that checks for understanding are already completed in each.

[2019-10-22 16:11] alodahl commented on #1022
Actually @thislinda, would you be able to replace the Sorting cfu with questions that compare and contrast the different sorting algos?

[2019-10-22 16:40] karentobo commented on #912
I'm on it!

[2019-10-22 16:59] IngridGdesigns commented on #1010
Will start working on it and send it off on Thursday!

[2019-10-22 19:19] thisLinda commented on #1022
I'm on it!

On Tue, Oct 22, 2019, 12:11 Alina L. <notifications@github.com> wrote:

[2019-10-23 02:21] #881 closed

[2019-10-23 02:33] #1026 closed

[2019-10-23 04:08] alodahl commented on #912
if you cloned it, its a different URL. Thanks for your help!
@lalpert is it useful to change the current RoadMap, or is there a new one?

[2019-10-23 04:15] alodahl commented on #945
Sure thing, @yagosansz .
@lalpert , is this one of the files that has moved?

[2019-10-23 06:15] lalpert commented on #945
@alodahl @yagosansz This file has not moved, but I did make significant changes to it recently.

[2019-10-23 06:20] lalpert commented on #912
@alodahl I've been working on a new roadmap for 2020, if you send me the new slideshow and what lesson it is, I can update in the new roadmap.

[2019-10-23 16:04] #976 closed

[2019-10-23 16:22] yagosansz commented on #945
@lalpert Are there any improvements or changes to be done? If so, would mind elaborating a bit more on it, please. =)
Thanks!

[2019-10-23 16:22] alodahl opened #1057 "Add Techtonica to GHC volunteerism list"
Add Techtonica’s curriculum project to this list, with an excerpt from our website Techtonica.org or this project’s readme.

https://docs.google.com/document/d/11fmV6GacqmbPhU1X892R3jBGfy7xoMr_1kYbc4j_FZs/mobilebasic

Reply via the comments when complete. You can submit a simple typo fix with this issue tagged to acheive your Hacktoberfest PR if you are participating.

[2019-10-23 17:20] shriaas2898 commented on #987
I would like to pick up the issue

[2019-10-24 03:41] alodahl opened #1059 "Use tool to scan links on the curriculum project"
Use the following app to scan each Techtonica/curriculum project outline file for broken links. We recently scanned the readme file (noted in the comments), but things change quickly, so it wouldn't hurt to do it again.

Also, if this seems too large, please scan as many as you're comfortable with and report back your findings.

Fix any that you can in a PR, and report back with a list of clean/fi

[2019-10-24 05:31] #1006 closed

[2019-10-24 05:31] alexyiangou commented on #1059
Hey there! I will add my touch on this one! :slightly_smiling_face:

[2019-10-24 05:40] alodahl commented on #987
Hi @shriaas2898 , this issue is actually in progress, but please check out other easy issues [here](https://github.com/Techtonica/curriculum/projects) 😊

[2019-10-24 05:46] alexyiangou commented on #1059
When I scanned the README.md file, I got this report, and I thought of sharing with everyone on this issue.

[✓] http://techtonica.org
[✓] ./README.md#table-of-contents
[✓] https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1
[✓] https://github.com/Techtonica/curriculum/projects/2
[✓] https://github.com/Techtonica/curriculum/blob/master/_templ

[2019-10-24 05:50] alexyiangou commented on #1059
After checking a few of those "wrong links", they are all internal links, linking to .md files within the project. And they all work. The reason that the tool shows them as failed is, i suppose, because they are not proper http links, that u can do an http request and access them. Should we change the internal links, to point the files from the github project, instead of the relative path within t

[2019-10-24 05:51] alodahl commented on #1059
Thanks for picking this up, @alexyiangou .  Could you run the tool on our whole project to check the links in each file?

[2019-10-24 05:52] alodahl commented on #1059
the internal links can stay.

[2019-10-24 05:58] alexyiangou commented on #1059
The tool cannot check directories. It can check files from url, or files with relative path to the file location. What I can do is write a script, that you can run whenever you want, and check the whole project :slightly_smiling_face:

[2019-10-24 06:34] alodahl commented on #1059
🤩 Yes please!

[2019-10-24 06:36] alodahl commented on #1059
The only links that seem to need fixing are the event recommender ones, as they were renamed recently to something with eventonica in the name.

[2019-10-24 07:54] loetcodes commented on #1021
@alodahl is this still open can i work on this?

[2019-10-24 11:12] shriaas2898 commented on #998
Hey! I can work on this issue.
It just requires changing links in the material section from external links to that on slide right?

[2019-10-24 15:20] alodahl opened #1064 "Fix Security Roles contents tables so they don't contain actual content"
## Task: Rearrange the content in the first few sections of this outline to be more consistent with our other outlines.

https://github.com/Techtonica/curriculum/blob/main/security/web-security.md

- See our [template](https://github.com/Techtonica/curriculum/blob/master/_templates/topic-outline.md) for more details about the purposes of each section.

- ###Objectives and Specific Things To Teach

[2019-10-24 15:22] alodahl opened #1065 "Fix Data Science Roles contents tables so they don't contain actual content"
https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/data-science.md

- [ ] ###Objectives and Specific Things To Teach sections should contain the objectives of the outline and the things the outline teaches, **not** what an apprentice will learn if they spend years becoming a Data Science engineer.  Move the present material into the lesson somewhere, and replace ###Objectives and S

[2019-10-25 14:34] Nikhil-Vats commented on #961
@alodahl Thanks for merging my previous commit. I am vacationing so it is taking a bit more time to do this. Will update the PR soon!

[2019-10-25 14:37] cedarfall commented on #1057
I would like to take this issue.

In the document, should I put your name?
Also, the city should be San Francisco right?

[2019-10-25 18:11] abhu-A-J commented on #966
@alodahl can I contribute towards this? I  would love to be a part of this program through my small contribution.

[2019-10-27 01:12] alodahl opened #1067 "Add example links and explanations to Roles in Tech: Technical Writing"
Add the following links and explanations, reworded if necessary, to appropriate sections in our [Roles In Tech: Technical Writing outline](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/technical-writing.md).

_________________
Here are some technical writing examples.
Process discussions: https://www.prismnet.com/~hcexres/textbook/proc.html
API documentation: https://nordicapi

[2019-10-27 01:19] alodahl commented on #998
No....
Put all required materials, including the slideshow link, in a new section called ###Materials.

If they are not required and do not show up as part of the lesson, the link should be moved to a *section at the end of the outline* called ###Supplemental Materials.

[2019-10-27 01:23] #987 closed

[2019-10-27 01:27] alodahl commented on #1057
Yes!  You can use my name.  Thanks @cedarfall !

[2019-10-27 02:13] cedarfall commented on #1057
https://docs.google.com/document/d/11fmV6GacqmbPhU1X892R3jBGfy7xoMr_1kYbc4j_FZs/edit

Is this okay?

P.S. In the last column, there are two asterisks above your name indicating that you don't mind leading the project.

[2019-10-27 02:19] alodahl commented on #1057
Yes, perfect 🙌

[2019-10-27 02:20] #1057 closed

[2019-10-27 09:02] abhu-A-J commented on #966
@alodahl thanks. I'm working on it. Will let you know when I'm done with it.

[2019-10-27 15:27] #977 closed

[2019-10-28 01:20] eaquin1 commented on #854
@alodahl, I would like to work on this, if possible!

[2019-10-29 02:07] thisLinda commented on #1022
Six days later I'm checking back in with the intention of offering any other (simple) help you might need. I _thought_ I submitted a pull request for this issue but I don't see it! If I missed something and you've got the time to up date me please let me know.

[2019-10-29 21:40] eaquin1 commented on #1065
I would like to work on this! :)

[2019-10-30 01:16] alodahl commented on #1022
@thisLinda it looks like you committed it to your own forked repo, but you still need to make a pull request to Techtonica/master. Click the pull request button, and it should choose Techtonica/master by default. Please write ' fixes #1022'  in the description text area when you make your PR.
![image](https://user-images.githubusercontent.com/29131689/67820837-0f3a2880-fa78-11e9-95c5-8de718e5a71e.

[2019-10-30 01:31] #854 closed

[2019-10-30 01:42] thisLinda commented on #1022
🤦🤦🤦

On Tue, Oct 29, 2019, 21:16 Alina L. <notifications@github.com> wrote:

[2019-10-30 05:13] lalpert opened #1075 "Review Eventonica parts 1-4"
These are newly created/updated lessons. It would be very helpful to have someone do the entire lessons and give feedback about:
- Anything that's confusing
- How long each lesson took you to complete
- Any suggestions for improvement

Start by reading the intro: https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/eventonica-intro.md

Then do:
1. https://github.com/Techtonica/

[2019-10-30 05:16] lalpert commented on #945
@yagosansz sorry for the delayed reply. No more improvements needed that I know of. I just created this issue also related to OOP if you'd be interested in doing it: https://github.com/Techtonica/curriculum/issues/1075

[2019-10-30 19:58] loetcodes commented on #1021
@alodahl completed this! If you would like any changes please let me know.

[2019-10-31 01:27] #945 closed

[2019-10-31 01:30] #966 closed

[2019-10-31 15:26] alodahl commented on #965
How is this going, @Windrushfarer ?  Will it be in in time for Hacktoberfest?

[2019-10-31 22:45] lalpert opened #1080 "Create lesson on "Solving coding challenges""
Create a lesson on "Solving coding challenges". It should give apprentices a framework for approaching coding challenges that they can use in morning coding challenges and interviews. Could be combined with whiteboarding (https://github.com/Techtonica/curriculum/blob/master/interviewing/whiteboarding.md).

Could link to or build off resources including:
- https://simpleprogrammer.com/solving-probl

[2019-10-31 22:46] lalpert opened #1081 "Update Jasmine lesson"
Improvements to be made to Jasmine lesson (https://github.com/Techtonica/curriculum/blob/master/testing-and-tdd/jasmine-testing.md):

- Make this lesson only teach Jasmine, not Chai and Mocha as well. Move Chai and Mocha material into a different lesson called "Testing with Chai and Mocha".

- Add more specific practice problems that encourage the learner to explore different Jasmine functions (su

[2019-10-31 22:49] lalpert opened #1082 "Create "Intro to Backend Development" lesson"
This lesson will be in the roadmap before the apprentices learn APIs, Express, SQL, and other backend concepts. It should give an overview of what backend development is, giving a good foundation for the apprentices to understand future lessons.

Some possible resources to include:
- https://learntocodewith.me/posts/backend-development/
- https://simpleprogrammer.com/what-is-back-end-development/

[2019-10-31 23:14] carmelag commented on #1067
Hi! @alodahl I would like to help here.
So what is needed to solve this issue, is to add in _technical-writing.md_ file those links along with a good explanation, is it correct?

[2019-11-01 00:27] lalpert opened #1083 "Create lesson on ORMs"
Create a lesson introducing apprentices to ORMs.
Teach:
- Overall what an ORM is and why it's useful
- Use an ORM that can be used with Postgres/Express
- Have apprentices compare and contrast the same code using an ORM and raw SQL

This lesson will be added to the curriculum after the apprentices learn Postgres and Express.

May have a little overlap with this Mongoose lesson that comes later htt

[2019-11-01 00:30] lalpert opened #1084 "Create "React 2" lesson"
We want to create a React 2 lesson that will be added after React 1 (https://github.com/Techtonica/curriculum/blob/master/react-js/react.md).

It should teach how to add more advanced features to React projects, including:
- Making ajax calls from React
- Styling React components
- Anything else the apprentices will need to know to create a real React app

Possible tutorial for apprentices to do:

[2019-11-01 01:43] lalpert opened #1086 "Review Data Visualization Lesson"
For the data visualization lesson: https://github.com/Techtonica/curriculum/blob/master/data-visualization/data-visualization.md

Apprentices mentioned this lesson was hard to follow and get working.

Please do the full lesson and flag any instructions that are confusing, out-of-date, or have errors.

You can make a PR to fix it or if you don't have time, comment with a list of improvements needed

[2019-11-01 03:38] #1003 closed

[2019-11-01 03:38] #1004 closed

[2019-11-04 15:05] HenriqueFadoni commented on #1084
Hello Lalpert, I would love to help. Could you go more in-depth about the Third Item? Because I don't know what React 1 lesson has. Should I include Hooks? Life cycles? Redux?

[2019-11-04 15:32] alodahl commented on #1084
https://github.com/Techtonica/curriculum/issues/965

[2019-11-04 19:08] lalpert commented on #1084
Hi @HenriqueFadoni, glad you're interested in helping! Here's the current React 1 lesson: https://github.com/Techtonica/curriculum/blob/master/react-js/react.md. I don't know exactly what the React 1 lesson covers so it would be great if you could go through that lesson and see what it covers and what's missing.

As Alina linked to, we would like to teach React hooks and functional components. I t

[2019-11-05 21:54] carmelag commented on #1067
Hi @alodahl , I have just created the PR related to this issue.
I added the links that were directly related to tech writing but I didn't add the last 3 links (indeed ones). They seem to be less specific than the others.
If it's needed I will add them, but it would be helpful if someone could add more details to better understand what kind of description/headline we could put for them. Thanks

[2019-11-09 20:25] Kamilahsantos commented on #1007
Hi, @alodahl can i work on this?

[2019-11-16 01:37] MichelleGlauser opened #1094 "Add Concurrently somewhere."
The current participants learned about this and found it extremely helpful: https://www.npmjs.com/package/concurrently Let's figure out where it can be added.

[2019-11-19 06:36] vegetabill commented on #616
@alodahl I'm happy to work on this. Just making sure from the long comment thread that no one else is working on this or has WIP work?

[2019-11-19 17:56] alodahl commented on #616
Thanks @vegetabill please do! Someone picked this up in the summer but never made a PR.

[2019-11-19 23:48] vegetabill commented on #616
@alodahl  sorry one more question. What separates this from https://github.com/Techtonica/curriculum/blob/master/api/apis-and-json.md ? In there are the basics and fetch is covered. Is this additional background practice?

I'm mainly asking because this lesson appears under the API folder but I was trying to see if the apprentice knows HTTP basics at this point or I should link in more background.

[2019-11-22 17:08] alodahl commented on #616
Sorry for the delay, Bill. Yes, it is supposed to be an additional practice outline. The intention is to show the variety of ways apprentices might see requests in the wild and compare different syntaxes that do the exact same thing.

[2019-12-03 22:38] IngridGdesigns opened #1097 "Keyboard Shortcuts - Zoom bug: keyboard breaks in Chrome"
<img width="755" alt="Screen Shot 2019-12-03 at 2 33 07 PM" src="https://user-images.githubusercontent.com/16828218/70095736-5ddc6480-15da-11ea-81bc-da203e14367e.png">

Zoom at 110%, 90%, 80% in chrome. Did not find the bug in Firefox.

[2019-12-05 08:54] dpenny commented on #965
Is help still needed on this @alodahl ? Would be down to help if so!

[2019-12-05 17:38] alodahl commented on #965
Hi Danielle, as I haven’t heard from the other volunteer in 2 months, it’s yours! Thanks for the help 😄

[2019-12-05 18:57] dpenny commented on #1080
Hey- would love to work on this! Should I assume that coding challenges will have an IDE they can test with?

[2019-12-06 01:55] alodahl commented on #1080
Hi @dpenny , they can practice directly on the site provided above, but during the Apprenticeship Program they will mainly be working in repl.it. Would you still like to pick this up?

[2019-12-07 10:33] dpenny commented on #1080
yes will do! I have different testing strategies for whiteboard vs having IDE, so was wondering which to include. thanks!

[2019-12-10 02:11] alodahl commented on #1080
Awesome! Also, let us know if you have anything to add to the whiteboarding outline 😊

[2019-12-12 04:42] alodahl opened #1098 "Proofread & format LinkedIn outline"
##Task:

Proofread & format the markdown in this [LinkedIn outline](https://github.com/Techtonica/curriculum/blob/master/professionalism/LinkedIn.md). You can start by addressing the comments from [this review](https://github.com/Techtonica/curriculum/pull/1043).

For FAQs on how to contribute, see: https://github.com/Techtonica/curriculum#volunteering

[2019-12-12 04:45] #1067 closed

[2019-12-12 04:46] #1065 closed

[2019-12-12 04:47] #1021 closed

[2019-12-12 04:57] alodahl opened #1099 "Find the new urls of these 2 outlines and replace the links"
## Task:

Fix these two links in our [ReadMe](Event Search System with Javascript
Event Search System with Javascript - Part 2) by finding their new names and replacing the urls.

- Event Search System with Javascript
- Event Search System with Javascript - Part 2

### Hints:
- the new names have something to do with "eventonica".
- the old names are below, which you can likely look up in the proj

[2019-12-12 05:04] #1031 closed

[2019-12-12 05:06] #1022 closed

[2019-12-12 05:10] alodahl commented on #1010
Hi Ingrid, are you still working

[2019-12-12 05:10] #1010 closed

[2019-12-12 05:11] #915 closed

[2019-12-14 22:06] thisLinda commented on #1022
Hi Alina!

Now that the crush of Hacktober is completed and you maybe have time to
think again I'd like to offer my assistance with Techtonica and the
project. I am self-learning code and consider myself an advanced beginner
so I'm not available to solve your big code issues but I can help with the
little stuff. For instance Issues 1099 and 1098 seem to be something I can
easily do! Now that Hackt

[2019-12-15 14:26] dpenny commented on #1080
hey- should this have sections for both short Qs (ie morning assignments, phone screens), and for longer take homes?

[2019-12-17 08:53] alodahl commented on #1022
@thisLinda yes, please go ahead!  Thanks for your help 🤸‍♀️

[2019-12-18 00:40] thisLinda commented on #1099
Alina, these are the new URLs. I can't figure out how to replace the links in the README which is maddening. Would you give me a hint?

https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/eventonica-part1-objects.md

https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/eventonica-part2-testing.md

[2019-12-19 17:38] vegetabill opened #1103 "[Feature Request] Convert google doc lessons to markdown"
Some parts of the intro curriculum link to Google docs. Is this intentional to keep them private? If not I think we should convert them to markdown and put them into this repo.

Examples I've seen:
* tech tips and tricks
* expectations

I'm happy to volunteer to do that but wanted to check if there is context I am missing for why they are in that format.

[2019-12-19 20:46] sdspikes commented on #1086
There's a link to https://bost.ocks.org/mike/bar/ in the materials section, then the Guided Practice session uses the code from that page but doesn't mention that it's the source, and both sorta jump in without much context.  The first instruction in the guided practice is "Create a div with 'chart' class, <div class="chart"></div>, in the body of the webpage", -- which webpage?  I think you just

[2019-12-20 00:46] vegetabill commented on #1097
@IngridGdesigns I think this issue belongs in a different project: https://github.com/Techtonica/keyboard-shortcuts-practice

[2019-12-20 00:47] vegetabill commented on #1097
I would move it myself but I don't think I have access to do so

[2019-12-20 16:31] alodahl commented on #1097
I’m not sure there is a way to move an issue to a different repo... anyway I just copied and pasted it. Thanks!

[2019-12-20 16:31] #1097 closed

[2019-12-20 16:34] vegetabill commented on #1098
@alodahl I can take a look at this unless someone else did.

[2019-12-20 17:05] alodahl commented on #1098
Thanks Bill, it’s yours!

[2019-12-20 21:12] jmcgeeney commented on #1098
Just submitted a PR for some of these: https://github.com/Techtonica/curriculum/pull/1105
It's my first PR, so please let me know if I got everything wildly wrong :)

[2019-12-20 21:13] jmcgeeney commented on #1098
Oh shoot, just realized this has another assignee. @vegetabill, maybe take a look at my PR if you haven't started yet?

[2019-12-20 21:36] jmcgeeney commented on #1082
I'm going to hammer out a rough draft of this today, assuming it hasn't been worked on yet.

[2019-12-20 22:45] jmcgeeney commented on #1082
Here's a PR for my first pass. Still working on it, but any feedback would be appreciated!
https://github.com/Techtonica/curriculum/pull/1106

[2019-12-21 00:42] brookeangel commented on #1081
Hi, @lalpert - if no one is working on this issue yet, I'd love to help out with it!

[2019-12-21 00:48] lalpert commented on #1081
@brookeangel please do!

[2019-12-21 01:11] brookeangel commented on #1081
Wonderful! Just wanted to check - does this issue also involve updating a slideshow or presentation? The current slideshow link takes me to an "Advanced Command Line" presentation.

[2019-12-21 16:12] vegetabill commented on #1098
@jmcgeeney I have not started & I'm happy to take look at your PR.

Thanks so much for contributing!

[2019-12-21 22:04] vegetabill commented on #1098
@alodahl I did a quick pass of the PR if you can take it from here as I'll be on holiday.

[2019-12-21 22:32] vegetabill opened #1108 "[MongoDB Lesson] simplify to match latest official install instructions"
I was installing mongo using this guide to play around and the brew formula wasn't found. This led me to the updated official guide which is much simpler so I created a PR, #1104 to fix it.

[2019-12-21 22:32] vegetabill commented on #1108
@alodahl created an issue for this

[2019-12-22 04:20] alodahl commented on #1081
Great question!! Yes, plz edit ... It should be this one: https://docs.google.com/presentation/d/1jMkVbUkZS40z7kAoC1mPIt8RwfF8-GRL8oeee25UzYw

[2019-12-22 04:22] alodahl commented on #1081
Be aware of this one too:https://docs.google.com/presentation/d/1viDJyLHXVs-VioUEatvWHDZeOCCmPxZNPHzH0C393rg

[2019-12-22 18:47] lemon-yellow commented on #1099
Hi @thisLinda,

If you go to the https://github.com/Techtonica/curriculum/blob/master/README.md and click the "Raw" button, you can see the raw markdown text. The format of a markdown url is `[display name](url)`. Hope this helps!

[2019-12-22 19:25] brookeangel commented on #1081
Thank you! 🎉

Also, I saw that the process for tackling issues is to add myself as an assignee & move this to in progress, but wanted to give a heads up that I don't have permission to do those things

[2019-12-23 20:59] brookeangel commented on #1081
This PR is ready for feedback ➡️ https://github.com/Techtonica/curriculum/pull/1109

(Not quite sure who to assign it to. In any case, thanks for taking a look!)

[2019-12-23 22:33] alodahl commented on #1081
To edit the slides, please request permission from the owner... in this case, it isn't me.

I'll take a look at the PR 😄

[2019-12-26 22:11] brookeangel commented on #1081
Thanks you! 😄Will go ahead and request permission

[2019-12-27 03:44] alodahl opened #1110 "Revise `Check for Understanding` questions of for Data Visualization, list other fixes needed"
1. Revise the Check for Understanding section of our [Data Visualization Outline](https://github.com/Techtonica/curriculum/blob/master/data-visualization/data-visualization.md) based on this comment: https://github.com/Techtonica/curriculum/pull/1107#issuecomment-568230598
For more details on what we're looking for in a Check for Understanding section, see the directions in #700.

1. Implement any

[2019-12-29 02:34] alodahl commented on #1080
Hi @dpenny, sorry for the delay.  We are giving them practice take-home challenges in the final few weeks of the curriculum [here (#s 8, 9, 10)](https://github.com/Techtonica/curriculum#career-development--final-project).

If you think 'take-home challenges' will be a single short section, go ahead and include it, and link to this section while mentioning they will learn more about these later.  I

[2019-12-29 02:37] #1086 closed

[2019-12-29 03:01] alodahl commented on #1099
Hi @thisLinda , what part of it is confusing?

Also, since @lalpert has been changing the structure of this project, could you please:
- replace event-recommender.md with https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/eventonica-part1-objects.md
- instead of replacing #44 (part-2), remove it, and add this *after* the jasmine outline link? https://github.com/Techtonica/cur

[2019-12-30 22:07] thisLinda commented on #1099
@alodahl I was having a major brain cramp and fortunately that passed.

@lemon-yellow Raw files are new to me. I'll check it out, thank you.

[2020-01-02 06:56] alodahl opened #1111 "Update titles and urls in 2 links"
Update titles and urls in 2 links here:
https://github.com/Techtonica/curriculum/blob/master/objectives/6.md

The files have been renamed to be Eventonica Part 1 and Part 2.  Something similar was done for the same links in #1099.
https://github.com/Techtonica/curriculum/blob/master/objectives/6.md

Related to #1099

[2020-01-02 07:04] alodahl opened #1112 "include new link in SQL lesson with explanation"
include this near or in the "Join" section of [this outline](https://github.com/Techtonica/curriculum/blob/master/databases/relational-databases.md) with an explanation on what they will find there.

https://dataschool.com/how-to-teach-people-sql/sql-join-types-explained-visually/

- Include it in an appropriate section where it will be most helpful for learners; in addition to being in  "suppleme

[2020-01-03 22:22] brookeangel commented on #1081
Hey @alodahl - thanks so much for the review! 🎉

No rush, just an update on my status: requested permission on the slideshow, but I haven't received it yet. Not quite sure who owns.

[2020-01-04 09:23] viditkumar commented on #1111
Hi @alodahl
Could you please let me know, what are the updated titles and urls?

I would like to work on this issue.

[2020-01-05 00:12] alodahl commented on #1028
hi @harshanarisetty, how is this issue going?  If I don't hear from you , maybe @yagosansz can pick it up.

[2020-01-05 00:23] alodahl opened #1113 "replace bash lesson with zsh"
Use existing bash outline as a pattern to create a new outline for using zsh instead. It could be really minor, but personally not knowing zsh, I'm not sure of the scope.

**Note these files were recently moved into the `dev-tools` folder**

### Check and Revise the Following Lessons
- https://github.com/Techtonica/curriculum/blob/master/dev-tools/command-line-interface.md
- https://github.com/Tec

[2020-01-05 19:58] MichelleGlauser opened #1114 "Change every "Javascript" to "JavaScript""

[2020-01-05 20:04] MichelleGlauser opened #1115 "Replace 3 Codecademy Pro links with something free"
I audited them, and most are fine.  Here is a list of the links that need replacing:
- [ ] https://www.codecademy.com/courses/asynchronous-javascript/lessons/promises/exercises/understanding-promises in curriculum/javascript/javascript-9.md
- [ ] https://www.codecademy.com/learn/learn-the-command-line in curriculum/command-line/command-line-interface.md
- [ ] https://www.codecademy.com/learn/learn

[2020-01-05 20:17] MichelleGlauser commented on #1114
Fixed with commit https://github.com/Techtonica/curriculum/commit/00bed5682617285024bd78e2c1467ee466f926b2

[2020-01-05 20:17] #1114 closed

[2020-01-05 23:59] alodahl commented on #1111
Thanks @viditkumar !

https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/eventonica-part1-objects.md

https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/eventonica-part2-testing.md

[2020-01-06 00:27] alodahl commented on #1081
A new cohort starts Monday, so they may be a bit busy!  I’ll see about making some new slideshows that you can work on, and we’ll include the links once they’re done.

[2020-01-06 01:40] MichelleGlauser commented on #1081
I added Brooke on Friday. :)

[2020-01-06 16:08] alodahl opened #1116 "Tech industry tips: find a distraction-reducing app, add a few key examples to outline"
We need a few extra details in our tech-industry-tips outline.  See the to-dos and comments in this PR for needed changes:
https://github.com/Techtonica/curriculum/pull/1101

[2020-01-06 16:15] alodahl commented on #1080
Hi @dpenny, the new cohort could use this ASAP.  is this close to being ready?

[2020-01-06 16:26] alodahl commented on #1103
@MichelleGlauser, can you remind us why you wanted to avoid md images in our project?

[2020-01-06 16:33] dpenny commented on #1080
Hey so sorry for the delay. Is end of week ok?

On Mon, 6 Jan 2020 at 5:15 PM, Alina L. <notifications@github.com> wrote:

[2020-01-06 16:34] #1108 closed

[2020-01-06 16:36] #1025 closed

[2020-01-06 16:37] #1027 closed

[2020-01-06 16:37] #1024 closed

[2020-01-06 16:38] #960 closed

[2020-01-06 16:39] #948 closed

[2020-01-06 16:40] alodahl commented on #965
Hi @dpenny , I know you picked up other issues as well... are you still able to work on this?

[2020-01-06 16:40] #962 closed

[2020-01-06 16:41] #1007 closed

[2020-01-06 16:45] alodahl commented on #1080
Sure, thank you 😊

[2020-01-06 16:49] brookeangel commented on #1081
Thanks! :) I'll work on this in the upcoming week!

[2020-01-06 23:00] MichelleGlauser opened #1117 "Set up a tool to check our curriculum for dead links"
This might work: https://github.com/tcort/markdown-link-check

[2020-01-06 23:04] MichelleGlauser opened #1118 "Replace growth mindset quiz"
The growth mindset quiz currently linked to is not working: https://github.com/Techtonica/curriculum/blob/master/learning-to-learn/learning-to-learn.md

Find another free quiz that measures growth mindset and fix this link

[2020-01-06 23:04] MichelleGlauser commented on #1117
@gsong Maybe you can take this?

[2020-01-07 01:08] gsong commented on #1117
Couple other possible tools:

* https://github.com/remarkjs/remark-validate-links
* https://github.com/davidtheclark/remark-lint-no-dead-urls

[2020-01-07 02:15] alodahl commented on #1117
Is this related to #1059 ?

[2020-01-07 15:15] gsong commented on #1117
@alodahl Yup, the two issues are related.

[2020-01-07 16:40] gsong opened #1121 "Standardize on prettier for formatting of our markdown"
Rather than bike shedding formatting suggestions, just let a tool do the work. I suggest using [prettier](https://prettier.io).

* [ ] Add prettier to the project
* [ ] Format everything using prettier
* [ ] Add pre-commit hook to ensure changes conform to prettier

[2020-01-07 16:47] gsong commented on #583
This sample project I did for the last cohort seems relevant: https://github.com/gsong/auth0-react-express-example

[2020-01-07 17:11] #1059 closed

[2020-01-07 17:22] MichelleGlauser opened #1122 "Fix these dead links"
Update:
There are 20 or so links left un-checked in the original list below.  Your task is to:
1. Check that they truly do not work. If they work after all, or it's a misunderstanding (like when it flagged "something.com"), check them off.
2. Fix broken ones in a PR if its an easy URL fix.
3. Check off any links addressed in #s 1 and 2.
4. Make a neat list in the comments here of links that have t

[2020-01-07 17:36] gsong commented on #1117
Closed via #1120

[2020-01-07 17:36] #1117 closed

[2020-01-07 17:39] Kundan28 commented on #583
Yeah, it is relevant.

[2020-01-08 16:01] alodahl commented on #1117
@gsong we’re you able to do the actual scanning and find any dead links?

[2020-01-08 20:31] alodahl commented on #965
@gsong if I don’t hear from dpenny, would you like to take this?

[2020-01-08 20:33] gsong commented on #965
@alodahl Realistically I probably won't have time to work on this. I'm more than happy to assist and review. I also have some code sandboxes which could serve as starting points.

[2020-01-08 20:35] #1112 closed

[2020-01-08 20:54] dpenny commented on #965
What's the timeline on this? I should be able to do it next week if
that works for you

On Wed, Jan 8, 2020 at 9:33 PM George Song <notifications@github.com> wrote:

[2020-01-08 21:24] vegetabill commented on #1103
@alodahl I probably wasn't clear above. The content is currently in a Google doc, but it's mostly/entirely textual. My only concern is about the content itself. Perhaps it's confidential and shouldn't be in the repo. Even then we could move it into a private repo in the org, rather than use Google.

[2020-01-08 21:26] vegetabill commented on #1103
Example link to [Expectations G Doc](https://github.com/Techtonica/curriculum/blame/99278367a6ab40b4e3849b789923a2bbcd29b2e9/professionalism/professionalism.md#L15)

[2020-01-08 21:46] MichelleGlauser commented on #1103
For official docs that are more about participation in the program and not curriculum/technical topics (like the program guidelines), I'd like to make sure we keep those in a Google Doc as we have non-technical people who edit those and we often need to share them as PDFs.

[2020-01-09 22:05] vegetabill commented on #1103
Ahh that makes sense! Closing

[2020-01-09 22:05] #1103 closed

[2020-01-10 13:22] gsong opened #1128 "Convert internal links to relative links"
References to files and directories within this repo should be referenced via internal links, unless there's a good reason not to.

❌ Instead of:

[code]

✅ This:

[code]

<details>
<summary>List of problematic links</summary>

[code]

</details>

[2020-01-10 22:48] dpenny commented on #1080
PR here @alodahl
https://github.com/Techtonica/curriculum/pull/1129

[2020-01-11 01:40] thisLinda commented on #1099
Alina I just merged the branch...missed this step 11 days ago.

[2020-01-11 18:05] alodahl commented on #1080
Create a function that takes two integers and displays the largest one.
Example:

largestInt(11, 22) → 22
largestInt(22, 44) → 44

* Hints:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/if...else
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Comparison_Operators#Relational_operators

[2020-01-11 18:06] alodahl commented on #1080
Hi Danielle, here is an example code challenge. Thanks for the PR!

[2020-01-13 04:16] brookeangel commented on #1081
Here's the PR that splits the slideshows & updates the links: https://github.com/Techtonica/curriculum/pull/1131

[2020-01-13 16:52] MichelleGlauser opened #1132 "Link in a resource: "System Design Primer" to appropriate existing lesson"
This might be an excellent resource to add to our curriculum: https://github.com/joinhandshake/system-design-primer#study-guide

Help us figure out where it belongs and include the link in a PR!

[2020-01-14 00:05] MichelleGlauser opened #1133 "Add Twilio HTTP headers article to the Web Security lesson"
"HTTP Headers for the Responsible Developer" is a great resource we should share in an applicable topic: https://www.twilio.com/blog/a-http-headers-for-the-responsible-developer

Target file to add: https://github.com/Techtonica/curriculum/blob/master/security/web-security.md

[2020-01-14 00:12] MichelleGlauser opened #1134 "Add the 30-60-90 Day Plan somewhere"
https://blog.hubspot.com/marketing/30-60-90-day-plan

[2020-01-14 01:52] vegetabill opened #1135 "[Epic] merge sparse folders with goal of having less total number of folders"
The large block of folder names is intimidating and doesn't give a clue to the structure. While we do have links in the top-level README, I think having either numerical prefixes to the folders or using subfolders would make it easier to navigate and understand the curriculum sequence.

Has this been thought of before?

[2020-01-14 01:55] MichelleGlauser commented on #1135
The order/structure was originally reflected in the README, but because we change the order now and then, the README just became a general index and the roadmap is where the order is reflected. If we add numbers to the folders, we'd have to change all of the folders and all of the links whenever we change the order of topics.

[2020-01-14 02:22] alodahl commented on #1135
Ive been trying to keep the readme In order, as I’ve been directing people to follow the curriculum there if they like, as it’s open-Source. I’d love to fix it if it’s behind.

[2020-01-14 02:23] alodahl commented on #1135
Rearranging the folders might be a Pandora’s box.

[2020-01-14 18:50] vegetabill commented on #1135
Agree could be a maintenance headache. I'll try to see if I can think of something cheaper that would help with organization.

Closing for now

[2020-01-15 00:30] alodahl commented on #965
We'd need it by 2/24, @dpenny

[2020-01-15 17:00] vegetabill commented on #1114
![](https://d3qdvvkm3r2z1i.cloudfront.net/media/catalog/product/cache/1/image/1800x/6b9ffbf72458f4fd2d3cb995d92e8889/g/r/grammarpo_thumb_2.png)

[2020-01-16 06:51] alodahl commented on #1115
I replaced the one in git-version-control.md.

[2020-01-17 00:54] vegetabill opened #1146 "[Conversion] Convert Google doc "Stuck?" into a new "Searching for Solutions" lesson"
Currently there is one lesson in the `asking-good-questions` folder.

For this PR, please:
- Create a new file `asking-good-questions/searching-for-solutions.md`
- Use the contents of a volunteer-contributed Google doc: [Stuck?](https://docs.google.com/document/d/10KGXQRH0wjWz0MpMvmXbHtk3Z1_I_Fmo7yUOR_veJWA/edit) as the starting point but feel free to use your own wording or suggestions

### Admin