[2020-01-17 01:04] vegetabill commented on #1146
Closing. I missed the comment that this doc was already added as a resource in the existing doc.

[2020-01-17 01:04] #1146 closed

[2020-01-17 19:07] lemon-yellow commented on #969
I can take a look at this one!

[2020-01-17 20:33] lemon-yellow commented on #969
@alodahl - the sample React app from Auth0 comes with a functioning Logout button - was that not the case in the past?

Here is the code for the Logout button - https://github.com/auth0-samples/auth0-react-samples/blob/master/01-Login/src/components/NavBar.js#L85-L91

And the logout logic is not in the sample code anymore, it is imported from Auth0's library here- https://github.com/auth0/auth0-sp

[2020-01-17 21:44] vegetabill opened #1149 "Incorporate material from slide deck into SEO lesson"
Add any useful material from [SEO slide deck](https://www.dropbox.com/s/r6e63bqrwc58ou6/Pub%20Network%20SEO%20101%202018.compressed.pdf?dl=0) into:

[seo/seo.md](https://github.com/Techtonica/curriculum/blob/master/seo/seo.md)

[2020-01-18 00:27] vegetabill commented on #616
Done & Done & I mean Done

[2020-01-18 00:27] #616 closed

[2020-01-19 01:45] lemon-yellow commented on #1075
I can start reviewing the lessons!

[2020-01-19 01:58] vegetabill opened #1151 "Create "Feedback, Giving" markdown lesson based on existing slides"
The former SEAM, me, created a slideshow for an in-person workshop:

https://vegetabill.github.io/techtonica-deck/#1

We should convert this into a new lesson md file (and Google slideshow from the official template) and add to the `career` folder.

Template & instructions for new lessons: https://github.com/Techtonica/curriculum/tree/main/_templates#instructions

[2020-01-19 05:22] lemon-yellow commented on #1075
Feedback on lesson 1:

This took me around 15 minutes to complete. Some areas for clarification are

- what format should the event date be? should the reader use the  Date() prototype, a string, or some other format?
- I'm assuming the User and Event objects should have a unique identifier - should there be an example of how to use UUIDs or monotonically increasing integer ids?
- for deleting use

[2020-01-19 15:11] vegetabill opened #1152 "Create "Feedback, Receiving" slideshow"
We would like to give more guidance around asking for feedback and dealing with it when you receive it.

### Topics to Cover
- What are ways to ask for feedback?
  - e.g. asking "Any feedback for me?" is too broad and doesn't work
- What to do when you receive difficult feedback on you or your code?

Suggest some small group activities to do during the presentation so participants can get practice

[2020-01-19 15:26] vegetabill opened #1153 "Add content to existing lessons on "Mental ergonomics""
Important practices for any corporate worker to learn. Include some basic tips about taking breaks, not eating lunch at your desk, finding a work confidant to vent to, etc. This lesson can mostly be links to external reading along with your own personal slant of what has worked for you.

### Possible Topics
* Taking breaks when stuck
* Routine of taking a break _before_ your mind is diminished
* K

[2020-01-19 16:40] vegetabill opened #1154 "Move assessment data to private repo / lingering answers (if any)"
To avoid confusion about the sequence I wanted to move assessment docs from this repo to a private one. The objectives docs could stay but they also depend on _when_ the assessments are the the curriculum sequence. I will put them onto the main README sequence.

Example:
https://github.com/Techtonica/curriculum/blob/master/projects/advanced-methods-assessment-10.md

If sponsor companies want to se

[2020-01-19 18:45] vegetabill commented on #1113
We want to use this for next cohort, H2-2020, but I would still keep as a priority because we should not be teaching bash anymore.

[2020-01-19 18:46] vegetabill commented on #1113
I would also include [oh-my-zsh](https://ohmyz.sh/) as an additional material.

[2020-01-19 18:53] vegetabill opened #1155 "Add homebrew to Advanced Command Line"
As part of intro to command line, we should add instructions about installing Homebrew. Currently it is not mentioned until [Mongo installation](https://github.com/Techtonica/curriculum/blame/d6733508fae785be87fc25ed75bba9612e31912c/databases/mongo-db.md#L43).

Edit [Advanced Command Line](https://github.com/Techtonica/curriculum/blob/master/command-line/command-line-advanced.md) lesson
- include

[2020-01-19 18:54] vegetabill opened #1156 "Replace "obtain a code review" instructions with link to submit PR"
The lessons include "obtain a code review." This is not really practical given the way the curriculum is run.

It should be revised to be "open a draft pull request to the SEAM" once that process is documented. See [staff trello ticket](https://trello.com/c/Sx4A47BO/269-document-assignment-review-process-using-pr) or ping @vegetabill about it.

[2020-01-19 19:35] vegetabill opened #1157 "Add "Living in Open Workspaces" lesson during on-boarding sequence"
Working in open workspaces can be a problematic balance. It lets folks collaborate easily but this also means folks can interrupt focus easily. Psychological stress of having random people walking by and team members able to see your screen all day is real.

Document techniques, videos, and reading around this topic to help apprentices adjust to this style early in the program.

Create a new folde

[2020-01-19 20:39] alodahl commented on #583
How relevant is it? Should we i corporate that code into our curriculum repo? Should we link to it? Does it fulfill the issue ACs, or is it a partial solution?

[2020-01-19 20:42] gsong commented on #583
@alodahl It's a complete example as of last cohort, if by "Node.js," you mean "Express." The pattern is the same for other API servers, but implementation may differ drastically.

As for how you want to use it, it's up to you. I don't really care if you end up linking or copying it wholesale, it's all available as open source.

[2020-01-20 00:11] vegetabill commented on #1157
Freakonomics Podcast [Yes, the Open Office Is Terrible — But It Doesn’t Have to Be (Ep. 358)](http://freakonomics.com/podcast/open-offices/?utm_source=Sketchplanations&utm_campaign=2a3a3fb5ae-EMAIL_CAMPAIGN_2019_12_29_02_06_COPY_01&utm_medium=email&utm_term=0_a5a82e1a38-2a3a3fb5ae-131591865)

[2020-01-20 00:28] vegetabill opened #1158 "Review Eventonica Part 5 Express"
[Eventonica - Part 5 - Express Backend](https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/eventonica-part5-express-backend.md) is marked with TODOs to revise and test.

Please follow up on them, remove and resolve all TODOs.

[2020-01-20 01:36] vegetabill commented on #1083
Given the number of other issues open on the curriculum, I'm going to downgrade this from Priority but if someone wants to add more context and advocate for it being more important, please do!

[2020-01-20 01:42] alodahl commented on #583
Thank you @gsong !

[2020-01-20 02:47] lemon-yellow commented on #1075
Feedback on lesson 2:

This took me about 20 minutes to complete. The instructions were clear to me! It was expecting that the code from lesson 1 was in an eventRecommender.js file in a project folder, so I can update lesson 1 to request that.

It could be nice to include a link to a Jasmine overview in the lesson. This can help the reader understand how to name and group tests, and understand the

[2020-01-20 04:04] Kundan28 commented on #583
@alodahl Call for Projects is open for GSSoC'20 so if you're interested please add your project. I'm ready to become mentor for this project as earlier.

[2020-01-20 16:39] vegetabill opened #1159 "Create "Eventonica Part 6 - Postgres""
[Eventonica Part 6 Postgres](https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/eventonica-part6-postgres.md) is just a placeholder. Please complete it.

It covers adding Postgres support to the existing Eventonica Express app.

### Context
- [Eventonica Intro](https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/eventonica-intro.md)

[2020-01-20 19:05] alodahl commented on #1075
Here’s the jasmine outline that happens few weeks earlier: https://github.com/Techtonica/curriculum/blob/master/testing-and-tdd/jasmine-testing.md

[2020-01-20 21:03] vegetabill commented on #400
Hi @amychan331 I know this was a long time ago but did you actually add anything for this?

[2020-01-20 21:21] vegetabill commented on #965
@dpenny thanks for volunteering to work on this. Our average PR back-and-forth takes a few weeks so would it be feasible for you to commit to creating a first draft by Monday 3 February?

[2020-01-20 21:38] amychan331 commented on #400
@vegetabill My memory is a bit blurry since it is a while ago, but I looked up my pull request, and I think I closed it because I did #429 , but forgot to tag it. Sorry about the confusion!

[2020-01-20 22:14] vegetabill opened #1160 "Create React Styling lesson outline"
add short lesson into the [react folder](https://github.com/Techtonica/curriculum/tree/master/react-js)
[template markdown](https://github.com/Techtonica/curriculum/blob/master/_templates/topic-outline.md)

### Things to Cover
* inline styles and CSS
* integrating bootstrap
* styling in JS frameworks
* create slideshow for visual learners

[2020-01-20 22:18] vegetabill opened #1161 "Create redux lesson outline"
Fill in intro to redux:
[redux/redux.md](https://github.com/Techtonica/curriculum/blob/master/redux/redux.md)

There are lots of good tutorials that exist so feel free to link in external resources

[2020-01-20 22:20] vegetabill commented on #1084
Closing. Replaced by sub-tasks:
- #1160
- #965
- #1161

[2020-01-20 22:20] #1084 closed

[2020-01-20 22:30] gsong commented on #1161
The community at large is moving away from redux, and none of the cohort projects I’ve seen have required using it. Wondering if it’s worth introducing this complexity when they already have so much to deal with.

[2020-01-21 01:52] vegetabill opened #1163 "Review "Intro to Web Security" lesson"
According to some previous cohorts, the intro to web security lesson needs some revisions and expansion. Please review it and improve it as you see fit.

[Web Security](https://github.com/Techtonica/curriculum/blob/master/security/web-security.md)

Please add an activity link for practice hacking, e.g. https://www.hackthissite.org/

[2020-01-21 02:04] vegetabill commented on #1121
+100 to just going with something premade.

Can someone provide a comparison of prettier to eslint+Airbnb settings? I don't really have a strong opinion but just wanted some context.

[2020-01-21 02:12] vegetabill commented on #1149
SEO might be on the chopping block so deprioritizing this.

[2020-01-21 02:21] vegetabill commented on #1094
Not 100% of the use cases they used it for but seems like `tmux` would be better to learn in the long run.

[2020-01-21 02:23] #1161 closed

[2020-01-21 03:03] gsong commented on #1121
@vegetabill Well, considering most of this repo are markdown files, eslint won't do anything for you. 😉

[2020-01-21 05:19] DekasDimitrios commented on #1128
Hello @gsong and @vegetabill, i would love to make an attempt on writing some code to automate this link manipulation system for the repository. Could that be useful for the project?

[2020-01-21 15:07] vegetabill commented on #583
Removing priority label since this is part of the "Electives" now

[2020-01-21 15:11] vegetabill commented on #1110
This is elective so bumping out of the TODO project

[2020-01-21 15:15] vegetabill commented on #986
I'm going to close this as "Won't do" -- since the entire curriculum covers JS, I think it's not necessary to go into detail in each lesson. If we have more specific improvement suggestions, let's open another issue.

[2020-01-21 15:15] #986 closed

[2020-01-21 15:27] gsong commented on #1128
@DekasDimitrios Here's my opinion, if you want to write a script to manipulate the links in-place as a learning exercise, by all means, go for it. As a practical matter of how to tackle solving this problem, a script is probably overkill.

In any case, however you end up getting the desired outcome is up to you, but the project probably doesn't need a script in the long term to keep internal links

[2020-01-21 15:38] vegetabill commented on #919
Longer term, I want to move these to a private repo so I'm closing this TODO as "Won't Do"

[2020-01-21 15:38] #919 closed

[2020-01-21 15:39] vegetabill commented on #794
Thanks for opening this @hoserdude . However, since no one has picked it up, I'm going to close it in 2 weeks unless I hear from you.

[2020-01-22 03:58] vegetabill commented on #1135
Reopening. I think merging some of the folders would help unless there is a reason they are like that. There are a lot of folders with only one child.

[2020-01-22 04:01] vegetabill opened #1166 "Expand/improve the DevOps material"
Currently we have [/roles-in-tech/dev-ops.md](https://github.com/Techtonica/curriculum/blob/master/roles-in-tech/dev-ops.md)

But it could be refreshed and expanded. If there are specific exercises folks can do, we can also create a freestanding lesson under electives. I realize this is a bit vague so feel free to ping me on the comments below to discuss.

[2020-01-23 01:56] alodahl commented on #583
@Kundan28 maybe!  Do you know the sign-up deadline?

[2020-01-23 03:34] Kundan28 commented on #583
I think it's closed today.

[2020-01-23 03:53] Kundan28 commented on #583
But if you want to signup...you could contact them.

[2020-01-23 15:02] vegetabill commented on #912
The endorsed way to do this styling is to have a master template just like the official Google templates. Without it, maintaining this styling seems a little impractical.

I'm bumping this out of the project for now until I can discuss further with Michelle.

[2020-01-23 15:11] vegetabill opened #1168 "Test and revise Eventonica Part 1 - Objects"
Do the exercise in [Eventonica Part 1 - Objects](https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/eventonica-part1-objects.md)

These are newly created/updated lessons. It would be very helpful to have someone do the entire lessons and give feedback about:

- Anything that's confusing
- How long each lesson took you to complete
- Any suggestions for improvement

Start by re

[2020-01-23 15:12] vegetabill commented on #1168
oops that was already in-progress

[2020-01-23 15:12] #1168 closed

[2020-01-23 18:34] lemon-yellow commented on #1075
Feedback on lesson 3:

This one took me about 75 minutes. Some feedback:

- There were several HTML elements that did not have an ID for jQuery to reference- is that on purpose so the reader adds the IDs? Ex: https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/starter-code/index.html#L47

- The CSS styling in Next Steps is rather open ended. Are there specific things the reade

[2020-01-23 19:10] lalpert commented on #1075
@lemon-yellow thank you so much for the great feedback so far!

[2020-01-24 13:35] Kundan28 commented on #583
@alodahl I just gone though the site and saw the project submission is still open. So you want to submit please do so.

[2020-01-25 00:10] lemon-yellow commented on #1075
Feedback on lesson 4:

This one took me about 60 minutes. Some feedback:

- I needed to create a Ticketmaster developer account to get the api key

-If your filters include special characters, the URL will need to be encoded(e.g., ?location=San Francisco => `?location=San%20Francisco`)
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURI

[2020-01-25 00:15] lemon-yellow commented on #1075
Also regarding lesson 3, I looked into `localStorage` and it's challenging to use since it can only store strings. How did people work around this in the past? I ended up using javascript to split strings into arrays so I could store a list of events and users.

[2020-01-25 00:18] lemon-yellow commented on #1075
That concludes my review! I'd appreciate any feedback or answers to the questions I posted so I can determine what updates to the lessons are needed. Thank you!

[2020-01-25 03:53] Kundan28 commented on #583
@alodahl Last date is 25th January 2020.

[2020-01-25 23:33] #1082 closed

[2020-01-25 23:56] alodahl commented on #1115
I'm combing through them, and most are fine.  Here is a list of the links that need replacing:
- [ ] https://www.codecademy.com/courses/asynchronous-javascript/lessons/promises/exercises/understanding-promises in curriculum/javascript/javascript-9.md

[2020-01-26 00:27] #1111 closed

[2020-01-26 00:29] #1098 closed

[2020-01-26 00:30] #1081 closed

[2020-01-26 00:30] #1028 closed

[2020-01-26 00:31] #1080 closed

[2020-01-26 00:38] alodahl commented on #1075
I wrestled with sessionStorage & localStorage today for a work project, and the solution I used was to JSON.stringify it before setting the variable, and JSON.parse it when you're getting it out.

localStorage.setItem('thing', JSON.stringify(newData));

const data = JSON.parse(localStorage.getItem('thing'));

[2020-01-26 00:40] alodahl commented on #1075
Hi @vegetabill, do you know the intention for this ticket?  Are you going to make issues based on this? Would you like me to?

[2020-01-26 02:58] #575 closed

[2020-01-26 02:59] alodahl commented on #576
I think we've acheived this with our Eventonica epic!

[2020-01-26 02:59] #576 closed

[2020-01-26 03:03] alodahl commented on #794
Hey @vegetabill I've been adding this red tag to issues so I remember which ones I've put a deadline on! You can remove it if it's not helpful.

[2020-01-26 03:07] alodahl commented on #817
the agile outline looks like this has been completed ✅

[2020-01-26 03:07] #817 closed

[2020-01-26 03:08] #899 closed

[2020-01-26 03:12] alodahl commented on #912
@vegetabill I don't think that would be difficult...can't we just turn a good-looking one into the "official template"?  At best, it would be filled with super clear directions too, like "this is the title" "this is the image description.  Be sure that the image yada yada yada...."

[2020-01-26 03:47] alodahl commented on #998
links labeled ✅

[2020-01-26 03:47] #998 closed

[2020-01-26 03:47] #924 closed

[2020-01-26 03:56] #969 closed

[2020-01-26 17:25] alodahl commented on #1135
Im ok with that as long as in-project and roadmap links get fixed accordingly.

[2020-01-27 02:26] alodahl commented on #919
as long as we don't forget about this task

[2020-01-27 02:29] alodahl commented on #1128
this seems like more of a search/replace situation

[2020-01-27 02:32] alodahl commented on #1149
@vegetabill really?  why wouldn't SEO be a priority, esp since its a relatively short lesson?

[2020-01-28 00:10] vegetabill opened #1174 "beta test a new format for slides using markdown docs"
The google slides do not use a real template and so are quite fragile to maintain. I'm going to try out one set of slides in a new format and see how that experience goes, both as a contributor and consumer of the slide content.

[2020-01-28 00:11] vegetabill commented on #912
@alodahl I haven't ever turned an existing slideshow into a template but I think it's not as friendly as it could be but from the generic title I didn't know the scope of this. I've split off what I'm talking about as a separate issue #1174, especially if this is the last one before finishing

[2020-01-28 01:24] vegetabill commented on #1099
@thisLinda sorry for the confusion around this issue. I'm a new staff member and I'm just getting the hang of all the in-flight issues. We've actually changed the main README quite a bit and so I'm just going to close this issue for now. If you'd be willing to pick something up from the [project board](https://github.com/Techtonica/curriculum/projects/2) we'd appreciate any work you could contribu

[2020-01-28 01:24] #1099 closed

[2020-01-28 01:50] vegetabill opened #1175 "Add lesson on BEM style CSS"
Add a small lesson on BEM CSS

- what it is
- why it's valuable, esp as it avoids specificity conflicts

Use the [Outline Template](https://github.com/Techtonica/curriculum/blob/master/_templates/topic-outline.md)

[2020-01-28 04:19] lemon-yellow commented on #1158
I can take a look at this! I worked on reviewing parts 1-4 so I already have the inputs ready.

[2020-01-31 19:30] lemon-yellow commented on #1159
I can work on this! How much experience with Postgres will the cohort have by the time they get to this lesson?

[2020-02-04 21:29] dpenny commented on #965
@vegetabill is end of this week ok?

[2020-02-05 00:09] vegetabill commented on #965
@dpenny yes that would be great!!

[2020-02-05 04:33] abhu-A-J commented on #1175
@vegetabill  can I take this up?

[2020-02-06 03:25] vegetabill commented on #1175
@abhu-A-J absolutely! Go for it! If you have any questions let me know. Thanks for your help.

These are the [existing dedicated CSS lessons](https://github.com/Techtonica/curriculum/tree/master/css)

[2020-02-06 14:40] vegetabill commented on #1159
Addressed by #1178 - thanks @lemon-yellow !!!!!

[2020-02-06 14:40] #1159 closed

[2020-02-06 14:43] vegetabill commented on #794
@alodahl that's perfect!!!! And the deadline has come and gone so 👋

Anyone who comes across this and wants to add, it feel free to re-open. This is not a judgment of the idea, just that we have no shortage of ideas, but shortage of time.

[2020-02-06 14:43] #794 closed

[2020-02-06 14:44] vegetabill commented on #1174
@alodahl take a look at https://github.com/vegetabill/techtonica-deck when you get a chance. That's my first attempt. I'd really love to have new slide contributions be some markdown format and this one seems Good Enough™ - would love you thoughts!

[2020-02-06 14:55] #1116 closed

[2020-02-06 17:42] abhu-A-J commented on #1175
@vegetabill  this is addressed on the https://github.com/Techtonica/curriculum/pull/1181

[2020-02-07 04:49] lemon-yellow commented on #1158
@vegetabill - Can we consider this issue closed?

[2020-02-07 16:56] vegetabill commented on #1158
Yup! Thanks @lemon-yellow

[2020-02-07 16:56] #1158 closed

[2020-02-10 21:03] vegetabill opened #1185 "[Draft] [Idea] create a hierarchical set of important topics to help future SEAMs and curriculum owners"
What topics should participants have a basic understanding of, a working definition, and how they fit into the tech ecosystem. This list does not need to include topics that are already called out in specific lessons.

This list will help the SEAM decide what lessons can be de-prioritized if we are only expecting a basic fluency with a concept, not interview-question-level knowledge of it.

[2020-02-10 21:46] vegetabill commented on #1185
## Starting list

- Bootstrap
- DNS
- Sockets / ports

[2020-02-10 22:44] vegetabill commented on #1174
Closing since this discussion moved to slack

[2020-02-10 22:44] #1174 closed

[2020-02-11 10:01] dpenny commented on #965
PR here! https://github.com/Techtonica/curriculum/pull/1186

[2020-02-13 00:24] vegetabill opened #1187 "Create Node HTTP.Server exercise without Express"
# Task:  Convert the driections below into a full project outline.  Include any clarifying statements that you think an absolute beginner might need. Use this template: https://github.com/Techtonica/curriculum/blob/master/_templates/project.md

## New Coding Assignment Guide
This challenge is to help participants learn how to build a simple web server in Node without any frameworks, using built-in

[2020-02-14 18:50] vegetabill commented on #607
I'm marking this as close to expiring since it's stale and a lot of context has been lost on it. If someone likes this idea they are free to pick it up and begin actively working on it, otherwise it will be closed in ~7 days

[2020-02-14 18:56] vegetabill commented on #1122
Obviously this list is long so fixing a few of them is much appreciated!

Project maintainer note: in terms of prioritization, we should be encouraging participants to submit fixes for broken links they find rather than this sort of upfront approach. A broken link is less important to fix if it's in lower-priority content and not being actively clicked.

[2020-02-14 19:54] vegetabill opened #1189 "Create a cheat sheet for the most commonly used JavaScript functions (e.g. Array.map)"
Link from the main README to this from the JavaScript Fundamentals week. Apprentices should basically memorize these within the first month.

## Contents
- 10 most commonly used functions on Array
  - map
  - filter
  - reduce
  - slice
  - splice
  - concat
  - join
  - push
  - find
  - indexOf
- 5 most commonly used functions on String
  - substring
  - split
  - toLowerCase
  - trim
  - charAt

[2020-02-14 22:04] vegetabill commented on #1187
One interesting possibility I worked on with @lisaau was adding a custom 302 redirect to demonstrate how certain headers have agreed-upon meaning and will trigger behavior by clients like browsers.

[2020-02-14 22:31] #1156 closed

[2020-02-14 22:34] MichelleGlauser commented on #1185
I would argue that they need a bit more than just a definition for Bootstrap and web accessibility.

[2020-02-15 17:02] vegetabill commented on #1185
@MichelleGlauser can you go into a little more detail? Are you expecting Bootstrap to be part of interview question, vs. actually knowing CSS?

For a11y, this seems important because it's related to inclusion so I think that's fine to emphasize more, but not for industry reasons.

[2020-02-18 17:20] vegetabill commented on #1151
Added slideshow earlier

[2020-02-18 17:22] vegetabill commented on #1094
Expired. If you like this idea and want to work on it, please reopen!

[2020-02-18 17:22] #1094 closed

[2020-02-18 17:24] vegetabill commented on #1083
This feels like an elective and/or wish list request. I'm closing it for now since no one has picked it up.

[2020-02-18 17:24] #1083 closed

[2020-02-18 17:25] vegetabill commented on #500
If this does not get done during gssoc20, I'm closing it unfinished

[2020-02-18 17:36] vegetabill commented on #544
This seems really context-dependent and I have no way to tell which of the above ideas is worth doing. I'm going to link this from the SEAM Handbook as an example of some ideas but I think each SEAM is going to have their own personal backlog, and only promote certain items to public issues, at least that's what I imagine based on a data point of me.

[2020-02-18 17:36] #544 closed

[2020-02-18 17:42] #607 closed

[2020-02-18 17:50] vegetabill commented on #596
This is a good idea. I added an Instructions doc we can add this to if we decide on one. https://github.com/Techtonica/curriculum/blob/master/_templates/instructions.md

[2020-02-18 17:54] vegetabill commented on #583
Since this is now an elective, I don't think we need to create this original content. It will be used in the project phase when participants should be able to find their own tutorials out there in the world.

[2020-02-18 17:54] #583 closed

[2020-02-18 17:56] vegetabill commented on #882
@alodahl is this still relevant? I think it may be somewhat hopeless to have the Roadmap and README always in sync. How many external folks use the curriculum?

[2020-02-18 17:58] vegetabill commented on #912
Almost done with a proper Google slides template so will update soon

[2020-02-18 17:59] vegetabill commented on #816
I didn't get any feedback about this and I'm actually advocating for Bootstrap to be bumped until much later in the curriculum. Unless anyone feels strongly about this, I'm putting it on the chopping block.

[2020-02-18 18:01] vegetabill commented on #918
@alodahl  Was this what we used before REPL.it? Is this still relevant?

[2020-02-18 18:48] vegetabill commented on #967
Done!

[2020-02-18 18:48] #967 closed

[2020-02-18 18:50] vegetabill commented on #1133
Target: https://github.com/Techtonica/curriculum/blob/master/security/web-security.md

[2020-02-18 18:53] vegetabill commented on #951
Target: https://github.com/Techtonica/curriculum/blob/master/testing-and-tdd/enzyme-testing.md

[2020-02-18 19:09] MichelleGlauser commented on #1185
At the very least, people should understand what a CSS framework is, know that Bootstrap is a popular one, and have made changes d in code that uses one.

Inclusion needs to be built into process, so ensuring people are aware of and utilizing @11y best practices will help with that and ensure people we're serious about that.

[2020-02-19 01:57] Kundan28 commented on #500
@vegetabill GSSoC20 has not been yet started...so it would take some time.

[2020-02-19 04:37] alodahl commented on #1189
Shouldn’t we just be teaching them to look stuff up on mdn, etc?

[2020-02-19 04:40] alodahl commented on #1122
We found these with a bot, we are not listing them as we go or anything.

[2020-02-20 14:33] vegetabill opened #1191 "Revise REST API lesson"
The previous two iterations of the [REST API lesson](/api/REST-API.md) were overly theoretical and assumed the reader already knew a lot about API's. Volunteers and participants both have said the lesson is not helpful the way it is now, so let's revise it.

- Remove examples of REST vs non-REST (since we won't be building any non-REST API's in Techtonica, for our purposes API === REST API)
- Link

[2020-02-20 14:33] vegetabill commented on #1191
@zhagm I used your express party as a possible practice lesson for this! 😁

[2020-02-20 14:46] vegetabill commented on #1189
@alodahl Yes! But for assessments they need to have these basic ones memorized and from feedback I've gotten, it's tough for them to see the wall of 50 functions and know which are core or not. I'm hoping this can be a good focusing strategy. What do you think?

I added above: "Apprentices should memorize these within the first month."

[2020-02-20 15:11] gsong commented on #1189
I guess I would question the value of memorizing any function or method signatures. I agree with @alodahl that knowing what's possible, and knowing how to efficiently look up the docs is a much more valuable skill.

[2020-02-20 17:07] alodahl commented on #1189
@alodahl when you put it that way, a study guide is definitely a good idea. I still disagree with including definitions, though, unless it’s just a sentence in layman’s terms about purpose - not examples that can easily be found elsewhere.

[2020-02-20 17:08] alodahl commented on #1189
That’s what the “assessment objectives” we’re originally for.

[2020-02-20 17:16] alodahl commented on #1185
At the risk of being repetitive, I think this is another situation where updating "objectives" and having a centralized objective list as a study guide would help apprentices remember what is really important (and in assessments) versus what is just associated.  If the objectives need to shift, we should change those, not make additional lists.

[2020-02-20 17:21] alodahl commented on #544
I converted all the ideas that made sense to me a while back, so I agree.

[2020-02-21 02:24] vegetabill commented on #1185
Actually going to close this in favor of a draft Google doc

[2020-02-21 02:24] #1185 closed

[2020-02-21 15:01] vegetabill commented on #1189
TL;DR I would've been saying the same thing as you before seeing this curriculum used IRL. I have been an engineer too long to remember not knowing these things.

1. The intro assessments are Wifi Off. What do they do then? A clever participant was working on an airplane and was inspecting Array.prototype using Node console but if you can already do that, you're ahead of the game.
1. I would've sa

[2020-02-21 16:49] MichelleGlauser commented on #1189
Skillcrush has a bunch of cheat sheets. Maybe they'd have a good one? First Google result: https://skillcrush.com/blog/downloadable-javascript-cheat-sheet/

[2020-02-21 20:55] vegetabill commented on #1189
TL;DR I would've been saying the same thing as you before seeing this curriculum used IRL.

1. The intro assessments are Wifi Off. A clever participant was working on an airplane and was inspecting Array.prototype using Node console but if you can already do that, you're ahead of the game. Memorization is necessary.
1.  I think you're underestimating how much you've inadvertently memorized to beco

[2020-02-22 08:02] Kundan28 commented on #500
@vegetabill I'm good to mentor this project and I've worked on this project as a mentor in past too. So I request you to please select me as a mentor for this project.

[2020-02-23 03:55] vegetabill opened #1194 "[Epic] ES2015-ify code examples and lessons"
This epic needs to be split into smaller pieces. It could be a good one for GSSoC20

- `let`, and then secondarily `const` should replace `var` entirely
- normal `function` functions are fine to leave in
  - arrow functions can be introduced as part of FP concepts like `map`
- drop constructor functions / prototype examples and rely on just `class` syntax
- destructuring should be not be included

[2020-02-23 16:30] alodahl commented on #1194
- I agree `var` should not be around - I can't remember if its purpose is ever explained.  What I do know is that `let` v `const` **is** explained in the JS object lesson already.
- I think require vs import does deserve a quick mention in a backend lesson. I recall that it tripped me up a lot early on, until I read about the difference.
- I agree with the rest 💪🏽

[2020-02-23 16:40] gsong commented on #1194
Hmm, I'm not sure if destructuring should be optional, as it's vital to working with modern React.

Also, why secondarily `const`? There are many more use cases for `const` than `let` in modern JS practices.

[2020-02-23 16:47] alodahl opened #1195 "ensure all 'let' and 'const' declarations are used correctly"
# Task:

Search through the curriculum project, and double check that all of the code examples are using `let` and `const` correctly, so apprentices can see it used correctly as they learn. If something is declared as `let` but it does not change anywhere in that lesson, be sure to change it to `const` in a pull request. Same thing for if something is declared as `const` does change.

[2020-02-23 16:54] alodahl opened #1196 "ensure our slideshow code examples match their respective outlines"
_Blocked until completion of #1195_

Task:
Look at the pull request changes submitted for #1195. For the files that have been changed, take a look at its linked slideshow and ensure that any code examples match; the `const` and `let` declarations should look the same, along with anything else.  If there are differences, "request access" on the slideshow and/or message a project admin for permissio

[2020-02-23 17:22] alodahl opened #1197 "change all instances of `var` to `let` or `const`"
# Task:

As of ES2015, the use of `var` is not recommended to declare variables, and we want our apprentices to avoid it.  Search through the curriculum, and change all instances of `var` to either `let` or `const`, whichever would be most correct. Submit your changes in a pull request.

[2020-02-23 17:24] alodahl opened #1198 "ensure our slideshow code examples no longer contain `var`"
Blocked until completion of #1197

# Task: Ensure our slideshow code examples match their respective outlines.

Look at the pull request changes submitted for #1197. For the files that have been changed, take a look at its linked slideshow and ensure that any code examples match; the const and let declarations should look the same, and there should no longer be any `var` declarations. If there are

[2020-02-23 17:58] alodahl commented on #1194
I added #1195 #1196 #1197 #1198 , which should cover the first bullet point.

@vegetabill i agree w @gsong about destructuring - it is necessary pretty quickly when in comes to importing modules. We dont have to get into multi-level destructuring or destructuring props, though - that could be optional.

@gsong, i dont think const is getting a back seat, don't worry.

[2020-02-23 18:17] navi532 commented on #1197
I want to contribute it.

[2020-02-23 19:29] vegetabill opened #1199 "Revise HTTP request practice lesson"
In the [/api/http-request-practice.md](https://github.com/Techtonica/curriculum/blob/master/api/http-request-practice.md) lesson we added too many options (6), including ones that are much less important. Let's simplify.

## Remove these sections

- XMLHttpRequest
- http.request in Node.js
- fetch in node

That means we're keeping curl, fetch (browser), and Postman.

## Add this link to the fetch

[2020-02-23 19:31] vegetabill commented on #1199
@boocheet please add any revision suggestions you have

[2020-02-23 20:23] alodahl commented on #1197
Hi Navi, that’s great! Since we’re a non-profit, please fill [this](https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1) out before you get started. Also, are you part of gssoc?

[2020-02-23 21:08] alodahl commented on #1083
I wouldn’t close things just cuz no one has picked it up! It’s up to you whether ORMs are an elective.

[2020-02-24 04:56] alodahl commented on #882
I wouldn't stress about it always being in sync, but as the curriculum evolves, I think it would be good to sync up the lesson order with the roadmap every cohort or so, and/or keep the ReadMe in mind as we add or deprecate content. This would benefit anyone outside the program using it.  I don't think there are more than a few people in that category right now, but I understood from Michelle's de

[2020-02-24 04:59] alodahl commented on #918
@bill, no, these were part of the guided practice in the "Testing your NodeJS Backend" outline(s).  Has repl.it added the ability to run a server file on their web app?  We used glitch because, at the time of writing, repl.it could not do that.

[2020-02-24 09:27] navi532 commented on #1197
Yes. I have taken part in GSSOC2020

[2020-02-24 09:34] habeeba-naaz commented on #1115
Hello...I want to work on this issue.I am gssoc20 participant.

[2020-02-24 09:36] habeeba-naaz commented on #1115
Can you please assign to me this issue if possible.?

[2020-02-24 10:04] Tawishi commented on #1189
I would like to work on this issue.

[2020-02-24 10:12] pa7ri commented on #1118
I would like to contribute solving this issue if everyone is agree

[2020-02-24 10:40] abhinashgiri commented on #1197
I too want to work on this. May I?

[2020-02-24 10:46] abhinashgiri commented on #1118
I want to contribute to this issue. May I, please?

[2020-02-24 10:52] abhinashgiri commented on #1115
I want to contribute on this issue. May I with your permission, please?

[2020-02-24 11:13] abhinashgiri commented on #816
I'm not able to find the file where the task is to be done. Any help would be appreciated. Thanks.

[2020-02-24 11:27] abhinashgiri commented on #951
I want to contribute to this with your permission. May I, please?

[2020-02-24 16:02] habeeba-naaz commented on #1128
Hi...I am gssoc20 participant.I am very much interested to work on this issue...can you please assign me for this issue

[2020-02-24 17:48] alodahl commented on #1128
Thank you, that would be great! Would you please fill this form out for us before you start? https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1

[2020-02-25 02:22] alti21 commented on #1195
Hi can a try this?

[2020-02-25 02:51] Kundan28 commented on #1197
@abhinashgiri Only one person can work on single issue until multiple contributors are not required. So better to search for other issue and work on it.

[2020-02-25 02:53] Kundan28 commented on #1197
@alodahl I'm the project mentor of this project as per GSSoC20 so why am I not getting notification as last time when someone comments on issue ?

[2020-02-25 02:55] Kundan28 commented on #1195
@alti21 Are you participating through GSSoC20 ?

[2020-02-25 03:04] Kundan28 commented on #1197
@alodahl The project admin has not joined the slack group till now. So if @vegetabill is not available for it I recommend you to join as the participants want to know about this project in dept.

[2020-02-25 03:08] alti21 commented on #1195
No I am not actually

[2020-02-25 03:09] Kundan28 commented on #1195
Okay, then @alodahl will guide you if you could work on this issue or not as it's marked with the label GSSoC20

[2020-02-25 08:19] pandeykriti commented on #1198
Is there any work left on this?

[2020-02-25 08:25] Tahanima commented on #1195
Hello,
I am a GSSoC20 participant and I want to work on this issue.

[2020-02-25 08:40] Tahanima commented on #1133
Hello,
I am a GSSoC20 participant and I want to work on this issue.

[2020-02-25 08:41] abhu-A-J commented on #1196
@alodahl once issue #1195 is fixed, I would like to take this up. I have not worked with the presentation before for this platform, so looking to learn something new.
**Note:** I want to undertake this as GSSoC participant.

[2020-02-25 12:50] habeeba-naaz commented on #1128
databases/mongoose.md
14:- [JSON](https://github.com/Techtonica/curriculum/blob/master/api/apis-and-json.md).
There is no api folder present in databases folder which i mentioned above ...so shall i leave it as it is or do i need to bring api folder in that database folder and change the internal link?

[2020-02-25 16:59] vegetabill opened #1201 "Add outline for code liniting + eslint instructions"
We want our participants to submit clean PR's and see what well-formatted code looks like. Once they learn syntax and formatting manually, we need a new lesson for how to set up and use a linter.

Create a new lesson outline (markdown only, no need for slides or recording) using our [TEMPLATE](https://github.com/Techtonica/curriculum/blob/master/_templates/topic-outline.md).

### Topics to Cover
-

[2020-02-25 17:37] LovepreetSingh12 commented on #1199
I am a beginner but i want to give this a try as a part of GSSoC 20.

[2020-02-25 22:12] vegetabill opened #1202 "Improve guided practice of intro to databases"
The [relational DB](https://github.com/Techtonica/curriculum/blob/master/databases/relational-databases.md) lesson is far too lengthy. It should introduce some basics, ensure the participant has installed and can successfully use Postgres, and leave the rest of it up to the other lessons, e.g. [SQL 1](https://github.com/Techtonica/curriculum/blob/master/databases/sql-1.md).

### Areas to Improve
-

[2020-02-26 00:02] gabymoreno9 opened #1203 "Revise/reword Creating/Updating Data, Question No. 3"
Under db-modeling-assignment.md, number 3 asks

The word **update**  is confusing. Not sure what the question means by update.

[2020-02-26 00:32] vegetabill opened #1204 "Remove SQLite from curriculum and replace with Postgres"
Originally, the curriculum included some activities that used SQLite. This only saved a small amount of installation time and just caused confusion. Since SQL is further along in the curriculum, the participants should be capable of setting it up so let's go all in on Postgres.

## Requirements
- Find all references to SQLite
- Change them to use Postgres tooling and syntax

We will continue to re

[2020-02-26 00:40] vegetabill commented on #1204
@alodahl is this something that was discussed and discarded before? Since the original curriculum used Mongo exclusively, not sure if this was really thought about in-depth.

[2020-02-26 00:55] gsong commented on #1204
@vegetabill As long as by setup you mean https://hub.docker.com/_/postgres 😉

[2020-02-26 01:27] vegetabill commented on #1203
Thanks for opening this, @gabymoreno9  .

Can you suggest a clearer wording? Is the confusion because it mentions an 'update' but you should actually use SQL `INSERT` ?

[2020-02-26 02:06] habeeba-naaz commented on #951
I am gssoc20 participant...I am interested in doing this...please assign me if possible?

[2020-02-26 02:10] habeeba-naaz commented on #1133
I gssoc20 participant...I am interested to work on this...if possible please assign?

[2020-02-26 02:46] Kundan28 commented on #1195
Okay, you can @Tahanima but make sure to make Pull Request only after 1st March.

[2020-02-26 02:47] Kundan28 commented on #1195
@alodahl please assign @Tahanima to this issue.

[2020-02-26 03:57] Tahanima commented on #1195
Thank You @Kundan28

[2020-02-26 14:48] vegetabill commented on #1199
@LovepreetSingh12 thanks for offering to help. Before doing anything else please follow the steps in https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#volunteering

[2020-02-26 14:52] vegetabill commented on #1204
😐

[2020-02-26 15:22] gsong commented on #1204
@vegetabill Not a fan of Docker? Any specific reasons why?

[2020-02-26 16:58] vegetabill opened #1205 "Reorganize career folder"
Recently we created a new `career` top-level folder.

Please move the following lessons under this folder and update all existing internal links to their new locations

### Desired Contents
If the item is a folder, move it as it is and make it a subfolder of `career`. If it's a file, move it into `career` and drop its folder.

#### Folders
- `roles-in-tech`
- `interviewing`

#### Files
- `resume-w

[2020-02-26 17:12] boocheet commented on #1199
1. Have a brief explanation and an example of GET request such as the GET request is only done by the user or client-side to request information i.e. going to www.google.com and the server-side sends the response by taking you to google's website.
2. explain the syntax for sending a request, for example, request-method-name: HTTP protocol defines a set of request methods, e.g., GET, POST, HEAD, an

[2020-02-26 19:28] biekymahato opened #1206 "Implementation of repo for training and job placement Guidance with study material for our students and guests."
**The placement session for any company generally has 3 – 4 rounds. The first round is the written test, consisting of quantitative aptitude, reasoning (logical ability), English (verbal ability) and computer science subjects (C, C++, Data Structures, Algorithms, DBMS, OS, Networks, etc.).
For some companies, you might also have a coding round, which is sometimes taken as a separate round and some

[2020-02-26 19:29] biekymahato commented on #1206
As a part of Gssoc'20, I want to work on it.

[2020-02-26 19:33] Srashtimittal commented on #1128
Hii, I am a gssoc20 participant .I want to contribute on this issue. Please assign me for this issue.

[2020-02-26 19:33] vegetabill commented on #1206
@biekymahato I'm not 100% sure what you're proposing. This project is _a_ curriculum for what you're describing, albeit geared toward the tech culture of San Francisco, CA, USA, but probably much of it is universal. What exactly would you want to work on?

[2020-02-26 19:50] vegetabill opened #1207 "Merge git and GitHub folder contents => git folder"
Please create a new top-level folder called `git` and fill it with the contents below. For any file you move, please search for all existing internal links to the file and update to its new location.

- Move all contents of [/git-version-control](https://github.com/Techtonica/curriculum/tree/master/git-version-control) into this new folder
- Move github-code-storage/github-storage.md
- Move github

[2020-02-26 19:54] biekymahato commented on #1206
In this project, we are going to build a placement and training tutorial.
From this issue, we can make a project which helps the student to prepare themself for placements and to guide them in a specific way.
In this Project, we include all the things related to placement and training programs.

[2020-02-26 20:16] vegetabill commented on #1204
@gsong I like Docker just fine but we're trying to limit the moving parts here. Installing psql takes about 5 minutes using Homebrew so not sure how we would justify using Docker there unless we plan to Docker-ify the whole laptop environment. If you think that's worthwhile, I'd open a Epic to do that for future discussion. Having the laptops all set up the same way would be nice.

[2020-02-26 20:26] gsong commented on #1204
My personal opinion is that a Docker based environment is much more predictable than your typical developer's local environment.  PostgreSQL is definitely easy to install via Homebrew, but it introduces its own challenges compared to isolated Docker DB instances (e.g. you can completely isolate your test DB from your development DB, no need to worry about user names, roles, etc. for different proj

[2020-02-26 20:53] habeeba-naaz commented on #1207
I am gssoc20 participant..Interested to do this work, please assign me to this if possible?

[2020-02-26 20:57] habeeba-naaz commented on #1205
I am gssoc20 participant and interested in doing this work. please assign me this issue if possible?

[2020-02-27 05:03] vvijayalakshmi21 commented on #951
Hi, Please could you assign this to me?
I would like to start my GSSoC'20 journey with this contribution

[2020-02-27 05:30] habeeba-naaz commented on #1189
I am gssoc20 participant...I am Very much interested to work on this...If possible please assign me this issue

[2020-02-27 06:56] Yashank18 commented on #1207
Sir,
I want to work on this issue and want to consider this under GSSoC'20. Please assign me the same. :)

[2020-02-27 07:03] SaranshDawra commented on #1205
Sir, I am a participant in GSSoC20 and want to work on this issue. Please assign me with this issue.

[2020-02-27 07:41] alodahl commented on #951
@abhinashgiri I believe you asked first! Would you please fill this form out for us before you start? https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1

[2020-02-27 07:44] alodahl commented on #1205
@SaranshDawra , i’ll assign this to you. Would you please fill this form out for us before you start? https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1

@habeeba-naaz I believe you already have an issue in progress.

[2020-02-27 13:06] satvikchachra commented on #1198
I am a GSSoC participant. I would really like to contribute. Please assign me with this issue.

[2020-02-27 13:32] SaranshDawra commented on #1205
@alodahl I have filled the above-mentioned form. May I start working on the issue.

[2020-02-27 13:45] abhinashgiri commented on #1064
I would like to work on this as part of GSSoc 20 . I think one have 2 multiple issues assigned . So please assign it to me if possible.

[2020-02-27 15:30] soulhunter10737 commented on #1205
Hello!, I am a participant of GSSOC'20 and i would really love to work on this issue, please assign me with this issue. Thank you!

[2020-02-27 15:53] vegetabill commented on #1206
Continuing discussion in GSSoC20 slack.

https://gssoc20.slack.com/archives/CUCLEHDHN/p1582775903122500

[2020-02-27 16:15] vegetabill opened #1208 "Remove references to Mongo DB"
MongoDB used to be the primary database taught in our curriculum but we have since switched to PostgreSQL. But there are still a lot of references lying around to Mongo.

Find all references to `Mongo`, `MongoDB` and `Mongoose` and remove them / replace them to say Postgres (depending on the context of the sentence/paragraph).

_Note: We will be keeping the actual lessons on Mongo and Mongoose int

[2020-02-27 16:29] vegetabill commented on #1208
This ticket can ignore the following files:

- /express-js/server-side-project.md
- /projects/kickball-signups-project.md
- /projects/mongo-assessment.md
- /databases/mongo-db.md
- /databases/mongoose.md

[2020-02-27 16:38] vegetabill opened #1209 "Create SEAM mental model visual aid"
A new SEAM will need to on-board quickly onto the curriculum contents in order to make scheduling and assessment decisions. Currently this takes a lot of time, asking questions of @alodahl and @MichelleGlauser. I want to create something visual

Example: Three Pillars: HTML, HTTP, and REST

[2020-02-27 16:39] vegetabill opened #1210 "Find a way to keep "objectives" folder contents up-to-date (possibly automation)"
#### After discussing, we've decided to keep the objectives folder and contents, but we need a way to keep them in sync.  One Solution:
#### we can try embedme, which we used at gap and it seems to work great: https://github.com/zakhenry/embedme.
--------
Original issue:
The objectives files are aggregated from all of the individual lesson files. Michelle said the audience for these was the SEAM a

[2020-02-27 16:39] vegetabill commented on #1210
cc @gsong @MichelleGlauser @alodahl for their input

[2020-02-27 16:45] gsong commented on #1210
I agree that a half sheet with simple visuals would be more effective. Not sure what "general curriculum summary doc" refers to, since the link is blank.

[2020-02-27 16:48] guptavarun619 commented on #1201
Shall i give it a try. I've been using `es-lint` for quite sometime and can document somewhat begginer-friendly documentation for it.

[2020-02-27 16:50] gsong commented on #1201
Is there a reason beyond https://prettier.io/docs/en/integrating-with-linters.html#eslint?

[2020-02-27 17:30] abhinashgiri commented on #1122
I want to give this a try , if you all guide me. Please assign me this one.

[2020-02-27 17:39] abhinashgiri commented on #1132
Please assign me this one.I'm a GSSoC participant.

[2020-02-27 17:46] mikenator5 commented on #1208
First time contributor, changed objectives/9.md to PostgresDB, wasn't sure if this needed to be changed cause it wasn't in the ignored files.

[9.md.tar.gz](https://github.com/Techtonica/curriculum/files/4263098/9.md.tar.gz)

[2020-02-27 18:04] satvikchachra commented on #1208
@vegetabill Could you please describe the issue in a more elaborate and file-specific way?
Which files of the curriculum need to be updated?

[2020-02-27 18:16] vegetabill commented on #1210
@gsong sorry fixed the link. It's a google doc someone made: https://docs.google.com/document/d/1Pr44pAKmq0NvfFiFEtqULzHPBZQnNsc6o040Qd4XxiE/edit

[2020-02-27 20:17] gsong commented on #1210
A suggestion on the document you're creating (and this may already exist), I would also talk about what are some appropriate roles or specific tasks you feel a Techtonica apprentice would be able to perform by the end of the program.

I'm not as interested in what they've learned (other than broad strokes) vs. what can they realistically do for me. Hope that makes sense.

[2020-02-28 04:17] vegetabill opened #1211 "Revise templates and requirements for new lessons"
Based on Vrie's research and feedback from current and past participants, we should streamline the template to come up a format for concise, easy-to-use lessons. Preliminary feedback and my own experience has led me to the conclusion that many of existing lesson outlines are far too detailed, not skimmable, have too many links, too few visuals, etc. We also currently mandate to include slides and

[2020-02-28 04:18] vegetabill commented on #1211
Example feedback: the "Motivation" section now lists companies that use the tech (????) which isn't really a compelling reason for an apprentice to learn the topic (and become laughably out of date quickly). A possibly better template would say to connect this lesson to previous lessons and how it will come into play for later lessons: e.g. this is a building block for creating a full stack app an

[2020-02-28 04:55] abhinashgiri commented on #951
I need to add https://testautomationu.applitools.com/
 link to this file https://github.com/Techtonica/curriculum/blob/master/testing-and-tdd/enzyme-testing.md
 finding any suitable place in the document. Am I correct. Please, make me understand this issue clearly. Thanks.

[2020-02-28 09:04] SimranMakhija7 commented on #1189
I am gssoc20 participant...I would like to to work on this issue... If possible please assign me to the issue. Thank you

[2020-02-28 09:05] SimranMakhija7 commented on #1115
I want to contribute to this issue as a part of GSSOC 20. Could the issue be assigned to me, please?

[2020-02-28 09:07] SimranMakhija7 commented on #1207
I want to contribute to this issue as a part of GSSOC 20. Could the issue be assigned to me please?

[2020-02-28 09:11] SimranMakhija7 commented on #1064
I want to contribute to this issue as a part of GSSOC 20. Could this issue be assigned to me, please?

[2020-02-28 10:08] Yashank18 opened #1212 "On www.techtonica.org's Team page have responsiveness issue"
On the website, www.techtonica.org's team page is not responsive. Background color is missing and blue blocks are not completely covering up the background. Will like to work on this issue under GSSoC'20.
Please assign me the same. @alodahl @vegetabill
![Screenshot (95)](https://user-images.githubusercontent.com/46098062/75539433-37469200-5a40-11ea-80d9-8fd8802392dc.png)

[2020-02-28 10:09] goyalmuskan opened #1213 "Issue with responsiveness (techtonica.org)"
The Upcoming Events section is not responsive. I would like to work on the issue. (GSSoC'20)

![Screenshot (3)](https://user-images.githubusercontent.com/47412347/75539809-dcfa0100-5a40-11ea-9ca7-48d8251ef3cb.png)

@alodahl
@vegetabill

[2020-02-28 12:02] vngarg opened #1214 "Overlapping Image in "Openings" Section and bullets in "Volunteer" Section.."
![Screenshot from 2020-02-28 17-13-45](https://user-images.githubusercontent.com/49458871/75547014-f6567980-5a4f-11ea-8608-1146de36f872.png)
![Screenshot from 2020-02-28 17-15-05](https://user-images.githubusercontent.com/49458871/75547082-243bbe00-5a50-11ea-811d-0eaf6e58ad51.png)

I would love to work on these issues....
Assign these to me .

[2020-02-28 13:38] BhuwanChandra commented on #1201
Hey @vegetabill ,  I am gssoc20 participant. I would like to work on this issue, will you assign it to me?

[2020-02-28 13:49] vegetabill commented on #1212
@Yashank18 thank you for reporting this issue. However, this repository is not for our website.

It's also an open issue on that repo. If you want to work on that issue, I can credit it toward the GSSoc points:

https://github.com/Techtonica/techtonica.org/issues/167

[2020-02-28 13:49] #1212 closed

[2020-02-28 14:06] vegetabill commented on #1198
@pandeykriti since you asked this issue is OPEN which means it has no work on it. I am assigning you to work on it. If you changed your mind, just reply and I can remove you. Thanks for your help!
Follow the [contributor instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md) as well.

[2020-02-28 14:11] vegetabill commented on #1199
@LovepreetSingh12 I've assigned this to you and updated the description. If you have any further questions, please ask here

[2020-02-28 14:41] vegetabill commented on #1214
This repository is not for the website. If you'd like to open this issue in that project, open it there: https://github.com/Techtonica/techtonica.org/issues

Unfortunately, those issues cannot count toward the GSSoC content.

[2020-02-28 14:41] #1214 closed

[2020-02-28 14:41] vegetabill commented on #1213
This repo is not for the website. Please open this issue at https://github.com/Techtonica/techtonica.org/issues

Unfortunately it cannot be counted toward GSSoC since it's a different repo

[2020-02-28 14:41] #1213 closed

[2020-02-28 14:42] Srashtimittal commented on #1213
I am a gssoc 2020 participant. I want to contribute in this issue.

[2020-02-28 14:48] Srashtimittal commented on #1189
I am a gssoc 2020 participant. I would like to work on this issue.

[2020-02-28 14:51] Srashtimittal commented on #1118
I ama gssoc 2020 participant. I would like to contribute.

[2020-02-28 14:51] vegetabill opened #1215 "Create API testing activity"
## Related Issues

- #1216 - We should use `supertest` since we already have some materials/lessons on it (and Bill thinks it's pretty good)
- #1296 - Eventonica Epic

## Description

Once Eventonica Part 5 is done, having API tests is a great way to provide stability while working on migrating to a database-backed backend. Let's make an in-class pair activity guide for it!

In the H1-2020 cohort,

[2020-02-28 14:52] vegetabill commented on #1215
@lisaau would you share your most complex test case code snippet here please?

[2020-02-28 14:56] vegetabill opened #1216 "Split the integration testing lesson into multiple parts"
[/testing-and-tdd/integration-testing.md](https://github.com/Techtonica/curriculum/blob/master/testing-and-tdd/integration-testing.md) is quite a comprehensive lesson that is underestimated at 2 hours to go through. Also includes too much theory and too much long blocks. It is not skimmable.

## Revise Motivation Section
Too long, please revise to be more concrete: "Helps insure your API's won;'t

[2020-02-28 15:04] Srashtimittal commented on #1023
I am a gssoc 2020 participant. I want to contribute to this issue.

[2020-02-28 15:10] Srashtimittal commented on #1020
I am a gssoc 2020 participant. I want to contribute to this issue.

[2020-02-28 15:11] biekymahato commented on #1206
@vegetabill  Can I change the topic?

[2020-02-28 16:24] vegetabill opened #1217 "Create "mocking" lesson outline using existing material in integration testing"
Split from #1216, this issue concerns creating a new lesson about mocking specifically

## Lesson Objective / Motivation
- Participant should understand what mocking is and why it's useful.
- Create a unit test that leverages mocking using the Jasmine testing framework

## Steps
1. Familiarize yourself with the [mocking section](https://github.com/Techtonica/curriculum/blob/8acd5068d6bcbfb4f4c71ef

[2020-02-28 16:40] vegetabill commented on #1216
Related to #1215

[2020-02-28 16:49] vngarg commented on #1205
Hello, I'm GSSOC'20 participant. I would like to work on this issue. Assign this to me please.

[2020-02-28 17:58] Zarina2311 opened #1218 "Fix typo in eventonica-6 instructions"
https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/eventonica-part6-postgres.md

How to Submit
`In additional to the usual steps:` => In **addition** to

[2020-02-28 18:14] FrozenGirl-spd commented on #1207
Sir, I want to work on this issue.  @vegetabill  Can you please assign me?

[2020-02-28 19:10] FrozenGirl-spd commented on #1205
@alodahl I have filled out the form and i want to work on this issue. Can you please assign this to me?

[2020-02-28 20:01] lizandry opened #1219 "Simplify and modernize AJAX lesson"
https://github.com/Techtonica/curriculum/blob/master/ajax/ajax.md

This lesson was dropped from the roadmap, but reading it helped me understand more about how APIs work. Centering a different API request method (this lesson links to an article that also covers Fetch and async/await: https://dev.to/bjhaid_93/beginners-guide-to-fetching-data-with-ajax-fetch-api--asyncawait-3m1l) and getting it back

[2020-02-29 03:25] PriyaSaini26 commented on #1205
I am a participant of GSSOC'20 and I am interested in doing this project, could you please assign this task to me.

[2020-02-29 03:38] soulhunter10737 commented on #1199
Hello, I am participant of GSSoC'20. Can you please assign me this issue? I would like to work on this.

[2020-02-29 03:44] soulhunter10737 commented on #1115
I want to contribute to this issue as a part of GSSOC 20. Can you please assign me this issue?

[2020-02-29 09:17] W1nt3r-code commented on #1189
I am GSSoC'20 participant, I will be glad if you assign the task to me. It will be a good start for me.

[2020-02-29 09:31] Aakansha99 commented on #1189
I would also like to contribute to the issue as a part of GSSoC'20, could you please assign it to me

[2020-02-29 09:32] Aakansha99 commented on #1118
I would also like to contribute to the issue as a part of GSSoC'20, could you please assign it to me

[2020-02-29 10:45] CipherGirl commented on #1207
Hello, I'm GSSoC 20 participant. I'm very new to open source projects. Never have contributed to any projects before. I think I can do this. Can you please assign me?

[2020-02-29 12:40] daya2940 commented on #1115
I want to contribute to this issue as a part of gssoc20.can you please assign this to me

[2020-02-29 13:55] prangya244 commented on #1115
i want to work on this issue.

[2020-02-29 14:30] vegetabill commented on #1199
@soulhunter10737 the issue was already assigned when you commented. find an unassigned issue you are interested in instead

[2020-02-29 14:41] vegetabill commented on #1208
@satvikchachra  part of the work of this task is to find the usages. As this task was already commented on, please choose another

[See CONTRIBUTING for instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-0)

[2020-02-29 14:41] vegetabill commented on #1208
@mikenator5 would you like to be assigned this issue? If so, follow the [instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-0)

[2020-02-29 14:46] vegetabill commented on #1207
@habeeba-naaz since you were first to comment, I have assigned you the issue. If you decided to work on something else, please reply.

For others, please choose a different issue. If another volunteer, or in this case four others, have already commented, do not leave another comment.

[2020-02-29 14:46] vegetabill commented on #1207
@habeeba-naaz please follow the [CONTRIBUTING instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-0) if you have not already.

[2020-02-29 14:52] vegetabill commented on #1128
@habeeba-naaz thanks for volunteering. Are you still planning to work on this issue? I saw other comments from you on other issues. We are only going to assign a **single issue at a time to volunteers**. If you don't reply to this within 48 hours I will be putting it back as unassigned. You don't have to have it finished, just reply confirming it's the issue you will focus on first. Once you compl

[2020-02-29 14:54] vegetabill commented on #1207
@Yashank18 I have assigned you this issue. If you would like to work on it, please reply to confirm that you still want to work on this issue within 48 hours (just that you're interested; you don't have to complete the work in that time). After that, it will go to the next volunteer.

[2020-02-29 14:57] soulhunter10737 commented on #1205
I would like to take this issue, please assign me this for GSSoC'20. I am new in this.

[2020-02-29 14:58] Yashank18 commented on #1207
@vegetabill
Thank you for assigning me. Yes, I will work on this sir.

[2020-02-29 14:59] vegetabill commented on #1201
@gsong I don't understand that link. What tool is the one integrating with linters? Are you saying we don't need a lesson and can just link to that guide?

[2020-02-29 15:00] vegetabill commented on #1201
@guptavarun619 I've assigned you the issue

Follow the [CONTRIBUTING instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-0) along with any GSSoC instructions you were given.

[2020-02-29 15:08] prangya244 commented on #1197
I want to work on this issue and contribute as a part of GSSOC2020.

[2020-02-29 15:09] CipherGirl commented on #1133
Hello, I'm GSSoC 20 participant. I would like to work in this issue. If it's available can you please assign to me?

[2020-02-29 15:23] Tahanima commented on #1195
@alodahl I have already filled in the Techtonica Volunteer Application. So, please assign this issue to me. Thanks.

[2020-02-29 15:34] vegetabill commented on #1133
I am assigning this to @Tahanima

Thanks for volunteering to help Techtonica improve its curriculum!

Please follow the [contribution instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-0) in additional to any instructions from GSSoC.

Please reply to confirm you are still interested in this issue and will be actively working on it within 48 hours. You do not ha

[2020-02-29 15:36] #1149 closed

[2020-02-29 15:40] vegetabill opened #1220 "Add mini-lesson on destructuring"
Destructuring is very helpful but a little magical to those new to JS.

**Prereqs:** JavaScript 7

Mini-Lesson - Projected Length 30min max

## Items to include
- What is destructuring
- why it is useful?
- Example: Destructuring an two element array into two named variables
  - `const [k, v] = keyValuePair`
- Example: destructuring items out of a nested object, e.g.
  - `const { id, name } = req.

[2020-02-29 15:53] habeeba-naaz commented on #1207
Sorry...I was unable to reply because It was night time for me...I didn’t check it...I am happy to take up this issue

[2020-02-29 15:57] Tahanima commented on #1133
Thank You @vegetabill for assigning me to this issue. Yes, I am still interested in this issue.

[2020-02-29 15:58] habeeba-naaz commented on #1128
Thank you for assigning me...I completed form and completed assigned issue...so searching for other issues

[2020-02-29 15:59] habeeba-naaz commented on #1128
I was waiting to go for review on my issue until March 1st

[2020-02-29 16:04] vegetabill opened #1221 "Add mini-lesson on require & import"
In Eloquent JavaScript, our unofficial paper textbook, there is a modules chapter but it wasn't great. Let's add a mini lesson on require and import that we will use in the Advanced JS portion of the curriculum.

**Prereqs:** JavaScript 7

## Items to include
- include the file in our project's /javascript/ directory
- Why there are both (_short_ historical context)
- when they can and cannot use

[2020-02-29 16:04] vegetabill commented on #1194
+100 to `destructuring` and `require`. I think those would be great mini-lessons during the Advanced JS portion of the curriculum which we just finished, along with OOP (not really all that useful in JS but they need to know it for interviews), recursion, etc.

Added #1220 for destructuring and #1221 for require/import

[2020-02-29 16:24] vegetabill commented on #1194
@gsong thanks for the feedback. Just curious what your take is on let/const. IIRC the book that Kisha recommended, [Eloquent JavaScript](https://eloquentjavascript.net/) suggests only using const for primitives because otherwise it's not really all the helpful and then you'd basically never use let unless you're reassigning. At Goodreads we actually enforced const where you could use it. I've tend

[2020-02-29 18:23] SaranshDawra commented on #1205
@alodahl I have started working on this issue.

[2020-02-29 18:30] soulhunter10737 commented on #1205
I would like to take the issue, can you assign me this?

[2020-02-29 18:31] soulhunter10737 commented on #1115
I would like to take the issue, can you assign me this?

[2020-02-29 19:05] goyalmuskan commented on #1221
I would like to work on this under GSSoC'20. Please assign me this issue.
@vegetabill

[2020-02-29 19:06] Yashank18 commented on #1220
I would like to work on this issue under GSSoC'20. @vegetabill assign me with the same.

[2020-02-29 19:18] abhu-A-J commented on #1191
@vegetabill would like to take this one for GSSoC'20 . Can you assign it to me.?

[2020-02-29 23:39] vegetabill commented on #1221
@goyalmuskan

Thanks for volunteering to help Techtonica improve its curriculum!

Please follow the [contribution instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-0) in additional to any instructions from GSSoC.

### Questions?
- If you have any question about this issue and what contributions are being asked for, reply on this issue.
- **If you have question

[2020-02-29 23:42] vegetabill commented on #1195
@Tahanima I have already assigned you to a different issue.

[2020-02-29 23:52] lisaau opened #1222 "Expand Postgres installation instructions"
https://github.com/Techtonica/curriculum/blob/master/projects/db-modeling-assignment.md

This was our first assignment where we started using Postgres. It would be helpful to have an additional topic outline/doc or link to a helpful tutorial to teach us how to use PG admin GUI tool (it isn't very intuitive.

In the psql link, it redirects to: https://www.postgresql.org/docs/9.1/backup-dump.html
It

[2020-03-01 00:01] lisaau commented on #1215
Here's one I have to test POST:

`describe("POST", function() {
    it("POST/user should add a user",function(done){
        let data = {userName: 'test', userID: 10};
        server
        .post('/user')
        .set('Content-type', "application/x-www-form-urlencoded")
        .send(data)
        .expect("Content-type",/text\/html/)
        .expect(200)
        .then( () => {
            server

[2020-03-01 00:20] vegetabill commented on #1205
@SaranshDawra

Thanks for volunteering to help Techtonica improve its curriculum! I have assigned you to this issue.

Please follow the [contribution instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-0) in additional to any instructions from GSSoC.

### Questions?
- If you have any question about this issue and what contributions are being asked for, reply on

[2020-03-01 00:23] vegetabill commented on #951
@abhinashgiri yes I believe that's correct

[2020-03-01 00:25] vegetabill commented on #1115
@SimranMakhija7

Thanks for volunteering to help Techtonica improve its curriculum! I have assigned you to this issue.

Please follow the [contribution instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-0) in additional to any instructions from GSSoC.

### Questions?
- If you have any question about this issue and what contributions are being asked for, reply o

[2020-03-01 00:26] vegetabill commented on #1064
@abhinashgiri and @SimranMakhija7 you have already been assigned to other issues. If you finish those and would like to work on these, please comment again.

[2020-03-01 00:31] vegetabill commented on #500
That whole lesson is under revision. See #1216

This is a moot issue. Closing

[2020-03-01 00:31] #500 closed

[2020-03-01 01:38] gauravdas9343 commented on #1195
Please assign me this issue if available?

[2020-03-01 01:40] gauravdas014 commented on #1195
Please assign me this issue if available?

[2020-03-01 01:42] Kundan28 commented on #1195
@gauravdas014 Could you please wait till @Tahanima confirms if she want t work on this issue or any other. If she wants to continue with the other one then I would be good to assign you to this issue.

[2020-03-01 01:42] gauravdas014 commented on #1195
Sure, no problem.

[2020-03-01 01:56] Kundan28 commented on #1197
@prangya244 The issue is already assigned to @navi532

[2020-03-01 02:45] Kundan28 commented on #1207
@habeeba-naaz Sorry to say but the @Yashank18 has been assigned to this issue.

[2020-03-01 02:57] Kundan28 commented on #1128
@habeeba-naaz You could start working now, as contribution period has started. Once you are done with this issue, comment on other one and we will assign you to that.

[2020-03-01 03:25] Tahanima commented on #1195
Hello,
Since I already confirmed to work on the other issue I'll stick to it. @vegetabill  @Kundan28 you can assign this issue to someone else. Thanks.

[2020-03-01 03:28] Kundan28 commented on #1195
@gauravdas014

Thanks for volunteering to help Techtonica improve its curriculum!

Please follow the [contribution instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-0) in additional to any instructions from GSSoC.

Questions?
If you have any question about this issue and what contributions are being asked for, reply on this issue.
If you have questions about G

[2020-03-01 05:09] huonggiangbui commented on #1189
I am interested in this issue. Can I take this?

[2020-03-01 05:12] huonggiangbui commented on #1157
Hi. Is this issue about documentation?

[2020-03-01 05:13] huonggiangbui commented on #1163
I am a GSSoC Participant. Can I take this issue?

[2020-03-01 05:16] huonggiangbui commented on #1122
Can I take this issue? Really interested

[2020-03-01 05:17] Srashtimittal commented on #1220
I am a gssoc 2020 participant. Please assign me this issue @vegetabill

[2020-03-01 05:18] huonggiangbui commented on #1121
Hi, I am GSSoC participant. Can I take this issue?

[2020-03-01 05:25] Srashtimittal commented on #1064
I am a gssoc 2020 participant . I did not assign any issue . Please assign me this issue @vegetabill

[2020-03-01 06:44] abhinashgiri commented on #1118
Please assign me to this issue. I also commented very early, so, please.

[2020-03-01 06:48] abhinashgiri commented on #1064
I have completed the previous one, please assign me this.

[2020-03-01 08:18] AnushkaH commented on #1222
I'm gssoc 20 participant and I'm a beginner and I'm interested.

[2020-03-01 08:28] sonali623 commented on #1220
I would like to work on this issue as a part of GSSoC 2020 @vegetabill

[2020-03-01 08:33] sonali623 commented on #1191
I would like to take this issue as a part of GSSoC 2020,@vegetabill please assign this to me

[2020-03-01 08:39] sonali623 commented on #1166
@vegetabill could you please elaborate what the freestanding lesson means ?

[2020-03-01 08:58] sonali623 opened #1224 "Include more lessons on Algorithms"
Currently the lessons for only searching and sorting algorithms are available. Lessons on Greedy Algorithm, Backtracing Algorihtm, Divide and Conquer, Pattern Algorithm etc should also be added.

[2020-03-01 08:59] sonali623 commented on #1224
@vegetabill I am a GSSoC 2020 participant and would like to work on this.

[2020-03-01 10:39] manan-bedi2908 commented on #1195
I would like to work on this issue

[2020-03-01 12:14] ananyakamboj commented on #1064
Hi, I haven't been assigned an issue. Can you please assign me this issue?

[2020-03-01 12:14] HarshCasper opened #1226 "Include Lessons on Dynamic Programming"
I believe that we should add an introduction and some lessons where the learners can know about Dynamic Programming and its concepts. As a Girlscript Summer of Code '2020 Participant, I would like to work on these issues and develop a course curriculum where we can learn Dynamic Programming.

[2020-03-01 12:16] HarshCasper opened #1227 "Include elective resource list for learning Angular"
I believe that we should add an introduction and some lessons where the learners can know about Angular.js and its concepts. As a Girlscript Summer of Code '2020 Participant, I would like to work on these issues and develop a course curriculum where we can learn Angular.

[2020-03-01 13:47] Srashtimittal commented on #1064
@vegetabill please assign me this issue.

[2020-03-01 14:44] Kundan28 commented on #1195
@manan-bedi2908 This issue is already assigned to someone else, so I would request you to please go for some other issue.

[2020-03-01 14:47] Kundan28 commented on #1064
Only when you get your assigned issue fixed and PR merged then you will get assigned to other issue.

[2020-03-01 14:49] Kundan28 commented on #1064
As @ananyakamboj asked first so I would be assigning to her.

[2020-03-01 14:49] Kundan28 commented on #1064
@ananyakamboj

Thanks for volunteering to help Techtonica improve its curriculum!

Please follow the [contribution instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-0) in additional to any instructions from GSSoC.

Questions?
If you have any question about this issue and what contributions are being asked for, reply on this issue.
If you have questions about G

[2020-03-01 14:51] vegetabill commented on #1227
@HarshCasper
Angular is a good topic but it might be better to just link in an existing lesson. It takes a **lot of effort** to build an entire lesson from scratch, and would exceed the HARD points of GSSoC. I would suggest we revise this issue to say "find and try out a good free tutorial on Angular" and link it in as an elective.

What do you think?

[2020-03-01 14:53] Kundan28 commented on #1224
@vegetabill @alodahl I think this is a valid issue. Let's decide what should be the level of the issue, As per my knowledge there are many algorithms so this issue could be made as multiple contribution issue and it should be of `Hard` level.

[2020-03-01 14:55] HarshCasper commented on #1227
It sounds reasonable @vegetabill

My proposal is to create a Markdown File which consists of good and free tutorials on Angular including a plan where learners can study well and implement Angular. If it is alright, I would like to start working on it as part of GSSOC.

[2020-03-01 14:56] ananyakamboj commented on #1064
@Kundan28
Thank you for the assignment.
Please help me by elaborating the issue and the contributions being asked for.

[2020-03-01 15:16] Kundan28 commented on #1064
@ananyakamboj Have a look at this. Everything is explained here. Even ater reading it if you don't understand then tell we will explain it to you.

[2020-03-01 15:22] HarshCasper commented on #1227
Can you please assign me this task to work on the issue @vegetabill

[2020-03-01 15:24] vegetabill commented on #1226
@HarshCasper can you give an example of Dynamic Programming in JavaScript? I've only heard of it in Ruby. Our curriculum is scoped mostly to JS and closely related tools.

[2020-03-01 15:26] vegetabill commented on #1227
@HarshCasper that sounds good! I have created an [Elective Template](https://github.com/Techtonica/curriculum/blob/master/_templates/elective.md] so you can see what the format should be. I'm assigning this to you now.

[2020-03-01 15:30] vegetabill commented on #1224
Our curriculum is not geared towards Computer Science participants, so we actually intentionally keep our Algorithm & Data Structures list very short and only geared toward those commonly asked in technical interviews in the U.S. I am closing this as won't do.

@sonali623 thank you for the idea. If you are particularly interested in algorithms, I would suggest reviewing our existing lessons on the

[2020-03-01 15:30] #1224 closed

[2020-03-01 15:33] vegetabill commented on #1222
@AnushkaH you should be only looking at issues with the `gssoc20` label per the instructions.

on the [CONTRIBUTING](/CONTRIBUTING.md) instructions you can find a link to all unassigned issues wit that label.

[2020-03-01 15:37] vegetabill commented on #1222
Thanks for reporting this issue, @lisaau

[2020-03-01 15:46] prangya244 commented on #1208
I want to work on this issue as a part of GSSOC 2020.

[2020-03-01 15:48] HarshCasper commented on #1226
Sure. Here is a [Repl](https://repl.it/@ErbeusGriffin/InconsequentialPastPatches) that implements a popular problem of finding the shortest path in a Weighted Directed Graph. I plan to implement some popular problems in JS which are solved via Dynamic Programming including an explanation of their respective implementation.

[2020-03-01 15:53] vegetabill commented on #1222
## Requirements

in [installing-postgres.md](https://github.com/Techtonica/curriculum/blob/master/databases/installing-postgresql.md):

- Add a new section called [pgAdmin](https://www.pgadmin.org/)
- Add small screenshot of the tool in action
- Add the best directions to install on Mac
- Add general tutorial on pgAdmin
  - Find one that if effective, free, and interactive/hands-on (ideally a vide

[2020-03-01 15:58] vegetabill commented on #1218
@Zarina2311 thanks for submitting this issue. When creating issues in the future, use a clearer title, see how I revised it. Thanks!

[2020-03-01 16:06] vegetabill commented on #1219
Thanks @lizandry for submitting this issue!

I originally cut that lesson from the roadmap because it was overly long with a lot of unnecessary background information. I'm going to rename your issue into one to just revise it and modernize it for next time.

[2020-03-01 16:16] Kundan28 commented on #1224
Thanks for the clarification @vegetabill

[2020-03-01 16:19] CipherGirl commented on #1218
As GSSoC 20 participant can I work on this?

[2020-03-01 16:44] ishaan2908 commented on #1218
I want to work on this issue as a part of GSSOC 2020. Can you assign this to me? @vegetabill

[2020-03-01 16:56] vegetabill opened #1228 "Rename Eventonica React => Eventonica Part 7 React"
- Rename `eventonica-react.md` to `eventonica-part7-react.md`. Find and update any internal - links to it.
- Leave the `eventonica-react.md` file in place and make it a link to the new location, kind of a like a wiki redirect page.
- Add it to the [folder readme](https://github.com/Techtonica/curriculum/tree/master/projects/eventonica)

[2020-03-01 17:03] vegetabill commented on #1219
- Remove example websites using AJAX (it would be hard to find a website _not_ using AJAX these days)
- Add a short paragraph with background on the name, concluding that it's not really relevant anymore, and is just a shorthand name for the technique in general.
- Split the intro of "What does AJAX do?" as a new section called "Full Page Load vs AJAX" using the example of a traditional old-school

[2020-03-01 17:03] abhu-A-J commented on #1228
@vegetabill would like to work on this

[2020-03-01 17:33] soulhunter10737 commented on #1228
Please assign me this issue.

[2020-03-01 17:34] soulhunter10737 commented on #1218
@vegetabill Please assign me this issue .

[2020-03-01 17:44] vegetabill opened #1229 "Rename all numbered JavaScript lessons to include memorable name"
It's too easy to forget which lesson is which.

In the [JS folder](https://github.com/Techtonica/curriculum/tree/master/javascript)

- javascript-1 => javascript-1-variables (Heading: JavaScript 1 - Variables, Strings, Numbers)
- javascript-2 => javascript-2-arrays-functions
- javascript-3 => javascript-3-conditionals  (heading: JavaScript 3 - Conditionals, Comparisons, Booleans)
- javascript-4 =>

[2020-03-01 17:51] ishaan2908 commented on #1229
I would like to work on this issue. Please assign it to me! @vegetabill

[2020-03-01 17:56] vegetabill commented on #1229
@ishaan2908

Thanks for volunteering to help Techtonica improve its curriculum! I have assigned you to this issue.

Please follow the [contribution instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-0) in additional to any instructions from GSSoC.

### Questions?
- If you have any question about this issue and what contributions are being asked for, reply on th

[2020-03-01 19:51] gauravdas014 commented on #1195
@Kundan28 Do I need to change the "var" (s) as well? in the issue, it is only mentioned that check the const and let.

[2020-03-01 19:54] vegetabill opened #1231 "Move all on-boarding lessons into an onboarding folder"
For the in-person participants, there is a [list on the main README](https://github.com/Techtonica/curriculum#week-1---onboarding--developer-tools) of intro topics.

## "Soft Skills"
These should all be moved  to `/onboarding`

- [x] Welcome, Tips, and Rules
- [x] Expectations While at Techtonica
- [x] How to Learn
- [x] Professionalism
~- [ ] Roles in Tech~
- [x] How to Pair Program
- [x] Ergonom

[2020-03-01 19:57] vegetabill commented on #1195
@Kundan28 `var` is being removed in a different issue so you do not have to review those.
#1197

[2020-03-01 21:26] vegetabill commented on #1133
Closing this. I added it to the scoresheet.

[2020-03-01 21:26] #1133 closed

[2020-03-01 21:45] CipherGirl commented on #1231
Can you please assign me this? I'm GSSoC 20 participant.

[2020-03-02 02:06] gauravdas014 commented on #1228
Please assign me this

[2020-03-02 05:47] SayanBan commented on #1231
@vegetabill Could you kindly assign this to me? I am a GSSoC '20 participant

[2020-03-02 07:12] Tahanima commented on #1218
Hello,
I am a GSSoC20 participant and I want to work on this issue. @vegetabill please assign me this issue if it is available.

[2020-03-02 07:21] jamesjose03 opened #1234 "Provide a reference to the contributing guidelines"
As of now, the `README.md` file doesn't include a reference to the contributing guideline which people may miss out.
What I propose is a dedicated section that would help other users in making their very first contribution.

[2020-03-02 07:22] jamesjose03 commented on #1234
@vegetabill I would like to tackle this issue

[2020-03-02 08:27] cadence09 opened #1235 "Clear Instruction of Connecting Database"
https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/eventonica-part6-postgres.md.
From instruction step one to seven are clear and straight forward, but starting step 8 is confusing to me. My Postgres database is connected, but the SQL commends that I added to the Express didn't seem to connect to the database. If there is a more detailed instruction or an additional article l

[2020-03-02 09:29] soulhunter10737 commented on #1231
@vegetabill I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-02 09:30] soulhunter10737 commented on #1228
@vegetabill I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-02 14:05] alodahl opened #1240 "Double-check BEM & md syntax, fix typos & wording in outline"
Task: Revise first draft of https://github.com/Techtonica/curriculum/blob/master/css/BEM-style.md.

- Double-check BEM syntax, and fix if necessary
- Correct the markdown syntax if necessary
- fix typos & wording in outline

Once you have finished, make a PR with a comment describing your changes.

[2020-03-02 14:14] #1175 closed

[2020-03-02 14:26] abhu-A-J commented on #1191
@Kundan28 @vegetabill @alodahl I would like to take if it's under as GSSoC participant

[2020-03-02 14:28] Kundan28 commented on #1191
It does not have GSSoC20 label, so @alodahl or @vegetabill would guide you. The issue is not assigned to you yet.

[2020-03-02 14:29] abhu-A-J commented on #1191
@Kundan28 Sure. Will Wait.

[2020-03-02 14:56] alodahl commented on #1196
Thanks @abhu-A-J !  Please go into each file individually that was changed in #1195 and fix its linked slideshow accordingly if it shares code.

[2020-03-02 14:57] Tahanima opened #1241 "Improve mocha-testing lesson"
https://github.com/Techtonica/curriculum/blob/master/testing-and-tdd/mocha-testing.md

Under **Mocha vs. Jasmine** section, there is a sentence saying "So, why might you choose one **other** the other?". The highlighted word "other" in this sentence could be replaced by "over" which sounds more appropriate.

 I am a GSSoC 20 participant and I would like to work in this issue.

## Additional Change

[2020-03-02 15:49] prangya244 commented on #1240
As  part of GSSOC 2020 I would like to work on this issue. Could you please assign the same to me?

[2020-03-02 17:12] ayushi0014 commented on #1240
Being a beginner wanna contribute to project through this issue. Could you assign this to me?

[2020-03-02 17:27] ayushi0014 commented on #1231
Wanna work on this issue being a participant of GSSoC '20. Could you assign the same to me?

[2020-03-02 18:33] meghaa105 commented on #1240
Can you please assign this issue to me?

[2020-03-02 18:34] meghaa105 commented on #1211
Can you please assign this issue to me?

[2020-03-02 18:36] meghaa105 commented on #1202
Can you assign this to me?

[2020-03-02 18:44] samridhijain27 commented on #1241
I would like to work on this issue

[2020-03-02 18:46] samridhijain27 commented on #816
I am interested in working on this issue under Gssoc '20.

[2020-03-02 18:47] samridhijain27 commented on #1217
I am interested in working on this issue .

[2020-03-03 03:57] HarshCasper opened #1243 "Add an Elective Lesson on Ionic Mobile App Framework"
I believe that we can add an Elective Lesson on Ionic Mobile App Framework in Mobile Development.  As a Girlscript Summer of Code '2020 Participant, I would like to work on these issues and develop an elective lesson where we can learn Ionic.

[2020-03-03 09:06] abhu-A-J commented on #1220
@Kundan28 I would like to work on this issue. It's fairly straight forward.

[2020-03-03 09:15] huonggiangbui commented on #1240
Can I take this issue @alodahl ?

[2020-03-03 09:16] huonggiangbui commented on #1231
I would like to take up this issue, can you please assign me? @vegetabill

[2020-03-03 09:16] huonggiangbui commented on #1228
I would like to take up this issue, can you please assign me?

[2020-03-03 09:32] Kundan28 commented on #1220
@sonali623 @abhu-A-J Please find some other issue to work on, as the first one to ask would get would get assigned if he/she is not assigned to some other issue.

[2020-03-03 09:43] guptavarun619 commented on #1201
I've compiled a markdown `./linting/code-linting-eslint.md` with appropriate amount of instructions and resources for the topic. Here's the link to PR #1244

[2020-03-03 09:43] Kundan28 commented on #1243
@HarshCasper Could you please elaborate what would be the benefit of that lesson ?

[2020-03-03 09:45] Kundan28 commented on #1241
@alodahl @vegetabill This issue could be made under Beginner level.

[2020-03-03 09:48] Kundan28 commented on #1234
@alodahl I think this is a valid issue.

[2020-03-03 10:42] HarshCasper commented on #1243
Ionic is a popular Mobile Development Framework which is powered by the Angular Web Framework, This lesson would be a follow-up for the Angular Lesson and be an elective resource to learn Ionic to build Mobile Apps using standard Web Dev Tools. In many cases, these lessons would be similar to React Native Lesson except for the thing that this would be an elective course. Therefore I believe that w

[2020-03-03 10:56] soulhunter10737 commented on #1231
@vegetabill I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-03 10:57] soulhunter10737 commented on #1218
@vegetabill I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-03 12:50] abhu-A-J commented on #1219
@vegetabill I'll like to work on this one under GSSoC.

[2020-03-03 14:56] Kundan28 commented on #1243
I think this is a good issue, what do you think @alodahl @vegetabill

[2020-03-03 16:01] ashishnagpal2498 commented on #1228
Can I take this issue @vegetabill ?

[2020-03-03 16:03] ashishnagpal2498 commented on #1219
Hi @lizandry @vegetabill , I would like to work on this issue as part of GSSOC 20 ?

[2020-03-03 16:07] ashishnagpal2498 commented on #1160
I would like to work on this issue as part of GSSOC 20

[2020-03-03 16:48] alodahl commented on #1160
great @ashishnagpal2498 !  Please fill out this form if you haven't already, and you can get started:
https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1

[2020-03-03 16:49] alodahl commented on #1160
are you ok with this @vegetabill or is this not for gssoc?

[2020-03-03 17:41] imrishabh18 commented on #1187
Hey, I would like to try this issue.

[2020-03-03 18:54] alodahl commented on #1189
hi @Tawishi , please fill this form out and then you can start! https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1

[2020-03-03 18:56] alodahl commented on #1157
Yes @huonggiangbui , you will be documenting resources about the topics mentioned based in a template.

[2020-03-03 18:58] alodahl commented on #1163
Hi @huonggiangbui , please fill this form out and then you can start! https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_HsFwm0kjNOxtbtg/viewform?c=0&w=1

[2020-03-03 19:02] huonggiangbui commented on #1163
@alodahl I filled out this form few days ago. Do I have to fill it out again?

[2020-03-04 03:22] vegetabill commented on #1234
There is a [section](https://github.com/Techtonica/curriculum#volunteering) already covering this, not to mention CONTRIBUTING.md which is the standard file these instructions would be in for an open-source project

[2020-03-04 03:22] #1234 closed

[2020-03-04 03:26] vegetabill commented on #1235
@cadence09 Step 8 is just asking you to confirm that queries run by your Express app save their changes to the database. If the database queries are succeeding, this should definitely be true. Maybe we need to add some troubleshooting notes.

Are your DB queries being executed successfully? (their promises resolve, rather than reject)

[2020-03-04 03:38] vegetabill commented on #1241
I'm expanding this issue to also include adding a useful section, making it the Easy level.

@Tahanima would you like to work on this? Since you reported it, you should have the first chance to own it.

[2020-03-04 03:39] Tahanima commented on #1241
@vegetabill, sure. I would like to work on this.

[2020-03-04 03:39] vegetabill commented on #1243
No, we'd prefer to improve what is already there rather than add more elective frameworks.

[2020-03-04 03:39] #1243 closed

[2020-03-04 03:43] vegetabill commented on #1226
Sorry my mistake I was confusing that with metaprogramming.

[Dynamic Programming](https://en.wikipedia.org/wiki/Dynamic_programming) looks a bit too advanced for the audience of our curriculum.

See notes on #1224 why we don't want to expand the CS portions of the course.

[2020-03-04 03:43] #1226 closed

[2020-03-04 03:47] vegetabill commented on #1218
@CipherGirl I have assigned you this issue.

Please follow the instructions in [CONTRIBUTION](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md)

[2020-03-04 03:49] vegetabill commented on #1208
@prangya244 I have assigned you this issue. Please follow the [CONTRIBUTING instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md)

[2020-03-04 03:50] #1206 closed

[2020-03-04 03:57] vegetabill commented on #1134
added to roadmap. this doesn't fit the curriculum docs

[2020-03-04 03:57] #1134 closed

[2020-03-04 03:58] vegetabill commented on #1191
@abhu-A-J this will not be available as part of GSSoC20. The `subject-matter-expert` label indicates it needs input for an experienced engineer, not a student.

[2020-03-04 04:01] vegetabill commented on #1132
@MichelleGlauser what makes you think we need this in the curriculum? Amazon does not ask System Design questions until Engineer Level 2, which is minimum 4 years experience. Maybe I'm not thinking of the right type of "system design" or maybe other companies differ.

[2020-03-04 04:06] vegetabill commented on #1118
@pa7ri

I have assigned you this issue. Follow the instructions in [CONTRIBUTING](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md)

[2020-03-04 06:13] soulhunter10737 commented on #1231
@vegetabill I would like to take up this issue, can you please assign me?(gssoc20) i am trying to get assigned , but not got any yet

[2020-03-04 10:28] prangya244 commented on #1208
Thanks @vegetabill. I am working on it.

[2020-03-04 17:51] vegetabill opened #1250 "Create 'apprenticeship-prep' folder"
At the end of the classroom learning portion of the curriculum, the participants review topics that will help them in the start of their career.

Create a `apprenticeship-prep` folder and move the following lessons there:
- socioeconomic-differences/socioeconomic-differences.md
- financial-literacy/financial-literacy.md
- ethics/ethics.md
- underrepresented-in-tech-resources/underrepresented-in-te

[2020-03-04 17:55] HarshCasper commented on #1250
I want to take up this issue. Can you please assign me this issue @vegetabill

I will be highly obliged.

[2020-03-04 18:17] ashishnagpal2498 commented on #1160
hi @alodahl , I have started working on this issue. I wanted to know that if there any template for slides ? If yes , kindly share that. Thank you

[2020-03-04 19:57] atrip10 commented on #1250
I would like to work on this issue. Please assign me this issue.

[2020-03-04 20:05] atrip10 commented on #1153
I would like to work on this issue.

[2020-03-04 21:13] #1201 closed

[2020-03-05 00:27] lizandry opened #1251 "more information on integrating express with react"
https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/eventonica-react.md

I hit a huge stumbling block when trying to get my express server to run my react code. It wouldn't render anything, then it wouldn't let me use ES6 syntax, then it (very) briefly wouldn't let me use ES5 syntax!

I believe the problem has to do with the create-react-app missing some Babel packages. But I

[2020-03-05 01:41] Kundan28 commented on #1191
Thanks for the clarification @vegetabill

[2020-03-05 01:43] Kundan28 commented on #1243
@HarshCasper Better to find some other issue and work on it once you are done with the issue you are currently assigned.

[2020-03-05 01:44] Kundan28 commented on #1241
@Tahanima I've assigned you to this issue, now you could work on this.

[2020-03-05 01:46] Kundan28 commented on #1234
@vegetabill Isn't this a open source project ? 🤔

[2020-03-05 01:55] Kundan28 commented on #1228
@soulhunter10737 Now you could work on this issue.

[2020-03-05 01:59] Kundan28 commented on #1250
@HarshCasper You will be assigned to other issue after you are done with your PR.

[2020-03-05 01:59] Kundan28 commented on #1250
@atrip10 Now you could start working on this issue.

[2020-03-05 02:03] Kundan28 commented on #1240
@prangya244 Now you could start working on this issue.
@ayushi0014 @meghaa105 @huonggiangbui Please find some other issue as the issues are assigned on first come first serve basis until the participant is not working on some other issue.

[2020-03-05 02:06] Kundan28 commented on #1231
@CipherGirl  Now you could start working on this issue.
@SayanBan @soulhunter10737 @ayushi0014 @huonggiangbui Please find some other issue as the issues are assigned on first come first serve basis until the participant is not working on some other issue.

[2020-03-05 02:09] Kundan28 commented on #1110
Is this issue be worked under `GSSoC20` ? @alodahl @vegetabill

[2020-03-05 02:10] Kundan28 commented on #1023
Is this be worked under gssoc20 ? @alodahl @vegetabill

[2020-03-05 02:11] Kundan28 commented on #1020
Is this be worked under gssoc20 ? @alodahl @vegetabill

[2020-03-05 02:15] Kundan28 commented on #1187
@imrishabh18 Now you could start working on this issue.

[2020-03-05 02:26] Kundan28 commented on #1219
@ashishnagpal2498 Now you could start working on this issue.

[2020-03-05 02:27] Kundan28 commented on #1217
@samridhijain27 Now you could start working on this issue.

[2020-03-05 03:23] Tahanima commented on #1241
Thank You @Kundan28

[2020-03-05 06:30] gauravdas014 commented on #1251
Can I work on this issue under GSSoC?

[2020-03-05 06:58] samridhijain27 commented on #1217
Sure, on it

[2020-03-05 10:03] soulhunter10737 commented on #1228
@Kundan28 Thank you! Can you please explain me the second and third point of this issue?

[2020-03-05 10:14] prangya244 commented on #1240
Thnks @Kundan28 . I am working on it.

[2020-03-05 10:20] ravireddy07 commented on #1197
@Kundan28  I would like to continue this issue, please assign this to me.

[2020-03-05 10:28] soulhunter10737 commented on #1228
I raised a PR please review it.

[2020-03-05 10:44] ravireddy07 commented on #1121
I would like to work on this, please assign this to me @vegetabill  @Kundan28

[2020-03-05 13:27] pa7ri commented on #1118
hi @MichelleGlauser & @vegetabill, I've just checked every link inside : [https://github.com/Techtonica/curriculum/blob/master/learning-to-learn/learning-to-learn.md](https://github.com/Techtonica/curriculum/blob/master/learning-to-learn/learning-to-learn.md) they are all working.

In case the issue refers to `Growth Mindset Self-Assessment` I suggest using : [16-personalities](https://www.16perso

[2020-03-05 14:45] vegetabill commented on #1251
@lizandry if the problem is babel packages in [create-react-app](https://github.com/facebook/create-react-app), did you try searching open issues there? What made you think that was the case?

Did you enable server rendering? By default, CRA doesn't enable that so I'm wondering why the solution would involve something disabled.

[2020-03-05 17:50] #1195 closed

[2020-03-05 19:23] #1229 closed

[2020-03-05 19:25] #1227 closed

[2020-03-05 20:35] vegetabill opened #1256 "Update elective lessons and migrate all to /electives folder"
All lesson files listed in the root [README as electives](https://github.com/Techtonica/curriculum#optional--elective-lessons) move those files into a new `/electives` folder.
~SEO: Search Engine Optimization~
- [x] Sass
- [x] Python
~Datetime~
- [x] Data Visualization
- [x] Adding Chai/Mocha Tests to your project
- [x] MongoDB
- [x] Mongoose
- [x] Auth0
- [x] Memoization
- [x] Mobile Development

[2020-03-05 20:37] abhu-A-J commented on #1256
@vegetabill can I take it?

[2020-03-05 20:42] vegetabill commented on #1256
@abhu-A-J you can only work on one issue at a time. Did you already complete #1196 ?

[2020-03-05 20:48] abhu-A-J commented on #1256
Oops! I didn't realize #1195 was merged today. I was waiting for it and had no issues to work on. So that's the reason claimed this one. Okay, I'll get started on #1195. You can assign this to someone else . Sorry about that. :)

[2020-03-05 20:48] vegetabill opened #1257 "Combine static web lessons into new /web folder"
Create a new folder `/web` and migrate the following lessons to it.

- html/html.md
- `/css/*`
- bootstrap/bootstrap.md
- `/jquery/*`
- /ajax/ajax.md
- /accessibility/accessibility.md

Note: For all moved files, please update all links that exist in the curriculum already to point to their new location. If you any links that are absolute, e.g. use https://github... then convert them to relative li

[2020-03-05 20:58] habeeba-naaz commented on #1257
I am gssoc participant...interested to work on it.please assign me

[2020-03-05 21:30] FrozenGirl-spd commented on #1256
Can you assign the task to me please?

[2020-03-06 01:56] Kundan28 commented on #1121
@huonggiangbui @ravireddy07 This issue is not labelled with gssoc20 label so you can't work on this.

[2020-03-06 02:01] Kundan28 commented on #1197
@ravireddy07 The issue is already assigned to someone else.

[2020-03-06 02:02] Kundan28 commented on #1197
@navi532 You only have 3 days left for contributing to this particular issue. If we don't get any response from your side then someone else would be assigned to this issue.

[2020-03-06 02:40] Kundan28 commented on #1256
@FrozenGirl-spd You are assigned to this issue, please start working.

[2020-03-06 02:43] Kundan28 commented on #1257
@habeeba-naaz Now you could start working.

[2020-03-06 03:05] habeeba-naaz commented on #1257
Thank you for assigning

[2020-03-06 03:09] Kundan28 commented on #1257
And please write `Fixes #issue_number` in the PR comments so that once your PR gets merged the issue will be closed automatically.

[2020-03-06 03:10] habeeba-naaz commented on #1257
Sure

[2020-03-06 10:35] ashishnagpal2498 commented on #1160
Completed , Kindly review the PR.

[2020-03-06 16:26] abhu-A-J commented on #1196
@alodahl Ma'am based on the changes made to files in issue #1195 , I have corrected the following slides:
Slide for JavaScript/JavaScript-7-oop.md : Changes were made in slides 12 and 17.
Slide for testing-and-tdd-mocha-testing.md: Change was made on slide 11.

OOP slide was open for edit , so I have made the changes.
Mocha Testing was in view only mode, So I have send the the link to technotica's

[2020-03-07 13:33] Srashtimittal commented on #1220
@Kundan28 and @vegetabill  Sir, please give the file link where I have to contribute on this issue.

[2020-03-08 00:25] CipherGirl commented on #1231
@Kundan28 and @vegetabill
The resources are markdown files under specific folders (such as "welcome-tips-rules/tech-industry-tips.md"). Should I delete those folders while I move those files to the /onboarding and /dev-tools folders.

[2020-03-08 00:27] CipherGirl commented on #1218
#1259

[2020-03-08 01:28] #1008 closed

[2020-03-08 01:28] #1009 closed

[2020-03-08 01:28] #1012 closed

[2020-03-08 01:28] #1014 closed

[2020-03-08 01:28] #1013 closed

[2020-03-08 01:28] #1015 closed

[2020-03-08 01:28] #1017 closed

[2020-03-08 01:28] #1016 closed

[2020-03-08 01:28] #1018 closed

[2020-03-08 01:28] #1019 closed

[2020-03-08 02:29] #1128 closed

[2020-03-08 06:13] Nshah-02 commented on #1215
I would like to work on this issue.

[2020-03-08 14:58] alodahl commented on #1219
I am unassigning this, as @ashishnagpal2498 is in the middle of another PR.

[2020-03-08 15:10] alodahl commented on #1196
@abhu-A-J please request edit permissions on the mocha slides rather than creating a new file.

[2020-03-08 15:16] alodahl commented on #1196
I emailed you permissions for the mocha slides.  The oop slides look great.  Are there any other files that need to be changed, or is the mocha one the last?

[2020-03-08 15:26] abhu-A-J commented on #1196
Sure, I'll do the changes there.

[2020-03-08 15:28] abhu-A-J commented on #1196
Based on #1195 the other attached slides were pretty correct. I had already raise PR for this, I'll edit the same as instructed.

[2020-03-08 17:36] ashishnagpal2498 commented on #1219
Hey , @alodahl , I have started working on this too. Kind off in the middle. So please don't unassign the issue. I will be completing both soon.

[2020-03-08 18:00] alodahl commented on #1219
sorry @ashishnagpal2498 , I'll put you back on

[2020-03-09 01:12] alodahl commented on #1132
Maybe as an interview supplemental material?

[2020-03-09 01:19] alodahl commented on #1153
Sure @atrip10 , just be aware that this new lesson will be paired with the existing [Ergonomics](https://github.com/Techtonica/curriculum/blob/master/ergonomics/ergonomics.md) outline - no need to repeat these things, but feel free to refer to it.

[2020-03-09 01:26] alodahl commented on #1153
I would also include the new file in the ergonomics folder.  Do you agree, @vegetabill ?

[2020-03-09 01:30] alodahl commented on #1234
@vegetabill I found it a little bit weird that there is repetition in the readme and the contributing file.  Can you tell me your reasons for the two separate locations?

[2020-03-09 01:33] alodahl commented on #1023
I am not sure - I thought @vegetabill would be closing most of these.

[2020-03-09 01:48] alodahl commented on #1118
@MichelleGlauser @vegetabill I agree with @pa7ri that all of the links work in the outline.  With one exception, actually: Learning to Learn (video walkthrough of slides) (https://drive.google.com/open?id=1R7cp0huJu5kiIIfDsraFbtmGbINHb2Xe) is blocking anyone without permissions, which seems like a problem that only you two could solve.

I am closing this issue and labelling it `wontfix`.

[2020-03-09 01:48] #1118 closed

[2020-03-09 02:57] Kundan28 commented on #1023
@vegetabill Could you please make it clear ?

[2020-03-09 03:02] Kundan28 commented on #1219
But when I assigned him, he was not assigned to any other issue.

[2020-03-09 03:08] Kundan28 commented on #1231
Yeah, moving means adding them to the new place and deleting from the old place.

[2020-03-09 03:12] Kundan28 commented on #1220
@Srashtimittal Add that under `JavaScript` folder.

[2020-03-09 07:56] pa7ri commented on #1110
I'm a gssoc participant and I'm interested in working on this issue, if possible :smiley:

[2020-03-09 17:04] MichelleGlauser commented on #1118
Changed the view settings on the "Learning to Learn" video. It might be outdated, though.

[2020-03-09 17:12] Srashtimittal commented on #1220
@Kundan28 Thanku sir.

[2020-03-10 01:57] Kundan28 commented on #1110
@pa7ri No you could start working on this issue.

[2020-03-10 04:06] CipherGirl commented on #1218
The pull request #1259 regarding this issue is been merged. This issue can be closed.

[2020-03-10 04:07] CipherGirl commented on #1231
I have created a PR #1263 regarding this issue. Please review.

[2020-03-10 04:13] #1218 closed

[2020-03-10 11:03] imrishabh18 commented on #1187
@Kundan28 Hey, could you explain from where should i begin ?

[2020-03-10 11:51] Kundan28 commented on #1187
@alodahl Could you please help @imrishabh18 with this.
As I too is not able to understand the `Challenge: Routes to Build` section.

[2020-03-10 12:03] Kundan28 commented on #1216
@vegetabill Could this be worked under GSSoC20 ?

[2020-03-10 12:03] Kundan28 commented on #1202
@vegetabill Could this be worked under GSSoC20 ?

[2020-03-10 12:05] Kundan28 commented on #1202
@meghaa105 Sorry to say but this issue could not be worked under `GSSoC20`

[2020-03-10 12:05] Kundan28 commented on #1157
@vegetabill @alodahl Could this be worked under GSSoC20 ?

[2020-03-10 12:05] Kundan28 commented on #1155
@vegetabill @alodahl Could this be worked under GSSoC20 ?

[2020-03-10 12:05] Kundan28 commented on #1122
@vegetabill @alodahl Could this be worked under GSSoC20 ?

[2020-03-10 12:06] Kundan28 commented on #1113
@vegetabill @alodahl Could this be worked under GSSoC20 ?

[2020-03-10 12:06] Kundan28 commented on #1020
@vegetabill @alodahl Could this be worked under GSSoC20 ?

[2020-03-10 12:07] Kundan28 commented on #961
@vegetabill @alodahl Could this be worked under GSSoC20 ?

[2020-03-10 12:07] Kundan28 commented on #918
@vegetabill @alodahl Could this be worked under GSSoC20 ?

[2020-03-10 12:07] Kundan28 commented on #882
@vegetabill @alodahl Could this be worked under GSSoC20 ?

[2020-03-10 12:07] Kundan28 commented on #816
@vegetabill @alodahl Could this be worked under GSSoC20 ?

[2020-03-10 15:18] alodahl opened #1264 "Find and fix link for Assessment 9 objectives"
https://github.com/Techtonica/curriculum/blob/master/objectives/9.md

Task: Use search or logic to find the new url for the header link in the outline above. You can use the readme or the other assessment links in the objectives folder for guidance.

Make a PR with the fixed link. If the readme is wrong, fix that too.

[2020-03-10 15:24] CipherGirl commented on #1264
I would like to work on this

[2020-03-10 15:27] abhu-A-J commented on #1264
@alodahl may I work on this? I don't have any pending issue on me at the moment??

[2020-03-11 04:09] alodahl commented on #965
#1186 was merged

[2020-03-11 04:09] #965 closed

[2020-03-11 04:11] alodahl commented on #1204
@vegetabill could we add this to gssoc?

[2020-03-11 06:34] meghaa105 commented on #1202
I can work anyways

On Tue, 10 Mar, 2020, 5:35 PM Kundan, <notifications@github.com> wrote:

[2020-03-11 06:55] Kundan28 commented on #1202
Are you a part of GSSoC20 ?

[2020-03-12 03:39] CipherGirl commented on #1264
I've raised a PR #1266. Please review.

[2020-03-12 05:11] shreyakapoor08 commented on #1222
Can i take up this issue

[2020-03-12 05:14] shreyakapoor08 commented on #1202
I want to take up this issue

[2020-03-12 14:17] me-bhavya commented on #1197
Sir I would like to work on this issue as part of GSSOC 2020, please assign this to me.

[2020-03-12 15:29] Kundan28 commented on #1197
@me-bhavya You could not start working on this issue.

[2020-03-12 23:12] hayjay-coder commented on #1122
I'm interested in this task can it be assigned to me from GSSoC20

[2020-03-13 02:45] Kundan28 commented on #1122
@hayjay-coder This issue don't have `gssoc20` label till now, so I would request you to have a look at other tasks.

[2020-03-13 02:51] Kundan28 commented on #1202
@shreyakapoor08 Sorry to say but this issue could not be worked under GSSoC20

[2020-03-13 08:57] meghaa105 commented on #1202
Yes

On Wed, 11 Mar, 2020, 12:26 PM Kundan, <notifications@github.com> wrote:

[2020-03-13 21:12] vegetabill opened #1269 "Add "Why OOP in JS?" section to JS 7 - OOP"
In the [JS 7 OOP lesson](https://github.com/Techtonica/curriculum/blob/master/javascript/javascript-7-oop.md) it doesn't really cover why one should learn OOP in JS, considering that JS code and libraries tend not to use OOP and instead skew more functional.

Look at the JavaScript section in the readme to be aware of what gets covered before this lesson.

Let's add a section immediately following

[2020-03-14 00:53] habeeba-naaz commented on #1269
I want to contribute...please assign me if possible

[2020-03-14 01:06] abhu-A-J commented on #1269
@vegetabill  I'll like to do these. I don't have any open issues

[2020-03-14 04:32] Kundan28 commented on #1202
Then how could you work ? @meghaa105

[2020-03-14 06:05] mahakmandlecha commented on #1269
please assign me this .

[2020-03-14 06:51] KHMohit commented on #1269
I am interested in working on this, please assign me

[2020-03-14 13:08] Kundan28 commented on #1269
Please complete the issue which is already assigned to you then we could assign you to other one.

[2020-03-14 13:09] Kundan28 commented on #1269
@mahakmandlecha You could now start working on this issue. And do keep in mind if you are not able to complete it within 2 weeks, the task will be assigned to someone else.

[2020-03-14 13:11] Kundan28 commented on #1256
@FrozenGirl-spd You only have 6 days let, if we don't get any response from your side, the issue will be assigned to someone else.

[2020-03-14 13:11] Kundan28 commented on #1250
@atrip10  You only have 5 days left, if we don't get any response from your side, the issue will be assigned to someone else.

[2020-03-14 13:12] Kundan28 commented on #1240
@prangya244  You only have 5 days left, if we don't get any response from your side, the issue will be assigned to someone else.

[2020-03-14 13:13] Kundan28 commented on #1222
It doesn't have gssoc20 label so better to find other issue.

[2020-03-14 13:14] Kundan28 commented on #1221
@goyalmuskan Are you still working on this ?
If we don't get your reply by tomorrow, I will assign someone else to this issue.

[2020-03-14 13:15] Kundan28 commented on #1220
@Srashtimittal  You only have 3 days left, if we don't get any response from your side, the issue will be assigned to someone else.

[2020-03-14 13:15] Kundan28 commented on #1217
@samridhijain27   You only have 5 days left, if we don't get any response from your side, the issue will be assigned to someone else.

[2020-03-14 13:16] goyalmuskan commented on #1221
@Kundan28 Yes, I am.

[2020-03-14 13:17] Kundan28 commented on #1215
@Nshah-02 You only have 8 days left, if we don't get any response from your side, the issue will be assigned to someone else.

[2020-03-14 13:20] Kundan28 commented on #1221
Are you working on this ?

[2020-03-14 13:22] goyalmuskan commented on #1221
Yes, I had my exams earlier, now I am working on it.

[2020-03-14 13:22] Kundan28 commented on #1221
How much time would it take ?

[2020-03-14 13:24] Kundan28 commented on #1199
@LovepreetSingh12 If you don't reply by tomorrow, the issue will be assigned to someone else.

[2020-03-14 13:24] Kundan28 commented on #1198
@pandeykriti If you don't reply by tomorrow, the issue will be assigned to someone else.

[2020-03-14 13:24] Nshah-02 commented on #1215
Sorry, sir
Due to some reasons, I was not able to connect to you regarding this issue.
But I can assure you that this will not happen again.
Regards,
Nidhi Shah

On Sat, 14 Mar 2020, 6:47 pm Kundan, <notifications@github.com> wrote:

[2020-03-14 13:26] Kundan28 commented on #1215
So are you working on this or if you want I could assign someone else to it.

[2020-03-14 13:27] Kundan28 commented on #1189
@Tawishi You only have 3 days left, if we don't get any response from your side, the issue will be assigned to someone else.

[2020-03-14 13:29] Kundan28 commented on #1115
@atrip10  You only have 4 days left, if we don't get any response from your side, the issue will be assigned to someone else.

[2020-03-14 13:30] Kundan28 commented on #1115
@SimranMakhija7 You only have 5 days left, if we don't get any response from your side, the issue will be assigned to someone else.

[2020-03-14 13:30] Nshah-02 commented on #1215
sir, I am working on it but I just need more time to learn it as it is a
new subject for me. But before the deadline, I would definitely complete it.

On Sat, 14 Mar 2020, 6:56 pm Kundan, <notifications@github.com> wrote:

[2020-03-14 13:30] Kundan28 commented on #1110
@pa7ri  You only have 9 days left, if we don't get any response from your side, the issue will be assigned to someone else.

[2020-03-14 13:34] #951 closed

[2020-03-14 13:37] Kundan28 commented on #1215
Okay, go for it.

[2020-03-14 13:40] abhu-A-J commented on #882
@Kundan28 I'll like to work on this

[2020-03-14 13:40] ishaan2908 commented on #1157
I want to work on this issue. Can you assign it to me? @alodahl @vegetabill

[2020-03-14 13:43] Kundan28 commented on #1196
@alodahl This issue could be closed now.

[2020-03-14 13:44] Kundan28 commented on #882
@abhu-A-J Now you could start working on this issue.

[2020-03-14 13:45] Kundan28 commented on #1157
@ishaan2908 Now you could start working on it.

[2020-03-14 13:46] #1196 closed

[2020-03-14 15:52] Srashtimittal commented on #1220
@Kundan28 Sorry Sir, I forgot to do this . I do this today only.

[2020-03-14 15:53] daya2940 commented on #1199
i would like to work on this issue

[2020-03-14 18:56] mahakmandlecha commented on #1269
okay. I will do that.

[2020-03-15 01:55] praveenscience opened #1277 "Unify the lists and spacing in Readme.md"
The lists in the main Readme.md has a lot of spaces making it inconsistent with others. It should be unified. This is more of a cosmetic change than a content change.

[2020-03-15 01:57] Kundan28 commented on #1277
@alodahl Please review this issue.

[2020-03-15 02:10] alodahl commented on #1118
it worked! thanks @MichelleGlauser 👍🏼

[2020-03-15 02:16] Kundan28 commented on #1199
Let's wait by today EOD and if we don't get any response from @LovepreetSingh12 the issue will be assigned to you.

[2020-03-15 02:17] Kundan28 commented on #1220
The new PR would not be accepted.
Open the old one and work on it.

[2020-03-15 02:27] alodahl commented on #1122
@abhinashgiri would you like to work on this one?

[2020-03-15 02:29] alodahl commented on #912
hi @vegetabill can we get going on this one yet?

[2020-03-15 02:39] #1277 closed

[2020-03-15 07:16] alodahl commented on #1207
Hi @Yashank18, you did some great work, but a few of the links are broken, but I couldn't test them until it was merged.

1. Anything with this incorrect link: https://github.com/Techtonica/curriculum/blob/master/projects/git/git-version-control.md

2. One image link in gitignore.md is incorrect.

Please link this issue and the old PR in your New PR.  Then we can close this issue.  Thanks!

[2020-03-15 07:19] Yashank18 commented on #1207
@alodahl
Sure. Will create a new pr with changes

[2020-03-15 08:09] alodahl commented on #1231
@vegetabill you have `roles-in-tech` being moved to onboarding here, but you have them being moved to `career` in #1205? Which one is correct?

[2020-03-15 08:24] Srashtimittal commented on #1220
@Kundan28 Ok sir

[2020-03-15 08:32] alodahl commented on #1202
@vegetabill are things being removed already in SQL1, or do they need to be moved over there?

[2020-03-15 08:47] Tawishi commented on #1189
Ok, sir.

[2020-03-15 16:20] abhinashgiri commented on #1122
I already have two issues assigned now.So please assign it to someone else. Thank you

[2020-03-15 18:13] Nshah-02 commented on #1215
Thank you, sir

[2020-03-15 19:48] pa7ri commented on #1110
I've completed part 1, but the second one is taking me longer than expected. BTW, I've tried to push my changes into a branch but it says : `ERROR: Permission to Techtonica/curriculum.git denied to pa7ri.` any help with this?

[2020-03-15 19:58] pa7ri commented on #1122
I've just found another dead-link for the list inside [CONTRIBUTING.md](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md) -> Step 1 -> Step 1: GSSoC Participants (last item) -> 'Style Guide' (just seen, itsn't done yet : https://github.com/Techtonica/curriculum/issues/596)

[2020-03-15 21:02] thisLinda commented on #1099
@vegetabill I am interested in picking up a beginner or easy issue. I've checked in with the repo multiple times recently and see a lot of people helping out and such issues are always assigned--how wonderful for Techtonica! I'll keep trying :)

[2020-03-15 23:08] #1205 closed

[2020-03-15 23:25] alodahl commented on #1202
@meghaa105 are you still interested?

[2020-03-15 23:26] alodahl commented on #1122
@huonggiangbui would you like this issue?

[2020-03-15 23:27] alodahl commented on #1121
@ravireddy07 would you like this issue?

[2020-03-15 23:30] alodahl commented on #1122
I'm going to assign the first responder.  How about you, @thisLinda ?

[2020-03-15 23:38] alodahl commented on #1110
@pa7ri :

1. enter `git log` in your terminal, and write down the commit(s) hashes from this issue from oldest to newest.  you only have to write down the first 7 digits.  So for example, if you had this:
![image](https://user-images.githubusercontent.com/29131689/76713008-e4750780-66da-11ea-80ca-222870607599.png)

If you only want the last two, you would write in a note to yourself:
- 00eb81b
- d

[2020-03-16 00:12] alodahl commented on #1203
@gabymoreno9 we'd love to fix this, but we need to know your answer first.

[2020-03-16 00:14] alodahl commented on #1204
@vegetabill I'm having a hard time understanding your original question. I'm fine to go forward with this issue.

[2020-03-16 00:18] alodahl commented on #1204
@gsong as we have a limited time, containers won't make the short list I'm afraid.

[2020-03-16 00:28] alodahl commented on #1210
Hi @vegetabill , we discussed this over hangouts, but for the record:

1. This was compiled to be a checklist for graders who are looking at the assessments so they can judge whether or not the objectives were met. If not, graders know which outline to refer the learner to for more study.
2.  This was also compiled to be a checklist to make sure that all of the objectives were actually addressed i

[2020-03-16 00:44] alodahl opened #1279 "The irony issue: Proofread Eslint and Linting outlines"
Task:

- [ ] Proofread these two files for spelling and markdown:
  - javascript/eslint.md
  - linting/code-linting-eslint.md
- [ ] Complete @vegetabill's requests made in this review: https://github.com/Techtonica/curriculum/pull/1244/files
- [ ] Change the titles of the two files to be more relevant - ie not exactly the same!

[2020-03-16 01:28] thisLinda commented on #1122
Yes!

On Sun, Mar 15, 2020 at 7:31 PM Alina L. <notifications@github.com> wrote:

[2020-03-16 02:10] Kundan28 commented on #1122
Is @thisLinda a GSSoC participant ?

[2020-03-16 04:48] huonggiangbui commented on #1122
@alodahl I would like to work on this issue

[2020-03-16 06:19] Adyasha8105 commented on #1279
please assign this issue to me @alodahl

[2020-03-16 06:43] KHMohit commented on #1279
I am interested, please assign me

[2020-03-16 06:49] Ashindustry007 commented on #1279
I am part of GSSOC and interested in this issue. Please, assign this issue to me.

[2020-03-16 07:25] ravireddy07 commented on #1121
@alodahl  yes. Can i work on this..??

[2020-03-16 07:58] Tawishi commented on #1189
done. 👍

[2020-03-16 10:47] Tawishi opened #1281 "Style Guide link shows #404 ERROR"
### *The Style Guide link in the below image leads to #404 error.*

![issue#](https://user-images.githubusercontent.com/55306738/76748446-c8d43480-67a0-11ea-92fc-f3538e567ae5.jpg)

![issue1#](https://user-images.githubusercontent.com/55306738/76748568-033dd180-67a1-11ea-89e2-ad8f14928566.jpg)

[2020-03-16 10:51] Tawishi commented on #1279
I would like to work o this issue.

[2020-03-16 10:58] Tawishi commented on #1189
I have made a pull request, sir.
Waiting for the review.

[2020-03-16 12:14] LovepreetSingh12 commented on #1199
My sincere apologies. I was a bit busy because of my mid-semester examination. Now I'm free to do all the contributions

[2020-03-16 12:26] Tahanima opened #1282 "Fix links in README.md file"
https://github.com/Techtonica/curriculum/blob/master/README.md

Some of the links in the README.md file give 404 errors since the paths to the resources are incorrect. For example: **Whiteboarding** link under **Independent Topics**

I am a GSSoC 20 participant and I would like to work on this issue.

[2020-03-16 12:28] pa7ri commented on #1110
It worked! _(I was trying to push directly to this repo instead of fork it)_ Thank you very much @alodahl and @Kundan28

[2020-03-16 12:31] pa7ri commented on #1122
I'm a GSSoC participant (just solved a previous assigned issue) and I would like to work on it, if possible

[2020-03-16 12:35] pa7ri commented on #1202
I'm a GSSoC participant (just solved a previous assigned issue) if anyone else is interested I would like to work on it

[2020-03-16 12:45] pa7ri commented on #1155
Interested! I'm a GSSoc2020 participant

[2020-03-16 16:26] Kundan28 commented on #1221
@goyalmuskan As per your message I've unassigned you from this issue.

[2020-03-16 16:31] Kundan28 commented on #1155
@pa7ri You are already assigned to other issue, so once it's merged you will be assigned to other issue.

[2020-03-16 16:35] Kundan28 commented on #1199
Please make the contribution as soon as possible as you were given 2 weeks.

[2020-03-16 16:37] Kundan28 commented on #1121
@ravireddy07 You are assigned to this task, now you could start working on this issue.

[2020-03-16 16:37] Kundan28 commented on #1189
Why can't I see any linked PR here ?

[2020-03-16 17:20] Tawishi commented on #1189
I have linked it now.

[2020-03-16 18:13] vegetabill opened #1284 "Replace code examples in sorting alogrithms with JS"
Currently [sorting.md](https://github.com/Techtonica/curriculum/blob/master/algorithms/sorting.md) uses Python code examples. We want to replace this with JavaScript.

- In addition there is a style typo near BogoSort

[2020-03-16 18:23] goyalmuskan commented on #1284
May I work on this issue? @vegetabill

[2020-03-16 20:02] ravireddy07 commented on #1121
@Kundan28  @alodahl  Standardized all Markdown using Prettier. And i also mentioned settings used like tab spaces, single quotes, etc. Please once review it.
PR: #1285

[2020-03-16 20:27] lisaau opened #1286 "Fix broken link in Hash Table Topic Outline"
The last link in the supplemental method section of the [hash table topic](https://github.com/Techtonica/curriculum/blob/master/data-structures/hash-tables.md) (JavaScript implementation of Java's String.hashCode() method) has a broken link.

Also found another article that summarizes hash tables:
https://medium.com/javascript-in-plain-english/algorithm-in-javascript-hash-table-7b0464d2b81b

[2020-03-16 20:43] vegetabill commented on #1286
Thanks @lisaau

[2020-03-16 21:21] lindes commented on #1269
I don't know that I have too much to say on this at the moment, except that I watched a video recently that drew a comparison (bordering on equivalence) between functional and oop that y'all might find interesting... here's the talk: https://youtu.be/Y7StjYhXvpE

[2020-03-16 22:41] thisLinda commented on #1122
Clarifying question regarding the instructions. Are the numbers supposed to indicate the line of code the issue is on? For instance:

react-js/react-hooks.md
 **48:3-48:54** warning Link to unknown file: google.com missing-file remark-validate-links
 **49:3-49:84** warning Link to unknown file: google.com missing-file remark-validate-links
If yes, there are no lines of code on lines 48 and 49. I k

[2020-03-17 00:51] vegetabill opened #1287 "Create full stack app creation checklist"
Create new cheklist file in [/projects]( https://github.com/Techtonica/curriculum/tree/master/projects) folder.

This should be a detailed guide that lists how to create a PERN stack app from scratch.

- create-react-app UI app
- Express API node app
- Postgres database

A simplified form of it can be found in the [Animal Tracker](https://github.com/Techtonica/curriculum/blob/master/projects/mern-

[2020-03-17 03:19] Kundan28 commented on #1189
Have a look at [this ](https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) link to know how to link issue to a PR.

[2020-03-17 03:41] Kundan28 commented on #1284
Yes, you can start.

[2020-03-17 04:00] Kundan28 commented on #1279
@Adyasha8105 Please sign up this [form](https://docs.google.com/forms/d/e/1FAIpQLSeW0mo-Dpsig70374UEPvzexpas-31Ost_Hs‌Fwm0kjNOxtbtg/viewform?c=0&w=1‌ ) and start working on the issue.

[2020-03-17 04:02] Kundan28 commented on #1279
@KHMohit @Ashindustry007 Please have a look to other open issues, as the issues are assigned on first come first serve basis.

[2020-03-17 07:11] Tahanima commented on #1286
Hello,
I am a GSSoC20 participant and I want to contribute to this issue.

[2020-03-17 10:19] kichloo commented on #1286
@vegetabill Can I work on this issue?

[2020-03-17 10:28] kichloo commented on #1199
@Kundan28 As the issue is now unassigned, pl give it to me!

[2020-03-17 10:30] kichloo commented on #1166
@vegetabill We can discuss and I can work on this issue.

[2020-03-17 10:37] kichloo commented on #1122
@Kundan28 @alodahl I am a GSSOC participant, can I work on it?

[2020-03-17 15:10] habeeba-naaz commented on #1286
I am interested to contribute...please assign me if possible

[2020-03-17 15:12] habeeba-naaz commented on #1287
I am interested to work...please assign me this if possible

[2020-03-17 19:29] Kundan28 commented on #1199
@kichloo thanks for offering to help. Before doing anything else please follow the steps in https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#volunteering

[2020-03-17 23:43] cadence09 opened #1290 "Suggestion for the data structure slideshow."
I suggest at the beginning of the slideshow to have a video goes through stack, linked list, and queue with a simple code illustration before just jumped in to talk about different types of data structure with a silent video. The concept of each type of data structure is straight forward, but it would give more sense to apprentices to see a video of a simple data structure implementation. And a si

[2020-03-18 03:30] alodahl commented on #1217
@samridhijain27 is still working on this one; they responded on slack.

[2020-03-18 05:35] kichloo commented on #1199
@Kundan28 Do we have to keep `window.fetch` - Time API section or not?

[2020-03-18 05:41] kichloo commented on #1199
And the sections removed have guided practice and independent practice questions associated with them, so the whole section of the question has to be removed?

[2020-03-18 12:18] Kundan28 commented on #1199
No we don't have to keep it.

[2020-03-18 12:19] Kundan28 commented on #1199
Yeah, everything related to the removed stuff should be removed.

[2020-03-18 12:33] Kundan28 commented on #1287
Sorry to say but your PR is not yet merged.

[2020-03-18 12:35] Kundan28 commented on #1286
@Tahanima @habeeba-naaz Your PR is not yet merged so I can't assign you to this issue.
@kichloo You are already assigned to other task.

[2020-03-18 12:37] Kundan28 commented on #1256
@FrozenGirl-spd If we don't get reply from your side within 2 days then someone else would be assigned to this issue.

[2020-03-18 12:39] Kundan28 commented on #1250
@atrip10 If we don't get reply from your side by tomorrow then someone else would be assigned to this issue.

[2020-03-18 12:40] Kundan28 commented on #1240
@prangya244 If we don't get reply by tomorrow then someone else would be assigned to this issue.

[2020-03-18 12:51] Kundan28 commented on #1115
@SimranMakhija7 I we don't get any response from your side in few days then we would assign someone else to this PR.

[2020-03-18 12:54] habeeba-naaz commented on #1287
Yes...but it’s already approved by one reviewer ...so I am free to do this issue..Please try to assign..I am interested to do..this issue..from this issue I can learn a lot,it’s good opportunity for me

[2020-03-18 12:57] Kundan28 commented on #1287
At least 2 mentors has to approve it.

[2020-03-18 13:02] abhu-A-J commented on #1221
@Kundan28 Can I take this??

[2020-03-18 13:06] Kundan28 commented on #1221
You are already assigned to issue 882

[2020-03-18 13:08] abhu-A-J commented on #1221
But people are working on two issues at a time as well?? It can be seen on the scorecard? So should I take easy level issue instead of medium for second one??

[2020-03-18 13:19] gauravdas014 commented on #1286
Please assign me this issue

[2020-03-18 13:22] gauravdas014 commented on #1287
Please assign me this issue.

[2020-03-18 13:29] Kundan28 commented on #1221
The maximum limit is 2 issue but we are sticking to 1 issue at a time.

[2020-03-18 13:30] abhu-A-J commented on #1221
Ah! I see . The it's okay!! I'll wait for it to get merged and the  work on it

[2020-03-18 13:30] Kundan28 commented on #1287
You could now start working on this issue @gauravdas014

[2020-03-18 13:31] Kundan28 commented on #1221
Don't get dishearten, I'm just following the rules.

[2020-03-18 13:31] Kundan28 commented on #1286
I aasigned you to issue 1287

[2020-03-18 13:32] gauravdas014 commented on #1287
Thank you! How much time  am I alloted for this?

[2020-03-18 13:55] kichloo commented on #1199
@Kundan28 Done.

[2020-03-18 13:57] kichloo commented on #1286
@Kundan28 I have submitted by issue. Pl assign it to me now,

[2020-03-18 16:02] alodahl commented on #1290
Do you think it would help if the Crash course video should go before the slideshow?

[2020-03-18 17:45] Kundan28 commented on #1287
Two weeks.

[2020-03-18 17:47] Kundan28 commented on #1286
Another issue will only be assigned after the previous pull request is merged.

[2020-03-18 18:29] Kundan28 commented on #1279
@alodahl This file don't exist as the stuff of that was moved to `javascript/eslint.md`

[2020-03-19 07:28] jonah-williams opened #1293 "Add SRE (site reliability engineer) to roles in tech"
Could we include SRE or similar operations roles as a career path in week 1's [Roles in Tech](https://github.com/Techtonica/curriculum/blob/master/career/roles-in-tech/roles-in-tech.md) and week 13's [Career Week](https://github.com/Techtonica/curriculum/blob/master/README.md#week-13---career-week)?

[2020-03-19 08:27] habeeba-naaz commented on #1250
Please assign me this issue...I am interested to do

[2020-03-19 09:03] Kundan28 commented on #1250
You already have pending PR.

[2020-03-19 09:09] Kundan28 commented on #1220
Closed with reference to #1272

[2020-03-19 09:09] #1220 closed

[2020-03-19 11:48] Nshah-02 commented on #1215
sorry sir, Due to some personal reasons I cannot work on this issue anymore.

[2020-03-19 16:00] kichloo commented on #1199
@Kundan28 Pl review the PR

[2020-03-19 17:15] vegetabill commented on #1293
@jonah-williams thanks for capturing this. Sure, especially if you are one and can add the material 😃

[2020-03-19 17:17] vegetabill commented on #1290
I think a silent video isn't really a useful resource so can we find a replacement with narration?

[2020-03-19 17:18] vegetabill commented on #1290
@cadence09 can you suggest a replacement your group found?

[2020-03-19 18:46] #1208 closed

[2020-03-19 20:19] vegetabill commented on #1222
This was already revised to use postico. Closing

[2020-03-19 20:19] #1222 closed

[2020-03-19 20:20] vegetabill commented on #1235
@cadence09 do you think this is still useful? If not I will close.

[2020-03-19 20:22] vegetabill commented on #1251
@lizandry can you update if this is still relevant. Is the workaround using that PREFLIGHT env variable? @boocheet was also seeing it. If so let's just link that in here and close this.

[2020-03-19 20:23] vegetabill commented on #1204
@alodahl I was just asking if someone proposed this idea before and bad things happened. I doubt it so I'm moving this for our hackathon today and then gssoc.

[2020-03-19 20:30] vegetabill commented on #1153
@atrip10 are you part of GSSOC20? If so this issue is not part of that so please find another. I'm unassigning for now.

[2020-03-19 20:31] vegetabill opened #1295 "Create new lesson on Working & Collaborating Remotely"
It was already a useful skill but now is vital in these times.

## Requirements
- Use the [lesson template](https://github.com/Techtonica/curriculum/tree/master/_templates) to create a lesson
- The new lesson should be placed in the `/career` folder
- For activities/practice on this, have the participants try out popular free screen sharing software to pair program on some code to see the challeng

[2020-03-19 20:33] vegetabill commented on #1295
It should be easy to find resources buzzing about on Twitter at the moment. Even if you're not an engineer, you should be able to find general resources and then add a few geared towards pair programming remotely

[2020-03-19 20:45] vegetabill commented on #961
No

[2020-03-19 21:06] vegetabill commented on #816
I'm closing as wontdo

[2020-03-19 21:06] #816 closed

[2020-03-19 22:44] vegetabill opened #1296 "[Epic] Eventonica v2021"
## TL;DR
High-level improvements to Eventonica based on H1-2020 cohort's experience along with Alina & Bill's Opinions.

## Background
In cohorts so far, the main project used to learn full-stack app development is [Eventonica](), a CRUD app for handling events of different categories. It was divided into [Parts 1-7](https://github.com/Techtonica/curriculum/blob/master/projects/eventonica/README.m

[2020-03-19 23:16] vegetabill opened #1297 "[tmdb] Part 1: React read-only app"
_Child task of Epic #1296_

For the current cohort's full-stack assessment, we used this [minimal codebase](https://github.com/Techtonica/full-stack-assessment-h1-2020). Using that as inspiration, please create Part 1 lesson, where the student will use React to make a read-only app with in-memory data.

## Requirements

 In a new lesson file in the `/projects/tmdb` folder called `part-1-readonly-r

[2020-03-19 23:16] vegetabill commented on #1297
Child task issue of Epic #1296

[2020-03-20 01:39] datadaveshin commented on #1295
I'll try this one

[2020-03-20 02:34] alodahl commented on #1153
@reetika-gupta

[2020-03-20 03:59] Kundan28 commented on #961
Okay.

[2020-03-20 04:30] Kundan28 commented on #1215
Okay, no problem.

[2020-03-20 06:13] vegetabill opened #1298 "Add 3 common technical coding questions to tech-interviewing lesson"
The challenge example questions in the [technical interviewing lesson](https://github.com/Techtonica/curriculum/blob/master/career/interviewing/technical-interviewing.md#challenge) are not really the kind of questions you'd be asked in a tech interview.

Please replace them with some relatively short technical interview questions. Problems should be language independent.

[2020-03-20 06:55] jamesjose03 commented on #1298
@vegetabill I would like to take up this issue.

[2020-03-20 07:08] kichloo commented on #1298
@vegetabill I have submitted all my issues. Pl assign this issue!

[2020-03-20 09:48] kichloo commented on #1282
@vegetabill Can I take this issue?

[2020-03-20 09:49] kichloo commented on #1221
@Kundan28 I can take up the issue.

[2020-03-20 12:11] Aman-Codes commented on #1286
@Kundan28 Sir I am a GSSOC participant and I would like to work on it. This would be my first contribution in this project so please assign me this issue.

[2020-03-20 14:02] Kundan28 commented on #1217
@samridhijain27 Requested to unassign her.

[2020-03-20 14:19] Kundan28 commented on #1286
@Aman-Codes

Thanks for volunteering to help Techtonica improve its curriculum! I have assigned you to this issue.

Please follow the contribution instructions in additional to any instructions from GSSoC.

Questions?
If you have any question about this issue and what contributions are being asked for, reply on this issue.
If you have questions about Git, Pull Requests, GitHub, or the contest itse

[2020-03-20 14:58] Adyasha8105 commented on #1298
@vegetabill please assign this issue to me

[2020-03-20 16:49] vegetabill opened #1301 "[Epic] Improve React curriculum"
React had by far the biggest gaps in the curriculum. For example, Database (a much simpler concept) had over 5 lessons devoted to it.

Example feedback for cohort:

### Areas of Improvement
- Replace all jQuery with React
- ~Move React ahead to reinforce learning of HTML/CSS~ This was cut from scope in H1-2021. It still might be a good idea but shelved for now
- ~Replace Eventonica with tmdb~ We i

[2020-03-20 17:23] Kundan28 commented on #1221
You are already assigned with one.

[2020-03-21 02:21] Aman-Codes opened #1302 "Add ISSUE_TEMPLATE"
@alodahl @vegetabill I am a GSSOC participant and I would like to add an issue template folder with bug report, feature request and pull request template
## Screenshots
### Bug report
![bug report](https://user-images.githubusercontent.com/54680709/77220483-80cd5d00-6b66-11ea-8685-2751fa20c0c2.PNG)

### Feature Request
![feature request](https://user-images.githubusercontent.com/54680709/77220495-

[2020-03-21 05:39] AbhipsaGuru1012 commented on #1298
@vegetabill I would like to take this issue up.

[2020-03-21 05:58] kichloo commented on #1221
@Kundan28 That issue is up for review now.

[2020-03-21 06:12] Kundan28 commented on #1221
Yeah, I know that. But you will only be assigned with other issue after the PR is merged.

[2020-03-21 06:49] FrozenGirl-spd commented on #1256
#1304 I tried to update the elective lessons and migrated all to /electives folder while reviewing readme.md as suggested.

[2020-03-21 08:06] Adyasha8105 commented on #1279
This issue solves in the PR #1300

[2020-03-21 08:57] Kundan28 commented on #1256
You have to make the requested changes in the same PR itself, so I'm closing the new one.

[2020-03-21 08:59] Kundan28 commented on #1157
Removed as per request made by @ishaan2908

[2020-03-21 10:38] gauravdas014 commented on #1287
Sir, I was assigned the issue 1287 , but I have realized I am not much experienced for that issue, I am not a pro in backend so I will not be able to complete it, please deassign the issue, so that others can work on it. I am really very sorry for that.

[2020-03-21 11:42] habeeba-naaz commented on #1287
@alodahl specified changes in my previous issue and I did that changes...she told to comment on another issue...she told she’ll merge that Issue ASAP. So please if possible assign me this issue?

[2020-03-21 15:42] vegetabill commented on #1302
Thanks for the idea but we don't need something like that in our project. But we'd love if you want to contribute to one of our existing issues.

[2020-03-21 15:42] #1302 closed

[2020-03-21 15:45] vegetabill commented on #1293
@jonah-williams just curious is this a role an intern could do? Not having done it myself, I'd imagine you'd need a ton of system arch and networking understanding.

[2020-03-21 15:46] vegetabill commented on #1282
@Tahanima thanks for opening this. I will look at your other PR and then I can assign this to you (as only one active issue at a time is allowed).

[2020-03-21 15:57] kichloo commented on #1282
Was it necessary to delete the comment? In most cases, it is seen that issues are given on FCFS basis and if one does not fix the issue, it is given to next one.

[2020-03-21 16:45] Kundan28 commented on #1287
@habeeba-naaz You could start working on this issue.

[2020-03-21 16:54] vegetabill commented on #1282
@kichoo as my comment said I reserved for the person who took the time to create it. I do not want others to pile on a bunch of noise comments asking to work on an issue. If you'd like to work on an issue, find one that is tagged as gssoc20 (this one was not).

[2020-03-21 16:56] vegetabill commented on #1281
@Tawishi thanks for taking the time to capture this error. Can you include a URL where your image came from?

[2020-03-21 17:00] vegetabill commented on #1298
@jamesjose03 I have assigned you this issue. Just to confirm, are you part of gssoc20?

Please follow the [Contributor](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md) instructions and ask any questions here.

[2020-03-21 17:05] #1241 closed

[2020-03-21 17:06] vegetabill commented on #1241
@Tahanima thank for revising the PR. I've merged this and I will now assign you the one you created. Great work!

[2020-03-21 17:09] Tahanima commented on #1241
Thank You @vegetabill

[2020-03-21 17:09] vegetabill commented on #1282
@Tahanima I've assigned you this issue. Let me know if you have any questions.

[2020-03-21 17:19] habeeba-naaz commented on #1287
Thank you @Kundan28

[2020-03-21 23:26] #1257 closed

[2020-03-21 23:41] alodahl commented on #1115
@abhinashgiri would you like this one?

[2020-03-22 00:24] #1286 closed

[2020-03-22 02:55] Tawishi commented on #1281
Yes. Here it is.
https://github.com/Techtonica/curriculum/blob/master/_templates/instructions.md

[2020-03-22 05:35] abhinashgiri commented on #1115
yes

[2020-03-22 05:58] Kundan28 commented on #1115
@abhinashgiri Now you could start working on this issue.

[2020-03-22 09:14] meghaa105 commented on #1202
Yes

[2020-03-22 09:29] jamesjose03 commented on #1298
@vegetabill Yes I am a participant of gssoc20. Thank you for assigning this issue to me.

[2020-03-22 11:01] kichloo commented on #1217
Can I take this issue?

[2020-03-22 11:11] abhinashgiri commented on #1115
where is the jquery folder, I can't find the 3rd link

[2020-03-22 18:26] abhu-A-J commented on #1198
@Kundan28 may I work on this issue?

[2020-03-22 18:27] Kundan28 commented on #1198
Yes, you can.

[2020-03-22 18:28] Kundan28 commented on #1115
It's been moved to `web/jquery.md`

[2020-03-22 18:31] Kundan28 commented on #1217
You PR is not yet merged.

[2020-03-22 19:18] alodahl commented on #1256
@vegetabill you think agile is an elective? Why isn't it as important as git?

[2020-03-22 20:02] #1023 closed

[2020-03-22 20:03] vegetabill commented on #1166
This was a wishlist from Michelle. Closing.

[2020-03-22 20:03] #1166 closed

[2020-03-22 20:07] vegetabill commented on #1113
@adriculous how has it been going working on this? We'll need this lesson for the next cohort since zsh is now the default. If you have any questions let me know.

Do you have a target date to complete a draft pull request for these changes? Could you create it by April 1st?

[2020-03-22 20:07] #1020 closed

[2020-03-22 20:13] #1132 closed

[2020-03-22 21:39] alodahl commented on #1160
Please make your powerpoint slideshow into a google slides doc and transfer ownership to techtonicaorg@gmal.com.

[2020-03-22 21:50] alodahl opened #1306 "detail-oriented issue: format & proofread CSS_in_React slides"
Task: format & proofread these CSS_in_React slides. https://docs.google.com/presentation/d/15SRalCJq0HaZ7O8LIngmDVqxDSU0GBVzOhpF1Q0eQOw/edit?usp=sharing
Request edit access with a note explaining that you are trying to solve this issue.

Related to: #1258

 - [ ] format the above slideshow to the 2020 Slides Template standards. Make a copy to your own drive to have access to the styles.
- [ ]  als

[2020-03-22 21:54] cadence09 commented on #1235
@vegetabill It was my port issue. I have different port. Everything was running now. Yeah you can close the issue.

[2020-03-22 21:54] #1235 closed

[2020-03-22 22:09] alodahl commented on #1281
The link you provided is broken!

[2020-03-22 22:11] alodahl commented on #1281
I see - this should be https://github.com/Techtonica/curriculum/tree/master/_templates#instructions

[2020-03-22 23:55] vegetabill commented on #1189
@Tawishi you did not link the issue. I have linked it for you.

[2020-03-22 23:56] vegetabill commented on #1281
@Tawishi I meant the page where that link is used, not the 404 link.

By searching the text in your image above, I found the page: [/CONTRIBUTING.md](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-1-gssoc-participants)

It should be updated to point to `_templates/` so it will show the README

[2020-03-22 23:57] vegetabill commented on #1281
@Tawishi since you are still working on #1189 I will leave this unassigned for 7 days so you can have the opportunity to work on it since you created it. After that I will open it up for anyone to work on it.

[2020-03-23 00:07] vegetabill commented on #882
@alodahl I've assigned this to you while it's revising so @abhu-A-J is open to be assigned other work. Re-assign it to him when it's ready please

[2020-03-23 04:30] Kundan28 commented on #882
@abhu-A-J Comment on other issue on which you want to work.

[2020-03-23 05:06] Adyasha8105 commented on #1306
I just want to work on this issue @alodahl

[2020-03-23 16:11] ayan-biswas0412 commented on #596
Hello I can do that

[2020-03-24 04:58] vegetabill opened #1308 "[React] Add lesson outline: React Part 2"
_This is a child issue of Epic #1301_

For new lessons, use the [lesson v2 template](https://github.com/Techtonica/curriculum/blob/master/_templates/lesson-v2.md) after reviewing the [lesson instructions](https://github.com/Techtonica/curriculum/tree/master/_templates)

## Prereqs
They have learned about React, JSX, and props.

## Objectives to Cover in this Lesson
- Component state (only cover cl

[2020-03-24 06:10] vegetabill opened #1309 "[React] Revise and simplify React Part 1 Lesson"
_This is a child issue of Epic #1301_

The current [React lesson](https://github.com/Techtonica/curriculum/blob/master/react-js/react.md) is not as clear and useful as it could be, and relies too much on external materials.

## Content to Add
- Inline code snippet examples of a Hello World component
- Inline code snippet of a component with a single prop
- Inline code snippet of a component assign

[2020-03-24 07:10] jamesjose03 commented on #1309
@vegetabill I would like to take up this issue.

[2020-03-24 12:41] Kundan28 commented on #1309
Once your PR is merged, you will be assigned to this.

[2020-03-24 17:30] jonah-williams commented on #1293
@vegetabill Like every other role I think it really depends on the organization but yes, I think it's reasonable to consider interns for roles on SRE teams.

Alice Goldfuss has a nice blog post on getting into SRE and what these roles can look like: https://blog.alicegoldfuss.com/how-to-get-into-sre/

[2020-03-24 19:10] thisLinda commented on #1122
@alodahl @vegetabill Will this issue be assigned?

[2020-03-24 22:17] habeeba-naaz commented on #1287
Can I take any example to create PERN stack example from scratch? Or only Animal Tracker assignment only?

[2020-03-25 04:04] Kundan28 commented on #1287
@alodahl @vegetabill

[2020-03-25 04:11] Kundan28 commented on #1202
@meghaa105  I have assigned you this issue.

Please follow the [Contributor](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md) instructions and ask any questions here.

[2020-03-25 05:21] abhu-A-J commented on #1198
@alodahl Ma'am based on the changes made to files in issue #1197 , the following slides were corrected

#### Writing Reusable code:
- Slide 4
- Slide 6

#### AJAX
- Slide 10
- Slide 14

#### Testing and TDD
- Slide 13
- Slide 14

#### Refactoring
- Slide 16
- Slide 17
- Slide 17

#### JavaScript VI
- Slide 2
- Slide 6
- Slide 7
- Slide 8
- Slide 9
- Slide 10
- Slide 11
- Slide 12
- Slide 13
- Slid

[2020-03-26 13:19] rukaiya2000 commented on #1282
I would like to contribute to this.

[2020-03-26 13:19] rukaiya2000 commented on #1281
I would like to contribute to this.

[2020-03-26 18:28] prangya244 commented on #1240
@Kundan28 I am not able to find the CSS folder anymore in the upstream master. Is there any recent updates?

[2020-03-26 19:48] prangya244 commented on #1309
I would like to take up this issue.

[2020-03-27 03:34] Kundan28 commented on #1240
You could find that inside `web` folder.

[2020-03-27 03:41] Kundan28 commented on #1309
You are already assigned with other issue.

[2020-03-27 13:13] FrozenGirl-spd commented on #1256
@alodahl  I have sent the PR according to the requested and suggested changes. Can you please check into it!!
#1316

[2020-03-28 20:04] #1197 closed

[2020-03-28 20:17] shwhite17 commented on #1298
assign this issue to me please? @vegetabill

[2020-03-28 20:30] #1264 closed

[2020-03-28 23:22] #1160 closed

[2020-03-28 23:26] #1219 closed

[2020-03-28 23:46] #1284 closed

[2020-03-28 23:56] #1298 closed

[2020-03-29 00:00] #1115 closed

[2020-03-29 00:05] alodahl commented on #1198
Hi @abhu-A-J , it would be much appreciated if you could include the slide links as well as their titles in your comment.

[2020-03-29 04:44] kichloo commented on #1309
@Kundan28 I have submitted my PR and its in the final phase of the review. Pl assign it to me.

[2020-03-29 04:45] Kundan28 commented on #1309
Wait for it until it's approved by Alina.

[2020-03-29 09:02] ashishnagpal2498 commented on #1308
I would like to work on this issue.

[2020-03-29 15:59] jamesjose03 commented on #1309
@Kundan28 Pls assign this issue to me as I have already started working on it.

[2020-03-29 17:25] #1199 closed

[2020-03-29 17:26] Kundan28 commented on #1309
But you were not assigned to this issue.

[2020-03-29 17:35] Kundan28 opened #1318 "Format Techtonica Slideshows"
This single-contributor task is to ensure all Techtonica-owned slideshows have the same styles and formatting. This a simple task, but may take a while! Some of these are already formatted, but your job is to double-check or make changes.

Check the box next to the slideshow once it is ready.
Message Alina(@alodahl ) the numbers of any slideshows that are locked to editing, and she will unlock the

[2020-03-29 17:36] kichloo commented on #1309
@Kundan28 Now that my PR has been merged, pl.assign it to me.

[2020-03-29 17:39] FrozenGirl-spd commented on #1318
Can i work on this?

[2020-03-29 17:39] Kundan28 commented on #1309
Sorry to say but @jamesjose03 would get assigned to this issue as he asked first.
Comment down on other issue.

[2020-03-29 17:40] #1279 closed

[2020-03-29 17:41] Kundan28 commented on #1318
Wait for it to get reviewed by project admin. And you have a pending PR.

[2020-03-29 17:43] alodahl commented on #1318
Yes @FrozenGirl-spd you have your work cut out for you fixing your PR.  Ask about what you are specifically trying to do in #git_github, and you will receive help.

[2020-03-29 17:44] Kundan28 commented on #1318
@kichloo You want to work on this ?

[2020-03-29 17:45] kichloo commented on #1318
@Kundan28 @alodahl Can I take up this issue?

[2020-03-29 17:46] Kundan28 commented on #1318
You could now start working, I've already made the comments in the slide where changes are required but check each and every thing.

[2020-03-29 20:32] habeeba-naaz commented on #1287
Once please answer below question:

Can I take any example to create PERN stack detailed guide from scratch? Or only Animal Tracker assignment ? @vegetabill  @alodahl

[2020-03-29 20:49] #1075 closed

[2020-03-30 01:55] #1231 closed

[2020-03-30 03:05] vegetabill commented on #1075
moot: https://github.com/Techtonica/curriculum/issues/1296

[2020-03-30 04:45] #1282 closed

[2020-03-30 12:22] kichloo commented on #1318
@Kundan28 I have some questions:
1. The title/ first page should also be modified?
2. The code snippet is in a different font. Should it be modified too?

[2020-03-30 12:43] kichloo commented on #1318
https://docs.google.com/presentation/d/1N2eDw84BqmcqvNDjtQfNEF_7PO91z-IHTR44QXt3-oI/edit?disco=AAAAJP0Z0vU
Changing the code to 18/24 would not be feasible and the text is set to 18

[2020-03-30 12:57] kichloo commented on #1318
1. https://docs.google.com/presentation/d/1USOZJSzwXmSYepjwrE9r9ky_fmQ8VPE7bshjsBoDsZM
  2. https://docs.google.com/presentation/d/1S3BjcLZNjex2_qiA9MdyJOjWZ_qmJ78STbUeDEyHH_8
  3. https://docs.google.com/presentation/d/1viDJyLHXVs-VioUEatvWHDZeOCCmPxZNPHzH0C393rg
  4. https://docs.google.com/presentation/d/1N2eDw84BqmcqvNDjtQfNEF_7PO91z-IHTR44QXt3-oI
  5. https://docs.google.com/presentation/d/1D

[2020-03-30 13:11] kichloo commented on #1318
@Kundan28 @alodahl Done

[2020-03-30 15:05] Kundan28 commented on #1318
Okay

[2020-03-30 15:57] kichloo commented on #1318
@alodahl @Kundan28 Pl review the PR

[2020-03-31 04:17] datadaveshin commented on #1295
Hi - I'm ready to put in a PR, but appears the repo has been reorganized. Previously, it was to go into the `career/` folder, where should I place the document?

[2020-03-31 14:27] vegetabill commented on #1295
@datadaveshin thanks for asking. I think `/career` is still the right place. Thanks for checking.

[2020-03-31 18:56] kichloo commented on #1157
@alodahl @Kundan28 Can I work on this issue?

[2020-03-31 22:02] lizandry opened #1320 "Create short lesson on JS / React /Function modularity + best practices."
Please make a 30 -60 minute lesson on JS / React modularity. The shorter the better, as long as the most important points are covered.  The basic goal is to demonstrate a few correct ways that React projects are structured, with examples. Maybe an activity can be a scavenger hunt for similar things in differently organized React projects.

Use this template and put your new outline in the javascri

[2020-04-01 05:24] Kundan28 commented on #1157
Yes, you can.

[2020-04-01 08:02] kichloo commented on #1157
I created a folder Workspace, now can anyone give a template to be followed and explain about it.

[2020-04-01 10:13] abhishekgupta368 commented on #1221
Hey, I am new, Can I do it, please?

[2020-04-01 10:23] Kundan28 commented on #1221
@abhishekgupta368 I've assigned you to this issue. Before starting please go through [this](https://bit.ly/2wQxqLy) link.

[2020-04-01 10:44] abhishekgupta368 commented on #1221
thanks

[2020-04-01 11:03] kichloo commented on #1221
@Kundan28 Pl address the issue #1157

[2020-04-01 16:56] datadaveshin commented on #1295
Let me know if there are any concerns, editing, etc. to do. Also, I'm not familiar with how these lessons are taught.

[2020-04-01 17:20] kichloo commented on #1157
@Kundan28 @alodahl Anyone?

[2020-04-01 17:31] Kundan28 commented on #1157
You could find the templates under `https://github.com/Techtonica/curriculum/tree/master/_templates` directory.

[2020-04-05 02:22] #1189 closed

[2020-04-05 02:24] #1240 closed

[2020-04-05 18:17] alodahl commented on #1256
You deleted all the branches... do you still want to work on this or should we give it to someone else?

[2020-04-06 00:05] alodahl commented on #1155
@pa7ri would you like to take this issue?

[2020-04-06 00:07] alodahl commented on #1122
Sorry I missed this whole convo and made you wait! You can have it if you like, @thisLinda.

[2020-04-06 00:09] alodahl commented on #1064
@abhinashgiri would you like this issue now?

[2020-04-06 00:13] #1110 closed

[2020-04-06 00:19] alodahl commented on #1187
The goal here is to write a challenge outline for the apprentices: create their own API.  @vegetabill has listed what he wants in the challenge, and your task is to make this a clear set of directions for building the API with some hints.  You can use this template for the challenge directions : https://github.com/Techtonica/curriculum/blob/master/_templates/project.md

[2020-04-06 00:20] #1198 closed

[2020-04-06 00:21] #1318 closed

[2020-04-06 03:03] alodahl commented on #1202
Hi @meghaa105 , how is this issue going? Let us know if you have any questions.

[2020-04-06 03:06] #1207 closed

[2020-04-06 03:16] alodahl commented on #1256
You are welcome to try another branch, @FrozenGirl-spd , just make sure this is the last one and don't delete it 😉

[2020-04-06 03:18] alodahl commented on #1269
Hi @mahakmandlecha , it has been 3 weeks and we do not see a PR.  Please respond to us about whether you are still working in it or if you need help.  If you are not, we'd like make this available to another volunteer.

[2020-04-06 03:20] alodahl commented on #1281
Hi @rukaiya2000, I will add you. Be sure to follow this contributing guide if this is your first Techtonica issue. https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md

[2020-04-06 03:24] alodahl commented on #1287
@habeeba-naaz  I think Bill means that you can use the animal tracker as a starting point. Based on the description, I'm thinking that this should be topic-agnostic, and should simply list what any basic PERN app needs. @vegetabill is that correct?

[2020-04-06 03:36] habeeba-naaz commented on #1287
I thought to implement a basic PERN stack app example with screen shots..which includes steps to build

[2020-04-06 04:20] Tawishi commented on #1204
I would like to work on this issue @vegetabill.

[2020-04-06 05:50] Adyasha8105 commented on #1228
@alodahl Can I take this?

[2020-04-06 06:02] alodahl commented on #1228
@Adyasha8105 please read through these [Contributing Guidelines](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md) if this is your first issue with Techtonica.

[2020-04-06 06:18] #1250 closed

[2020-04-06 07:12] pa7ri commented on #1155
Yes @alodahl :smile: that would be awesome!

[2020-04-06 07:17] Kundan28 commented on #1155
@pa7ri You could now work on this issue.

[2020-04-06 07:21] Kundan28 commented on #1228
She had already made a contribution before and that was #1300

[2020-04-06 11:30] FrozenGirl-spd commented on #1256
Thankyou mam

[2020-04-06 16:58] thisLinda commented on #1122
Yes, I will complete it. Would someone please answer the question I asked (above, 21 days ago) to assure I'm understanding correctly. I had reviewed the remaining links--if I'm recalling correctly I think several may no longer exist.

[2020-04-06 17:40] Tawishi commented on #1204
Does this mean even the SQL slides and all material related to SQL to changed to Postgres?

[2020-04-06 21:23] Satyam3976 commented on #1064
@alodahl I am new to this project, Please assign me this issue so that I can work on it.

[2020-04-07 02:06] abhinashgiri commented on #1064
Please assign it to someone else as I'm working on other issue for now. Thank u

[2020-04-07 03:22] Kundan28 commented on #1064
Okay, no problem.

[2020-04-07 03:28] Kundan28 commented on #1064
@Satyam3976

Thanks for volunteering to help Techtonica improve its curriculum!

Please follow the [contribution instructions](https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-0) in additional to any instructions from GSSoC.

Questions?
If you have any question about this issue and what contributions are being asked for, reply on this issue.
If you have questions about Git

[2020-04-07 13:37] kichloo commented on #1157
The template is definitely good for software development, but it will have to be restructured in /workspace folder. So, can I restructure it(removing some parts and modifying the titles)?

[2020-04-07 15:19] Satyam3976 commented on #1064
@Kundan28 Thank you for assigning me. I guess you have changed the codebase, can I get to know where is security.md file now.

[2020-04-07 16:24] Kundan28 commented on #1064
It's at https://github.com/Techtonica/curriculum/blob/master/career/roles-in-tech/security.md

[2020-04-07 16:32] Kundan28 commented on #1157
Yeah, you can.

[2020-04-08 06:51] annu12340 commented on #1221
Is this issue still open?
I am looking forward to contributing to it
Please assign it to me

[2020-04-08 08:33] annu12340 opened #1328 "Create Advanced JS folder"
I found that many important topics like  Closures, hoisting, destructing, Higher Order Functions, Error Handling, etc are missing in the current curriculum. I would like to include them in a new section called advanced-js

Mentors, can I go ahead with this issue as a part of Gssoc

[2020-04-08 09:39] annu12340 commented on #1308
Can I work on this issue

[2020-04-08 09:44] Kundan28 commented on #1308
@ashishnagpal2498 is already assigned to this issue. You could only work on the issue which are not assigned to anyone and you could comment there that you want to work and once you are assigned to that issue you could start working.

[2020-04-08 09:54] Kundan28 commented on #1221
@abhishekgupta368 is already assigned to this issue. Please look for other one.
Here's the [link](https://github.com/Techtonica/curriculum/issues?q=is%3Aopen+is%3Aissue+label%3Agssoc20+no%3Aassignee) to see unassigned issues.

[2020-04-08 10:11] annu12340 commented on #1308
ok

[2020-04-08 15:25] vegetabill commented on #1328
Almost all of the those topics are covered, with the possible exception of hoisting. Where did you look to see what was covered?

[2020-04-08 15:46] annu12340 commented on #1328
I was not able to find topics like arrow fn, Template literals, Strict Mode, Object Prototypes, Event Bubbling and Capturing, Inheritance , Scope,  Currying,  Callback Function, OOP in JavaScript, call() , apply() and bind() etc

[2020-04-09 01:48] #1121 closed

[2020-04-09 01:57] alodahl commented on #1328
I'm 100% sure that map filter reduce,  promises and try/catch, scope, OOP are already in the curriculum.  Arrow function is definitely included, although I don't know if it has been explicitly explained.  I never ever ever use call() , apply() and bind(), but if others think these are widely used and important, go ahead. We are explicitly leaving prototypes out, unless Bill thinks its a good advan

[2020-04-09 02:04] alodahl commented on #1122
Hi Linda, sorry I missed that comment.

Yes, the numbers refer to the line that the link is on. These files are constantly being edited, so take the location with a grain of salt.. it may have moved over a line or two.

If it is clearly a fake example link, like google.com or otehrexample.com, we don't care about those. A lot of this ticket is checking the context to see whether the flagged link i

[2020-04-09 02:32] annu12340 commented on #1328
Thanks

[2020-04-09 03:22] cadence09 opened #1329 "A good source for implementing auth0 in React"
I suggest to add this source https://auth0.com/blog/authenticating-your-first-react-app/ to auth0 topic outline (https://github.com/Techtonica/curriculum/blob/master/oauth/o-auth.md). This is easy to follow along and clear as well.

[2020-04-09 15:17] thisLinda commented on #1122
I was unable to check off the boxes, couldn't figure out how to do it. I would appreciate it if someone would let me know.
I have completed all and have submitted a pull request. Here is the "neat list" of truly dead pages:

 15:12-15:93 warning Link to unknown file: version-control/git-version-control/git-version-control.md. Did you mean ../git-version-control/git-version-control.md missing-file

[2020-04-09 15:36] alodahl commented on #1122
I added you as a project contributor, which may allow you to check the boxes.  Thank you Linda!

[2020-04-09 15:37] #1122 closed

[2020-04-09 15:41] alodahl opened #1332 "Fix these dead links"
Task: read through these notes describing the repo’s broken links, and repair or replace them.

react-js/react-hooks.md
15:12-15:93 warning Link to unknown file: version-control/git-version-control/git-version-control.md. Did you mean ../git-version-control/git-version-control.md missing-file remark-validate-links
***NO SUCH LINK anywhere in repo
redux/redux.md
***these LINKS ARE ALL ACTIVE but th

[2020-04-09 15:52] abhu-A-J commented on #1332
@alodahl Ma'am May I?

[2020-04-09 15:52] shreyakapoor08 commented on #1332
can I work on it? @alodahl

[2020-04-09 16:33] thisLinda commented on #1122
I am still unable to check the boxes :(

[2020-04-09 17:04] vegetabill commented on #1329
Awesome thanks @cadence09

[2020-04-10 03:14] annu12340 commented on #1332
Can I work on this issue

[2020-04-10 05:39] Kundan28 commented on #1332
@abhu-A-J You could start working on this issue.

[2020-04-10 05:41] abhu-A-J commented on #1332
Okay Sure! Thank you!

[2020-04-10 09:22] Tahanima commented on #1329
Hello,
I am a GSSoC'20 participant and I would like to work on this issue.

[2020-04-10 19:04] saloniankita23 commented on #1329
Kindly assign me this issue. I would like to work on it.

[2020-04-11 08:34] #1328 closed

[2020-04-11 08:41] annu12340 opened #1334 "Create a folder for ML concepts"
I would like to create a folder on ML concepts that would be focusing on both the theory in ML and its implementation.  I thought of covering all the fundamentals in ML like different types of Machine Learning, Linear and Logistic Regression, different types of cost function, optimization techniques,  Under-fitting & Over-fitting, Regularization, Hyper-parameters, Cross-Validation, basis of CNN et

[2020-04-11 16:23] vegetabill commented on #1334
We're not interested in expanding the scope of our curriculum at this time, as we'd prefer to increase the quality and depth of existing topics.

[2020-04-11 16:23] #1334 closed

[2020-04-11 16:25] vegetabill commented on #1329
@Tahanima I've assigned you. @saloniankita23 issues are assigned first-come-first-served so please find one that someone else hasn't commented on already.

[2020-04-11 16:34] vegetabill opened #1335 "Add mini-lesson on spread operator"
## Topics to Cover
- [x] varargs in function params
- [x] before and after examples of building new arrays using slice
- [ ] how this relates to following an immutable coding style to always create new objects and never modify arrays in place
- [ ] show adding an item
- [ ] show removing an item
- [ ] Independent practice should include converting some existing code to use spread as well as writin

[2020-04-11 20:40] urbashi123 commented on #1335
I want to work on the issue. Can you assign me?

[2020-04-11 21:25] vegetabill opened #1336 "React Part 3 - Components & Hierarchies"
**Task**:  The previous contributor was unable to complete this issue, but they got quite far. Please:
- [ ] Make edits to this outline: https://github.com/Techtonica/curriculum/blob/master/react-js/react-part-3-component-hierarchies.md
- [ ] Make any changes needed so the Acceptance Criteria below is fulfilled in the outline.
- [ ] Address all the unresolved comments found here: https://github.co

[2020-04-11 21:42] vegetabill opened #1337 "React Part 4 - Apps"
_Child task of Epic #1301_

The previous three lessons covered props, state, and component hierarchies. This will build on that to create a TODO list app with an in-memory data store, meaning all data will be lost on full page refresh. But we want to reinforce the existing content before getting into async/ajax.

Use our [Lesson Template v2](https://github.com/Techtonica/curriculum/blob/master/_te

[2020-04-11 21:57] vegetabill commented on #1163
Haven't heard back on this so I'm opening it up as unassigned.

[2020-04-11 21:58] vegetabill commented on #1163
I scanned it and the lesson looks adequate. Closing as no-op

[2020-04-11 21:58] #1163 closed

[2020-04-11 22:03] vegetabill commented on #912
Sorry for the delay. Added template link in main body

[2020-04-11 22:22] vegetabill opened #1338 "New lesson: React Part 6 - Connecting an API"
The previous lessons focused on building an in-memory app but now we want to integrate with API's.

### Prereqs
- [React 1-5](https://github.com/Techtonica/curriculum/blob/main/react-js)
- [Express APIs](https://github.com/Techtonica/curriculum/blob/main/express-js/express.md)

Use our [Lesson Template v2](https://github.com/Techtonica/curriculum/blob/main/_templates/lesson-v2.md)

## Topics to Co

[2020-04-11 22:47] alodahl commented on #912
mind if I make this GSSoC?

[2020-04-11 22:53] alodahl commented on #1335
@urbashi123 sure!  Be sure to follow https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md before starting.

[2020-04-11 23:25] alodahl opened #1339 "Improve and update "Deploying to Heroku" outline."
**Recent curriculum feedback:**
"Deploying is always hard. On this week’s surveys, in response to “What suggestions do you have for improving Techtonica’s apprenticeship program?“: “a clearer/easier to follow demo for deploying apps on Heroku.”

https://github.com/Techtonica/curriculum/blob/master/deploying/deploying.md

## Tasks:
- Update, improve, and make our deploying outline as easy to follow

[2020-04-12 00:19] vegetabill commented on #1339
@alodahl thanks for capturing this. It's definitely a need! But I think this is too vague or advanced for gssoc until we break it down further. I can do that this week sometime.

[2020-04-12 03:22] HarshCasper commented on #1337
I would like to work on this issue @vegetabill

[2020-04-12 11:44] kichloo opened #1340 "PR_template"
The PR template helps the reviewer to go through the changes made by the contributor rather than going through lines of codes to find it. I can design a PR template according to the structure of Techtonica  project. It can have Easy/ Medium as the Labels.

[2020-04-12 16:37] vegetabill commented on #1340
Thank you for the suggestion but we're not interested at this time. Please try to work on the issues we already have.

[2020-04-12 16:37] #1340 closed

[2020-04-12 18:20] vegetabill commented on #1135
This seems good enough for now.

[2020-04-12 18:20] #1135 closed

[2020-04-12 18:21] vegetabill commented on #1194
This seems good enough for now

[2020-04-12 18:21] #1194 closed

[2020-04-12 18:27] vegetabill opened #1341 "tmdb Part 1 - Read-Only React"
_Child of tmdb epic: #1296_

[2020-04-12 20:34] urbashi123 commented on #1335
Ya sure. I will follow all the steps.

[2020-04-14 00:49] #1329 closed

[2020-04-14 00:49] vegetabill commented on #1329
@cadence09  this has been added. if you further suggestions, please open more issues! 😄

[2020-04-14 00:55] #1155 closed

[2020-04-14 00:55] vegetabill commented on #1155
Thanks @pa7ri

[2020-04-14 01:04] alodahl commented on #1269
Assigning to meghanagottapu

[2020-04-14 01:04] #1228 closed

[2020-04-14 01:05] vegetabill commented on #1228
Thanks @Adyasha8105

[2020-04-14 04:04] annu12340 commented on #1336
I would like to work on this issue

[2020-04-14 04:07] annu12340 commented on #1337
I would like to work on this issue. Could you assign it to me?

[2020-04-14 04:38] annu12340 commented on #1336
Could you please elaborate on what is meant by " Using 3p components like reactstrap ". I didn't get it

[2020-04-14 17:28] Satyam3976 commented on #1064
https://github.com/Techtonica/curriculum/issues/1064#issuecomment-610486566

Sir,this link doesn't exist now and i am unable to find security.md file

[2020-04-14 17:31] Kundan28 commented on #1064
@Satyam3976 I have already share the new link in the comment above, have a look at that.

[2020-04-15 17:03] vegetabill opened #1343 "Add lesson on HTML forms"
Use our [v2 lesson template](https://github.com/Techtonica/curriculum/blob/master/_templates/lesson-v2.md)

# Prereqs
- [HTML lesson]()

## Concepts to Cover
- Common form elements
  - text
  - select
  - checkbox
  - date
- validation attributes
- Submit and action (for non-ajax forms)

## Guided Practice
Build a simple form with a few of the validations

## Independent practice
Learn about what

[2020-04-15 17:38] shreyakapoor08 commented on #1343
can I work on it?

[2020-04-15 17:38] Kundan28 commented on #1336
@vegetabill

[2020-04-15 17:39] Kundan28 commented on #1337
You could now start working, I've assigned you to this issue.

[2020-04-15 23:25] vegetabill commented on #1339
@alodahl Can I have some more ctx on the feedback/motivation for this? The lesson seems fine to me and accurate (without going through the whole thing, anyway). This is a case where a participant would need to open a very specific improvement idea if some part wasn't working.

[2020-04-15 23:30] vegetabill commented on #1320
@alodahl I'm not sure what is best to do with this. I wouldn't really know what to include so it feels too open-ended for gssoc. I feel like this may be material that is learned over time with experience, like OOP. Everyone learns require but knowing when and how to split functionality is not only challenging but it has very little consensus other than broad approaches like MVC. Thinking back to t

[2020-04-16 19:31] Kundan28 commented on #1343
Yeah, I have assigned you to this issue. Now you could start working.

[2020-04-16 21:12] ashishnagpal2498 commented on #1336
I think what he mean to say is using 3rd party Components like Reactstrap which include inbuilt CSS in their component.

[2020-04-16 21:14] ashishnagpal2498 commented on #1297
Can I work on this issue ?

[2020-04-16 22:48] Kundan28 commented on #1336
Yeah, I to think so...

[2020-04-17 09:26] Kundan28 commented on #1336
@annu12340 Do you want to work on this issue ?

[2020-04-17 09:31] Kundan28 commented on #1297
Please wait for the #1333 to get merge, after that you will be assigned to other tasks.

[2020-04-17 09:39] annu12340 commented on #1336
Yes

[2020-04-17 09:42] Kundan28 commented on #1336
@annu12340 Please go through https://bit.ly/2wQxqLy and after you have filled the forms mentioned inside you could start working on this issue.

[2020-04-17 09:45] annu12340 commented on #1336
I have already done that part :)

[2020-04-17 09:47] Kundan28 commented on #1336
Okay, then you could start working on the issue.

[2020-04-17 09:58] pa7ri commented on #1297
hi @Kundan28, can I work on this issue?

[2020-04-17 10:03] pa7ri commented on #1217
hi @Kundan28, can I work in this issue?

[2020-04-17 10:04] ashishnagpal2498 commented on #1297
Okay , but I have given the PR for the issue #1333 .

[2020-04-17 10:12] pa7ri commented on #912
hi :) if still available, I would like to work on it

[2020-04-17 13:42] Tahanima commented on #1329
@Kundan28 can you please check whether the score has been updated in the score sheet for this issue?

[2020-04-18 06:04] Kundan28 commented on #1329
I apologies, I've updated it now.

[2020-04-18 06:06] Kundan28 commented on #1297
Sorry to say but you have to wait for it to get merged.

[2020-04-18 06:07] Kundan28 commented on #1217
Yes, you can now start working on this issue.

[2020-04-18 21:32] alodahl commented on #1187
Hi @imrishabh18 are you working on this? We haven't heard from you in a month.

[2020-04-18 21:34] imrishabh18 commented on #1187
Nope, i am not.

[2020-04-18 21:34] alodahl commented on #918
@Kundan28 We're not sure yet.

@vegetabill is this lesson going to be deprecated by new backend lessons?

[2020-04-19 21:33] alodahl commented on #912
Assigning to @karenjoycelowe just until I get validation that techtonicaorg@gmail.com owns the slideshow.  Then lets make a ticket to add the link to the Roadmap and outline: https://docs.google.com/presentation/d/1vcrBfmQK4QCYd1-MAxe5eYPY2EQiD4VBpAsotwk0NV8/edit?usp=sharing

@vegetabill , can you tell if we own this?

[2020-04-20 05:36] Kuljeet-123 commented on #1187
@Kundan28 Can I work on this issue??

[2020-04-20 09:00] Kundan28 commented on #1187
You could nort working on this issue. I've assigned you to this issue.
Please have a look at this https://bit.ly/2wQxqLy and fill out the required forms before starting.

[2020-04-20 16:26] Kuljeet-123 commented on #1187
@Kundan28 @alodahl Do I have to write how to create node http server exercise without express or just how to do that exercise ??  Can you please tell me.

[2020-04-20 16:36] Kundan28 commented on #1187
@vegetabill

[2020-04-20 16:42] #1341 closed

[2020-04-21 00:58] #882 closed

[2020-04-21 03:21] darkmatter18 commented on #1337
@vegetabill @Kundan28 If noone is working on it, please assign me

[2020-04-21 06:33] Kuljeet-123 commented on #1187
@vegetabill  Can you please??

[2020-04-21 12:41] Kundan28 commented on #1337
As you can see above @HarshCasper is assigned to this issue.

[2020-04-23 04:51] #1157 closed

[2020-04-23 15:59] alodahl commented on #1256
@vegetabill ?

[2020-04-23 16:01] alodahl commented on #1256
@vegetabill Question 2:  Is intro to backend an elective now because it's being replaced?  Just making sure backend isn't an elective in general 😛

[2020-04-24 12:17] thisLinda commented on #1281
I would like to work on this issue (or any easy/beginner labeled issue).

[2020-04-25 19:45] alodahl commented on #1296
Opinions:

I think we can limit use of jQuery, but I don't think it's throwaway.  It's legacy, but a lot of companies still use it, and I think it's a good way to introduce methods and use of JS in the dom.  I can also be convinced to just teach vanilla JS for this purpose, though. But by the logic of the first comment, we could just teach them React instead of HTML too.

I also think some of this

[2020-04-27 18:41] #1113 closed

[2020-04-27 19:12] #1295 closed

[2020-04-27 19:12] vegetabill commented on #1295
Thanks @datadaveshin !

[2020-04-28 00:07] alodahl commented on #1296
Notes from 04/27 Bill:Alina 1-on-1:

- between part 4 and part 5, either there is not enough direction on how to build servers, or the instructions are too vague in Part 5. Let's look over those parts and decide what to change.
- Cut outlines into smaller parts. Maybe two assessments/checkins per week once you get to Parts 4, 5, 6
- Remove extra methods in early eventonica js challenge - we don't

[2020-04-28 01:05] alodahl commented on #1256
4/27/2020 Meeting notes:
- Keep Datetime
- SEO could be later once they first deploy to netlify, with a Google Site analyzer exercise.
- Agile lessons need to be way more practical and less theoetical. Make sure it includes MVP and prioritizing techniques.
- Deployment: maybe it needs to be updated or double-checked?

[2020-04-28 01:11] alodahl opened #1349 "Move SEO in Roadmap, create issue about analyzing exercise on netlify project"
SEO could be later once they first deploy to netlify, with a Google Site analyzer exercise.

Create issue to update SEO outline if necessary.

[2020-04-28 01:14] alodahl opened #1350 "Review Agile Lessons"
Agile/ lessons need to be way more practical and less theoretical. Make sure they include MVP and prioritizing techniques.

Write any issues necessary to update the outlines.

[2020-04-28 01:24] alodahl opened #1351 "Proofread, clarify, and update Deploying with Heroku outline"
Proofread, clarify, and update Deploying with Heroku outline:
https://github.com/Techtonica/curriculum/blob/master/deploying/deploying.md

Please make sure:
- [ ] The language is as clear as possible for someone who is deploying a site to heroku for the first time, and deploying a full-stack app for the first time ever.
- [ ] Make sure all Heroku directions and resources are not out-of-date -- rep

[2020-04-28 15:38] HarshCasper commented on #1337
@vegetabill @Kundan28 Due to some commitments on other issues, I am not able to resolve this issue. Kindly unassign me with this issue.

[2020-04-28 17:40] Kundan28 commented on #1337
Sure

[2020-04-28 17:56] Kundan28 commented on #1343
@shreyakapoor08 You only have 2 days left, if we don't get reply within this period then someone else would be assigned to this issue.

[2020-04-28 18:08] Kundan28 commented on #1332
@abhu-A-J If I don't get any response from your side within 24 hours then I will unassign you from this issue.

[2020-04-28 18:11] Kundan28 commented on #1281
@rukaiya2000 Are you still working on this issue, please reply or someone else would be assigned to this issue.

[2020-04-28 18:11] abhu-A-J commented on #1332
Sir, you may assign to someone else. It's a very tedious task and due to my exams I won't be able to give time to it

[2020-04-28 18:12] Kundan28 commented on #1287
@alodahl

[2020-04-28 18:13] shreyakapoor08 commented on #1343
@Kundan28 Sure, I will update you by tomorrow night

[2020-04-28 18:14] Kundan28 commented on #1332
Okay, no problem.
Keep coding and I'm pretty sure you would be the top performer of GSSoC20. As your current score is 575, and I think no one is near you.

[2020-04-28 18:14] Kundan28 commented on #1343
Thanks!

[2020-04-28 18:20] Kundan28 commented on #1204
@Tawishi Are you still working on this issue ?
And I don't see any Pull Request started by your for this issue.

[2020-04-28 18:21] Kundan28 commented on #1202
@meghaa105 Are you still working on this, please reply as soon as possible. Otherwise someone else would be assigned to this issue.

[2020-04-28 18:22] Kundan28 commented on #1064
@Satyam3976 Are you still working on it. Please reply otherwise someone else would be assigned to this issue.

[2020-04-29 04:29] Tawishi commented on #1204
No @Kundan28 .😔

[2020-04-29 04:34] Kundan28 commented on #1204
So you want to continue working on this ? Or you want someone else to be assigned to this ?

[2020-04-29 05:01] kichloo commented on #1351
I want to work on this issue!

[2020-04-29 05:54] meghaa105 commented on #1202
Yes I am working on it, will update you in a day or two.

On Tue, Apr 28, 2020 at 11:51 PM Kundan <notifications@github.com> wrote:

[2020-04-29 08:47] Tawishi commented on #1204
You may assign it to someone else.

[2020-04-29 10:05] Satyam3976 commented on #1064
I am submitting the PR within an hour.

[2020-04-29 10:06] Satyam3976 commented on #1064
I'll submit the PR within an hour

[2020-04-29 11:20] Kundan28 commented on #1351
@kichloo Now you could start working on this issue.

[2020-04-29 11:23] Kundan28 commented on #1064
Sure

[2020-04-29 11:24] Kundan28 commented on #1202
Sure.

[2020-04-29 12:31] Rukmini-Meda commented on #1343
I would like to work on this issue. Please assign as part of GSSOC'20.

[2020-04-29 16:26] Kundan28 commented on #1343
@shreyakapoor08 is already assigned to this issue, so kindly have a look at the issue which is not assigned to anyone.

[2020-04-29 17:11] rukaiya2000 commented on #1281
Please assign this to someone else.

[2020-04-29 17:13] Kundan28 commented on #1281
Sure.

[2020-04-29 17:13] Kundan28 commented on #1281
@thisLinda Do you want to work on this issue ?

[2020-04-29 19:18] shreyakapoor08 commented on #1343
@Kundan28 @vegetabill Do I have to add the lesson in the slide and give the link to it in the md file like it is done in html.md or do the explanation part in the md file only ?

[2020-04-29 20:01] thisLinda commented on #1281
Yes I do!

On Wed, Apr 29, 2020, 13:14 Kundan <notifications@github.com> wrote:

[2020-04-30 04:09] Kundan28 commented on #1281
Hi @thisLinda , I have added you. Be sure to follow this contributing guide if this is your first Techtonica issue. https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md

[2020-04-30 04:14] Kundan28 commented on #1343
Nothing is mentioned about the slides above by @vegetabill , so for now do the explanation part in the md file itself until we get any reply from @alodahl or @vegetabill .
@alodahl Could you please guide us on this if we need to create slides or not ?

[2020-04-30 16:06] anirudh-kac commented on #1351
I'd like to work on this

[2020-04-30 22:17] vegetabill commented on #1350
Thanks for creating this @alodahl

[2020-04-30 22:18] vegetabill commented on #1297
wont-fix

[2020-04-30 22:18] #1297 closed

[2020-04-30 22:20] vegetabill commented on #1296
_Archived feedback notes from Eventonica experience_

## Issues / Feedback with Existing Project (Eventonica)
- Learning jQuery (Part 3) was mainly throwaway since we ultimately want to learn React
- Part 5 was a massive jump in complexity that needed a lot more hand-holding and background in distributed app architecture
- Testing is not really feasible whilst learning something so Part 2 was not

[2020-04-30 22:34] vegetabill commented on #1343
Please create the md file as requested. The slides are not part of this issue.

@Kundan28 this issue was assigned 14 days ago. I think it should go to someone else as others have expressed interest while it sits idle. Please reassign it.

[2020-04-30 22:41] shreyakapoor08 commented on #1343
I am in the middle of doing it. Will complete it by tomorrow. Sorry for the delay.
I have raised the PR till where i have done

[2020-05-01 03:38] Kundan28 commented on #1351
@anirudh-kac Someone else is already assigned to this issue. Please have a look at other one.

[2020-05-01 03:41] Kundan28 commented on #1343
She is working on this, so do I've assign someone else ?

[2020-05-01 18:59] FrozenGirl-spd commented on #1332
@Kundan28  Can i work on this?

[2020-05-01 22:55] thisLinda commented on #1281
Completed 1281.

Researching this issue I found no links that lead to a 404 error. I checked the page that apparently had the error and all links are active. https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md#step-1-gssoc-participants

New issue.
There is an error on this page with the last hyperlink ('template docs in this folder'). When clicked it leads to the current page. htt

[2020-05-02 02:20] Kundan28 commented on #1332
Sorry but your PR is not yet merged. If I get any message from Project Admin I'll assign you.

[2020-05-02 02:21] Kundan28 commented on #1281
@vegetabill

[2020-05-04 07:34] cadence09 opened #1354 "Advice for mobile development / react native topic outline"
I suggest to add a small sub-session for Firebase to this mobile development / react native topic outline, https://github.com/Techtonica/curriculum/blob/master/mobile-development/mobile-development.md. If an apprentice chooses to use Expo or React Native to build an app, Firebase would be a good option to use. It has built-in Oauth. It's very easy to use and to config with Expo. However, it would

[2020-05-07 00:31] #1203 closed

[2020-05-07 14:55] Castella1313 opened #1355 "Fixing HTML validator errors in index.html"
Aims to fix HTML validator issues shown in w3c html validator.
screenshot:
![Screenshot 2020-05-07 at 8 23 09 PM](https://user-images.githubusercontent.com/53293156/81309690-d91dd700-90a0-11ea-991e-4a42745079d5.png)

[2020-05-07 14:56] Castella1313 commented on #1355
Is this a valid issue?

[2020-05-07 16:22] vegetabill commented on #1355
@Castella1313 I don't really understand the above screenshot. Is this file in our repo?

If you're talking about our website, Techtonica.org, it has a separate repo and is not part of GSSOC. Feel free to open the issue in its repo if you want: https://github.com/Techtonica/techtonica.org

[2020-05-07 16:26] Castella1313 commented on #1355
@vegetabill I am just trying to verify the HTML code of index.html in w3c validator.
https://validator.w3.org

[2020-05-07 16:26] #1355 closed

[2020-05-07 20:30] vegetabill commented on #1354
Firebase is a useful tool, @cadence09 but as it has its own docs I don't think Techtonica can really add much there. NoSQL options like Mongo were specifically de-emphasized because SQL is a must to know for interviews and future use. If you personally wanted to create a PR to add a list of resources you've found helpful, we could add that, but I'm not going to keep an issue for that as it's not a

[2020-05-07 20:30] #1354 closed

[2020-05-07 23:51] Deeksha2501 commented on #1281
Is this issue still open?
I would like to work on it.

[2020-05-08 04:28] Kundan28 commented on #1281
@thisLinda is already assigned to this issue.

[2020-05-08 12:00] thisLinda commented on #1281
Kundan I emailed about the issue. There is no longer any issue with respect
to the 404--it seems to have been fixed--but I did find another. I didn't
do a pull request because there is no change to be made.

On Fri, May 8, 2020 at 12:29 AM Kundan <notifications@github.com> wrote:

[2020-05-08 14:03] Tawishi commented on #1281
@Kundan28 this is because I fixed the issue already. https://github.com/Tawishi/curriculum/commit/fbe2566c32890516a08b2b3615d526ca148c2cf8

[2020-05-09 09:27] Kundan28 commented on #1281
But you were not assigned to this issue and you have to create a PR for that instead of directly making the changes in master.

[2020-05-09 14:28] Tawishi commented on #1281
I did it cause of this comment and sorry, I forgot to create a PR.😔

[2020-05-09 16:18] MichelleGlauser opened #1357 "Create a venture capitalism topic outline in the roles in tech folder"
- [ ] Start with this template:https://github.com/Techtonica/curriculum/blob/master/_templates/topic-outline.md
- [ ] Create a new file in the roles-in-tech folder
- [ ] Use the other files in that folder for references.  The goal is not to learn venture capitalism, but to learn the basics of what it is, what steps one should take to begin a career, and where they can learn more. It take be 30-45

[2020-05-10 05:31] Kundan28 commented on #1281
I could understand but without PR you would not get the points for this.

[2020-05-10 17:25] alodahl commented on #961
@vegetabill could we change the ACs to completing these tasks? I don't want the issue to be automatically closed just because it has been neglected.

[2020-05-10 17:55] alodahl opened #1358 "Follow a Heroku tutorial yourself and note problems you encounter"
Task:  follow a Heroku tutorial yourself, actually follow the directions, open all the links, and write down any problems you encounter.

Work through this tutorial about deploying with Heroku: https://github.com/Techtonica/curriculum/blob/master/deploying/deploying-to-heroku.md

We need to find out what the problems are with it, and whether any of the directions or materials are outdated.  Whatev

[2020-05-10 18:05] #1290 closed

[2020-05-10 22:05] #1251 closed

[2020-05-11 19:25] Tahanima commented on #1358
Hello @alodahl
I am a GSSoC 20 participant and I would like to work on this issue.

[2020-05-12 05:26] Codess08 commented on #1358
Can I work on this issue?

[2020-05-12 15:54] alodahl commented on #1358
@Tahanima make sure to follow these directions and then you can start:https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md

[2020-05-13 19:37] vegetabill commented on #912
@alodahl I couldn't tell as I don't have access to that account and the Google UI didn't seem to indicate owner anywhere. You can always make a copy yourself if you want to be sure it's the right owner.

[2020-05-15 01:36] #1308 closed

[2020-05-15 01:44] alodahl opened #1359 "Revise React Part 2 lesson"
This issue requires basic markdown and React knowledge.

https://github.com/techtonica/curriculum/blob/master/react-js/react-part-2.md

- [x] on line 81, fix the example from using this.state to this.setState.
- [ ] Correct any grammar mistakes
- [x] Correct any md mistakes
- [x] Correct any code mistakes

[2020-05-15 04:49] nandanasreeraj123 commented on #1359
Can i do it?

[2020-05-15 07:10] Rukmini-Meda commented on #1269
I would like to work on this issue. Please assign this to me as part of GSSOC'20.

[2020-05-15 09:25] Kundan28 commented on #1269
@Rukmini-Meda If this is your first contribution then please go through[ this ](https://bit.ly/2wQxqLy) and fill out the form. And after that you could start contributing to this issue. You could have a look at #1315 for reference and ping us you get stuck anywhere.

[2020-05-15 09:30] Kundan28 commented on #1359
@nandanasreeraj123  If this is your first contribution then please go through [this](https://bit.ly/2wQxqLy) and fill out the form. And after that you could start contributing to this issue.

[2020-05-15 15:14] Rukmini-Meda commented on #1269
@Kundan28 This is not my first contribution. But this is the first issue I have taken up in this project. Do I have to fill that form in that case too?

[2020-05-15 16:29] Kundan28 commented on #1269
Yes you have to fill that form. As I was asking about the contribution to this project.

[2020-05-15 20:15] shubkaushik commented on #1332
@Kundan28 , is this still an open issue ? if yes can i try it ?

[2020-05-15 20:27] #1293 closed

[2020-05-16 01:45] Kundan28 commented on #1332
@shubkaushik  If this is your first contribution to this project then please go through [this ](https://bit.ly/2wQxqLy) and fill out the form. And after that you could start contributing to this issue.

[2020-05-16 21:22] alodahl commented on #1221
I am making this issue available again to whoever asks first.  @annu12340  are you  still interested?

[2020-05-16 21:47] #1217 closed

[2020-05-16 21:53] alodahl opened #1361 "Fix JS testing using mocks lesson"
Fix the problems below, in the lesson: https://github.com/techtonica/curriculum/blob/main/testing-and-tdd/mocking-and-abstraction.md

## Problems found in the tutorial:

1. Materials:
Example video (10 min) -> This link goes to www.google.com. Its not an actual link to video

2. Other example article(20 min read) -> This article link goes to www.google.com. It does not go to an actual link.

3. **

[2020-05-16 23:00] alodahl opened #1362 "Restyle "Building Confidence" slideshow using proper format"
https://docs.google.com/presentation/d/1EauFdEp4UJcBK50ioj-giPwFeWf2FHc7i_rn0XGf5f8/edit?usp=sharing

- [ ] format the above slideshow to the [2020 Slides Template](https://docs.google.com/presentation/d/1uFlV8eVrPtwjb4wPoUCd7Fk3PNqf1Eoo9mZ-_7D3_GQ/edit#slide=id.p) standards.  Make a copy to your own drive to have access to the styles.
- [ ] Please also make sure it follows the style rules describ

[2020-05-16 23:06] alodahl commented on #1187
@Kuljeet-123 sorry I missed this.

Create a new markdown file showing apprentices how to create node http server, but don't use express in the lesson.

[2020-05-16 23:24] alodahl commented on #1287
@habeeba-naaz yes, sorry I missed this for so long.  Having steps to build a basic PERN stack app example with screen shots sounds perfect.  For the screenshots, can add them and the directions to a new slideshow from a copy of this template?: https://docs.google.com/presentation/d/1uFlV8eVrPtwjb4wPoUCd7Fk3PNqf1Eoo9mZ-_7D3_GQ/edit#slide=id.p

Please let me know yes or no if you are still willing t