[2020-05-16 23:37] alodahl commented on #1320
@vegetabill  I've added some clarity to the description, and am making it available for gssoc just in case someone can do it.

[2020-05-16 23:46] habeeba-naaz commented on #1287
Sorry...please unassign me...got some other work to do...please assign this to anyone interested

[2020-05-16 23:46] alodahl commented on #1339
@vegetabill sorry for the delay.  I added this issue because Michelle asked me to, but I have no more context than you.  For that reason I made an issue to review it and see what we can do.

[2020-05-16 23:49] #1339 closed

[2020-05-17 00:00] alodahl commented on #1202
Hi @meghaa105 , feel free to continue working on this issue, but as it was assigned to you 6 weeks ago and there's no PR yet, I will make this available for someone else to try.  I will merge whoever's PR is ready first.

[2020-05-17 00:06] alodahl commented on #1281
@Tawishi it looks like you committed to your own forked repo.  You still need to make a PR for this repo.

[2020-05-17 01:37] #1309 closed

[2020-05-17 01:44] #1359 closed

[2020-05-17 01:46] #912 closed

[2020-05-17 01:56] Kundan28 opened #1363 "Fix links in Deploying with Heroku outline"
Fix links in Deploying with Heroku outline
https://github.com/Techtonica/curriculum/blob/master/deploying/deploying.md

Tasks:

- [x] Change `deploying.md` file name to `deploying-to-heroku.md`
- [x] Remove one video link with the label `Why use Node.js?` from Supplemental Materials in `node-js.md` file.
- [x] Add `A free Heroku account` under prerequisites in `deploying.md` file and it should red

[2020-05-17 15:31] Tawishi commented on #1281
I am just figuring out how to squash the commits and remove the unnecessary ones.

[2020-05-17 21:22] #1343 closed

[2020-05-17 21:39] alodahl opened #1364 "Find suitable HTML form resources for beginners"
**Task**:  Find suitable HTML form resources for beginners.

Add a link to each independent practice topic in [this file](https://github.com/Techtonica/curriculum/blob/master/web/html-forms.md) that clearly explains it for beginners.

The result should look like this:

Independent Practice
Spend 15 minutes answering these questions alone or with a partner.  Use the links provided for more info.

W

[2020-05-17 21:43] alodahl commented on #1281
Alright.  We'll be in the lookout for a PR soon.

[2020-05-18 13:05] thisLinda commented on #1281
Following up on my messages of May 1 and May 8 (above), I did identify another issue which is defined in the first message.

I continue to be available to work on any easy/beginner issue if a gssoc20 participant is not able.

[2020-05-18 15:08] Tahanima commented on #1358
@alodahl I got extremely busy and could not find time to work on this issue. Please unassign me. I apologize for any inconvenience caused.

[2020-05-18 20:30] supu2701 commented on #1363
@alodahl @Kundan28
May I work on this issue please

[2020-05-19 02:51] alodahl commented on #1363
Sure @supu2701 !  Be sure to follow these directions before you start if this is your first Techtonica issue: https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md

[2020-05-19 02:58] alodahl commented on #1281
@thisLinda  can you elaborate on the existing issue?  I thought you meant it didn't need to be fixed.

[2020-05-19 05:53] supu2701 commented on #1363
@alodahl @Kundan28
There are two video links with label "Why use Node.js?" in node-js.md file: https://github.com/Techtonica/curriculum/blob/master/node-js/node-js.md
which one should I remove.
![node js](https://user-images.githubusercontent.com/58454886/82289756-19475880-99c3-11ea-934e-1e9f3da5c883.JPG)

[2020-05-19 08:16] imanishbarnwal commented on #1364
Hello, @alodahl I want to work on this issue but can you please explain more about this like where to add the link and which link? Thank You!

[2020-05-19 10:39] supu2701 commented on #1363
@Kundan28 @alodahl
Please help me out regarding which video link should I remove

[2020-05-19 12:39] Kundan28 commented on #1363
It's all up to you. You have to figure out which one is more useful.

[2020-05-19 13:21] thisLinda commented on #1281
Issue #1281 had been fixed without a pull request as previously discussed.

I checked all the links on the page and discovered a different issue [https://github.com/Techtonica/curriculum/tree/master/_templates](url). When you click on the very last link (a hyperlink: 'template docs in this folder') on the page it leads to the page it is already on rather than a different page.

Use the template do

[2020-05-19 15:17] supu2701 commented on #1363
@alodahl @Kundan28
Please review the pull request and merge it if found suitable.

[2020-05-20 03:21] HeroicHitesh commented on #1362
@alodahl I am interested in this task, please assign this issue to me.

[2020-05-20 04:30] alodahl commented on #1364
The task is to find links suitable for beginners to learn the topic.  The section is at the bottom of this outline: https://github.com/Techtonica/curriculum/blob/master/web/html-forms.md

[2020-05-20 04:33] alodahl commented on #1362
Thanks @HeroicHitesh !   If this is your first Techtonica contribution, be sure to follow these directions and then you can start: https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md

[2020-05-20 04:50] alodahl commented on #1281
Thanks @thisLinda , but that is actually the intended functionality of readmes - to  be presented while you look at a parent folder. If you actually go to the [Readme](https://github.com/Techtonica/curriculum/blob/master/_templates/README.md) and click on that link, it should take you back to the _templates folder.

[2020-05-20 04:52] alodahl commented on #1358
@Codess08 are you still interested?

[2020-05-20 05:01] alodahl commented on #1216
I don't know if I agree with this bot. As this isn't a typical industry backlog, neglected doesn't equal worthless.  If we don't need it anymore, we should close it intentionally.

[2020-05-20 05:06] alodahl commented on #1306
@Adyasha8105 would you still like to work on this issue?

[2020-05-20 05:09] alodahl commented on #1153
Hi @reetika-gupta any word on this issue? Do you have any questions?

[2020-05-20 05:16] imanishbarnwal commented on #1364
Okay, so I need to add some good resources in Supplemental materials for beginners to practice or sharp their learnings right.

[2020-05-20 05:17] alodahl commented on #1364
No, we need a resource within Independent Practice to address each of these:
What happens when an HTML form is submitted?
and
Are there echo/debug servers that can print out what is submitted to the server?:

[2020-05-20 05:21] imanishbarnwal commented on #1364
Ohh got it. So there I have to put some good resources available on the internet right.

[2020-05-20 05:23] alodahl commented on #1364
Yes thank you!  Just one or two valuable ones.

[2020-05-20 05:35] alodahl opened #1366 "find and list any instances of jQuery code or documentation in the project"
Context:  We are considering teaching vanilla JS instead of jQuery to beginners.

Task:  find and list any instances of jQuery code or documentation in the project with line and file path. If it is the entire file or most of it, don't bother with the lines =)

To receive GSSoC points, make a PR with any single typo or formatting fix and link the issue.  Once we believe the jQuery issue has been re

[2020-05-20 05:36] HeroicHitesh commented on #1362
Thanks, @alodahl for assigning the task. Yes, it's my first Techtonica contribution, I have filled the forms and read the guidelines. I am going to start working now.

[2020-05-20 05:43] alodahl opened #1367 "Create a vanilla JS lesson modeled after our jQuery one"
Task: Create a JavaScript - HTML DOM Methods lesson modeled after our jQuery one.

Do not change the jQuery file; rather:
-  create a new file in web/ called js-dom-methods.md,
- copy the contents of this [intro to jQuery](https://github.com/Techtonica/curriculum/blob/master/web/jquery.md) outline,
- and then replace the content with JS DOM methods info instead.
- Of course, if there are basics yo

[2020-05-20 05:52] imanishbarnwal commented on #1364
@alodahl I just added few useful resources kindly check them and let me know if it's fine. Thank You!!

[2020-05-20 06:07] HeroicHitesh commented on #1362
@alodahl made the changes as per #600 and [2020 Slides Template](https://docs.google.com/presentation/d/1uFlV8eVrPtwjb4wPoUCd7Fk3PNqf1Eoo9mZ-_7D3_GQ/edit#slide=id.p). Can you check once this [copy](https://docs.google.com/presentation/d/1iiSXs_I2H5m6bhXfeJyZi5sJCyXGZyd1PVqJdKzJBPk/edit?usp=sharing) so that I can transfer the ownership and open a PR? Or should I open a PR directly and we can have a

[2020-05-20 07:34] kichloo commented on #1357
Having done the "Workspace" topic, I can do this one!

[2020-05-20 11:03] Mighty-Geek commented on #1367
I would like to work on this issue.

[2020-05-20 15:03] alodahl commented on #1367
Thanks @Mighty-Geek ! If this is your first Techtonica contribution, be sure to follow these directions and then you can start: https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md

[2020-05-20 16:12] alodahl commented on #1256
changing this to medium, since we changed the ACs midstream.

[2020-05-21 02:36] HeroicHitesh commented on #1362
@alodahl Found the file to edit. Created PR. Check and merge if found suitable else explain corrections to be made.

[2020-05-21 02:51] Kundan28 commented on #1256
I've made changes in scoresheet accordingly.

[2020-05-21 20:11] #1363 closed

[2020-05-22 02:02] #1362 closed

[2020-05-22 02:26] HeroicHitesh commented on #1306
@alodahl Assign this to me if it's still up-for-grab.

[2020-05-22 02:57] HeroicHitesh commented on #1366
@alodahl I am working on it will send a PR soon.

[2020-05-22 05:50] Kundan28 commented on #1366
@HeroicHitesh I am glad to see your work. But you have to wait for the mentors or admin to assign you to a particular issue and then you have to start working on that issue. So I think you would keep track of it from next time.

[2020-05-22 06:30] Codess08 commented on #1358
I'm afraid but this link gives "Page not found".
https://github.com/Techtonica/curriculum/blob/master/deploying/deploying.md

[2020-05-22 06:57] HeroicHitesh commented on #1366
Actually I am in a hurry to get as many points as I can so, wasn't able to control myself😅 since, I am late in starting this GSSoC's contribution and have limited time remaining.

I will keep this in mind.😁

[2020-05-23 00:55] #1367 closed

[2020-05-23 00:55] vegetabill commented on #1367
@Mighty-Geek thanks for the contribution!

[2020-05-23 03:48] Kundan28 commented on #1366
I like you dedication to score more points. Best of luck for the contribution, you are 1099 behind from the top contributor.

[2020-05-23 07:25] HeroicHitesh commented on #1366
Where can I see my score of contributions to all the GSSoC projects in which I am contributing?

[2020-05-23 12:37] Kundan28 commented on #1366
Currently you have to search manually at https://www.gssoc.tech/profile.html by entering username of individuals.

[2020-05-23 16:25] #1366 closed

[2020-05-23 16:26] alodahl commented on #1296
jQuery instances are listed here: https://github.com/Techtonica/curriculum/pull/1371

[2020-05-23 18:22] HeroicHitesh commented on #1306
@alodahl please provide edit access of slides also. I have requested it 2 days ago. And sent a request now again.

[2020-05-23 20:44] alodahl commented on #1306
Can you send me your gmail address in Slack?  I don't seem to be receiving those requests through google.

[2020-05-24 15:52] #1351 closed

[2020-05-24 16:02] alodahl commented on #1358
Check the deploying folder - we may have just changed the name to deploying-to-heroku or something similar.

[2020-05-24 16:33] alodahl commented on #1064
hi @Satyam3976, as it has been over 6 weeks since you picked up this issue, I will make this issue available to others who would like to try solving this. I will leave your PR open, but whoever solves this PR first will get theirs merged.

[2020-05-24 16:36] alodahl commented on #1332
Hi @shubkaushik, will you be able to make a PR for this in the next few days so we have time to review?

[2020-05-24 16:38] alodahl commented on #1269
Hi @Rukmini-Meda, will you be able to make a PR for this in the next few days so we have time to review?

[2020-05-24 16:39] alodahl commented on #1281
Hi @Tawishi do you need any help?

[2020-05-25 05:45] Rukmini-Meda commented on #1269
@alodahl I will make a PR by today. I have a question. Is there any problem if I dont fill the release form since I dont want to give the permission of posting my pictures and other stuff.

[2020-05-25 10:46] shubkaushik commented on #1332
Sure, @alodahl, working on this, will complete it earliest

[2020-05-25 10:47] Kundan28 commented on #1332
Do remember that we only have 6 days left in GSSoC20

[2020-05-25 21:01] alodahl commented on #1269
All we know about you is your public GitHub profile at the moment, so the most we might do is share a list of contributors. Is that ok with you?  I think pictures generally apply to pictures we take at in-person events. But if you still disagree with signing it, I ask what I should do in those cases.  Go ahead and make your PR though; and thanks for your help!

[2020-05-26 04:21] Rukmini-Meda commented on #1269
My contribution will be counted for GSSoC'20 right, even if I dont sign the release form.

[2020-05-26 12:35] Kundan28 commented on #1269
Yeah, it will be counted.

[2020-05-26 15:46] alodahl commented on #1269
Hi @Rukmini-Meda, my director says please fill out the form, and we promise to remove your permissions so that you're not agreeing to the media release.  If there's anywhere in the form where you can be clear about that, write that as a note, too.  We just really need to keep track of how many people are volunteering; sorry that you can't progress through the form without checking that box.

[2020-05-26 15:50] alodahl commented on #1301
FWIW I disagree about hooks being an elective... I think class components are something they should be able to recognize, but hooks are so much easier, and companies are moving to using them now. I bet they could learn it immediately after class/constructor stuff so they can be compared.

[2020-05-26 18:02] urbashi123 commented on #1320
Can I work on this issue? @alodahl

[2020-05-26 19:35] #1335 closed

[2020-05-27 10:02] urbashi123 commented on #1320
I have to make a lesson on JS? @alodahl

[2020-05-27 15:47] alodahl commented on #1320
@urbashi123 yes, a very short one that's just about how react and js projects are commonly structured, so that apprentices are not surprised when they see a new codebase.

[2020-05-27 15:58] #1364 closed

[2020-05-29 01:11] #1256 closed

[2020-05-30 02:17] #1281 closed

[2020-05-31 02:00] alodahl commented on #1357
Hi @kichloo, submit your PR as soon as possible so we can review it and still have time for changes before the deadline.

[2020-05-31 02:01] alodahl commented on #1153
If we don't hear from you in a few days, we will assume you are no longer working on this issue. Please let us know.

[2020-05-31 02:04] alodahl commented on #1269
Hi @Rukmini-Meda, submit your PR as soon as possible so we can review it and still have time for changes before the deadline.

[2020-05-31 02:05] alodahl commented on #1332
Hi @shubkaushik, submit your PR as soon as possible so we can review it and still have time for changes before the deadline.

[2020-05-31 02:07] alodahl commented on #1358
https://github.com/Techtonica/curriculum/blob/master/deploying/deploying-to-heroku.md

[2020-05-31 02:08] alodahl commented on #1358
Hi @Codess08, submit your review and your placeholder PR as soon as possible so we can review it and still have time for changes before the deadline.

[2020-05-31 06:40] Rukmini-Meda commented on #1269
@alodahl Yes, I am working on it. I will make a PR by noon.

[2020-05-31 13:21] Kundan28 commented on #1332
@shubkaushik Last 5 hours are left.

[2020-05-31 13:22] Kundan28 commented on #1269
@Rukmini-Meda Last 5 hours are left in GSSoC20.

[2020-05-31 13:23] Rukmini-Meda commented on #1269
@Kundan28 I am sorry for being this late. I will make a PR right away.

[2020-05-31 13:26] Kundan28 commented on #1269
Sure

[2020-05-31 20:28] #1269 closed

[2020-05-31 20:30] #1320 closed

[2020-05-31 20:49] alodahl opened #1375 "complete partial modularity in JS and React lesson"
Someone got a start on fixing #1320, but it should be one outline, not two, and should simply be about modularizing code, and how a project can be structured differently. It should also be very short and exploratory.

There will likely be be additional content needed, but move anything useful from these two files into a new file with a proper lower-kebab-case name, and then delete these:
/javascri

[2020-06-05 23:57] vegetabill commented on #1357
@MichelleGlauser what was the motivation driving inclusion of this topic? At first glance, this seems fairly distant from the core and I'd love volunteer hours to go toward deepening the core rather than adding new topics like these.

[2020-06-06 00:13] MichelleGlauser commented on #1357
@vegetabill We had two participants ask about it and a few supporters offer. Don't worry about making it the top priority.

[2020-06-06 16:35] vegetabill commented on #596
We already have a mini style guide in this doc so this seems like a wish list. The original tweet isn't even a style guide.

If we want to expand this, we should create a ticket with concrete items:
https://github.com/Techtonica/curriculum/blob/master/_templates/README.md

[2020-06-06 16:35] #596 closed

[2020-06-06 16:38] vegetabill commented on #1357
@MichelleGlauser can you refer the supporters to this issue then? If there is an actual owner, that would ensure it would have a better chance of getting done.

[2020-06-06 16:39] vegetabill commented on #1154
Alina eventually explained that the assessments were just there as reference since they can't be directly reused due to cheating.

[2020-06-06 16:39] #1154 closed

[2020-06-11 18:37] m-code12 commented on #1064
is this resolved ? If not, I am interested in working on this issue . Please assign me @alodahl

[2020-06-12 19:11] vegetabill opened #1377 "a11y lesson suggestions"
Existing lesson: https://github.com/Techtonica/curriculum/blob/master/web/accessibility.md

Your material on accessibility isn't terrible.  But it needs a few things
- Short discussion (or at least intro) of ARIA
- Summary of accessible open source design system (there are 7 that I know of)
- More of a focus on how people with disabilities use assistive technology - braille note takers, screen rea

[2020-06-17 00:11] alodahl commented on #918
Blocked until we decide whether to deprecate the backend testing outline in favor of new outlines. If we deprecate that file, this issue will be moot.

[2020-06-17 00:13] alodahl commented on #1064
Hi @m-code12, that would be great!  Is the issue clear, or do you need more explanation?  Essentially, whoever first wrote the outline used the outline sections the wrong way, and we would like it to be redone per the template guidelines.

[2020-06-17 00:22] alodahl commented on #1377
"Summary of accessible open source design system (there are 7 that I know of)"

What were you thinking of including? I'm confused as to why this is basic knowledge for apprentices.  But I agree with the rest of this issue!

[2020-06-18 21:52] vegetabill opened #1378 "Rename master branch to mainline"
Although it's less obvious, the `master` branch default name is derived from `master/slave` so we want to rename it to not draw on that legacy. For more details, see [Gnome archive](https://mail.gnome.org/archives/desktop-devel-list/2019-May/msg00066.html).

Let's rename `master` => `mainline`

[2020-06-18 22:26] vegetabill opened #1379 "Add activity for simple session management"
We jump right to oauth which handles everything for you. It would be beneficial to have manual cookie assignment so the apprentices understand that HTTP is stateless and what a _session_ means.

This could probably be incorporated into Eventonica

[2020-06-19 00:18] vegetabill commented on #961
I will review and split this up

[2020-06-19 00:29] vegetabill commented on #1153
Will review and split out into:

- https://github.com/Techtonica/curriculum/blob/master/onboarding/ergonomics.md
- https://github.com/Techtonica/curriculum/blob/master/onboarding/tech-industry-tips.md

[2020-06-19 00:44] alodahl commented on #1191
I found a good intro lesson: https://www.freecodecamp.org/news/building-a-simple-node-js-api-in-under-30-minutes-a07ea9e390d2/

[2020-06-19 00:46] alodahl opened #1380 "Remove unnecessary steps in our relational DB lesson"
Split from #1202

The relational DB lesson is far too lengthy. It should introduce some basics, ensure the participant has installed and can successfully use Postgres, and leave the rest of it up to the other lessons, e.g. [SQL Part 1](https://github.com/Techtonica/curriculum/blob/master/databases/sql-1.md)

Edit this file:
[/databases/relational-databases.md](https://github.com/Techtonica/curricu

[2020-06-19 00:59] vegetabill commented on #1211
This is the new template:

https://github.com/Techtonica/curriculum/blob/master/_templates/lesson-v2.md

Any changes can be a new issue

[2020-06-19 00:59] #1211 closed

[2020-06-19 18:40] vegetabill opened #1381 "Share Technical/Program tenets publicly here or on the website"
Work with @MichelleGlauser to share **Tech Program Tenets** here. This fits in with an org goal of increasing transparency

[Private Draft](https://docs.google.com/document/d/1riHodYMkn5cTPCZq2Bboh7NMMeWC--dA3LbzhJUIPGo/edit#)

[2020-06-19 23:20] vegetabill opened #1382 "Add note that .env only works when loaded by an NPM module"
The dot env lesson doesn't mention you need to use a NPM module to automatically load a `.env` file.

[dot-env lesson](https://github.com/Techtonica/curriculum/blob/master/command-line/env.md)

[2020-06-23 18:48] vegetabill commented on #1301
@alodahl actually I found the opposite was true. Was this your own experience or from previous cohorts? I'm mostly concerned about interference where you try to learn two ways to do the same thing without fully understanding either of them. Participants also tried to mix and match the styles in one codebase which was a disaster.

Hooks can certainly be required, but it should be moved much later a

[2020-06-24 00:01] #1209 closed

[2020-06-24 00:02] vegetabill commented on #1209
This was a wish list. Closing

[2020-06-24 00:27] vegetabill commented on #1216
I'll review and split this one up.

[2020-06-24 00:28] vegetabill commented on #1216
Seems related to #1215

[2020-06-24 00:28] vegetabill commented on #1215
Related to #1216

[2020-06-24 00:42] alodahl commented on #1306
@MichelleGlauser Can you please move this into our slides folder so someone can work on this someday?  Not urgent, but no one has access to this one.

[2020-06-24 16:26] vegetabill opened #1383 "[Epic] Increase opportunities for team collaboration"
While we do have pair activities, feedback from Bill and the H1-2020 cohort indicated that there should be more opportunities to practice group collaboration. Here are some issues to achieve that.

- Create lesson on code reviews
- Add a group portion to Eventonica
- Algorithms week has group learning and presentation and this was very effective so we should see other times this can be incorporate

[2020-06-24 22:04] vegetabill commented on #1378
@alodahl take a look at this when you have a moment. As soon as the current cohort wraps, it would be a good time to make this change.

[2020-06-24 22:56] vegetabill opened #1384 "Store corpus of code challenges as part of this repo"
Currently they are locked up in REPL.it. Should we store some/all of them here?

A few them are available in a subfolder of the [private SEAM repo](https://github.com/Techtonica/techtonica-seam/tree/mainline/code-challenges).

## Pros
- Can ask for improvements to them from volunteers
- Outside readers can use them as a resource
- Most questions are leaked all over so there aren't secret ones anym

[2020-06-25 00:32] vegetabill commented on #1153
Added concrete items to those docs. Closing as complete.

[2020-06-25 00:32] #1153 closed

[2020-06-26 22:30] vegetabill commented on #1152
https://docs.google.com/presentation/d/1kaTYV_PoKpMukLSAev4MmjfFR02nTUCfjwD6rRptbk0/edit#slide=id.p

[2020-06-26 23:11] vegetabill opened #1385 "[Epic] Improve technical onboarding"
At the beginning of the program there is a **LOT** of reading and hopefully there is a way to slim it down a bit and get participants building earlier.

## Lessons to Consider Shrinking or Removing
- [VIM](https://github.com/Techtonica/curriculum/blob/master/dev-tools/vim.md) - seems like we could just cover `:q` and `:x` as part of committing with git. To my knowledge, everyone used vscode and ti

[2020-06-26 23:39] vegetabill opened #1386 "Add information about DOM events to DOM lesson"
In the [JS DOM methods lesson](https://github.com/Techtonica/curriculum/blob/master/web/js-dom-methods.md) there isn't background knowledge about DOM events.

During interviews, participants were asked about events and didn't know much about them outside the context of React.

## Topics to Add
- DOM event basics
- [`.addEventListener` function](https://developer.mozilla.org/en-US/docs/Web/API/Even

[2020-07-02 23:04] vegetabill commented on #1382
@alodahl believes this might be automatic but when I spent 5minutes trying it, it did not work.

[2020-07-03 23:28] alodahl commented on #1378
@vegetabill I'd love to change the name; we are doing it at work as well.  Would `main` be a good alternative to `mainline`, or has the decision been made?

[2020-07-04 08:11] alodahl commented on #1382
I tried it again without a dotenv package, and it works.  Did you do the whole lesson?  I wrote it so that the first attempt doesnt work, and then provide the solution.

[2020-07-18 15:11] Mu-C00L commented on #1386
I want to work on this issue.

[2020-07-19 18:05] iamdhruvsharma commented on #1380
I would like to work on this.

[2020-07-20 00:09] alodahl commented on #1380
Thank you @iamdhruvsharma!  If this is your first time contributing, please complete these steps first, since we're a non-profit that needs to keep track of volunteer work.  https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md. Let us know if you have questions.

[2020-07-20 00:11] alodahl commented on #1386
Thank you @Mu-C00L ! If this is your first time contributing, please complete these steps first, since we're a non-profit that needs to keep track of volunteer work. https://github.com/Techtonica/curriculum/blob/master/CONTRIBUTING.md. Let us know if you have questions.

[2020-07-20 00:22] alodahl commented on #1152
@vegetabill Does this need to be added to an outline or the Table of Contents?

[2020-07-20 00:26] alodahl commented on #1384
1. If apprentices are smart enough to google the answer, more power to them.
2. The challenges are on record in our Google Doc called "Interview Prep (with Coding Challenges)". I can email you the link.
3.  They're not really "secret", but those not enrolled wont get on the mailing list. I can't remember if they are public or not once they're "published".

[2020-07-20 00:28] alodahl commented on #1384
4.  All of the lettered challenges are mine, and they should be in that doc.  If they aren't that just means I'm behind 😬

[2020-07-20 00:37] alodahl commented on #1378
Here are directions a friend sent to me last month:

You might have heard that GitHub decided to abandon the term master.
 
If you’re interested in changing your default branch naming from master to main, we wanted to share with you the steps to do so:
 
    •    Create a new branch from master and name it main
    •    Replace every reference to master branch in your code for main. Push it to Git

[2020-07-20 00:46] alodahl commented on #1384
5. Can I pretty please have access to the SEAM repo?

[2020-07-20 01:57] alodahl commented on #1384
6.  The solutions are definitely secret.

[2020-07-20 02:07] alodahl commented on #1301
My own experience. But not doing constructors/state and hooks back to back makes sense to me. It can be done near the end, or could even be an elective, but I think they are becoming the standard.

The reason I think its easier is because you don't have write a constructor, bind anything, remember to name it "this.state" or "this.anything", and it makes functional component coding much shorter and

[2020-07-20 02:13] alodahl commented on #1379
We could - this is important stuff to know, but I would definitely consider this intermediate, so I am skeptical as to whether it fits into our 6-month curriculum.

[2020-07-20 04:19] iamdhruvsharma commented on #1380
Thank you for assigning this task.

[2020-07-20 06:33] iamdhruvsharma commented on #1380
For "Infographic about SQL vs NoSQL databases"I can use any source from the internet?

[2020-07-20 06:57] iamdhruvsharma commented on #1380
I done with all the things except  **LucidChart database**  and **Infographic** . Please tell me little more about how you want me tackle LucidChart links.

[2020-07-21 00:15] vegetabill commented on #1384
@alodahl I granted you access. The repo link above was actually a 404 not for access reasons but now you also have access 🙂

[2020-07-21 01:26] #1379 closed

[2020-07-21 01:27] vegetabill commented on #1382
Ah, I hadn't read the whole thing. I thought there was some magic. Basically, we're just sourcing the file, which has nothing to do with its name `.env` or anything else so I don't think there's any action to take here.

[2020-07-21 01:27] #1382 closed

[2020-07-21 01:30] vegetabill commented on #1357
Still suggest this be closed as wontfix. It feels more like an optional reading article about "What Series A means" or something. I'm still not sure why this is worth adding and what the audience wanted but maybe the potential owners could speak to that.

[2020-07-21 01:32] vegetabill commented on #1384
Thanks for sharing that doc, @alodahl. Sounds like this ticket should be edited to:

1. problems and test cases should be moved to this repo
1. reference solutions can stay in SEAM private/REPL.it

Does that sound right?

[2020-07-21 01:40] vegetabill commented on #1377
@alodahl Sorry I didn't note at the top that this came from a volunteer. I was hoping that giving them the link would tempt them into working on it but I guess it didn't work.

[2020-07-23 14:39] alodahl commented on #1380
@iamdhruvsharma sorry if the description is not clear, but this issue is about carefully removing unneeded content from the lesson.  You're welcome to submit a PR if the bulleted tasks are done.  Then if you are interested, you can also pick up #1202 , which it sounds like you may have started already.

[2020-07-23 14:55] alodahl commented on #1380
Ok, after looking at the lesson regarding Lucidcharts, I think we need you to delete any links that include the "lucidchart" url, and then use your judgement to delete/edit the sections that they're in if they no longer make sense.  I think this is because they all discuss DB Models, which we already have a separate lesson for, so bringing it up here is not relevant enough.

[2020-07-23 17:23] iamdhruvsharma commented on #1380
Thanks for the clarification. While, I was reviewing the file, I found that many times Lucidcharts links were mentioned and the area of discussion was around the database models (covered in different section) so I have removed them strategically. Please have a look and do let me know for any other issues.

[2020-07-24 12:46] thisLinda commented on #1358
I would like to work on this project, it sounds pretty exciting. As an advanced beginner I've participated in MANY tutorials and so often wish I could give feedback on the process. There are times when the instructions gloss over a step or miss a small step because the author is familiar with what is being explained. I notice and admire when it's done well.

[2020-07-25 15:21] alodahl commented on #1384
Saving the example solutions sounds great.

Saving example problems in Techtonica/curriculum seems low-priority, the only advantage being centralization.  I suppose it would give non-enrolled users access as well. But we have a lot more pressing things to do before this can happen. Maybe it can be broken into 2 tickets so the example solutions are backed up first.

[2020-07-25 15:30] alodahl commented on #1377
NOOOO don't cut a11y from the curriculum!  This is a big deal! 🙅🏻‍♀️

I think having someone with a11y knowledge revise what we have to make it more about understanding the needs of assistive technology users and some good references for later, rather than lots of a11y solutions to remember.

[2020-07-25 15:39] alodahl commented on #1358
Yes, this is one of the advantages of having a junior on your team 😄
Thanks for offering to help!

[2020-07-28 19:53] thisLinda commented on #1358
**Prerequisite** links are all active.

**Materials** links all active. Notes below regarding content of individual resources in Materials.

Video "What is Heroku," no issues.

Techtonica Slides: Deploying
Slide 6, FYI, refers to only PAAS and IAAS, video on slide 7 refers to SAAS, PAAS, and IAAS.
Slide 14 Rackspace video is dead link/null.
Slide 18 Links are not clickable (because they are in Goo

[2020-07-28 19:58] thisLinda commented on #1358
Finally, the deploying instructions refer to "your app" and to change directories into a React app previously created. I could not easily find that in reviewing the curriculum, if it does exist please link it for me, I'll build it and then I'll review the specific instructions in the lesson. If it does not exist I can build something quickly in order to review the instructions. I'm awaiting your d

[2020-08-01 17:40] #1380 closed

[2020-08-02 02:00] alodahl commented on #1358
@thisLinda thank you, this is extremely helpful! The directions should apply to any full-stack app with express + react. You are welcome to create the simplest one you can to test the instructions.

[2020-08-02 02:06] alodahl opened #1389 "Update our "Deploying to Heroku" outline"
(Created from https://github.com/Techtonica/curriculum/issues/1358)
Things to fix:

Techtonica Slides:
- [x] Deploying Slide 6, FYI, refers to only PAAS and IAAS, video on slide 7 refers to SAAS, PAAS, and IAAS.
- [x] remove Slide 14 Rackspace video is dead link/null.
- [x] Slide 18 Links are not clickable (because they are in Google docs), copied links active for all except #3 to Digital Ocean wh

[2020-08-02 02:19] alodahl commented on #1389
Fixed #1389 in this commit: https://github.com/Techtonica/curriculum/commit/088ed5d22134af7e5be763813f693147ef18486c

[2020-08-02 02:22] alodahl commented on #1064
@m-code12 are you still helping with this?

[2020-08-02 12:34] m-code12 commented on #1064
No
I am not sure about what to do.
You can close the issue.

[2020-08-03 03:22] alodahl commented on #1202
Assigning to @iamdhruvsharma

[2020-08-03 13:27] thisLinda commented on #1389
Since I'm already working on the issue which in turn created this issue I would like to work on it.

[2020-08-03 13:29] thisLinda commented on #1358
I'm starting on testing the instructions today.

[2020-08-03 15:17] alodahl commented on #1389
Thanks @thisLinda but I finished this yesterday!

[2020-08-03 15:17] #1389 closed

[2020-08-04 21:54] thisLinda commented on #1358
Alina is it possible to get the actual code a student would have created in order for me to follow the Heroku deployment instructions? A simple react app is insufficient. Today I read through the Eventonica app project thinking I would just follow it and build but the initial code to fork isn't complete and it just seems like there are roadblocks everywhere trying to piecemeal this together.

[2020-08-05 00:27] vegetabill commented on #1384
Hmm, sounds like might not be worth doing. If we're sticking with repl.it, and you didn't find the management of the problems in repl.it too onerous, I'd say this should just be closed then. How was the effort in setting them all up for this cohort?

FWIW, [repl.it has GitHub integration](https://blog.repl.it/github) but the ad copy makes it sound like a one-way operation, so not necessarily that

[2020-08-07 14:00] iamdhruvsharma commented on #1202
Hi!

Can you just update me on the things that I need to do because I believe some of the issues are already being handled. So, if you can tell me how exactly I can help that would be more efficient.

Thanks!

[2020-08-09 17:09] alodahl commented on #1358
@thisLinda  how about this one? https://github.com/boocheet/booktonica

[2020-08-09 17:16] alodahl commented on #1384
Getting all the problems and solutions into the replit took about a year.  Once they are in, though, it takes about an hour to sync them to be published according to the new calendar and add the new apprentices to the mailing list. Correcting existing problems has been pretty easy.

[2020-08-09 17:20] alodahl commented on #1202
@iamdhruvsharma ,  I don't think this issue is out of date.  I'm not sure what you mean.

[2020-08-09 17:26] alodahl commented on #1306
This issue is still relevant, and it looks like we do have access to the slides now.

[2020-08-09 17:31] iamdhruvsharma commented on #1202
Thanks for the response.

Please tell me little bit more about this:

Basic column types - include examples and their equivalent in JavaScript
e.g. varchar is like String
remove Text
remove auto increment

[2020-08-09 17:35] iamdhruvsharma commented on #1202
Replace all the "Common mistakes" with just one: "Database can refer to the tables, the database server, or SQL. You'll just have to use context to know what someone means"

The above requirement is already completed I believe.

[2020-08-09 17:40] alodahl commented on #1202
I don't even see a common mistakes section... it may have been deleted completely in the last merge. Could you add it back with the "just one" part?  It should look like the "Common Mistakes & Misconceptions" section here: https://github.com/Techtonica/curriculum/blob/master/_templates/topic-outline.md#common-mistakes--misconceptions

[2020-08-09 17:43] iamdhruvsharma commented on #1202
Sure! Will definitely do.

[2020-08-09 17:45] iamdhruvsharma commented on #1202
Move the non-relational examples to an Optional Section covering other types of databases. What about this one??

Rest I am all clear and will do all the things very soon.

[2020-08-09 17:49] alodahl commented on #1202
If you find examples that aren't directly about relational databases, remove them, or group them all in a section clearly marked something like "Non-relational dbs to be aware of."

[2020-08-09 17:51] iamdhruvsharma commented on #1202
Got the idea!!! On it now. Will complete as soon as possible. Thanks for the clarification.

[2020-08-11 21:54] HeroicHitesh commented on #1306
@alodahl Sorry, for the delayed response. I have resolved this issue and created a PR. Have a look at it and let me know if anything needs to be updated.

[2020-08-14 20:38] thisLinda commented on #1358
Perfect, thank you.

[2020-08-14 22:26] #1306 closed

[2020-08-14 22:37] alodahl commented on #1378
Complete!  No merging required.

[2020-08-14 22:37] #1378 closed

[2020-08-16 15:04] thisLinda commented on #1358
**Deploying** step 2, requires "all the files from your Express API folder (1-3 JS files + package.json)." Can you also send me this code? If not I will complete this project https://teamtreehouse.com/library/express-basics-2 which appears to be the Express project required for the Heroku tutorial.

**Prerequisites** Instead of the hyperlink "Express" the hyperlink should read "existing Express AP

[2020-08-18 15:17] alodahl commented on #1358
Deploying step 2: I think this may be the code you need: https://github.com/boocheet/booktonica-api

Thanks for the prerequisites tip, maybe I'll just fix that now, unless you want to.

Deploying step 10:  They set up a database during this step of the [Eventonica project](https://github.com/Techtonica/curriculum/blob/main/projects/eventonica/eventonica-project.md#part-4---eventful-api-ajax).  I t

[2020-09-02 17:40] AbhipsaGuru1012 commented on #1386
@vegetabill @alodahl Hi, can I work on this issue?

[2020-09-06 18:02] alodahl commented on #1386
Yes please! Let us know if you have questions.

[2020-09-07 07:02] AbhipsaGuru1012 commented on #1386
Okay sure. Thank you!

[2020-09-07 10:21] AbhipsaGuru1012 commented on #1386
@alodahl do you have any preferences where I should add the practice exercise on event propagation?

[2020-09-08 03:24] alodahl commented on #1386
@AbhipsaGuru1012 You can add it as one of the Guided Practice activities.  Feel free to use existing online tutorials too, as long as its free and cited in the outline.

[2020-09-08 03:25] alodahl commented on #1357
@MichelleGlauser do you have strong feelings about this one?  Otherwise, I don't mind closing it.

[2020-09-08 03:28] alodahl commented on #1361
this is low priority, but there's no reason to close it.

[2020-09-09 15:58] AbhipsaGuru1012 commented on #1386
@alodahl I have made the pull request. Please review and suggest if any changes have to be made.

[2020-09-13 03:29] marcobarrera commented on #1332
Is this issue still open? If so, may I work on it?

[2020-09-13 03:30] marcobarrera commented on #1337
May I work on this issue?

[2020-09-14 02:24] alodahl commented on #1386
Closed by #1395

[2020-09-14 02:24] #1386 closed

[2020-09-14 03:09] alodahl commented on #1202
Hi @iamdhruvsharma , any word on this one?

[2020-09-14 03:11] alodahl commented on #1358
Hi @thisLinda , how is this going?

[2020-09-14 03:28] thisLinda commented on #1358
Slowly! I had a two week interruption secondary to purchasing a new laptop
and switching to Mac for the first time. Quite the learning curve. I
started on the issue again this past Friday.

On Sun, Sep 13, 2020, 23:11 Alina L. <notifications@github.com> wrote:

[2020-09-14 17:15] iamdhruvsharma commented on #1202
Hi there!! Hope you are perfectly safe in this difficult situation. Sorry of the delays, for last couple of weeks I was little with my University curriculum but I assure I will complete this task very soon. On it now.

[2020-09-15 13:50] iamdhruvsharma commented on #1202
Hello! Just made the pull request. Please have a look.

[2020-09-15 23:43] vegetabill commented on #1384
Sounds good then. Closing for now. We'll stick with repl.it.

[2020-09-15 23:43] #1384 closed

[2020-09-20 18:33] thisLinda commented on #1361
Hi Alina, I have completed my work on Issue 1358 (have not written the report yet) and would like to be assigned to this issue as long as you're not in a hurry. I'm starting an intern position tomorrow and anticipate the next week or so I'll be furiously treading water. I did Jasmine testing while completing Udacity's front end nanodegree course.

[2020-10-01 05:06] Kundan28 commented on #1332
@alodahl Could I work on this issue ?

[2020-10-01 05:07] Kundan28 commented on #1204
@alodahl I would like to work on this issue.

[2020-10-03 19:48] alodahl commented on #1332
@marcobarrera could you please leave a comment on each of the listed links in the description to help us review.  Were some of them unnecessary to change?  If so, why?

[2020-10-04 17:40] thisLinda commented on #1358
Alina I have completed the review. Currently I have marked-up the tutorial and pushed to a branch. Do you want me to do a pull request for the edited tutorial or copy into a message here?

[2020-10-05 15:33] alodahl commented on #1358
A pull request would be great, thank you.

[2020-10-05 16:35] sanchibansal340 commented on #1064
@alodahl By replacing with relevant list do you mean a table with link to other topics in the security.md sort of thing?

[2020-10-06 15:40] talarsen commented on #1064
Hi. It looks like there have been a few attempts to fix this issue. I am attending both WHC SF hackathons in Oct. I am interested in working on this issue.

[2020-10-06 22:25] sylvaindessureault commented on #1187
Hi @alodahl!

I'm free and super interested in working on this issue!

[2020-10-07 01:28] hnarasaki commented on #1377
I am not able to work on this issue at this time, but I would like to add a suggestion:
It might be helpful for apprentices to try to a11y test their apps manually on their own before shipping/releasing. While a11y automation can help, it does miss a lot of things people may be able to uncover manually.
- One suggestion I have is to use an extension like Chrome Vox. It will read aloud text. If you

[2020-10-07 01:43] GazKris commented on #1204
I would like to pick this up.

[2020-10-07 01:50] dyap2 commented on #1358
Hello, I'd like to contribute to this tutorial.

[2020-10-07 01:52] sasthan commented on #1361
I would like to work on this task

[2020-10-07 02:35] sasthan commented on #1361
Problems that are in the tutorial:
1. Materials:
Example video (10 min) -> This link goes to www.google.com. Its not an actual link to video

2. Other example article(20 min read) -> This article link goes to www.google.com. It does not go to an actual link.

3. **Rewrite the following to help user better understand:**
Challenge
Following example above, try to represent the following scenarios and

[2020-10-07 02:47] alodahl commented on #1187
Thanks @sylvaindessureault! Please look at our [contributing file](https://github.com/Techtonica/curriculum/blob/main/CONTRIBUTING.md) and let us know if you have questions.

[2020-10-07 03:02] sylvaindessureault commented on #1187
Excellent. Already did steps 0 and 0.5.
Will start working on this tomorrow.
Thanks!

[2020-10-07 09:56] alodahl commented on #1064
@sanchibansal340 no need for a table. Like [the template](https://github.com/Techtonica/curriculum/blob/master/_templates/topic-outline.md) shows, ###Objectives and Specific Things To Teach should summarize what is to follow in the outline, rather than listing additional things to research, or whatever is happening there.

[2020-10-07 09:58] sanchibansal340 commented on #1064
Got it @alodahl . Can I work on this issue and get back to you by EOD?

[2020-10-07 10:06] alodahl commented on #1064
Sorry I didn't respond sooner, @sanchibansal340 , but I assigned the issue already.  Thanks for offering to help!
 Please consider one of these ToDo issues instead: https://github.com/Techtonica/curriculum/projects/2

[2020-10-07 12:05] thisLinda commented on #1358
It's both, I'll split it up. The edits are minor as I understood the issue to be about identifying problems.

[2020-10-07 22:41] thisLinda commented on #1358
Despite extensive study and preparation for the pull request I believe I did not do it correctly. I have spent time trying to revert it but have been unable.

[2020-10-07 23:23] thisLinda commented on #1358
# Issue 1358 Comments

Note: I did not build the apps as a student would prior to working on this issue. I utilized student code on GitHub which required some breaking apart and rebuild to follow the Deployment instructions. I may also have been limited in following some instructions by my own new learning with respect to the topic (specifically database).

The paragraph numbering is automatic and

[2020-10-08 14:47] alodahl commented on #1358
@thisLinda you are welcome to close the pull request and make a new one with your changes on a new branch... that PR looks like a doozy.

[2020-10-08 15:08] alodahl opened #1403 "Clarify Heroku deploying directions: Part 1"
Created from task #1358

Our [heroku tutorial outline](https://github.com/Techtonica/curriculum/blob/master/deploying/deploying-to-heroku.md) in unclear in many spots.  Please fix the following problems. For reference, below is a review of the outline that the To-do items are based on.

To do:
- [x] Fix markdown bulletting and numbering in the outline.
- [x] In the 'Gotchas' section, replace the l

[2020-10-08 15:12] alodahl opened #1404 "Clarify Heroku deploying directions: Part 2"
Created from task #1358
Related to #1403

Our [heroku tutorial outline](https://github.com/Techtonica/curriculum/blob/master/deploying/deploying-to-heroku.md) is unclear in many spots.  Please fix the following problems.  For reference, below is a review of the outline that the To-do items are based on.

To do:
- [x] For number 10, clarify that this is the feedback they should see on the terminal,

[2020-10-10 09:16] ananyakaushik commented on #1403
@alodahl Can I take this issue up?

[2020-10-10 12:17] sylvaindessureault commented on #1187
Hi @alodahl !

I'm so sorry, I had a mishap on my account and had to recreate it. I'm still working on this issue. Let me know if you want me to continue or pass the bar to someone else since I unassigned myself above.

[2020-10-10 15:03] sylvaindessureault commented on #1187
Also, for this issue, is it OK if I work on a branch and make the PR from that branch?

As for the `.js` solution file, do I simply attach the file to the PR?

[2020-10-13 14:47] alodahl commented on #1403
Thanks so much @ananyakaushik !  Just be aware that this related PR is likely to get merged soon, which clarifies some language in the same file but doesn't necessarily fulfill this issue: https://github.com/Techtonica/curriculum/pull/1405

[2020-10-13 22:10] sylvaindessureault commented on #1187
Thanks @alodahl! If you want you can reassign me, I should fulfill this within the week.
I will be waiting for @vegetabill to confirm about the `.js` file as well as the Postman test file.

I suggest a folder within `projects` like this:
`projects/node-http-exercise/node-http-exercise.md`
`projects/node-http-exercise/node-http-exercise-postman-collection.json`

And attach the `.js` file to the PR

[2020-10-14 17:28] ananyakaushik commented on #1404
Hi @alodahl can I be assigned this issue as well?

[2020-10-15 01:36] alodahl commented on #1404
@ananyakaushik please submit a PR for your other issue, then you can pick up another.

[2020-10-15 01:37] sylvaindessureault commented on #1187
Almost done. 1 more route remaining, then revise, then I'll make the PR. Probably tomorrow or latest on Friday.

[2020-10-15 01:38] ananyakaushik commented on #1404
@alodahl Should I wait for #1405 ?

[2020-10-15 01:43] alodahl commented on #1404
You don’t need to wait; just be ready to incorporate those changes before we merge.

[2020-10-15 09:08] sylvaindessureault commented on #1187
FYI, @alodahl, I have filled another contributing form with my new email address.

[2020-10-15 14:57] sylvaindessureault commented on #1187
Just an update to let you know that I'm on schedule. I need to make some tests and should be able to make the PR later on this afternoon.

[2020-10-15 18:01] sylvaindessureault commented on #1187
@alodahl and @vegetabill, created #1406 .

Let me know if you need any changes.

Have a great day!

[2020-10-18 18:12] alodahl commented on #1358
Hi @dyap2 , are you still interested in helping with this issue?

[2020-10-19 04:56] dyap2 commented on #1358
Hi, there! Yes, I am still interested in helping with this issue

[2020-10-24 18:24] alodahl commented on #1332
Hi @marcobarrera , are you still working on this? If I don't hear from you, I will make the issue available to other volunteers.

[2020-10-24 23:12] marcobarrera commented on #1332
Hi, yes I've just been a bit busy, but I will finish this assignment.

On Sat, Oct 24, 2020 at 11:24 AM Alina L. <notifications@github.com> wrote:

[2020-10-25 21:28] #1403 closed

[2020-10-26 18:29] #1404 closed

[2020-10-30 06:47] #1357 closed

[2020-10-31 17:59] alodahl commented on #1358
Hi @dyap2 , I see you made a PR for this issue. Could you please explain any difficulties you had with this tutorial, or any parts that were unclear? (You don’t have to fix it).

[2020-11-03 23:29] #1187 closed

[2020-11-04 00:17] sylvaindessureault commented on #1191
@vegetabill @alodahl
I'd love to work on this!

[2020-11-04 00:25] vegetabill commented on #1191
@sylvaindessureault go for it! It's definitely related to your other PR.

[2020-11-04 00:35] sylvaindessureault commented on #1191
Excellent! I will start working on this!

[2020-11-05 07:12] dyap2 commented on #1358
Hi @alodahl. I didn't face any difficulties and all were clear. However, one thing to note for the mkdir command is that issues may arise with permissions. Maybe adding a note to use sudo mkdir if the issue arises would help.

[2020-11-06 04:29] sylvaindessureault commented on #1191
@vegetabill and @alodahl, let me know if you need any changes!

[2020-11-06 04:45] alodahl commented on #1358
Thank you! Once you resolve the conflicts, I can merge.

[2020-11-08 20:25] #1358 closed

[2020-11-09 16:33] alodahl commented on #1064
Hi @talarsen are you still able to work on this issue?

[2020-11-09 16:36] alodahl commented on #1204
Hi @GazKris how is this going?

[2020-11-09 16:41] GazKris commented on #1204
Good! I plan on submitting the PR today.

[2020-11-10 17:24] talarsen commented on #1064
Hi Alina.

Yes, I am going to work on this issue but I don’t understand how to access
the files. I was not able to find someone to help me. Could you please help
me?

Thank you.
Tara

On Mon, Nov 9, 2020 at 8:34 AM Alina L. <notifications@github.com> wrote:

--
Tara Larsen
530-559-4863
https://www.talarsen.com/

[2020-11-13 16:54] alodahl commented on #1064
Hi @talarsen , do you need help with git or GitHub? The file that needs work is here: https://github.com/Techtonica/curriculum/blob/main/security/web-security.md

[2020-11-13 16:59] alodahl commented on #1064
The simplest way to work on the file would be to [fork](https://github.com/anitab-org/mentorship-android/wiki/Fork%2C-Clone-%26-Remote) this repo, find the corresponding web-security file in your new forked (copied) repo, and click the pencil icon to make changes directly in your browser. Once you think it’s ready, you can look up how to make a pull request or I can help.

[2020-11-13 19:05] talarsen commented on #1064
Thank you. I was able to find the correct file and I am working on it now.
I really appreciate your help.

Tara

On Fri, Nov 13, 2020 at 8:59 AM Alina L. <notifications@github.com> wrote:

--
Tara Larsen
530-559-4863
https://www.talarsen.com/

[2020-11-13 21:28] talarsen commented on #1064
1. I've changed the "projected time" section to more specific timeframes
with bullet points.
2. The first link in the prerequisite section is broken.
3. The rest of the lesson follows the format of the lesson template provide
and the issues seem to have already been fixed.
4. In the lesson extension, the Insecure Labs link doesn't provide the
learner with information. It is unclear what the learne

[2020-11-14 20:52] GazKris commented on #1332
I would like to work on this if it's available.

[2020-11-16 20:07] #1191 closed

[2020-11-16 20:20] sylvaindessureault commented on #1221
Hi @vegetabill @alodahl! I'd love to work on this one next!

[2020-11-18 01:02] vegetabill commented on #1221
Sounds good! I've assigned you.

[2020-11-18 01:29] sylvaindessureault commented on #1221
Perfect, thanks! I will start working on this tomorrow!

[2020-11-18 12:00] sylvaindessureault opened #1412 "Error in the Guided Practice for the REST-API lesson"
I notice there is an error in the `PART II: Guided Practice` section:

`Now for the good part! Let's code together and build a small RESTful API, which will store and change data in a database instead of using hard-coded data within the project files.`

should be something like:

`Now for the good part! Let's code together and build a small RESTful API, which will store and change data which is ha

[2020-11-18 12:03] sylvaindessureault commented on #1412
I took the liberty to already make a PR for this.

[2020-11-20 03:17] sylvaindessureault commented on #1221
@vegetabill and @alodahl, I created the PR.

Have a great day!

[2020-11-22 04:08] GazKris commented on #1204
Do you want all references of SQLite in all files changed to PostgreSQL, or just the references in the files linked in the [table of contents ](https://github.com/Techtonica/curriculum#table-of-contents)?

[2020-11-26 18:39] vegetabill commented on #1204
The intent was for all references so as many as you can do would be great!

If some of them are more complicated (assignments that have sqlite-specific steps that aren't trivial to migrate to postgres), we can create additional tickets for them. Just let me know which ones you're skipping.

[2020-11-26 20:21] GazKris commented on #1204
Oh ok! I misunderstood then. I will go through all the docs and hopefully finish that up this weekend. Thanks!

[2020-11-27 21:22] GazKris commented on #1204
Do you want to replace the SQLite browser with pgAdmin?

[2020-11-27 22:42] vegetabill commented on #1204
Last cohort Postico is what everyone used and I thought it was a good choice

On Fri, Nov 27, 2020, at 13:22, Kris wrote:

[2020-11-27 23:01] GazKris commented on #1204
There are a lot of references to pgAdmin in the projects session. Do those need to be changed to Postico?
If so, do you want me to change them while I'm here, or open another issue?

[2020-11-28 00:40] vegetabill commented on #1204
I don't think it's worth updating those.  Longer term, we could change them to just be generic to "your preferred Postgres client" but I think that should be a separate issue so just leave them as is for now.

Thanks for checking!

On Fri, Nov 27, 2020, at 15:02, Kris wrote:

[2020-11-28 00:55] vegetabill commented on #1204
To summarize now that I'm in front of my computer, please replace any reference to a specific SQLite app with either Postico or a generic "Postgres client" (your choice!)

But you can leave existing pgadmin or anything else since that's valid.

[2020-11-29 03:11] #1412 closed

[2020-11-29 03:47] CoderCarrot commented on #1332
I am happy to work on all remaining dead links in the curriculum, too.

[2020-11-30 03:57] #1221 closed

[2020-11-30 04:41] vegetabill opened #1417 "[Eventonica] Revise project intro README to cover simplified requirements"
In the new revision of Eventonica, the project requirements are now static and don't change from assignment to assignment, to make the focus more about the changing technical implementation. We are also cutting some features to keep the app footprint as simple as possible to convey the lessons, and allow challenges for ambitious participants to add more.

### Notes from Epic
It should be a very sl

[2020-11-30 06:40] vegetabill opened #1419 "[Eventonica] Revise Part 3 to use Vanilla DOM JS instead of jQuery"
File: https://github.com/Techtonica/curriculum/blob/main/projects/eventonica/eventonica-part3-jquery-ui.md

## Changes
- Add prereq: https://github.com/Techtonica/curriculum/blob/main/web/js-dom-methods.md
- Change list of requirements into a link to the main README
- Remove "Pass an aXe accessibility test"
- Remove "Be deployed to GitHub pages"
- Remove Setup Step 1
- Find and replace the filenam

[2020-12-05 19:44] alodahl commented on #1064
Hi Tara,
Have you submitted a pull request?

Also, look out for posting private info on GH, this page is public.

[2020-12-07 02:22] #1417 closed

[2020-12-07 02:27] alodahl commented on #1332
Thank you @CoderCarrot !    Let us know if you have any questions.

[2020-12-07 02:55] alodahl commented on #1216
@vegetabill  I see you marked this one as "Before program begins".  How do you feel about it?  Should we open this to volunteers?

[2020-12-08 03:54] vegetabill commented on #1216
I think I missed that when prioritizing. The current schedule has this occurring at the end of week 7: https://github.com/Techtonica/curriculum#week-7---databases

So I'll move it to the correct milestone.

[2020-12-08 04:15] vegetabill opened #1420 "[Eventonica] Revise Part 1 to match simplified reqs"
Revise the [Part 1 Eventonica Lesson](https://github.com/Techtonica/curriculum/blob/main/projects/eventonica/eventonica-part1-objects.md) to match the simplified requirements in the [project README](https://github.com/Techtonica/curriculum/blob/main/projects/eventonica/README.md#project-requirements)

e.g. remove "search" and make the custom events favorites explicitly

[2020-12-08 05:17] vegetabill opened #1421 "[Eventonica] Update React portion"
A child of the Eventonica epic: #1296

Modify [Old Eventonica Part 7](https://github.com/Techtonica/curriculum/blob/main/projects/eventonica/eventonica-part7-react.md) to match new reqs in README

This should build a browser app with no API. All data should be in-memory using the code from [Part 1](https://github.com/Techtonica/curriculum/blob/main/projects/eventonica/eventonica-part1-objects.md).

[2020-12-08 05:18] vegetabill commented on #1296
@alodahl I added a table to visualize the parts of this epic above and I'll try to further break it down over the next week.

[2020-12-13 23:14] alodahl commented on #1296
Does no issue mean that it's done, or that it needs an issue made?

[2020-12-13 23:51] vegetabill opened #1424 "[Eventonica] Delete Ticketmaster API lesson"
We are no longer using the contents of this lesson:

https://github.com/Techtonica/curriculum/blob/main/projects/eventonica/eventonica-part4-apis.md

[2020-12-14 00:10] vegetabill opened #1425 "[Eventonica] Expand the steps in Express API part"
The Express backend steps are very brief and could benefit from additional detail. Go through and add more detailed steps and example snippets as you see fit.

The lesson is currently in https://github.com/Techtonica/curriculum/blob/main/projects/eventonica/eventonica-part5-express-backend.md

If you want you can use [expandable section syntax](https://gist.github.com/pierrejoubert73/902cc94d79424

[2020-12-14 00:16] vegetabill opened #1426 "[Eventonica] Add testing part as the last"
Create a new assignment, `eventonica/part-7-testing.md`

Domain logic testing used to be covered by [Part 2](https://github.com/Techtonica/curriculum/blob/752e3af2d2dc9a61b3169a9ca0a42590370d2170/projects/eventonica/eventonica-part2-testing.md) but we also want to include [enzyme](https://github.com/Techtonica/curriculum/blob/main/testing-and-tdd/enzyme-testing.md) and [supertest API testing](http

[2020-12-14 00:24] vegetabill opened #1427 "[Eventonica] Review and revise Postgres part"
Review and improve the Postgres lesson found [here](https://github.com/Techtonica/curriculum/tree/main/projects/eventonica) as you see fit.

In particular, make sure it matches the [revised requirements](https://github.com/Techtonica/curriculum/blob/main/projects/eventonica/README.md#project-requirements) as part of the Eventonica 2021 epic #1296. This means that the relationship table of `users_e

[2020-12-14 00:29] vegetabill opened #1428 "[Eventonica] Add frontend/backend integration part"
This part of Eventonica should take the React app built in Part 3 and the API built in Part 4 and adapt the React app to use the API. This sounds straightforward and perhaps even self-explanatory to an experienced engineer, but was tough for the H1 2020 cohort so we wanted to break it into its own part.

## Sequence

At this point they have:

- React UI with in-memory data that disappears on page

[2020-12-14 00:31] vegetabill opened #1429 "[Eventonica] Add lesson to explain the basics of splitting an app into client and server"
The idea of there being two copies of the main Eventonica class, one running in browser process and another in the node process really threw a lot of the participants in H1 2020 so we want to add a lesson to cover this topic they can reference as part of building part 5 (see #1428)

[2020-12-14 00:33] vegetabill commented on #1296
@alodahl I've added placeholder tickets so now there is either an issue or an explicit "none" for each and I think this now represents the whole scope.

[2020-12-14 18:46] vegetabill commented on #1152
Yes let's add this!! I couldn't find the other slideshow either. Reopening

[2020-12-15 21:15] alodahl commented on #1425
by "should be changed to part 4.", do you mean parts 5-7 need to be renamed to being parts 4-6?

[2020-12-15 21:16] alodahl commented on #1425
Then a new testing outline will be number 7?

[2020-12-15 21:29] alodahl opened #1431 "Add more guidance to web security optional exercises"
This section offers a few links, but no clues on how to use them.  Add some directions for each link to help _absolute beginners_ (who have read the previous outline) know what to look for and what to try. Outside resources are ok as long as apprentices know exactly which parts to read, or skip, or do differently, etc.

https://github.com/Techtonica/curriculum/blob/2e662db3eff0ea4c2db582a44e279ea2

[2020-12-15 21:37] alodahl commented on #1152
Is there an outline you wanted to add to here, or do we need to create a new one @vegetabill ?  We like to have things in both slideshow and text form if we can.

[2020-12-17 05:03] vegetabill commented on #1152
@alodahl I think it was meant to be a new lesson so I updated this issue and #1151 to be accurate and added them to the first H1-2021 milestone.

[2020-12-17 19:33] vegetabill commented on #1425
@alodahl yes that's right. I tried to revise the desc above to be clearer

[2020-12-29 01:10] alodahl commented on #1151
@vegetabill you've been assigned this whole time... did you mean to  open this to a volunteer?  If not, please add yourself again.

[2020-12-29 01:14] alodahl commented on #1152
Same with this one... are you personally working on resolving this issue?

[2020-12-29 19:55] alodahl opened #1434 "Find new resources to replace these defunct links"
The unchecked links below are out-of-date.  Find a replacement link that would be a good resource in context.

- [x] algorithms/intro-to-algorithms.md line 34 & 35.
- [ ] git/git-version-control.md line 173.
- [x] react-js\react-part-3-component-hierarchies.md
  - 94:1-94:66  warning  Link to https://codepen.io/annu12340/pen/WNQGBjy?editors=1010
   - 197:1-197:66  warning  Link to https://codepen.

[2020-12-30 22:29] alodahl commented on #1216
Just to double-check, this work makes https://github.com/Techtonica/curriculum/issues/961 unnecessary, right?  If so, can you please close it?

[2020-12-31 06:13] vegetabill commented on #961
We no longer need this. Superseded by #1216

[2020-12-31 06:13] #961 closed

[2020-12-31 06:58] vegetabill commented on #1202
@alodahl I merged in the small fixes from that PR and now this description is accurate as to what remains. Unfortunately what remains is much more important for the apprentices 😢

[2020-12-31 07:08] vegetabill opened #1437 "Make dead link detection more robust"
Recently we added a list of false positives:

https://github.com/Techtonica/curriculum/blob/main/meta/false-dead-links.md

I'm assuming these are caused by:
- sites that block bots
- since we have many links to the same sites we might be getting rate limited

Ideally when we run the report, it should be easy to see if we actually have dead links.

[2020-12-31 07:08] vegetabill commented on #1437
@gsong any ideas on this?

[2020-12-31 07:11] vegetabill commented on #1152
Oops no. Unassigning! All my energy will likely be going toward helping get Eventonica ship shape before it begins.

[2020-12-31 07:18] vegetabill commented on #1350
I'm not sure where to go with this. Let's have @timirahj review these lessons and weigh in later.

[2020-12-31 18:02] alodahl commented on #1437
You mean like running a diff automatically?  That would be great - I haven't thought about a real script yet.

[2020-12-31 18:04] alodahl commented on #1437
I did add a line to be aware of the false positives in [CONTRIBUTING.md](https://github.com/Techtonica/curriculum/blame/main/CONTRIBUTING.md#L58), at least.

[2020-12-31 18:05] alodahl commented on #1437
Also @CoderCarrot do you have more insight on Bills first comment here?

[2020-12-31 19:00] alodahl commented on #1064
Closed by #1422

[2020-12-31 19:00] #1064 closed

[2021-01-03 19:00] vegetabill commented on #1383
Closing as wish list.

[2021-01-03 19:00] #1383 closed

[2021-01-03 19:00] vegetabill commented on #1385
Closing was wish list

[2021-01-03 19:00] #1385 closed

[2021-01-05 01:12] CoderCarrot commented on #1437
I was thinking about this. I do not have any immediate or straight-forward ideas on this, but it's something I could work on. Someone more experienced may come up with a quicker, more elegant solution, but I would be happy to look into it when I have time!

[2021-01-05 02:59] CoderCarrot commented on #1434
In reference to point 5: I can't find a public block list or block bot that isn't outdated or buggy (from what I can tell without trying them out one by one). Also, Twitter depreciated their import block list functionality. There is a [Chrome extension](https://chrome.google.com/webstore/detail/twitter-block-chain/dkkfampndkdnjffkleokegfnibnnjfah?hl=en) that will block the followers of a Twitter a

[2021-01-05 16:03] #1332 closed

[2021-01-05 16:07] alodahl commented on #1434
Thank you so much for looking into that!  I was wondering if the whole idea was outdated.  Would you mind replacing that part with the one "that allows you to choose who can reply to your public tweets" ?

Shall I assign this issue to you @CoderCarrot ?

[2021-01-05 16:28] CoderCarrot commented on #1434
Sure! And then if anyone else wants to help, I would welcome it. Haha.

[2021-01-09 00:32] alodahl opened #1440 "Replace references of jQuery with JS DOM methods"
https://github.com/Techtonica/curriculum/blob/main/projects/eventonica/eventonica-part3-jquery-ui.md

[2021-01-12 04:26] vegetabill commented on #1204
Fixed by #1204

[2021-01-12 04:26] #1204 closed

[2021-01-18 17:49] vegetabill commented on #1440
@alodahl isn't this the same as #1419 ?

[2021-01-18 17:53] vegetabill commented on #1381
Closing wish list. Might be a good idea but if so can be re-opened with more specifics

[2021-01-18 17:53] #1381 closed

[2021-01-22 21:10] alodahl commented on #1440
Yaaa

[2021-01-22 21:10] #1440 closed

[2021-01-22 22:04] alodahl commented on #1434
The bad links in react-js\react-part-3-component-hierarchies.md are being fixed in https://github.com/Techtonica/curriculum/pull/1442.

[2021-01-24 19:42] #1336 closed

[2021-01-24 19:46] #1419 closed

[2021-01-24 19:52] #1420 closed

[2021-01-25 00:44] vegetabill commented on #1337
Looking at what's done on the Eventonica & React epics, this is the next most important item so starting it now

[2021-01-30 01:32] alodahl commented on #1202
🚨
Leah Alpert  1 hour ago
i broke up the content into these 5 lessons that are in the roadmap now:
1. intro to db (optional if we don’t want a lesson this short, but introduces the concept of dbs) https://github.com/Techtonica/curriculum/blob/master/databases/database-intro.md
2. data modeling 1 https://github.com/Techtonica/curriculum/blob/master/databases/data-modeling-1.md
3. sql part 1 https:/

[2021-02-06 04:24] CoderCarrot commented on #1434
@alodahl I believe 1 and 2 were fixed in a previous PR not attached to this issue. At the very least, there are no longer dead links in those areas, so you might be able to close the issue.

[2021-02-08 02:15] alodahl commented on #1434
Thanks for double-checking 🎉

[2021-02-08 02:15] #1434 closed

[2021-02-12 02:23] alodahl opened #1467 "build break into DOM manipulation md lesson"
several of the participants have mentioned that the DOM manipulation lesson is very long, ~and that they believe it would have been better to schedule it before assigning the game project~. Some also suggested splitting it up into two lessons. The other option is to build an explicit break into the middle somewhere.

update: ive completed the “move in curriculum” portion. i will open this up to vo

[2021-02-12 20:27] vegetabill commented on #1301
Just to add more context to the "teach functional or class", while functional is definitely the norm for new code, in their internships they're still more likely to see class-based code. Just started a job in late 2020 with a fairly cutting edge tech stack and class based components are still all over the place in non-new UI code.

To try to keep the lessons consistent and easier to maintain, I be

[2021-02-13 01:27] vegetabill commented on #1429
Update 2021: this would be valuable to have but it's really a wish list item at this point and I'm bumping it later so that we get the must's in #1296 first

[2021-02-15 18:39] lemon-yellow commented on #1202
Hi - I am available to work on this issue. To confirm, the lesson should give an overview of why databases are used, introduce relational databases, cover NoSQL very briefly, and walk through the 4 SQL statements using Postgres? Are there other topics that should be covered?

[2021-02-15 18:45] lemon-yellow commented on #1215
HI- I am available to work on this issue.

[2021-02-16 22:13] carbonsoda opened #1475 "[Eventonica] Replace Event Recommender with Eventonica"
In Eventonica's starter code (in [the folder](https://github.com/Techtonica/curriculum/tree/main/projects/eventonica/starter-code) +[Part 1](https://github.com/Techtonica/curriculum/blob/main/projects/eventonica/eventonica-part1-objects.md#starter-code)) the three main classes are  `Eventonica`, `Event`, and `User`.

In Part 1's starter code description and in all other parts, the text refers to t

[2021-02-17 06:51] naomiquinones commented on #1475
Thanks @carbonsoda, I believe @vegetabill is looking into these updates.

[2021-02-18 08:07] akivalencia opened #1480 "Invalid file link 404 error line 19"
location of file:
curriculum/projects/eventonica/eventonica-part7-testing.md

[2021-02-18 16:37] vegetabill commented on #1475
@carbonsoda I'm not directly looking into this issue quite yet. A PR for a find & replace of these would be appreciated but if not I'll get it queued up soon. Thanks for reporting!

[2021-02-19 04:10] lemon-yellow commented on #1202
Hi- does this need to be worked on? Feel free to assign it to me.

[2021-02-19 04:10] lemon-yellow commented on #1215
Hi- does this need to be worked on? Feel free to assign it to me.

[2021-02-20 02:51] vegetabill commented on #1215
@lemon-yellow awesome thanks for offering! I've assigned you. If you have any questions, feel free to ask here.

[2021-02-20 06:31] lemon-yellow commented on #1215
@vegetabill - I created a pull request. Let me know if you'd like any changes!

[2021-02-21 18:24] lemon-yellow commented on #1287
Hi - I am available to work on this issue.

[2021-02-23 06:06] aedward8 opened #1491 "Improve promise example in JS -9 Async Lesson"
https://github.com/Techtonica/curriculum/blob/main/javascript/javascript-9-async.md

JS Code snippet: https://github.com/Techtonica/curriculum/blame/main/javascript/javascript-9-async.md#L94-L124

I found the second example after 5. in guided practice a bit confusing. It was unclear to me for a while that there are in fact 2 promises in this example . I think it would be helpful to include comment

[2021-02-23 21:49] alexcheva opened #1492 "node-js/node-lab-exercise-part-2.md res.write(html); html is NOT DEFINED."
Towards the end of the tutorial, it says to add `res.write(html);` - which throws an error - HTML is not defined.
![Screen Shot 2021-02-23 at 1 33 56 PM](https://user-images.githubusercontent.com/20655195/108912418-74a31880-75dd-11eb-8abc-52107b450104.png)
A possible solution is to add `let html = fs.readFileSync('index.html');` on the line above `res.write(html);`.
Please, solve.

[2021-02-23 22:11] #1492 closed

[2021-02-27 16:00] vegetabill commented on #1491
Snippet: https://github.com/Techtonica/curriculum/blame/main/javascript/javascript-9-async.md#L94-L124

[2021-02-27 21:08] vegetabill commented on #1429
Going to close this now. If the H1-2021 cohort has issues here, we can open a more specific issue with what resources already exist out there to help them.

[2021-02-27 21:08] #1429 closed

[2021-02-27 21:12] vegetabill commented on #1437
I think this would be useful. I merged better StaleBot rules and am reopening this

[2021-02-27 21:56] vegetabill commented on #1424
We're not deleting files to prevent 404s.

[2021-02-27 21:56] #1424 closed

[2021-03-01 01:59] #1475 closed

[2021-03-01 01:59] #1480 closed

[2021-03-01 03:07] vegetabill opened #1503 "Format code examples in React Styling lesson"
Our React styling lesson, has some formatting issues and lacks syntax color.

Please add them

https://github.com/Techtonica/curriculum/blob/main/react-js/styling-react.md

[2021-03-01 03:16] #1337 closed

[2021-03-05 19:20] aedward8 opened #1515 "Improvement for instructions on installing node.js"
https://github.com/Techtonica/curriculum/blob/main/node-js/node-lab-exercise-part-1.md

install with Brew or instructions in read me

These instructions don't go with the instructions in the readme. I tried to do both and it kinda mess things up. Eventually just went with what was exactly in the the readme so maybe makes sense to se updates these instructions to that? Also I didn't have permission

[2021-03-05 19:22] aedward8 opened #1516 "Wrong video slide walkthrough -JS - 7 -OOP"
The current Lesson slide video walkthrough is for a previous lesson and not this one.

https://github.com/Techtonica/curriculum/blob/main/javascript/javascript-7-oop.md

[2021-03-06 21:40] vegetabill commented on #1215
Implemented and merged in #1485

[2021-03-06 21:40] #1215 closed

[2021-03-08 16:03] alodahl commented on #1301
I moved React Hooks to week 13 (formerly career week) to avoid confusion.

[2021-03-08 16:04] alodahl commented on #1301
Are you sure you want to teach JS classes after React classes?  That seems backwards to me.

[2021-03-08 16:08] vegetabill commented on #1301
@alodahl agreed that would be backward. If you're referencing:

That's just meant to be a decision for the entire curriculum, not a lesson. If you remember from gssoc, I was strict on only allowing class-based component example code. I think it's pretty consistent now. Maybe in a few years we can switch to teaching functional exclusively 😁

[2021-03-08 22:24] aedward8 opened #1524 "Intro to React - key warning discussed in lesson not demonstrated by codepen"
_Thanks for reporting an issue with the Techtonica curriculum! Please fill in the following information to help us resolve the problem as soon as we can._

### Page where problem found?

https://github.com/Techtonica/curriculum/blob/main/react-js/react-part-1-intro.md

### Type of problem

Common examples:

- Confusing or incomplete explanation
The Guided practice examples states
"If something is

[2021-03-09 03:43] vegetabill opened #1525 "REST API guided practice has incomplete code snippets"
### Page where problem found?

https://github.com/Techtonica/curriculum/blob/main/api/REST-API.md

### Type of problem

As explained in #1517 the example code at a glance appears to be real code, it doesn't do anything. For "Guided Practice" we expect the code to be correct. If something is to be added by the reader, it should be clearly marked with comments , e.g. `// your solution goes here`

##

[2021-03-09 05:13] aedward8 opened #1526 "Update outdated usage of createReactClass in React Part 1 Slides"
### Page where problem found?

https://github.com/Techtonica/curriculum/blob/main/react-js/react-part-1-intro.md

### Type of problem

Common examples:

-conflicting material
In the Techtonica slides on slide 12 it says "createReactClass(): this is rarely used; no need to learn this"

However, link 4 in resources "Building your first component in React.js | Pluralsight (video)" Is an 7 min example

[2021-03-09 05:57] aedward8 opened #1528 "React slides should not use create-react-app until Part 4"
### Page where problem found?

https://github.com/Techtonica/curriculum/blob/main/react-js/react-part-1-intro.md

(https://medium.com/in-the-weeds/learning-react-with-create-react-app-part-1-a12e1833fdc)
Last Updated in  2017
### Type of problem

Common examples:

-outdated download information in medium tutorial that is in the Techtonica slides (slide 16)

The article instructs us to download cre

[2021-03-11 01:45] aedward8 opened #1533 "Unclear Example in Techtonica Slide deck"
### Page where problem found?

https://github.com/Techtonica/curriculum/blob/main/react-js/react-part-2-component-state.md

slide deck link - https://docs.google.com/presentation/d/1Trj_7vWYe79_mDboDxN9rdT94yjY5Dt55xtU1k3dUsw/edit?usp=sharing

### Type of problem

Common examples:

- Confusing or incomplete explanation
The example on slide 16 of this lesson was extremely hard to follow. I was espe

[2021-03-12 23:22] vegetabill opened #1538 "[Eventonica Part 6 Postgres] Unclear or misleading instructions cause circular dependency"
### Page where problem found?

https://github.com/Techtonica/curriculum/blob/main/projects/eventonica-react/eventonica-postgres.md#instructions

### Type of problem

[Originally raised in Slack](https://techtonicaorg.slack.com/archives/C908BQK99/p1615582056056300) by @akivalencia

This is in reference to part 6 of eventonica which is connecting express server to postgres database…. (instructions f

[2021-03-14 23:24] alodahl commented on #1301
Sticking with React class-based components is fine.  I guess I want to make sure that things are taught in this order:
1. JS functional programming
2. React components, having the most emphasis
3 React Hooks and functional components, much later so no one gets mixed up

[2021-03-15 05:54] vegetabill commented on #1427
There isn't anything concrete in this issue so I'm closing it. If that part has specific improvements we want to do, it would be better to open a new issue.

[2021-03-15 05:54] #1427 closed

[2021-03-15 05:58] vegetabill commented on #1425
Closing

We are intentionally leaving these instructions without examples as the participants should have already gone through practice, e.g. https://github.com/Techtonica/curriculum/blob/main/projects/minimal-api-project.md

[2021-03-15 05:58] #1425 closed

[2021-03-15 05:59] vegetabill commented on #1421
We decided not to change the order of React and Eventonica so this issue is no longer needed

[2021-03-15 05:59] #1421 closed

[2021-03-15 06:00] vegetabill commented on #1428
It's possible that with the additional API and React lessons, this is no longer a stumbling block. If it is, we can create a new issue with more specific acceptance criteria.

[2021-03-15 06:00] #1428 closed

[2021-03-15 06:02] vegetabill opened #1542 "[Epic] Eventonica for H2-2021"
Following #1296, this is the place to capture general improvement ideas for Eventonica.

[2021-03-15 06:03] vegetabill commented on #1296
All items are merged or closed. Closing this epic.

Future ideas can be added to => #1542

[2021-03-15 06:03] #1296 closed

[2021-03-15 06:04] vegetabill opened #1543 "Proposed Schedule Changes for H2-2021"
Placeholder for any major schedule adjustments needed for H2-2021

### React
- Where should [functional components / hooks lesson](https://github.com/Techtonica/curriculum/blob/main/react-js/react-hooks.md) go? Elective week?

### Misc

- DOM lesson should come before Game Project, see #1467

### Open Questions

- Should the participants learn React immediately after learning HTML/CSS or does the

[2021-03-15 06:05] vegetabill commented on #1350
Closing as others in the future may have different opinions on the content.

[2021-03-15 06:05] #1350 closed

[2021-03-15 06:10] vegetabill commented on #1426
Dupe. Already covered by https://github.com/Techtonica/curriculum/blob/main/projects/eventonica/eventonica-part8-api-testing.md

[2021-03-15 06:10] #1426 closed

[2021-03-15 06:21] vegetabill commented on #1301
@alodahl that is the current state, AFAICT, except that hooks is an elective and I don't think is in the schedule.

So we don't forget it for H2, I added it to #1543

[2021-03-15 06:22] vegetabill commented on #1301
Everything in this epic is either merged or closed

![](https://media.giphy.com/media/Q81NcsY6YxK7jxnr4v/giphy.gif)

[2021-03-15 06:22] #1301 closed

[2021-03-15 06:28] vegetabill commented on #1524
Good catch. It's because the pen author is using the minified aka production JS bundles of React which do not include any warnings:

`https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js`

These should be updated to dev bundles (and a more recent major version)

[2021-03-15 06:32] vegetabill commented on #1515
Closing as won't fix. IIRC, this issue was specific to misconfigured homebrew which was reported to Techtonica IT who sets up the laptops and so they should figure it out. Issues of this type also should have plenty of StackOverflow topics on them. Maybe we shouldn't even try to duplicate all our own instructions here.

Although confusing, if homebrew is set up right, it is okay to have both nvm a

[2021-03-15 06:32] #1515 closed

[2021-03-15 06:33] vegetabill commented on #1528
@aedward8 React Part 1 and 2 were designed to _not_ require CRA and instead use CodePen or similar to save complexity.

I think the true fix for this ticket is to make sure the slides also reflect this.

[2021-03-15 06:40] vegetabill opened #1544 "React slide deck has drifted substantially from markdown lessons"
### Page where problem found?

https://github.com/Techtonica/curriculum/blob/main/react-js/react-part-1-intro.md

[Slides Link](https://docs.google.com/presentation/d/1Bswkl7e1kGVav7KFabHrBgXhRi7mlINTbinxnUcGDy8/edit?usp=sharing)

### Type of problem

- Because React Part 1 used to be everything the slides get way ahead of the markdown content, negating the whole point of simplifying and splitting

[2021-03-15 06:42] vegetabill commented on #1528
Sorry those slides are really out of whack with the curriculum in many key ways. I think they reflect the very original versions of the material. Created a bigger issue: #1544

This individual issue should be taken care of with the solution for that.

[2021-03-15 06:42] #1528 closed

[2021-03-15 22:04] aedward8 opened #1547 "[React Part 4] Incomplete Instruction for the state update"
### Page where problem found?

https://github.com/Techtonica/curriculum/blob/main/react-js/react-part4-full-apps.md

### Type of problem

Common examples:

- Confusing or incomplete explanation
- In the Guided Practice under the "Create an Updater Function in App" The instruction starts to fall apart. I added the code in App.js but it will not run for multiple reasons. Also it did not include that

[2021-03-15 23:10] carbonsoda commented on #1547
For the purpose of creating a full to-do app in React,[ this video was really clear ](https://www.youtube.com/watch?v=hQAHSlTtcmY)but it uses functional components, not class ones, so it'd need modifications.

[2021-03-16 14:29] vegetabill opened #1549 "[React Part 3] Recreate CodePen link"
### Page where problem found?

https://github.com/Techtonica/curriculum/blob/main/react-js/react-part-3-component-hierarchies.md#from-parent-to-child--use-a-prop

### Type of problem

The very first code pen at the end of "From Parent to Child — Use a prop" is a 404.

### Suggested Solution

Recreate this pen.

Optionally: fork all of these into a Techtonica-owned account

[2021-03-16 14:35] vegetabill commented on #1547
Thanks for reporting, @aedward8 . We discussed this in detail during our weekly meeting and I think the main problem is this section was written like Independent Practice but it's actually meant to be guided practice, so it should not have all these gaps and jumps.

[2021-03-16 15:13] vegetabill opened #1550 "[Proposal] Replace React Class (& Maybe Also JS OOP) with Functional"
## TL;DR

- JS OOP is unpopular and awkward. We should just skip it.
- React Functional is the ~future~ present. We shouldn't teach class components.

In my opinion, these both are tightly related and we should both or neither, but that's of course debatable 😄 .

This idea has been pitched several times and every new SEAM (including me) expresses something along these lines, and it's a good idea.

[2021-04-04 21:57] alodahl commented on #1550
I'm on board as well.  I think class-based react components can be mentioned, and participants should be familiar with how it looks, but can be spared having to build with it or learn it deeply.  I was thinking of keeping the existing examples, setting them aside in a different file, and referring to them every once in a while, "and this is how it would look in a class-based react component".

[2021-04-08 00:41] swidjaja commented on #1377
Hello all,
I'm Sugi and I recently joined Technotica as volunteer.
I'm currently a Front-end Web dev and I've worked quite a bit on Web a11y at my work for the past three years. It is in fact my passion :)
I'd definitely love to help w/ this in any way I could :)

[2021-04-11 22:57] alodahl commented on #1377
Hooray, thanks @swidjaja ! Shall I assign you?

[2021-04-11 23:34] swidjaja commented on #1377
@alodahl Sure thing 👍 By the way, could we set some time (maybe zoom?). I want to learn more of the expectation of this ticket?

[2021-04-12 06:27] alodahl commented on #1377
Please just follow the first “updated needs” section before the dividing line, and let us know if you have specific questions.

[2021-04-12 08:03] swidjaja commented on #1377
Got it 👍 I will give it a shoot.

[2021-04-12 09:43] swidjaja commented on #1377
@alodahl Opened a [PR](https://github.com/Techtonica/curriculum/pull/1556). Could you take a look? Thanks

[2021-04-14 21:57] sheriecarter commented on #1526
I have updated the slides to remove "this is rarely used; no need to learn this" and instead added a bullet point that lets them know that this is not used in ES6. I think it would be potentially helpful to still keep the Pluralsight tutorial in the curriculum unless there are already other tutorials in the curriculum which go over the create-react-class module.

[2021-04-26 00:08] alodahl commented on #1526
I see this is connected to #1557. I looked at the slides just now, and there is still a line that says "this is rarely used; no need to learn this", so I'm confused about what changes were made @sheriecarter .

Does this resolve the issue @aedward8 ?

[2021-04-27 16:35] aedward8 commented on #1526
@alodahl  I think you can resolve this issue as the larger issue of updating the curriculum from class based components to function based components is what #1557 and this issue is about

[2021-04-28 03:33] #1526 closed

[2021-05-01 21:42] alodahl commented on #1287
Hi @lemon-yellow, sorry I missed this. Are you still interested?

[2021-05-02 19:43] lemon-yellow commented on #1287
Sure, please assign this task to me!

[2021-06-03 03:12] alodahl commented on #1503
Looks like Naomi took care of it, and this just wasn’t closed.

[2021-06-03 03:12] #1503 closed

[2021-06-10 02:04] vegetabill commented on #1533
Since we're changing the React curriculum to focus mostly on functional components, I'm guessing these examples will be mostly rewritten so I'm going to close this in the meantime but thanks for reporting @aedward8

[2021-06-10 02:04] #1533 closed

[2021-06-10 02:07] vegetabill commented on #1544
Not having the slide decks under version control is quite a hassle. I know we have a lot of content in the existing decks but maybe we can make a decision for new decks to be in one of those markdown-based formats and part of this repo. Have you thought any about this @SarahCawley ?

[2021-06-10 02:11] vegetabill commented on #1550
I believe this is happening so we don't need this discussion ticket anymore.

[2021-06-10 02:11] #1550 closed

[2021-06-17 03:59] alodahl commented on #1524
will be addressed in #1561 👀

[2021-06-17 03:59] #1524 closed

[2021-06-17 14:37] alodahl commented on #1549
this seems to be fixed. i will be refactoring this lesson in a few weeks anyway, and will test all links.

[2021-06-17 14:37] #1549 closed

[2021-06-17 14:40] alodahl commented on #1544
i have a fn component set of react outlines in the works, and im debating whether a deck is even necessary. i have so many codepens and videos anyway. will discuss with Sarah.

[2021-06-17 14:43] alodahl commented on #1547
will look into this in the next few weeks re: #1561

[2021-06-19 18:14] alodahl opened #1569 "Fix due dates on Monday.com H2 cohort boards"
Based on [Week 4](https://techtonica.monday.com/boards/1068887208), which is correct, Fix due dates on Monday.com H2 cohort boards Week 5-24.  Observe national holidays.  Report back if there is a change in which week has a holiday - we may need to rearrange some things.

Ask @alodahl  or @SarahCawley for board access.

Please mark off when due date updates are complete:
- [ ] Week 5
- [ ] Week 6

[2021-06-19 18:20] alodahl opened #1570 "Add new day leads on Monday.com h2 cohort boards"
Last cohort, we rotated the task of being the "Day Lead" to each participant alphabetically.  Please get the new list of participants, and replace the copied Day Leads on all the Monday.com h2 cohort boards, Weeks 1-24, with the new names.

Ask @SarahCawley or @Yosolita1978 for the new list.

[2021-06-20 23:17] alodahl opened #1571 "update GitHub classroom due dates for new cohort"
Our GitHub Classroom due dates are all for spring 2021.  Please follow our [2021 H2 Monday.com boards](https://techtonica.monday.com/boards/1068887208) from Week 4 onward, ensuring that the linked GH Classroom code challenges have the correct due date.

Ask @alodahl or @SarahCawley for temporary Monday board and GitHub classroom access.

In GH Classroom, find the specific code challenge,
click edi

[2021-06-20 23:25] alodahl opened #1572 "Convert code challenges tests from jasmine -> jest"
Our [code challenges repo](https://github.com/Techtonica/code-challenges) is currently using jasmine. We have a lot of very short, simple unit tests.  Please convert our **repo and tests** to run using *jest* instead. Also update our package.json test command to use any new jest command. If you needed to change any commands, directory or file names, please leave a note about it here.

[2021-06-21 18:59] SarahCawley commented on #1570
I was thinking for this cohort I would add the names week by week, so if we have someone drop out I don't need to go edit the rest of the schedule. So you don't need to worry about it :)

[2021-06-21 18:59] #1570 closed

[2021-06-21 19:17] SarahCawley commented on #1544
I think in this instance we can get rid of the slide deck. In general they are a nice "here is vaguely what you will be going over" and can help. But for super large topics like all of react, I think a 5 minute video tutorial would be better

[2021-06-21 23:34] ndp commented on #1572
It would be nice to remove the `node_modules` from the git repo, but I'm just leaving it for now. I can do that here or as a separate PR on request.

[2021-06-22 01:16] ndp commented on #1572
The PR is found here: https://github.com/Techtonica/code-challenges/pull/12

[2021-06-22 03:41] alodahl commented on #1572
removing node mods would be great - that was an oversight.

[2021-06-22 03:44] #1544 closed

[2021-06-23 23:02] parbindersingh commented on #1516
I can update the slide video walkthrough for you. Can you share the link to the JavaScript VII video ?

[2021-06-23 23:04] parbinder commented on #1516
I can update the slide video walkthrough for you. Can you share the link to the JavaScript VII video ?

[2021-06-24 00:41] alodahl commented on #1571
spoke with Sarah, this is no longer necessary

[2021-06-24 00:41] #1571 closed

[2021-06-24 00:42] alodahl commented on #1569
it sounds like Joy may be picking this up, will confirm this week.

[2021-06-24 03:16] alodahl opened #1574 "Find and record all instances of jasmine testing used in curriculum repo"
Find and record all instances of jasmine testing used in curriculum repo.  We would like to convert to jest, so we need to know where it needs to be replaced.

[2021-06-24 14:36] alodahl opened #1575 "validate version bump PRs in this repo"
Please test these version bump PRs locally to ensure that our package.json commands run without any new warnings or errors.  Please let us know if we're clear to merge, or if there are issues.  Gracias!

https://github.com/Techtonica/curriculum/pull/1568
https://github.com/Techtonica/curriculum/pull/1567

[2021-06-24 14:41] alodahl opened #1576 "validate version bump PRs in "keyboard shortcuts" repo"
Please test these version bump PRs locally to ensure that our package.json commands run without any new warnings or errors, and that the app behaves as expected.  The UI should behave the same as the live site: https://techtonica.github.io/keyboard-shortcuts-practice/
Please let us know if we're clear to merge, or if there are issues. Gracias!

version bump PRs to review: https://github.com/Techto

[2021-06-24 14:44] alodahl opened #1577 "review keyboard shortcuts button PR"
Please test this PR fix locally to ensure that ACs are met, and our package.json commands run without any new warnings or errors. Please let us know if we're clear to merge, or if there are issues. Gracias!

https://github.com/Techtonica/keyboard-shortcuts-practice/pull/146

[2021-06-24 17:42] SarahCawley commented on #1569
Correct, Joy will be  doing this

[2021-06-24 17:42] #1569 closed

[2021-06-25 17:47] ndp commented on #1572
@alodahl you want me to do that in this PR? or a subsequent one?

[2021-06-26 00:20] ndp commented on #1572
Nevermind... here is a node_modules PR:  https://github.com/Techtonica/code-challenges/pull/13

[2021-06-26 16:04] alodahl commented on #1516
Thank you!  It should be somewhere among these.  Please open first to ensure the video isn't incorrectly titled.  https://drive.google.com/drive/folders/14Ew_wyoIR1bWWBRnetIKnqXt_deDImDU

[2021-06-26 19:13] severinrudie commented on #1361
Are there specific resources to which these are supposed to link?  Or is part of this story finding new ones?

[2021-06-26 20:36] alodahl commented on #1361
@severinrudie no, whoever made this file never changed the template.

[2021-06-26 20:41] alodahl commented on #1361
Here's an example if a good Materials section: https://github.com/Techtonica/curriculum/blob/main/web/css.md

[2021-07-02 01:54] parbinder commented on #1516
@alodahl  I checked all videos in the folder you shared. I could not find the video walk though for OOP.

[2021-07-05 23:51] alodahl commented on #1516
hi @parbinder , im pretty confused, since i played the video under “Materials”, and it seems to be about JS objects. is this not it? what am i missing?

[2021-07-09 10:32] parbinder commented on #1516
Done. Here's the link to pull request - https://github.com/Techtonica/curriculum/pull/1582

[2021-07-10 17:50] alodahl commented on #1516
fixed in #1582

[2021-07-10 17:50] #1516 closed

[2021-07-10 18:10] #1287 closed

[2021-07-12 00:07] #1491 closed

[2021-07-12 00:12] alodahl opened #1584 "Add Materials section to mocking-and-abstraction.md"
Add completed Materials section to https://github.com/techtonica/curriculum/blob/main/testing-and-tdd/mocking-and-abstraction.md. The section should appear right before "Lesson".  Below is a template you can use.  The Materials section should essentially be an index/list for the links that already exist in the outline - just all in one place for reference. [This outline](https://github.com/Techton

[2021-07-12 00:14] alodahl commented on #1361
remaining issues moved to #1584. the rest are resolved.

[2021-07-12 00:14] #1361 closed

[2021-08-18 21:54] #1547 closed

[2021-08-18 22:05] alodahl opened #1608 "Epic: eventonica-react"
## Issues in this epic:
These are in priority order starting with #1609 .
add react ui: https://github.com/Techtonica/curriculum/issues/1609
add express: https://github.com/Techtonica/curriculum/issues/1610
add a Postgres DB: https://github.com/Techtonica/curriculum/issues/1611
~add Jest tests for proj frontend: https://github.com/Techtonica/curriculum/issues/1612~
~add an RTL lesson: https://gith

[2021-08-18 22:28] alodahl opened #1609 "eventonica-react: get the cohort started in a React UI, event & user fns"
Everything after the "Adding Functionality to the UI" header is outdated to use JS Dom in this file: https://github.com/Techtonica/curriculum/blob/main/projects/eventonica-react/eventonica-react-ui.md
Please fix it up so participants can get going in React with JS event and user functions. Please add or change the starter code in `projects/eventonica-react/starter-code` if necessary.

 See #1608 f

[2021-08-19 15:02] alodahl opened #1610 "eventonica-react: help cohort add express routes to use in their create-react-app project"
### eventonica-react: get the cohort started with express in their create-react-app project

Please add more steps after line 124 to help participants create users/delete and users/add routes to their express app. project: https://github.com/Techtonica/curriculum/blob/main/projects/eventonica-react/eventonica-express-backend.md

Feel free to proofread existing content as well.

Adding a Postgres A

[2021-08-19 15:04] alodahl opened #1611 "eventonica-react: update/ proofread Postgres outline to fit with new Express project"
### eventonica-react: get the cohort started with a Postgres DB for their create-react-app project

Please make any necessary updates/clarifications so that this file’s directions make it easy to add a Postgres DB to our express app: https://github.com/Techtonica/curriculum/blob/main/projects/eventonica-react/eventonica-postgres.md

Note that this would come immediately after https://github.com/Te

[2021-08-19 15:07] alodahl opened #1612 "eventonica-react: get the cohort started adding Jest tests to their create-react-app project"
### eventonica-react: get the cohort started adding Jest tests to their create-react-app project

Please make any necessary changes so that this file’s directions make it easy to add Jest tests to to a create-react-app project: https://github.com/Techtonica/curriculum/blob/main/projects/eventonica-react/eventonica-test-frontend.md
Note that this would come after https://github.com/Techtonica/curri

[2021-08-19 15:09] alodahl opened #1613 "get the cohort started with React Testing Library"
Please make any necessary changes to this cloned file so that it’s directions make it easy to understand some of the basics of React Testing Library, ideally in the context of a create-react-app: https://github.com/Techtonica/curriculum/blob/main/testing-and-tdd/react-testing-jest-and-RTL.md.
I left a few suggested links at the bottom of the file.

Note that this would come after https://github.co

[2021-08-19 15:10] alodahl opened #1614 "Test Eventonica with React Testing Library"
### 👉🏾 First time contributing to this repo? START HERE 👈🏾
To be added as a curriculum contributor and be assigned the related issue, please kindly complete [our contributor steps](https://github.com/Techtonica/curriculum/blob/efc365aba1bf1ea425060369751d2bc048174b22/CONTRIBUTING.md) in order to have your PR addressing this issue merged.

------
Introduce testing with React Testing Library (RTL) i

[2021-08-19 15:17] alodahl opened #1615 "eventonica-react: get the cohort started testing APIs with Jest in general, then add directions for testing their project backend"
### eventonica-react: get the cohort started testing APIs with Jest in general, then add directions for testing their project backend

1. Add a file in https://github.com/Techtonica/curriculum/blob/main/testing-and-tdd, ideally in the context of a create-react-app, that introduces testing APIs with Jest.

  - Note that this would come after https://github.com/Techtonica/curriculum/blob/main/testin

[2021-08-19 15:23] alodahl opened #1616 "eventonica-react: add guidance for using Ticketmaster API in CRA project"
### eventonica-react: add guidance for using Ticketmaster API in CRA project

Make any necessary changes so that this file’s directions make it easy to use Ticketmaster API in their eventonica-react project: https://github.com/Techtonica/curriculum/blob/main/project-example/week-9/eventonica/ticketmaster-api.md

See #1608 for more context. This is the lowest priority item in the epic, so please se

[2021-08-20 21:32] alodahl commented on #1609
picked up by @dpenny

[2021-08-22 17:25] alodahl commented on #1612
I converted the directions to use Jest assuming they're using create-react-app where Jest is already installed.  Feel free to add to it, but I kept it very minimal.  https://github.com/Techtonica/curriculum/blob/main/projects/eventonica-react/eventonica-test-frontend.md
Closes #1612

[2021-08-22 17:25] #1612 closed

[2021-09-01 06:03] manufacturedba commented on #1437
hey @alodahl @vegetabill, I'd be happy to take a stab at this with some of the available lint rule's config options

[2021-09-04 17:19] alodahl commented on #1543
covered by @SarahCawley @Yosolita1978 and I.

[2021-09-04 17:19] #1543 closed

[2021-09-04 17:20] alodahl commented on #1542
covered in our react-first iteration.

[2021-09-04 17:20] #1542 closed

[2021-09-05 23:18] manufacturedba commented on #1437
Majority of false positives seem to fall under this category. The PR I put up skips the 2 highest offenders (codepen/github) and localhost. They were also inducing a lot more timeouts when combined with other config changes I tested. Obviously skipping is not the ideal route, but it cuts down enough noise to be trusted.

I think to get these domains back, they'll need to be checked by hand and/or

[2021-09-13 02:06] alodahl commented on #1437
thanks for the insights, @manufacturedba .  would you be open to adding these ideas as notes to our last section in https://github.com/Techtonica/curriculum/blob/main/CONTRIBUTING.md#L58 as part of the PR so the knowledge isn’t lost?

[2021-09-13 19:22] manufacturedba commented on #1437
Yup, do you have thoughts on the suggested manual steps to be feasible for the team?

Mainly its the following

I will include the steps with the PR that implements this. The current PR is only a stop-gap.

[2021-10-03 17:52] #1338 closed

[2021-10-03 18:03] alodahl commented on #1609
resolved by #1619

[2021-10-03 18:03] #1609 closed

[2021-10-03 18:25] alodahl commented on #1572
it sounds like we wont be using the code challenges anymore, or at least this isnt a priority.

[2021-10-03 19:19] alodahl commented on #1437
sounds good to me!

[2021-10-30 16:14] alodahl commented on #1584
i imagine removing it would be good - which documentation?

[2021-10-30 18:53] alodahl commented on #1577
merged it

[2021-10-30 18:53] #1577 closed

[2021-10-30 18:56] alodahl commented on #1576
Thanks Dani!  I'm fine with you merging things in yourself.  I think that I may have messed things up as I was trying to merge "backend" into main today, so sorry if I did.

[2021-10-30 19:03] alodahl commented on #1576
If you'd like to make a tiny PR that just fixes a typo somewhere, I can approve it so this counts for Hacktoberfest

[2021-11-04 17:54] IngridGdesigns commented on #1584
I was referring to the actual file ("documentation"). thanks, I just wanted to make sure before removing things

[2022-01-05 18:37] IngridGdesigns commented on #1584
Hi, I'm sorry, I couldnt get around to this, I got so much on my plate now. It's best if someone else works on this

[2022-01-13 05:26] parbindersingh commented on #1575
Hi @alodahl, It is fine to bump both dependencies. Although to be clear, the changes will drop the support of Node versions < 10.
Since, node is now at its 16th version, updating these should not cause any problem.

[2022-01-19 05:04] #1572 closed

[2022-04-19 01:52] priyaraj7 opened #1681 "Update Professionalism slide"
_Thanks for reporting an issue with the Techtonica curriculum! Please fill in the following information to help us resolve the problem as soon as we can._

### Page where problem found?

https://docs.google.com/presentation/d/1kvpeT1HTNJKDmnZr9amMe8TRrU_mCD8kwDRGxbomTFs/edit#slide=id.p

### Type of problem

-  address comments on slide

[2022-06-04 19:59] chrisjaure commented on #1575
Looks like this ticket can be closed because both of the referenced PRs have been merged.

[2022-06-04 20:12] chrisjaure commented on #1375
@alodahl I can pick this up. Is it still valuable?

[2022-06-08 17:59] Yosolita1978 commented on #1375
Hi @chrisjaure! yes, you can still help us with this!

[2022-06-23 19:04] #1375 closed

[2022-08-05 16:16] priyaraj7 opened #1724 "Eventonica- Connecting to a Postgres database from Expressjs"
The 2022 H1 cohort mentioned that the connection database from ExpressJs is pretty much the whole thing. It would be really helpful if that section was more broken down. Especially how to write the queries in Express.

### Here is the link of the doc

[Connecting to a Postgres database from Expressjs](https://github.com/Techtonica/curriculum/blob/main/project-example/week-9/eventonica/eventonica-p

[2022-09-20 17:08] #1724 closed

[2022-09-20 17:09] #1681 closed

[2022-09-20 17:18] priyaraj7 commented on #1611
I updated the eventonica-postgres doc. So closing the issue

[2022-09-20 17:18] #1611 closed

[2022-09-20 17:23] #1610 closed

[2022-09-20 17:35] priyaraj7 commented on #1538
We updated the [eventonica project doc](https://github.com/Techtonica/curriculum/tree/main/project-example/week-9/eventonica). So closing the issue

[2022-09-20 17:35] #1538 closed

[2022-09-23 20:34] priyaraj7 commented on #1525
We updated the [REST API doc](https://github.com/Techtonica/curriculum/blob/main/api/REST-API.md). So closing the issue

[2022-09-23 20:34] #1525 closed

[2022-11-17 06:35] twolfson opened #1779 "Financial Literacy slideshow is editable"
### Page where problem found?

https://github.com/Techtonica/curriculum/blob/main/program-prep/financial-literacy.md

### Type of problem

Access control

### Explanation

Hey Techtonica,
I've heard of y'all a while ago but loving to come across your curriculum! And will likely share it with my coworkers!

As a heads up, while I was browsing the various curriculum pages, I noticed that the Financi

[2022-11-18 00:24] Yosolita1978 commented on #1779
Thank you sooo much for catching this and letting us know! We fixed it with this deck, and we're checking all our slides to avoid this situation in other lectures! Thank you!

[2022-11-18 00:25] #1779 closed